<div class="b-form w-form">
	<form data-name="Форма" id="email-form" name="email-form" method="get" data-request="{{ __SELF__ }}::onFormSubmit" class="b-form__form b-form__form_grid col_2" data-wf-page-id="648baa95d29f649e7b12a408" data-wf-element-id="9ebae1de-c39f-a704-3ff9-0742d5b4ea59">
		<input class="b-input w-node-_9ebae1de-c39f-a704-3ff9-0742d5b4ea5a-d5b4ea4d w-input" maxlength="256" name="Enter-Your-Email-Address" data-name="Enter Your Email Address" placeholder="Enter your email address..." type="email" id="Enter-Your-Email-Address-3">
		<input type="submit" data-wait="Please wait..." id="w-node-_9ebae1de-c39f-a704-3ff9-0742d5b4ea5b-d5b4ea4d" class="b-button b-button_blue b-button_height_56 w-button" value="Subscribe">
	</form>
	<div class="b-form__success-mes w-form-done">
		<div>
			Спасибо за заявку!
			<br>
			В ближайшее время мы свяжемся с вами
		</div>
	</div>
	<div class="b-form__error-mes w-form-fail">
		<div>
			Ошибка! Что-то пошло не так.
		</div>
	</div>
</div>
