<section class="section s-section_pd_11-25 v-2">
	<div class="container container_align_center w-container">
		<div class="b-grid b-grid_col_2 b-grid_gap_20 tb_col_1">
			{% for item in block.cards %}
			<div class="b-block b-block_white v-3">
				<div class="b-columns b-columns_height_100 mobp_revers">
					<div class="b-columns__col b-columns__col_60 mobp_100">
						<div class="b-block_col-left">
							<div class="h-wrap h-wrap_mg-bt_10">
								<div class="b-title b-title_size_40 mobp_30">
									{{ item.title_card }}
								</div>
							</div>
							<div class="h-wrap h-wrap_mg-bt_15">
								<div class="b-text b-text_size_18">
									{{ item.desc }}
								</div>
							</div>
							<a href="{{ item.btn_link }}" class="b-button b-button_blue b-button_max-w_200 w-button">
								{{ item.text_btn }}
							</a>
						</div>
					</div>
					<div class="b-columns__col b-columns__col_40 mobp_100">
						<img src="{{ item.image|media }}" loading="lazy" alt="" class="b-block__img-people mobp_hide">
						<img src="{{ item.image_mob|media }}" loading="lazy" alt="" class="b-block__img-people mobp_show">
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
