<section class="{{ section_s_section_pd_11_25_s_section_align_center }}">
	<div class="{{ block.container_w_container }}">
		<div class="{{ block.b_columns_mob_revers }}">
			<div class="{{ block.b_columns__col_b_columns__col_70_mob_100 }}">
				<div class="{{ block.h_wrap_h_wrap_mg_bt_20 }}">
					<div class="{{ block.b_title_b_title_mini_mob_36 }}">
						{{ block.careers_main_title }}
					</div>
				</div>
				<div class="{{ block.h_wrap_h_wrap_mg_bt_60_h_wrap_max_width_770 }}">
					<div class="{{ block.b_text_b_text_size_20 }}">
						{{ block.careers_main_subtitle }}
					</div>
				</div>
				<div class="{{ block.h_wrap_h_wrap_mg_bt_10 }}">
					<div class="{{ block.b_form_w_form }}">
						<form data-name="Форма" id="email-form" name="email-form" method="get" data-wf-page-id="648baa95d29f649e7b12a408" data-wf-element-id="bf349b91-9ec5-dadd-f58f-3fc557df9375" class="{{ block.b_form__form_b_form__form_grid_v_3 }}">
							<div id="w-node-_28a9aca5-ac6f-dcdb-89d3-24a61bcb8a1c-7b12a408" class="{{ block.h_wrap_h_wrap_flex_h_h_wrap_align_center_left }}">
								<div class="{{ block.b_text_b_text_size_30_b_text_bold }}">
									Current job opportunities
								</div>
							</div>
							<select id="field-3" name="field-3" data-name="Field 3" class="{{ block.b_select_v_2_w_node__0af77ae2_f75f_36bd_9cbf_b3313fbf788e_7b12a408_w_select }}">
								<option value="">
									All areas of interest
								</option>
							</select>
						</form>
						<div class="{{ block.b_form__success_mes_w_form_done }}">
							<div>
								Спасибо за заявку!
								<br>
								В ближайшее время мы свяжемся с вами
							</div>
						</div>
						<div class="{{ block.b_form__error_mes_w_form_fail }}">
							<div>
								Ошибка! Что-то пошло не так.
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="{{ block.b_columns__col_b_columns__col_30_mob_100 }}">
				<img src="{{ block.careers_main_image|media }}" loading="lazy" alt="" class="{{ block.b_image_b_image_stat_v_2 }}">
			</div>
		</div>
		<div class="{{ block.b_table }}">
			<div class="{{ block.b_table__td_b_table__td_border_bt_mob_hide }}">
				<div class="{{ block.b_columns }}">
					<div class="{{ block.b_columns__col_b_columns__col_35_mob_min }}">
						<div class="{{ block.b_text_b_text_size_18_b_text_bold }}">
							Position title
						</div>
					</div>
					<div class="{{ block.b_columns__col_b_columns__col_35_b_columns__col_allign_center }}">
						<div class="{{ block.b_text_b_text_size_18_b_text_bold }}">
							Department
						</div>
					</div>
					<div class="{{ block.b_columns__col_b_columns__col_30_b_columns__col_allign_center }}">
						<div class="{{ block.b_text_b_text_size_18_b_text_bold }}">
							Location
						</div>
					</div>
				</div>
			</div>
			<div class="{{ block.b_table__td_b_table__td_border_bt_b_table__td_arrow }}">
				<div class="{{ block.b_columns }}">
					<div class="{{ block.b_columns__col_b_columns__col_35_mob_100 }}">
						<div class="{{ block.b_text_b_text_size_18 }}">
							Electrical Engineer
						</div>
					</div>
					<div class="{{ block.b_columns__col_b_columns__col_35_b_columns__col_allign_center_mob_100 }}">
						<div class="{{ block.b_text_b_text_size_18 }}">
							Hardware Engineering
						</div>
					</div>
					<div class="{{ block.b_columns__col_b_columns__col_30_b_columns__col_allign_center_mob_100 }}">
						<div class="{{ block.b_text_b_text_size_18 }}">
							Charlottesville, VA
						</div>
					</div>
				</div>
			</div>
			<div class="{{ block.b_table__td_b_table__td_border_bt_b_table__td_arrow }}">
				<div class="{{ block.b_columns }}">
					<div class="{{ block.b_columns__col_b_columns__col_35_mob_100 }}">
						<div class="{{ block.b_text_b_text_size_18 }}">
							Electrical Engineer
						</div>
					</div>
					<div class="{{ block.b_columns__col_b_columns__col_35_b_columns__col_allign_center_mob_100 }}">
						<div class="{{ block.b_text_b_text_size_18 }}">
							Hardware Engineering
						</div>
					</div>
					<div class="{{ block.b_columns__col_b_columns__col_30_b_columns__col_allign_center_mob_100 }}">
						<div class="{{ block.b_text_b_text_size_18 }}">
							Charlottesville, VA
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="{{ block.b_element_b_element_v_1 }}"></div>
</section>
