<section class="{{ section_s_section_100vh_s_section_pd_11_25_s_section_yellow_s_section_grad }}">
	<div class="{{ block.container_container_align_center_w_container }}">
		<div class="{{ block.h_wrap_h_wrap_mg_bt_20 }}">
			<div class="{{ block.b_title_b_title_mini }}">
				{{ block.careers_diversity_title }}
			</div>
		</div>
		<div class="{{ block.h_wrap_h_wrap_mg_bt_30_h_wrap_max_width_970 }}">
			<div class="{{ block.b_text_b_text_size_20 }}">
				{{ block.careers_diversity_subtitle }}
			</div>
		</div>
		<div class="{{ block.h_wrap_h_wrap_mg_bt_60_mob_mg_bt_0 }}">
			<div class="{{ block.b_grid_b_grid_col_2_mob_1_col }}">
				{% for item in block.careers_diversity_lists %}
				<div id="w-node-_9f2c53bf-3ae9-7363-daca-b510f1da4468-7b12a408" class="{{ item.b_grid__col_b_grid__col_flex_h }}">
					<img src="{{ item.icon|media }}" loading="lazy" alt="" class="{{ item.b_icon_b_icon_mg_rt_20_mob_40 }}">
					<div>
						<div class="{{ item.h_wrap_h_wrap_mg_bt_10 }}">
							<div class="{{ item.b_text_b_text_size_30_b_text_extra_bold_mob_20 }}">
								{{ item.title }}
							</div>
						</div>
						<div class="{{ item.b_text_b_text_size_20 }}">
							{{ item.text }}
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
