<section class="section s-section_pd_11-25 s-section_align_center">
	<div class="container w-container">
		<div class="b-columns mob_revers">
			<div class="b-columns__col b-columns__col_70 mob_100">
				<div class="h-wrap h-wrap_mg-bt_20">
					<div class="b-title b-title_mini mob_36">
						{{ block.careers_main_title }}
					</div>
				</div>
				<div class="h-wrap h-wrap_mg-bt_60 h-wrap_max-width_770">
					<div class="b-text b-text_size_20">
						{{ block.careers_main_subtitle }}
					</div>
				</div>
				<div class="h-wrap h-wrap_mg-bt_10">
					<div class="b-form w-form">
						<form data-name="Форма" id="email-form" name="email-form" method="get" class="b-form__form b-form__form_grid v-3" data-wf-page-id="648baa95d29f649e7b12a408" data-wf-element-id="bf349b91-9ec5-dadd-f58f-3fc557df9375">
							<div id="w-node-_28a9aca5-ac6f-dcdb-89d3-24a61bcb8a1c-7b12a408" class="h-wrap h-wrap_flex_h h-wrap_align_center-left">
								<div class="b-text b-text_size_30 b-text_bold">
									Current job opportunities
								</div>
							</div>
							<select id="field-3" name="field-3" data-name="Field 3" class="b-select v-2 w-node-_0af77ae2-f75f-36bd-9cbf-b3313fbf788e-7b12a408 w-select">
								<option value="">
									All areas of interest
								</option>
							</select>
						</form>
						<div class="b-form__success-mes w-form-done">
							<div>
								Спасибо за заявку!
								<br>
								В ближайшее время мы свяжемся с вами
							</div>
						</div>
						<div class="b-form__error-mes w-form-fail">
							<div>
								Ошибка! Что-то пошло не так.
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="b-columns__col b-columns__col_30 mob_100">
				<img src="{{ block.careers_main_image|media }}" loading="lazy" alt="" class="b-image b-image_stat v-2">
			</div>
		</div>
		<div class="b-table">
			<div class="b-table__td b-table__td_border-bt mob_hide">
				<div class="b-columns">
					<div class="b-columns__col b-columns__col_35 mob_min">
						<div class="b-text b-text_size_18 b-text_bold">
							Position title
						</div>
					</div>
					<div class="b-columns__col b-columns__col_35 b-columns__col_allign_center">
						<div class="b-text b-text_size_18 b-text_bold">
							Department
						</div>
					</div>
					<div class="b-columns__col b-columns__col_30 b-columns__col_allign_center">
						<div class="b-text b-text_size_18 b-text_bold">
							Location
						</div>
					</div>
				</div>
			</div>
			<a href="https://jobs.lever.co/lumin/1bf0a4bf-7119-4f6e-848a-c828005f7094" class="b-table__td b-table__td_border-bt b-table__td_arrow w-inline-block">
				<div class="b-columns">
					<div class="b-columns__col b-columns__col_35 mob_100">
						<div class="b-text b-text_size_18">
							General Interest Application - Future Roles
						</div>
					</div>
					<div class="b-columns__col b-columns__col_35 b-columns__col_allign_center mob_100">
						<div class="b-text b-text_size_18">
							General Interest
						</div>
					</div>
					<div class="b-columns__col b-columns__col_30 b-columns__col_allign_center mob_100">
						<div class="b-text b-text_size_18">
							Charlottesville, VA
						</div>
					</div>
				</div>
			</a>
			<a href="https://jobs.lever.co/lumin/48ee6cec-c7a9-41cd-b7c9-bbfc61710b56" class="b-table__td b-table__td_border-bt b-table__td_arrow w-inline-block">
				<div class="b-columns">
					<div class="b-columns__col b-columns__col_35 mob_100">
						<div class="b-text b-text_size_18">
							Product Manager, Grid Services
						</div>
					</div>
					<div class="b-columns__col b-columns__col_35 b-columns__col_allign_center mob_100">
						<div class="b-text b-text_size_18">
							General Interest
						</div>
					</div>
					<div class="b-columns__col b-columns__col_30 b-columns__col_allign_center mob_100">
						<div class="b-text b-text_size_18">
							Charlottesville, VA
						</div>
					</div>
				</div>
			</a>
			<a href="https://jobs.lever.co/lumin/040dd06a-f313-44de-9081-708ccb2ba1c8" class="b-table__td b-table__td_border-bt b-table__td_arrow w-inline-block">
				<div class="b-columns">
					<div class="b-columns__col b-columns__col_35 mob_100">
						<div class="b-text b-text_size_18">
							Senior UI/UX Engineer
						</div>
					</div>
					<div class="b-columns__col b-columns__col_35 b-columns__col_allign_center mob_100">
						<div class="b-text b-text_size_18">
							UI/UX
						</div>
					</div>
					<div class="b-columns__col b-columns__col_30 b-columns__col_allign_center mob_100">
						<div class="b-text b-text_size_18">
							United States
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>
	<div class="b-element b-element_v-1"></div>
</section>
