<section class="section s-section_100vh s-section_pd_11-25 s-section_yellow s-section_grad">
	<div class="container container_align_center w-container">
		<div class="h-wrap h-wrap_mg-bt_20">
			<div class="b-title b-title_mini">
				{{ block.careers_diversity_title }}
			</div>
		</div>
		<div class="h-wrap h-wrap_mg-bt_30 h-wrap_max-width_970">
			<div class="b-text b-text_size_20">
				{{ block.careers_diversity_subtitle }}
			</div>
		</div>
		<div class="h-wrap h-wrap_mg-bt_40">
			<div class="b-title b-title_mini">
				{{ block.careers_diversity_title_benefits }}
			</div>
		</div>
		<div class="h-wrap h-wrap_mg-bt_60 mob_mg-bt_0">
			<div class="b-grid b-grid_col_2 mob_1-col">
				{% for item in block.careers_diversity_lists %}
				<div id="w-node-_9f2c53bf-3ae9-7363-daca-b510f1da4468-7b12a408" class="b-grid__col b-grid__col_flex_h">
					<img src="{{ item.icon|media }}" loading="lazy" alt="" class="b-icon b-icon_mg-rt_20 mob_40">
					<div>
						<div class="h-wrap h-wrap_mg-bt_10">
							<div class="b-text b-text_size_30 b-text_extra-bold mob_20">
								{{ item.title }}
							</div>
						</div>
						<div class="b-text b-text_size_20">
							{{ item.text }}
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>