<section class="section s-section_100vh s-section_pd_11-25">
	<div class="container w-container">
		<div class="h-wrap h-wrap_mg-bt_60 h-wrap_align_center">
			<div class="b-title b-title_mini mob_30">
				{{ block.title }}
			</div>
		</div>
		<div class="b-columns b-columns_space-between mob_center mob_gap_60">
			{% for item in block.columns %}
			<div class="b-columns__col b-columns__col_50 b-columns__col_align_center v-2">
				<div class="h-wrap h-wrap_width_400 mob_pd">
					<div class="h-wrap">
						<img src="{{ item.image|media }}" loading="eager" alt="" class="b-image b-image_absolute v-3">
						<div class="b-block b-block_grad-rad"></div>
					</div>
					<div class="h-wrap h-wrap_mg-bt_20 h-wrap_align_center">
						<div class="b-text b-text_size_30 b-text_extra-bold">
							{{ item.title_list }}
						</div>
					</div>
					<ul role="list" class="b-list">
						{% for item in item.lists %}
						<li class="b-list__item b-list__item_mg-bt_20">
							{% if not item.hide_bullet %}
							<div class="b-list__circle v-2"></div>
							{% endif %}
							<div class="b-text b-text_size_20">
								{{ item.text_list }}
							</div>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
