<section class="section s-section_send">
	<div class="container w-container">
		<div class="b-columns">
			<div class="b-columns__col b-columns__col_30 b-columns__col_justify_end mob_100">
				<img class="b-image b-image_phone" src="{{ block.contact_us_form_image|media }}" alt="" loading="lazy">
			</div>
			<div class="b-columns__col b-columns__col_70 b-columns__col_align_center b-columns__col_pd-lt_100">
				<div class="h-wrap h-wrap_mg-bt_40">
					<div class="b-title b-title_mini">
						{{ block.contact_us_form_title }}
					</div>
				</div>
				<div data-duration-in="300" data-duration-out="100" data-current="Tab 5" data-easing="ease" class="b-tabs w-tabs">
					<div class="b-tabs__menu b-tabs__menu_mg-bt_30 w-tab-menu">
						<a data-w-tab="Tab 1" class="b-tabs__link b-tabs__link_form w-inline-block w-tab-link">
							<div>
								Tech support
							</div>
						</a>
						<a data-w-tab="Tab 2" class="b-tabs__link b-tabs__link_form w-inline-block w-tab-link">
							<div>
								Partners
							</div>
						</a>
						<a data-w-tab="Tab 3" class="b-tabs__link b-tabs__link_form w-inline-block w-tab-link">
							<div>
								Sales
							</div>
						</a>
						<a data-w-tab="Tab 4" class="b-tabs__link b-tabs__link_form w-inline-block w-tab-link">
							<div>
								Media
							</div>
						</a>
						<a data-w-tab="Tab 5" class="b-tabs__link b-tabs__link_form w-inline-block w-tab-link w--current">
							<div>
								Careers/HR
							</div>
						</a>
					</div>
					<div class="b-tabs__content b-tabs__content_min w-tab-content">
						<div data-w-tab="Tab 1" class="b-tabs__pane w-tab-pane">
							<div class="b-form w-form">
								<form data-name="Форма" id="email-form" name="email-form" method="get" class="b-form__form" data-wf-page-id="648baa95d29f649e7b12a409" data-wf-element-id="253d551f-f092-acad-f933-f74ea20fa2f6">
									<div class="h-wrap h-wrap_mg-bt_15">
										<select id="field-3" name="field-3" data-name="Field 3" class="b-select v-2 w-node-f79a1530-b612-b58c-7b67-663d7b77de41-7b12a409 w-select">
											<option value="">
												I am a / an*
											</option>
										</select>
									</div>
									<div class="h-wrap h-wrap_grid h-wrap_2-col h-wrap_mg-bt_15">
										<input type="text" class="b-input b-input_height_50 w-input" maxlength="256" name="First-Name" data-name="First Name" placeholder="First Name*" id="First-Name-2" required="">
										<input type="text" class="b-input b-input_height_50 w-input" maxlength="256" name="Last-Name" data-name="Last Name*" placeholder="Last Name" id="Last-Name" required="">
									</div>
									<div class="h-wrap h-wrap_mg-bt_15">
										<input type="email" class="b-input b-input_height_50 w-input" maxlength="256" name="Email" data-name="Email" placeholder="Email*" id="Email-4" required="">
									</div>
									<div class="h-wrap h-wrap_mg-bt_15">
										<input type="tel" class="b-input b-input_height_50 w-input" maxlength="256" name="Phone" data-name="Phone" placeholder="Phone*" id="Phone" required="">
									</div>
									<div class="h-wrap h-wrap_mg-bt_15">
										<input type="text" class="b-input b-input_height_50 w-input" maxlength="256" name="Company-name" data-name="Company name" placeholder="Company name*" id="Company-name" required="">
									</div>
									<div class="h-wrap h-wrap_mg-bt_30">
										<textarea placeholder="Message..." maxlength="5000" id="Message-2" name="Message-2" data-name="Message 2" class="b-input b-input_height_150 w-input"></textarea>
									</div>
									<div class="h-wrap h-wrap_mg-bt_15">
										<label class="w-checkbox b-checkbox b-checkbox_pd-lt_35 b-checkbox_max-width_610">
											<div class="w-checkbox-input w-checkbox-input--inputType-custom b-checkbox__check b-checkbox__check_form"></div>
											<input type="checkbox" id="Policy" name="Policy" data-name="Policy" required="" style="opacity:0;position:absolute;z-index:-1">
											<span class="b-checkbox__label b-checkbox__label_form w-form-label" for="Policy">
												* I give consent to the processing of my personal data given in the contact form above under the terms and conditions of Lumin
												<a href="#" class="b-checkbox__link">
													Privacy Policy
												</a>
												.
											</span>
										</label>
									</div>
									<div class="h-wrap h-wrap_mg-bt_30">
										<label class="w-checkbox b-checkbox b-checkbox_pd-lt_35 b-checkbox_max-width_610">
											<div class="w-checkbox-input w-checkbox-input--inputType-custom b-checkbox__check b-checkbox__check_form"></div>
											<input type="checkbox" id="Information" name="Information" data-name="Information" style="opacity:0;position:absolute;z-index:-1">
											<span class="b-checkbox__label b-checkbox__label_form w-form-label" for="Information">
												I want to receive commercial communications and marketing information from Lumin by electronic means of communication (including telephone and e-mail).
											</span>
										</label>
									</div>
									<input type="submit" value="Send message" data-wait="Please wait..." class="b-button b-button_blue b-button_max-width_250 w-button">
								</form>
								<div class="b-form__success-mes w-form-done">
									<div>
										Спасибо за заявку!
										<br>
										В ближайшее время мы свяжемся с вами
									</div>
								</div>
								<div class="b-form__error-mes w-form-fail">
									<div>
										Ошибка! Что-то пошло не так.
									</div>
								</div>
							</div>
						</div>
						<div data-w-tab="Tab 2" class="b-tabs__pane w-tab-pane">
							<div class="b-form w-form">
								<form data-name="Форма" id="email-form" name="email-form" method="get" class="b-form__form" data-wf-page-id="648baa95d29f649e7b12a409" data-wf-element-id="85b11ead-49b3-9b60-8b3a-f33ac3ce0b04">
									<div class="h-wrap h-wrap_mg-bt_15">
										<select id="field-3" name="field-3" data-name="Field 3" class="b-select v-2 w-node-_85b11ead-49b3-9b60-8b3a-f33ac3ce0b1b-7b12a409 w-select">
											<option value="">
												I am a / an*
											</option>
										</select>
									</div>
									<div class="h-wrap h-wrap_grid h-wrap_2-col h-wrap_mg-bt_15">
										<input type="text" class="b-input b-input_height_50 w-input" maxlength="256" name="First-Name-3" data-name="First Name 3" placeholder="First Name*" id="First-Name-3" required="">
										<input type="text" class="b-input b-input_height_50 w-input" maxlength="256" name="Last-Name-2" data-name="Last Name 2" placeholder="Last Name" id="Last-Name-2" required="">
									</div>
									<div class="h-wrap h-wrap_mg-bt_15">
										<input type="email" class="b-input b-input_height_50 w-input" maxlength="256" name="Email-5" data-name="Email 5" placeholder="Email*" id="Email-5" required="">
									</div>
									<div class="h-wrap h-wrap_mg-bt_15">
										<input type="tel" class="b-input b-input_height_50 w-input" maxlength="256" name="Phone-2" data-name="Phone 2" placeholder="Phone*" id="Phone-2" required="">
									</div>
									<div class="h-wrap h-wrap_mg-bt_15">
										<input type="text" class="b-input b-input_height_50 w-input" maxlength="256" name="Company-name-2" data-name="Company Name 2" placeholder="Company name*" id="Company-name-2" required="">
									</div>
									<div class="h-wrap h-wrap_mg-bt_30">
										<textarea placeholder="Message..." maxlength="5000" id="Message-2" name="Message-2" data-name="Message 2" class="b-input b-input_height_150 w-input"></textarea>
									</div>
									<div class="h-wrap h-wrap_mg-bt_15">
										<label class="w-checkbox b-checkbox b-checkbox_pd-lt_35 b-checkbox_max-width_610">
											<div class="w-checkbox-input w-checkbox-input--inputType-custom b-checkbox__check b-checkbox__check_form"></div>
											<input type="checkbox" id="Policy-2" name="Policy-2" data-name="Policy 2" required="" style="opacity:0;position:absolute;z-index:-1">
											<span class="b-checkbox__label b-checkbox__label_form w-form-label" for="Policy-2">
												* I give consent to the processing of my personal data given in the contact form above under the terms and conditions of Lumin
												<a href="#" class="b-checkbox__link">
													Privacy Policy
												</a>
												.
											</span>
										</label>
									</div>
									<div class="h-wrap h-wrap_mg-bt_30">
										<label class="w-checkbox b-checkbox b-checkbox_pd-lt_35 b-checkbox_max-width_610">
											<div class="w-checkbox-input w-checkbox-input--inputType-custom b-checkbox__check b-checkbox__check_form"></div>
											<input type="checkbox" id="Information-2" name="Information-2" data-name="Information 2" style="opacity:0;position:absolute;z-index:-1">
											<span class="b-checkbox__label b-checkbox__label_form w-form-label" for="Information-2">
												I want to receive commercial communications and marketing information from Lumin by electronic means of communication (including telephone and e-mail).
											</span>
										</label>
									</div>
									<input type="submit" value="Send message" data-wait="Please wait..." class="b-button b-button_blue b-button_max-width_250 w-button">
								</form>
								<div class="b-form__success-mes w-form-done">
									<div>
										Спасибо за заявку!
										<br>
										В ближайшее время мы свяжемся с вами
									</div>
								</div>
								<div class="b-form__error-mes w-form-fail">
									<div>
										Ошибка! Что-то пошло не так.
									</div>
								</div>
							</div>
						</div>
						<div data-w-tab="Tab 3" class="b-tabs__pane w-tab-pane">
							<div class="b-form w-form">
								<form data-name="Форма" id="email-form" name="email-form" method="get" class="b-form__form" data-wf-page-id="648baa95d29f649e7b12a409" data-wf-element-id="314d7f5b-d095-dd46-ab73-1050401e398d">
									<div class="h-wrap h-wrap_grid h-wrap_bg-bt_30">
										<label checked class="b-radio b-radio_form w-radio">
											<div class="w-form-formradioinput w-form-formradioinput--inputType-custom b-radio__btn b-radio__btn_form w-radio-input"></div>
											<input type="radio" id="Tech-support" name="Send-us-a-Message" value="Tech support" data-name="Send us a Message" style="opacity:0;position:absolute;z-index:-1">
											<span class="w-form-label" for="Tech-support">
												Tech support
											</span>
										</label>
										<label class="b-radio b-radio_form w-radio">
											<div class="w-form-formradioinput w-form-formradioinput--inputType-custom b-radio__btn b-radio__btn_form w-radio-input"></div>
											<input type="radio" id="radio-4" name="Send-us-a-Message" value="Radio 4" data-name="Send us a Message" style="opacity:0;position:absolute;z-index:-1">
											<span class="w-form-label" for="radio-4">
												Partners
											</span>
										</label>
										<label class="b-radio b-radio_form w-radio">
											<div class="w-form-formradioinput w-form-formradioinput--inputType-custom b-radio__btn b-radio__btn_form w-radio-input"></div>
											<input type="radio" id="Partners" name="Send-us-a-Message" value="Partners" data-name="Send us a Message" style="opacity:0;position:absolute;z-index:-1">
											<span class="w-form-label" for="Partners">
												Sales
											</span>
										</label>
										<label class="b-radio b-radio_form w-radio">
											<div class="w-form-formradioinput w-form-formradioinput--inputType-custom b-radio__btn b-radio__btn_form w-radio-input"></div>
											<input type="radio" id="Media" name="Send-us-a-Message" value="Media" data-name="Send us a Message" style="opacity:0;position:absolute;z-index:-1">
											<span class="w-form-label" for="Media">
												Media
											</span>
										</label>
										<label class="b-radio b-radio_form w-radio">
											<div class="w-form-formradioinput w-form-formradioinput--inputType-custom b-radio__btn b-radio__btn_form w-radio-input"></div>
											<input type="radio" id="Careers-HR" name="Send-us-a-Message" value="Careers/HR" data-name="Send us a Message" style="opacity:0;position:absolute;z-index:-1">
											<span class="w-form-label" for="Careers-HR">
												Careers/HR
											</span>
										</label>
									</div>
									<div class="h-wrap h-wrap_mg-bt_15">
										<select id="field-3" name="field-3" data-name="Field 3" class="b-select v-2 w-node-_314d7f5b-d095-dd46-ab73-1050401e39a4-7b12a409 w-select">
											<option value="">
												I am a / an*
											</option>
										</select>
									</div>
									<div class="h-wrap h-wrap_grid h-wrap_2-col h-wrap_mg-bt_15">
										<input type="text" class="b-input b-input_height_50 w-input" maxlength="256" name="First-Name-3" data-name="First Name 3" placeholder="First Name*" id="First-Name-3" required="">
										<input type="text" class="b-input b-input_height_50 w-input" maxlength="256" name="Last-Name-2" data-name="Last Name 2" placeholder="Last Name" id="Last-Name-2" required="">
									</div>
									<div class="h-wrap h-wrap_mg-bt_15">
										<input type="email" class="b-input b-input_height_50 w-input" maxlength="256" name="Email-5" data-name="Email 5" placeholder="Email*" id="Email-5" required="">
									</div>
									<div class="h-wrap h-wrap_mg-bt_15">
										<input type="tel" class="b-input b-input_height_50 w-input" maxlength="256" name="Phone-2" data-name="Phone 2" placeholder="Phone*" id="Phone-2" required="">
									</div>
									<div class="h-wrap h-wrap_mg-bt_15">
										<input type="text" class="b-input b-input_height_50 w-input" maxlength="256" name="Company-name-2" data-name="Company Name 2" placeholder="Company name*" id="Company-name-2" required="">
									</div>
									<div class="h-wrap h-wrap_mg-bt_30">
										<textarea placeholder="Message..." maxlength="5000" id="Message-2" name="Message-2" data-name="Message 2" class="b-input b-input_height_150 w-input"></textarea>
									</div>
									<div class="h-wrap h-wrap_mg-bt_15">
										<label class="w-checkbox b-checkbox b-checkbox_pd-lt_35 b-checkbox_max-width_610">
											<div class="w-checkbox-input w-checkbox-input--inputType-custom b-checkbox__check b-checkbox__check_form"></div>
											<input type="checkbox" id="Policy-2" name="Policy-2" data-name="Policy 2" required="" style="opacity:0;position:absolute;z-index:-1">
											<span class="b-checkbox__label b-checkbox__label_form w-form-label" for="Policy-2">
												* I give consent to the processing of my personal data given in the contact form above under the terms and conditions of Lumin
												<a href="#" class="b-checkbox__link">
													Privacy Policy
												</a>
												.
											</span>
										</label>
									</div>
									<div class="h-wrap h-wrap_mg-bt_30">
										<label class="w-checkbox b-checkbox b-checkbox_pd-lt_35 b-checkbox_max-width_610">
											<div class="w-checkbox-input w-checkbox-input--inputType-custom b-checkbox__check b-checkbox__check_form"></div>
											<input type="checkbox" id="Information-2" name="Information-2" data-name="Information 2" style="opacity:0;position:absolute;z-index:-1">
											<span class="b-checkbox__label b-checkbox__label_form w-form-label" for="Information-2">
												I want to receive commercial communications and marketing information from Lumin by electronic means of communication (including telephone and e-mail).
											</span>
										</label>
									</div>
									<input type="submit" value="Send message" data-wait="Please wait..." class="b-button b-button_blue b-button_max-width_250 w-button">
								</form>
								<div class="b-form__success-mes w-form-done">
									<div>
										Спасибо за заявку!
										<br>
										В ближайшее время мы свяжемся с вами
									</div>
								</div>
								<div class="b-form__error-mes w-form-fail">
									<div>
										Ошибка! Что-то пошло не так.
									</div>
								</div>
							</div>
						</div>
						<div data-w-tab="Tab 4" class="b-tabs__pane w-tab-pane">
							<div class="b-form w-form">
								<form data-name="Форма" id="email-form" name="email-form" method="get" class="b-form__form" data-wf-page-id="648baa95d29f649e7b12a409" data-wf-element-id="07f80611-26be-c91e-4703-4c1b523c47be">
									<div class="h-wrap h-wrap_grid h-wrap_2-col h-wrap_mg-bt_15">
										<input type="text" class="b-input b-input_height_50 w-input" maxlength="256" name="First-Name-3" data-name="First Name 3" placeholder="First Name*" id="First-Name-3" required="">
										<input type="text" class="b-input b-input_height_50 w-input" maxlength="256" name="Last-Name-2" data-name="Last Name 2" placeholder="Last Name" id="Last-Name-2" required="">
									</div>
									<div class="h-wrap h-wrap_mg-bt_15">
										<input type="email" class="b-input b-input_height_50 w-input" maxlength="256" name="Email-5" data-name="Email 5" placeholder="Email*" id="Email-5" required="">
									</div>
									<div class="h-wrap h-wrap_mg-bt_15">
										<input type="tel" class="b-input b-input_height_50 w-input" maxlength="256" name="Phone-2" data-name="Phone 2" placeholder="Phone*" id="Phone-2" required="">
									</div>
									<div class="h-wrap h-wrap_mg-bt_30">
										<textarea placeholder="Message..." maxlength="5000" id="Message-2" name="Message-2" data-name="Message 2" class="b-input b-input_height_150 w-input"></textarea>
									</div>
									<div class="h-wrap h-wrap_mg-bt_15">
										<label class="w-checkbox b-checkbox b-checkbox_pd-lt_35 b-checkbox_max-width_610">
											<div class="w-checkbox-input w-checkbox-input--inputType-custom b-checkbox__check b-checkbox__check_form"></div>
											<input type="checkbox" id="Policy-2" name="Policy-2" data-name="Policy 2" required="" style="opacity:0;position:absolute;z-index:-1">
											<span class="b-checkbox__label b-checkbox__label_form w-form-label" for="Policy-2">
												* I give consent to the processing of my personal data given in the contact form above under the terms and conditions of Lumin
												<a href="#" class="b-checkbox__link">
													Privacy Policy
												</a>
												.
											</span>
										</label>
									</div>
									<div class="h-wrap h-wrap_mg-bt_30">
										<label class="w-checkbox b-checkbox b-checkbox_pd-lt_35 b-checkbox_max-width_610">
											<div class="w-checkbox-input w-checkbox-input--inputType-custom b-checkbox__check b-checkbox__check_form"></div>
											<input type="checkbox" id="Information-2" name="Information-2" data-name="Information 2" style="opacity:0;position:absolute;z-index:-1">
											<span class="b-checkbox__label b-checkbox__label_form w-form-label" for="Information-2">
												I want to receive commercial communications and marketing information from Lumin by electronic means of communication (including telephone and e-mail).
											</span>
										</label>
									</div>
									<input type="submit" value="Send message" data-wait="Please wait..." class="b-button b-button_blue b-button_max-width_250 w-button">
								</form>
								<div class="b-form__success-mes w-form-done">
									<div>
										Спасибо за заявку!
										<br>
										В ближайшее время мы свяжемся с вами
									</div>
								</div>
								<div class="b-form__error-mes w-form-fail">
									<div>
										Ошибка! Что-то пошло не так.
									</div>
								</div>
							</div>
						</div>
						<div data-w-tab="Tab 5" class="b-tabs__pane w-tab-pane w--tab-active">
							<div class="b-form w-form">
								<form data-name="Форма" id="email-form" name="email-form" method="get" class="b-form__form" data-wf-page-id="648baa95d29f649e7b12a409" data-wf-element-id="f64a0fb8-5fc7-239e-2c4b-8d1cd4753dc5">
									<div class="h-wrap h-wrap_grid h-wrap_2-col h-wrap_mg-bt_15">
										<input type="text" class="b-input b-input_height_50 w-input" maxlength="256" name="First-Name-3" data-name="First Name 3" placeholder="First Name*" id="First-Name-3" required="">
										<input type="text" class="b-input b-input_height_50 w-input" maxlength="256" name="Last-Name-2" data-name="Last Name 2" placeholder="Last Name" id="Last-Name-2" required="">
									</div>
									<div class="h-wrap h-wrap_mg-bt_15">
										<input type="email" class="b-input b-input_height_50 w-input" maxlength="256" name="Email-5" data-name="Email 5" placeholder="Email*" id="Email-5" required="">
									</div>
									<div class="h-wrap h-wrap_mg-bt_15">
										<input type="tel" class="b-input b-input_height_50 w-input" maxlength="256" name="Phone-2" data-name="Phone 2" placeholder="Phone*" id="Phone-2" required="">
									</div>
									<div class="h-wrap h-wrap_mg-bt_30">
										<textarea placeholder="Message..." maxlength="5000" id="Message-2" name="Message-2" data-name="Message 2" class="b-input b-input_height_150 w-input"></textarea>
									</div>
									<div class="h-wrap h-wrap_mg-bt_15">
										<label class="w-checkbox b-checkbox b-checkbox_pd-lt_35 b-checkbox_max-width_610">
											<div class="w-checkbox-input w-checkbox-input--inputType-custom b-checkbox__check b-checkbox__check_form"></div>
											<input type="checkbox" id="Policy-2" name="Policy-2" data-name="Policy 2" required="" style="opacity:0;position:absolute;z-index:-1">
											<span class="b-checkbox__label b-checkbox__label_form w-form-label" for="Policy-2">
												* I give consent to the processing of my personal data given in the contact form above under the terms and conditions of Lumin
												<a href="#" class="b-checkbox__link">
													Privacy Policy
												</a>
												.
											</span>
										</label>
									</div>
									<div class="h-wrap h-wrap_mg-bt_30">
										<label class="w-checkbox b-checkbox b-checkbox_pd-lt_35 b-checkbox_max-width_610">
											<div class="w-checkbox-input w-checkbox-input--inputType-custom b-checkbox__check b-checkbox__check_form"></div>
											<input type="checkbox" id="Information-2" name="Information-2" data-name="Information 2" style="opacity:0;position:absolute;z-index:-1">
											<span class="b-checkbox__label b-checkbox__label_form w-form-label" for="Information-2">
												I want to receive commercial communications and marketing information from Lumin by electronic means of communication (including telephone and e-mail).
											</span>
										</label>
									</div>
									<input type="submit" value="Send message" data-wait="Please wait..." class="b-button b-button_blue b-button_max-width_250 w-button">
								</form>
								<div class="b-form__success-mes w-form-done">
									<div>
										Спасибо за заявку!
										<br>
										В ближайшее время мы свяжемся с вами
									</div>
								</div>
								<div class="b-form__error-mes w-form-fail">
									<div>
										Ошибка! Что-то пошло не так.
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="b-block b-block_bg v-2"></div>
</section>
