<section class="section s-section_contact">
	<div class="container w-container">
		<div class="b-columns b-columns_space-between">
			<div class="b-columns__col b-columns__col_35 b-columns__col_align_center">
				<div class="h-wrap h-wrap_mg-bt_20">
					<div class="b-title b-title_mini">
						{{ block.contact_us_contacts_title }}
					</div>
				</div>
				<div class="h-wrap h-wrap_mg-bt_40">
					<div class="b-text b-text_size_20">
						{{ block.contact_us_contacts_subtitle }}
					</div>
				</div>
				<ul role="list" class="b-list">
					<li class="b-list__item b-list__item_mg-bt_30 b-list__item_flex-v">
						<div class="h-wrap h-wrap_mg-bt_5">
							<div class="b-text b-text_size_14 b-text_gray b-text_semibold">
								Technical Support:
							</div>
						</div>
						<div class="h-wrap h-wrap_flex_h h-wrap_align_center-left">
							<div class="b-list__circle v-4">
								<img src="{{ 'assets/images/icon-contact20(3).svg'|theme }}" loading="lazy" alt="">
							</div>
							<div class="b-text b-text_size_20 b-text_bold">
								<a href="#" class="b-text__phone">
									888.421.0616
								</a>
							</div>
						</div>
					</li>
					<li class="b-list__item b-list__item_mg-bt_30 b-list__item_flex-v">
						<div class="h-wrap h-wrap_mg-bt_5">
							<div class="b-text b-text_size_14 b-text_gray b-text_semibold">
								Sales and Business:
							</div>
						</div>
						<div class="h-wrap h-wrap_flex_h h-wrap_align_center-left">
							<div class="b-list__circle v-4">
								<img src="{{ 'assets/images/icon-contact20(3).svg'|theme }}" loading="lazy" alt="">
							</div>
							<div class="b-text b-text_size_20 b-text_bold">
								<a href="#" class="b-text__phone">
									800.793.8013
								</a>
							</div>
						</div>
					</li>
					<li class="b-list__item b-list__item_mg-bt_30 b-list__item_flex-v">
						<div class="h-wrap h-wrap_mg-bt_5">
							<div class="b-text b-text_size_14 b-text_gray b-text_semibold">
								Addres:
							</div>
						</div>
						<div class="h-wrap h-wrap_flex_h h-wrap_max-width_250">
							<div class="b-list__circle v-4">
								<img src="{{ 'assets/images/icon-contact20(1).svg'|theme }}" loading="lazy" alt="">
							</div>
							<div class="b-text">
								501 Locust Ave, Floor 1, Suite 2 Charlottesville, Virginia 22902
							</div>
						</div>
					</li>
					<li class="b-list__item b-list__item_mg-bt_30 b-list__item_flex-v">
						<div class="h-wrap h-wrap_mg-bt_5">
							<div class="b-text b-text_size_14 b-text_gray b-text_semibold">
								Email us or send a message via our online form.
							</div>
						</div>
						<div class="h-wrap h-wrap_flex_h h-wrap_align_center-left">
							<div class="b-list__circle v-4">
								<img src="{{ 'assets/images/icon-contact20(2).svg'|theme }}" loading="lazy" alt="">
							</div>
							<div class="b-text b-text_size_20 b-text_bold">
								<a href="mailto:hello@luminsmart.com" class="b-text__phone">
									hello@luminsmart.com
								</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="b-columns__col b-columns__col_60">
				<img class="b-image b-image_map" src="{{ block.contact_us_contacts_image|media }}" alt="" loading="lazy">
				<div class="w-widget w-widget-map" data-widget-style="roadmap" data-widget-latlng="" data-enable-scroll="true" role="region" title="" data-enable-touch="true" data-widget-zoom="12" data-widget-tooltip=""></div>
			</div>
		</div>
	</div>
	<div class="b-block b-block_bg"></div>
</section>
