<section class="{{ section_s_section_contact }}">
	<div class="{{ block.container_w_container }}">
		<div class="{{ block.b_columns_b_columns_space_between }}">
			<div class="{{ block.b_columns__col_b_columns__col_35_b_columns__col_align_center }}">
				<div class="{{ block.h_wrap_h_wrap_mg_bt_20 }}">
					<div class="{{ block.b_title_b_title_mini }}">
						{{ block.contact_us_contacts_title }}
					</div>
				</div>
				<div class="{{ block.h_wrap_h_wrap_mg_bt_40 }}">
					<div class="{{ block.b_text_b_text_size_20 }}">
						{{ block.contact_us_contacts_subtitle }}
					</div>
				</div>
				<ul role="list" class="{{ block.b_list }}">
					<li class="{{ block.b_list__item_b_list__item_mg_bt_30_b_list__item_flex_v }}">
						<div class="{{ block.h_wrap_h_wrap_mg_bt_5 }}">
							<div class="{{ block.b_text_b_text_size_14_b_text_gray_b_text_semibold }}">
								Technical Support:
							</div>
						</div>
						<div class="{{ block.h_wrap_h_wrap_flex_h_h_wrap_align_center_left }}">
							<div class="{{ block.b_list__circle_v_4 }}">
								<img src="{{ 'assets/images/icon-contact20(3).svg'|theme }}" loading="lazy" alt="">
							</div>
							<div class="{{ block.b_text_b_text_size_20_b_text_bold }}">
								<a href="#" class="{{ block.b_text__phone }}">
									888.421.0616
								</a>
							</div>
						</div>
					</li>
					<li class="{{ block.b_list__item_b_list__item_mg_bt_30_b_list__item_flex_v }}">
						<div class="{{ block.h_wrap_h_wrap_mg_bt_5 }}">
							<div class="{{ block.b_text_b_text_size_14_b_text_gray_b_text_semibold }}">
								Sales and Business:
							</div>
						</div>
						<div class="{{ block.h_wrap_h_wrap_flex_h_h_wrap_align_center_left }}">
							<div class="{{ block.b_list__circle_v_4 }}">
								<img src="{{ 'assets/images/icon-contact20(3).svg'|theme }}" loading="lazy" alt="">
							</div>
							<div class="{{ block.b_text_b_text_size_20_b_text_bold }}">
								<a href="#" class="{{ block.b_text__phone }}">
									800.793.8013
								</a>
							</div>
						</div>
					</li>
					<li class="{{ block.b_list__item_b_list__item_mg_bt_30_b_list__item_flex_v }}">
						<div class="{{ block.h_wrap_h_wrap_mg_bt_5 }}">
							<div class="{{ block.b_text_b_text_size_14_b_text_gray_b_text_semibold }}">
								Addres:
							</div>
						</div>
						<div class="{{ block.h_wrap_h_wrap_flex_h_h_wrap_max_width_250 }}">
							<div class="{{ block.b_list__circle_v_4 }}">
								<img src="{{ 'assets/images/icon-contact20(1).svg'|theme }}" loading="lazy" alt="">
							</div>
							<div class="{{ block.b_text }}">
								501 Locust Ave, Floor 1, Suite 2 Charlottesville, Virginia 22902
							</div>
						</div>
					</li>
					<li class="{{ block.b_list__item_b_list__item_mg_bt_30_b_list__item_flex_v }}">
						<div class="{{ block.h_wrap_h_wrap_mg_bt_5 }}">
							<div class="{{ block.b_text_b_text_size_14_b_text_gray_b_text_semibold }}">
								Email us or send a message via our online form.
							</div>
						</div>
						<div class="{{ block.h_wrap_h_wrap_flex_h_h_wrap_align_center_left }}">
							<div class="{{ block.b_list__circle_v_4 }}">
								<img src="{{ 'assets/images/icon-contact20(2).svg'|theme }}" loading="lazy" alt="">
							</div>
							<div class="{{ block.b_text_b_text_size_20_b_text_bold }}">
								<a href="mailto:hello@luminsmart.com" class="{{ block.b_text__phone }}">
									hello@luminsmart.com
								</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="{{ block.b_columns__col_b_columns__col_60 }}">
				<div data-widget-style="roadmap" data-widget-latlng="38.0322558,-78.4712833" data-enable-scroll="true" role="region" title="" data-enable-touch="true" data-widget-zoom="18" data-widget-tooltip="" class="{{ block.b_image_map_w_widget_w_widget_map }}"></div>
			</div>
		</div>
	</div>
	<div class="{{ block.b_block_b_block_bg }}"></div>
</section>
