<section class="{{ section_s_section_send }}">
	<div class="{{ block.container_w_container }}">
		<div class="{{ block.b_columns }}">
			<div class="{{ block.b_columns__col_b_columns__col_30_b_columns__col_justify_end }}">
				<img src="{{ block.contact_us_form_image|media }}" alt="" loading="lazy" class="{{ block.b_image_b_image_phone }}">
			</div>
			<div class="{{ block.b_columns__col_b_columns__col_70_b_columns__col_align_center_b_columns__col_pd_lt_100 }}">
				<div class="{{ block.h_wrap_h_wrap_mg_bt_40 }}">
					<div class="{{ block.b_title_b_title_mini }}">
						{{ block.contact_us_form_title }}
					</div>
				</div>
				<div class="{{ block.b_form_w_form }}">
					<form data-name="Форма" id="email-form" name="email-form" method="get" data-wf-page-id="648baa95d29f649e7b12a409" data-wf-element-id="253d551f-f092-acad-f933-f74ea20fa2f6" class="{{ block.b_form__form }}">
						<div class="{{ block.h_wrap_h_wrap_grid_h_wrap_bg_bt_30 }}">
							<label checked class="{{ block.b_radio_b_radio_form_w_radio }}">
								<div class="{{ block.w_form_formradioinput_w_form_formradioinput__inputtype_custom_b_radio__btn_b_radio__btn_form_w_radio_input }}"></div>
								<input type="radio" id="Tech-support" name="Send-us-a-Message" value="Tech support" data-name="Send us a Message" style="{{ block.opacity_0;position_absolute;z_index__1 }}">
								<span for="Tech-support" class="{{ block.w_form_label }}">
									Tech support
								</span>
							</label>
							<label class="{{ block.b_radio_b_radio_form_w_radio }}">
								<div class="{{ block.w_form_formradioinput_w_form_formradioinput__inputtype_custom_b_radio__btn_b_radio__btn_form_w_radio_input }}"></div>
								<input type="radio" id="radio-4" name="Send-us-a-Message" value="Radio 4" data-name="Send us a Message" style="{{ block.opacity_0;position_absolute;z_index__1 }}">
								<span for="radio-4" class="{{ block.w_form_label }}">
									Partners
								</span>
							</label>
							<label class="{{ block.b_radio_b_radio_form_w_radio }}">
								<div class="{{ block.w_form_formradioinput_w_form_formradioinput__inputtype_custom_b_radio__btn_b_radio__btn_form_w_radio_input }}"></div>
								<input type="radio" id="Partners" name="Send-us-a-Message" value="Partners" data-name="Send us a Message" style="{{ block.opacity_0;position_absolute;z_index__1 }}">
								<span for="Partners" class="{{ block.w_form_label }}">
									Sales
								</span>
							</label>
							<label class="{{ block.b_radio_b_radio_form_w_radio }}">
								<div class="{{ block.w_form_formradioinput_w_form_formradioinput__inputtype_custom_b_radio__btn_b_radio__btn_form_w_radio_input }}"></div>
								<input type="radio" id="Media" name="Send-us-a-Message" value="Media" data-name="Send us a Message" style="{{ block.opacity_0;position_absolute;z_index__1 }}">
								<span for="Media" class="{{ block.w_form_label }}">
									Media
								</span>
							</label>
							<label class="{{ block.b_radio_b_radio_form_w_radio }}">
								<div class="{{ block.w_form_formradioinput_w_form_formradioinput__inputtype_custom_b_radio__btn_b_radio__btn_form_w_radio_input }}"></div>
								<input type="radio" id="Careers-HR" name="Send-us-a-Message" value="Careers/HR" data-name="Send us a Message" style="{{ block.opacity_0;position_absolute;z_index__1 }}">
								<span for="Careers-HR" class="{{ block.w_form_label }}">
									Careers/HR
								</span>
							</label>
						</div>
						<div class="{{ block.h_wrap_h_wrap_mg_bt_15 }}">
							<select id="field-3" name="field-3" data-name="Field 3" class="{{ block.b_select_v_2_w_node_f79a1530_b612_b58c_7b67_663d7b77de41_7b12a409_w_select }}">
								<option value="">
									I am a / an*
								</option>
							</select>
						</div>
						<div class="{{ block.h_wrap_h_wrap_grid_h_wrap_2_col_h_wrap_mg_bt_15 }}">
							<input type="text" maxlength="256" name="First-Name" data-name="First Name" placeholder="First Name*" id="First-Name-2" required="" class="{{ block.b_input_b_input_height_50_w_input }}">
							<input type="text" maxlength="256" name="Last-Name" data-name="Last Name*" placeholder="Last Name" id="Last-Name" required="" class="{{ block.b_input_b_input_height_50_w_input }}">
						</div>
						<div class="{{ block.h_wrap_h_wrap_mg_bt_15 }}">
							<input type="email" maxlength="256" name="Email" data-name="Email" placeholder="Email*" id="Email-4" required="" class="{{ block.b_input_b_input_height_50_w_input }}">
						</div>
						<div class="{{ block.h_wrap_h_wrap_mg_bt_15 }}">
							<input type="tel" maxlength="256" name="Phone" data-name="Phone" placeholder="Phone*" id="Phone" required="" class="{{ block.b_input_b_input_height_50_w_input }}">
						</div>
						<div class="{{ block.h_wrap_h_wrap_mg_bt_15 }}">
							<input type="text" maxlength="256" name="Company-name" data-name="Company name" placeholder="Company name*" id="Company-name" required="" class="{{ block.b_input_b_input_height_50_w_input }}">
						</div>
						<div class="{{ block.h_wrap_h_wrap_mg_bt_30 }}">
							<textarea placeholder="Message..." maxlength="5000" id="Message-2" name="Message-2" data-name="Message 2" class="{{ block.b_input_b_input_height_150_w_input }}"></textarea>
						</div>
						<div class="{{ block.h_wrap_h_wrap_mg_bt_15 }}">
							<label class="{{ block.w_checkbox_b_checkbox_b_checkbox_pd_lt_35_b_checkbox_max_width_610 }}">
								<div class="{{ block.w_checkbox_input_w_checkbox_input__inputtype_custom_b_checkbox__check_b_checkbox__check_form }}"></div>
								<input type="checkbox" id="Policy" name="Policy" data-name="Policy" required="" style="{{ block.opacity_0;position_absolute;z_index__1 }}">
								<span for="Policy" class="{{ block.b_checkbox__label_b_checkbox__label_form_w_form_label }}">
									* I give consent to the processing of my personal data given in the contact form above under the terms and conditions of Lumin
									<a href="#" class="{{ block.b_checkbox__link }}">
										Privacy Policy
									</a>
									.
								</span>
							</label>
						</div>
						<div class="{{ block.h_wrap_h_wrap_mg_bt_30 }}">
							<label class="{{ block.w_checkbox_b_checkbox_b_checkbox_pd_lt_35_b_checkbox_max_width_610 }}">
								<div class="{{ block.w_checkbox_input_w_checkbox_input__inputtype_custom_b_checkbox__check_b_checkbox__check_form }}"></div>
								<input type="checkbox" id="Information" name="Information" data-name="Information" style="{{ block.opacity_0;position_absolute;z_index__1 }}">
								<span for="Information" class="{{ block.b_checkbox__label_b_checkbox__label_form_w_form_label }}">
									I want to receive commercial communications and marketing information from Lumin by electronic means of communication (including telephone and e-mail).
								</span>
							</label>
						</div>
						<input type="submit" value="Send message" data-wait="Please wait..." class="{{ block.b_button_b_button_blue_b_button_max_width_250_w_button }}">
					</form>
					<div class="{{ block.b_form__success_mes_w_form_done }}">
						<div>
							Спасибо за заявку!
							<br>
							В ближайшее время мы свяжемся с вами
						</div>
					</div>
					<div class="{{ block.b_form__error_mes_w_form_fail }}">
						<div>
							Ошибка! Что-то пошло не так.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="{{ block.b_block_b_block_bg_v_2 }}"></div>
</section>
