<section class="section s-section_yellow section_pd-bt_40 mob_pd">
	<div class="container w-container">
		<div class="b-columns mob_revers">
			<div class="b-columns__col b-columns__col_60 b-columns__col_align_center mob_100">
				<div class="h-wrap h-wrap_mg-bt_20">
					<div class="b-title b-title_mini mob_30">
						{{ block.document_img_title }}
					</div>
				</div>
				<div class="h-wrap h-wrap_mg-bt_40 h-wrap_max-width_800">
					<div class="b-text b-text_size_26">
						{{ block.document_img_subtitle|raw }}
					</div>
				</div>
			</div>
			<div class="b-columns__col b-columns__col_40 mob_100">
				<img src="{{ block.document_img_image|media }}" loading="lazy" alt="" class="b-image b-image_paper">
			</div>
		</div>
	</div>
	<img src="{{ 'assets/images/fon-yellow.png'|theme }}" loading="lazy" alt="" class="b-image b-image_yellow-fon v-3 mob_hide">
	<img src="{{ 'assets/images/Group2027439.jpg'|theme }}" loading="lazy" alt="" class="b-image b-image_yellow-fon v-3 mob_show">
</section>
