<section class="{{ section_s_section_yellow_section_pd_bt_40_mob_pd }}">
	<div class="{{ block.container_w_container }}">
		<div class="{{ block.b_columns_mob_revers }}">
			<div class="{{ block.b_columns__col_b_columns__col_60_b_columns__col_align_center_mob_100 }}">
				<div class="{{ block.h_wrap_h_wrap_mg_bt_20 }}">
					<div class="{{ block.b_title_b_title_mini_mob_30 }}">
						{{ block.document_img_title|raw }}
					</div>
				</div>
				<div class="{{ block.h_wrap_h_wrap_mg_bt_40_h_wrap_max_width_800 }}">
					<div class="{{ block.b_text_b_text_size_26 }}">
						{{ block.document_img_subtitle|raw }}
					</div>
				</div>
			</div>
			<div class="{{ block.b_columns__col_b_columns__col_40_mob_100 }}">
				<img src="{{ block.document_img_image|media }}" loading="lazy" alt="" class="{{ block.b_image_b_image_paper }}">
			</div>
		</div>
	</div>
	<img src="{{ 'assets/images/fon-yellow.png'|theme }}" loading="lazy" alt="" class="{{ block.b_image_b_image_yellow_fon_v_3_mob_hide }}">
	<img src="{{ 'assets/images/Group2027439.jpg'|theme }}" loading="lazy" alt="" class="{{ block.b_image_b_image_yellow_fon_v_3_mob_show }}">
</section>
