<section class="s-section s-section_100vh s-section_pd_11-25 s-section_yellow">
	<div class="container container_align_center w-container">
		<div class="h-wrap h-wrap_mg-bt_40">
			<div class="b-title b-title_mini mob_30">
				{{ block.demand_response_map_title }}
			</div>
		</div>
		<div class="b-utility-rebates v-2 tb_show">
			<img src="{{ 'assets/images/Group201767.svg'|theme }}" loading="lazy" alt="" class="b-utility-rebates__icon">
			<div class="b-text">
				Grid Services
			</div>
		</div>
		<div class="h-wrap h-wrap_mg-bt_50">
			<img src="{{ block.demand_response_map_image_marker|media }}" loading="lazy" alt="" class="b-image b-image_absolute">
			<div class="b-utility-rebates v-2 tb_hide">
				<img src="{{ 'assets/images/Group201767.svg'|theme }}" loading="lazy" alt="" class="b-utility-rebates__icon">
				<div class="b-text">
					{{ block.demand_response_map_die }}
				</div>
			</div>
			<img src="{{ block.demand_response_map_image_map|media }}" loading="lazy" alt="" class="b-image b-image_map_lsp">
		</div>
		<div class="h-wrap h-wrap_mg-bt_40 h-wrap_max-width_970">
			<div class="b-text b-text_size_26">
				{{ block.demand_response_map_text }}
			</div>
		</div>
		<a href="#" class="b-button b-button_blue b-button_max-w_200 w-button">
			{{ block.demand_response_map_text_btn }}
		</a>
	</div>
</section>
