<section class="{{ section_s_section_100vh_s_section_pd_11_25_s_section_yellow }}">
	<div class="{{ block.container_container_align_center_w_container }}">
		<div class="{{ block.h_wrap_h_wrap_mg_bt_40 }}">
			<div class="{{ block.b_title_b_title_mini_mob_30 }}">
				{{ block.demand_response_map_title }}
			</div>
		</div>
		<div class="{{ block.b_utility_rebates_v_2_tb_show }}">
			<img src="{{ 'assets/images/Group201767.svg'|theme }}" loading="lazy" alt="" class="{{ block.b_utility_rebates__icon }}">
			<div class="{{ block.b_text }}">
				Grid Services
			</div>
		</div>
		<div class="{{ block.h_wrap_h_wrap_mg_bt_50 }}">
			<img src="{{ block.demand_response_map_image_marker|media }}" loading="lazy" alt="" class="{{ block.b_image_b_image_absolute }}">
			<div class="{{ block.b_utility_rebates_v_2_tb_hide }}">
				<img src="{{ 'assets/images/Group201767.svg'|theme }}" loading="lazy" alt="" class="{{ block.b_utility_rebates__icon }}">
				<div class="{{ block.b_text }}">
					{{ block.demand_response_map_die }}
				</div>
			</div>
			<img src="{{ block.demand_response_map_image_map|media }}" loading="lazy" alt="" class="{{ block.b_image_b_image_map_lsp }}">
		</div>
		<div class="{{ block.h_wrap_h_wrap_mg_bt_40_h_wrap_max_width_970 }}">
			<div class="{{ block.b_text_b_text_size_26 }}">
				{{ block.demand_response_map_text }}
			</div>
		</div>
		<a href="{{ block.demand_response_map_link_btn }}" data-w-id="{{ block.demand_response_map_btn_modal }}" class="{{ block.b_button_b_button_blue_b_button_max_w_200_w_button }}">
			{{ block.demand_response_map_text_btn }}
		</a>
	</div>
</section>
