<section class="section s-section_100vh mob_first">
	<img src="{{ block.demand_response_main_image|media }}" loading="lazy" alt="" class="b-image b-image_installers">
	<div class="container w-container">
		<div class="b-columns">
			<div class="b-columns__col b-columns__col_50 mob_100 mob_center">
				<div class="h-wrap h-wrap_mg-bt_30">
					<h1 class="b-title b-title_mini tb_36">
						{{ block.demand_response_main_title|raw }}
					</h1>
				</div>
				<div class="h-wrap h-wrap_mg-bt_60 h-wrap_max-width_400">
					<div data-w-id="381622d6-7a66-f261-08b0-818d1df9977f" class="b-text b-text_size_20 b-text_white">
						{{ block.demand_response_main_subtitle|raw }}
					</div>
				</div>
				<a data-w-id="{{ block.demand_response_main_btn_modal }}" href="{{ block.demand_response_main_link_btn }}" class="b-button b-button_blue b-button_maxw_210 overflow w-button">
					{{ block.demand_response_main_text_btn }}
				</a>
			</div>
		</div>
	</div>
</section>
