<section class="{{ section_s_section_yellow_s_section_pd_11_25 }}">
	<div class="{{ block.container_container_maxw_1020_w_container }}">
		<div class="{{ block.h_wrap_h_wrap_mg_bt_20 }}">
			<div class="{{ block.b_title_b_title_mini_mob_30 }}">
				{{ block.document_title|raw }}
			</div>
		</div>
		<div class="{{ block.h_wrap_h_wrap_mg_bt_40_h_wrap_max_width_800 }}">
			<div class="{{ block.b_text_b_text_size_26 }}">
				{{ block.document_subtitle|raw }}
			</div>
		</div>
		<a data-w-id="{{ block.document_btn_modal }}" href="#" class="{{ block.b_button_b_button_blue_b_button_maxw_320_w_button }}">
			{{ block.document_text_btn }}
		</a>
	</div>
	<img src="{{ block.document_img_fon|media }}" alt="" loading="lazy" class="{{ block.b_image_b_image_yellow_fon_v_2 }}">
</section>
