<section class="section s-section_yellow section_pd-bt_40 mob_pd">
	<div class="container w-container">
		<div class="b-columns mob_revers">
			<div class="b-columns__col b-columns__col_60 b-columns__col_align_center mob_100 pd_col">
				<div class="h-wrap h-wrap_mg-bt_20">
					<div class="b-title b-title_mini mob_30">
						{{ block.document_img_title|raw }}
					</div>
				</div>
				<div class="h-wrap h-wrap_mg-bt_40 h-wrap_max-width_800">
					<div class="b-text b-text_size_26">
						{{ block.document_img_subtitle|raw }}
					</div>
				</div>
				{% if not block.hide_button %}
				<a data-w-id="2abe240e-feed-69ab-c82e-952d94506a3c" href="{{ block.document_img_link_btn }}" class="b-button b-button_blue b-button_maxw_320 b-button_align_left mob_center overflow w-button">
					{{ block.document_img_text_btn }}
				</a>
				{% endif %}
			</div>
			<div class="b-columns__col b-columns__col_40 mob_100">
				<img src="{{ block.document_img_image|media }}" loading="lazy" alt="" class="b-image b-image_paper">
			</div>
		</div>
	</div>
	{% if not block.hide_img %}
	<img class="b-image b-image_yellow-fon v-3 mob_hide" src="{{ block.document_img_image_fon|media }}" alt="" loading="lazy">
	{% endif %}
	<img src="{{ 'assets/images/Group2027439.jpg'|theme }}" loading="lazy" alt="" class="b-image b-image_yellow-fon v-3 mob_show v-4">
</section>
