<section class="{{ section_s_section_vertical_s_section_pd_11_25 }}">
	<div class="{{ block.container_container_maxw_1020_w_container }}">
		<div class="{{ block.h_wrap_h_wrap_mg_bt_20 }}">
			<div class="{{ block.b_title_b_title_mini_mob_30 }}">
				{{ block.documents_title }}
			</div>
		</div>
		<div class="{{ block.h_wrap_h_wrap_mg_bt_40 }}">
			<div class="{{ block.b_text_b_text_size_26 }}">
				{{ block.documents_subtitle }}
			</div>
		</div>
		<div class="{{ block.b_grid_b_grid_col_3_b_grid_pd }}">
			{% for item in block.documents_rep %}
			<a href="{{ item.documents_file|media }}" download="{{ item.documents_text_btn }}" class="{{ item.b_button_b_button_gray_w_button }}">
				{{ item.documents_text_btn }}
			</a>
			{% endfor %}
		</div>
	</div>
</section>
