<section class="section s-section_yellow s-section_pd_11-25">
	<div class="container container_maxw_1020 w-container">
		<div class="h-wrap h-wrap_mg-bt_20">
			<div class="b-title b-title_mini mob_30">
				{{ block.document_title }}
			</div>
		</div>
		<div class="h-wrap h-wrap_mg-bt_40 h-wrap_max-width_800">
			<div class="b-text b-text_size_26">
				{{ block.document_subtitle }}
			</div>
		</div>
		<a __download="" href="{{ block.document_file | media }}" class="b-button b-button_blue b-button_maxw_320 w-button">
			{{ block.document_text_btn }}
		</a>
	</div>
	<img class="b-image b-image_yellow-fon v-2" src="{{ block.document_img_fon|media }}" alt="" loading="lazy">
</section>
