<section class="section s-section_100vh tb_pd_5">
	<div data-w-id="c81a9966-fdf8-7a88-c61d-9936a1852eb5" class="container w-container">
		<div class="b-columns">
			<div data-w-id="06dec4d9-bd08-6dde-43c7-207ade5b83a0" class="b-columns__col b-columns__col_50 b-columns__col_align_center tb_100">
				<div class="h-wrap h-wrap_mg-bt_15">
					<h1 data-w-id="1d35dd18-5ff2-a3dc-c76e-d5a15ec4435a" class="b-title tb_40">
						{{ block.edge_home_title }}
					</h1>
				</div>
				<div class="h-wrap h-wrap_mg-bt_80 tb_mg-bt_30">
					<div data-w-id="381622d6-7a66-f261-08b0-818d1df9977f" class="b-title b-title_mini b-title_yellow mob_26">
						{{ block.edge_home_subtitle }}
					</div>
				</div>
				<img src="{{ 'assets/images/lumin-first.png'|theme }}" loading="lazy" alt="" class="b-image tb_show">
				<div class="h-wrap h-wrap_flex_h tb_center">
					<a data-w-id="0a97b997-f11c-7a00-d9df-fe3fbf0c5c5e" href="#" class="b-button b-button_blue b-button_maxw_210 mob_160 w-button">
						Buy now
					</a>
					<a data-fancybox="" href="{{ block.edge_home_link }}" class="b-button b-button_width_210 b-button_mg-lt_20 tb_none-border w-inline-block">
						<img src="{{ 'assets/images/ic-play201.svg'|theme }}" loading="lazy" alt="" class="b-button__icon-play">
						<div>
							{{ block.edge_home_text_btn_video }}
						</div>
					</a>
				</div>
			</div>
			<div data-w-id="c81a9966-fdf8-7a88-c61d-9936a1852ebd" class="b-columns__col b-columns__col_50">
				<img src="{{ block.edge_home_image|media }}" loading="lazy" alt="" class="b-image tb_hide">
				<div data-w-id="161a1b80-fbc6-95f7-ea7c-2da65602e3e7" class="b-block b-block_image b-block_mg-bt_6"></div>
			</div>
		</div>
	</div>
</section>
