<section data-w-id="ca965526-1a68-a570-bb8d-b87b2a03b88a" class="s-section s-section_100vh">
	<div class="container container_100vh mob_hide w-container">
		<div data-delay="4000" data-animation="cross" class="b-slider mob_hide w-slider" data-autoplay="true" data-easing="ease-in" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="300" data-infinite="true">
			<div class="b-slider__mask w-slider-mask">
				{% for item in block.edge_new_device_rep %}
				<div class="b-slider__slide w-slide">
					<div class="b-columns">
						<div class="b-columns__col b-columns__col_60 b-columns__col_align_center">
							<div class="h-wrap h-wrap_mg-bt_80">
								{% for block in item.list %}
{% if block.type == "edge_new_device_title" %}
								<div>
									<div class="h-wrap h-wrap_mg-bt_20">
										<div class="b-title b-title_mini mob_30">
											{{ block.title }}
										</div>
									</div>
								</div>
								{% endif %}
{% if block.type == "edge_new_device_list" %}
								<div>
									<div class="h-wrap h-wrap_mg-bt_20">
										<div class="b-title b-title_mini b-title_yellow mob_30">
											{{ block.title }}
										</div>
									</div>
									<ul role="list" class="b-list">
										{% for item in block.lists %}
										<li class="b-list__item b-list__item_mg-bt_20">
											<div class="b-list__circle"></div>
											<div class="b-text">
												{{ item.text_list }}
											</div>
										</li>
										{% endfor %}
									</ul>
								</div>
								{% endif %}
{% endfor %}
							</div>
							<div class="h-wrap h-wrap_flex_h h-wrap_align_center">
								<a href="#" class="arrow-left w-inline-block">
									<img src="{{ 'assets/images/_.svg'|theme }}" loading="lazy" alt="">
								</a>
								<img src="{{ 'assets/images/LOGO20Loading.svg'|theme }}" loading="lazy" alt="" class="b-slider__icon">
								<a href="#" class="arrow-right w-inline-block">
									<img src="{{ 'assets/images/_20(1).svg'|theme }}" loading="lazy" alt="">
								</a>
							</div>
						</div>
						<div class="b-columns__col b-columns__col_40">
							<img src="{{ item.image|media }}" loading="lazy" alt="" class="b-image b-image_devise">
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="b-slider__arrow-left w-slider-arrow-left">
				<img src="{{ 'assets/images/placeholder.60f9b1840c.svg'|theme }}" loading="lazy" alt="" class="b-slider__icone">
			</div>
			<div class="b-slider__arrow-right w-slider-arrow-right">
				<img src="{{ 'assets/images/placeholder.60f9b1840c.svg'|theme }}" loading="lazy" alt="" class="b-slider__icone">
			</div>
			<div class="b-slider__nav w-slider-nav w-round"></div>
		</div>
	</div>
	<div>
		{% for item in block.edge_new_device_mob_rep %}
		<div class="b-block-bg" style="background-color: {{ item.bg_color }}">
			<div class="container container_100vh mob_show w-container">
				<div class="h-wrap h-wrap_mg-bt_20">
					<div class="b-title b-title_mini mob_30">
						{{ item.title }}
					</div>
				</div>
				<img src="{{ item.image|media }}" loading="lazy" alt="" class="b-image b-image_devise">
				<ul role="list" class="b-list">
					{% for item in item.lists %}
					<li class="b-list__item b-list__item_mg-bt_20">
						<div class="b-list__circle"></div>
						<div class="b-text">
							{{ item.text_list }}
						</div>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
