<section class="section s-section_100vh tb_pd_5">
	<div class="container w-container">
		<div class="b-columns">
			<div class="b-columns__col b-columns__col_50 b-columns__col_align_center tb_100">
				<div class="h-wrap h-wrap_mg-bt_15">
					<h1 class="b-title tb_40">
						{{ block.edge_home_title }}
					</h1>
				</div>
				<div class="h-wrap h-wrap_mg-bt_80 tb_mg-bt_30">
					<div class="b-title b-title_mini b-title_yellow mob_26">
						{{ block.edge_home_subtitle }}
					</div>
				</div>
				<img src="{{ 'assets/images/lumin-first.png'|theme }}" loading="lazy" alt="" class="b-image tb_show">
				<div class="h-wrap h-wrap_flex_h tb_center">
					<a data-w-id="6cf1fb64-1594-ae36-4724-97f1b7d75523" href="{{ block.link_bln }}" class="b-button b-button_blue b-button_maxw_210 mob_160 w-button">
						{{ block.text_btn }}
					</a>
					<a href="{{ block.lsp_home_link }}" class="b-button b-button_width_210 b-button_mg-lt_20 tb_none-border w-inline-block">
						<img src="{{ 'assets/images/ic-play201.svg'|theme }}" loading="lazy" alt="" class="b-button__icon-play">
						<div>
							{{ block.lsp_home_text_btn_video }}
						</div>
					</a>
				</div>
			</div>
			<div class="b-columns__col b-columns__col_50">
				<img src="{{ block.edge_home_image|media }}" loading="lazy" alt="" class="b-image tb_hide">
				<div class="b-block b-block_image b-block_mg-bt_6"></div>
			</div>
		</div>
	</div>
</section>
