<section class="section s-section_100vh s-section_pd_11-25">
	<div class="container container_align_center w-container">
		<div class="h-wrap h-wrap_mg-bt_60 tb_mg-bt_30">
			<div class="b-title b-title_mini mob_30">
				{{ block.electrification_quiz_title }}
			</div>
		</div>
		<div class="b-form w-form">
			<form data-name="Форма" id="email-form" name="email-form" method="get" class="b-form__form" data-wf-page-id="648baa95d29f649e7b12a413" data-wf-element-id="68e07702-c5fc-8759-bb9a-fdd3646be354">
				<div data-delay="4000" data-animation="cross" class="b-slider b-slider_overflow_visible w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="true" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
					<div class="b-slider__mask w-slider-mask">
						{% for item in block.electrification_quiz_rep %}
						<div class="b-slider__slide w-slide">
							<div>
								{% for block in item.quiz %}
{% if block.type == "quiz_step_1" %}
								<div>
									<div class="h-wrap">
										<div class="b-slider__content">
											<div class="b-step">
												<div class="b-text b-text_size_26 b-text_extra-bold tb_18">
													{{ block.step_text }}
												</div>
											</div>
											<div class="h-wrap h-wrap_mg-bt_60 tb_mg-bt_30">
												<div class="b-text b-text_size_26 tb_15">
													{{ block.desc }}
												</div>
											</div>
											<div class="h-wrap h-wrap_mg-bt_60 tb_mg-bt_40">
												<div class="b-flex">
													{% for item in block.list %}
													<label data-w-id="68e07702-c5fc-8759-bb9a-fdd3646be364" class="b-radio b-radio_company w-radio">
														<div class="w-form-formradioinput w-form-formradioinput--inputType-custom b-radio__check w-radio-input"></div>
														<input type="radio" id="Radio-1" name="radio-5" value="Radio 1" data-name="Radio 5" style="opacity:0;position:absolute;z-index:-1">
														<img alt="" src="{{ item.image|media }}" loading="lazy" class="image-2">
														<span class="b-radio__text b-radio__text_hide w-form-label" for="Radio-1">
															Radio 5
														</span>
													</label>
													{% endfor %}
												</div>
											</div>
											<div class="b-numbers">
												<a href="#" class="b-button b-button_next arrow-right b-button_none-mg w-button">
													Next
												</a>
											</div>
										</div>
									</div>
								</div>
								{% endif %}
{% if block.type == "quiz_step_2" %}
								<div>
									<div class="h-wrap">
										<div class="b-slider__content">
											<div class="b-step">
												<div class="b-text b-text_size_26 b-text_extra-bold tb_18">
													{{ block.step_text }}
												</div>
											</div>
											<div class="h-wrap h-wrap_mg-bt_60 tb_mg-bt_30">
												<div class="b-text b-text_size_26 tb_15">
													{{ block.desc }}
												</div>
											</div>
											<div class="h-wrap h-wrap_mg-bt_60 tb_mg-bt_40 quiz-slider autel">
												<div data-delay="4000" data-animation="slide" class="b-slider b-slider_overflow_visible w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
													<div class="b-slider__mask b-slider__mask_23-4 w-slider-mask">
														{% for item in block.autel %}
														<div class="b-slider__slide b-slider__slide_auto w-slide">
															<label class="b-radio b-radio_box w-radio">
																<div class="w-form-formradioinput w-form-formradioinput--inputType-custom b-radio__check b-radio__check_box w-radio-input"></div>
																<input type="radio" id="radio-5" name="radio-5" value="Radio 5" data-name="Radio 5" style="opacity:0;position:absolute;z-index:-1">
																<div class="b-radio__border"></div>
																<img alt="" src="{{ item.image|media }}" loading="lazy" class="b-radio__img b-radio__img_mg-bt_20">
																<span class="b-radio__text b-radio__text_hide w-form-label" for="radio-5">
																	Radio 5
																</span>
																<div class="h-wrap h-wrap_mg-bt_10">
																	<div class="b-radio__text">
																		{{ item.name }}
																	</div>
																</div>
															</label>
														</div>
														{% endfor %}
													</div>
													<div class="b-slider__arrow-left quiz w-slider-arrow-left">
														<img src="{{ 'assets/images/arraows20(1).svg'|theme }}" loading="lazy" alt="" class="b-slider__icone mini">
													</div>
													<div class="b-slider__arrow-right quiz w-slider-arrow-right">
														<img src="{{ 'assets/images/arraows20(2).svg'|theme }}" loading="lazy" alt="" class="b-slider__icone mini">
													</div>
													<div class="b-slider__nav w-slider-nav w-round"></div>
												</div>
											</div>
											<div class="h-wrap h-wrap_mg-bt_60 tb_mg-bt_40 quiz-slider aiproad">
												<div data-delay="4000" data-animation="slide" class="b-slider b-slider_overflow_visible w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
													<div class="b-slider__mask b-slider__mask_23-4 w-slider-mask">
														{% for item in block.aiproad %}
														<div class="b-slider__slide b-slider__slide_auto w-slide">
															<label class="b-radio b-radio_box w-radio">
																<div class="w-form-formradioinput w-form-formradioinput--inputType-custom b-radio__check b-radio__check_box w-radio-input"></div>
																<input type="radio" id="radio-5" name="radio-5" value="Radio 5" data-name="Radio 5" style="opacity:0;position:absolute;z-index:-1">
																<div class="b-radio__border"></div>
																<img alt="" src="{{ item.image|media }}" loading="lazy" class="b-radio__img b-radio__img_mg-bt_20">
																<span class="b-radio__text b-radio__text_hide w-form-label" for="radio-5">
																	Radio 5
																</span>
																<div class="h-wrap h-wrap_mg-bt_10">
																	<div class="b-radio__text">
																		{{ item.name }}
																	</div>
																</div>
															</label>
														</div>
														{% endfor %}
													</div>
													<div class="b-slider__arrow-left quiz w-slider-arrow-left">
														<img src="{{ 'assets/images/arraows20(1).svg'|theme }}" loading="lazy" alt="" class="b-slider__icone mini">
													</div>
													<div class="b-slider__arrow-right quiz w-slider-arrow-right">
														<img src="{{ 'assets/images/arraows20(2).svg'|theme }}" loading="lazy" alt="" class="b-slider__icone mini">
													</div>
													<div class="b-slider__nav w-slider-nav w-round"></div>
												</div>
											</div>
											<div class="h-wrap h-wrap_mg-bt_60 tb_mg-bt_40 quiz-slider chargepoint">
												<div data-delay="4000" data-animation="slide" class="b-slider b-slider_overflow_visible w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
													<div class="b-slider__mask b-slider__mask_23-4 w-slider-mask">
														{% for item in block.chargepoint %}
														<div class="b-slider__slide b-slider__slide_auto w-slide">
															<label class="b-radio b-radio_box w-radio">
																<div class="w-form-formradioinput w-form-formradioinput--inputType-custom b-radio__check b-radio__check_box w-radio-input"></div>
																<input type="radio" id="radio-5" name="radio-5" value="Radio 5" data-name="Radio 5" style="opacity:0;position:absolute;z-index:-1">
																<div class="b-radio__border"></div>
																<img alt="" src="{{ item.image|media }}" loading="lazy" class="b-radio__img b-radio__img_mg-bt_20">
																<span class="b-radio__text b-radio__text_hide w-form-label" for="radio-5">
																	Radio 5
																</span>
																<div class="h-wrap h-wrap_mg-bt_10">
																	<div class="b-radio__text">
																		{{ item.name }}
																	</div>
																</div>
															</label>
														</div>
														{% endfor %}
													</div>
													<div class="b-slider__arrow-left quiz w-slider-arrow-left">
														<img src="{{ 'assets/images/arraows20(1).svg'|theme }}" loading="lazy" alt="" class="b-slider__icone mini">
													</div>
													<div class="b-slider__arrow-right quiz w-slider-arrow-right">
														<img src="{{ 'assets/images/arraows20(2).svg'|theme }}" loading="lazy" alt="" class="b-slider__icone mini">
													</div>
													<div class="b-slider__nav w-slider-nav w-round"></div>
												</div>
											</div>
											<div class="h-wrap h-wrap_mg-bt_60 tb_mg-bt_40 quiz-slider emporia">
												<div data-delay="4000" data-animation="slide" class="b-slider b-slider_overflow_visible w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
													<div class="b-slider__mask b-slider__mask_23-4 w-slider-mask">
														{% for item in block.emporia %}
														<div class="b-slider__slide b-slider__slide_auto w-slide">
															<label class="b-radio b-radio_box w-radio">
																<div class="w-form-formradioinput w-form-formradioinput--inputType-custom b-radio__check b-radio__check_box w-radio-input"></div>
																<input type="radio" id="radio-5" name="radio-5" value="Radio 5" data-name="Radio 5" style="opacity:0;position:absolute;z-index:-1">
																<div class="b-radio__border"></div>
																<img alt="" src="{{ item.image|media }}" loading="lazy" class="b-radio__img b-radio__img_mg-bt_20">
																<span class="b-radio__text b-radio__text_hide w-form-label" for="radio-5">
																	Radio 5
																</span>
																<div class="h-wrap h-wrap_mg-bt_10">
																	<div class="b-radio__text">
																		{{ item.name }}
																	</div>
																</div>
															</label>
														</div>
														{% endfor %}
													</div>
													<div class="b-slider__arrow-left quiz w-slider-arrow-left">
														<img src="{{ 'assets/images/arraows20(1).svg'|theme }}" loading="lazy" alt="" class="b-slider__icone mini">
													</div>
													<div class="b-slider__arrow-right quiz w-slider-arrow-right">
														<img src="{{ 'assets/images/arraows20(2).svg'|theme }}" loading="lazy" alt="" class="b-slider__icone mini">
													</div>
													<div class="b-slider__nav w-slider-nav w-round"></div>
												</div>
											</div>
											<div class="h-wrap h-wrap_mg-bt_60 tb_mg-bt_40 quiz-slider grizzlie">
												<div data-delay="4000" data-animation="slide" class="b-slider b-slider_overflow_visible w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
													<div class="b-slider__mask b-slider__mask_23-4 w-slider-mask">
														{% for item in block.grizzlie %}
														<div class="b-slider__slide b-slider__slide_auto w-slide">
															<label class="b-radio b-radio_box w-radio">
																<div class="w-form-formradioinput w-form-formradioinput--inputType-custom b-radio__check b-radio__check_box w-radio-input"></div>
																<input type="radio" id="radio-5" name="radio-5" value="Radio 5" data-name="Radio 5" style="opacity:0;position:absolute;z-index:-1">
																<div class="b-radio__border"></div>
																<img alt="" src="{{ item.image|media }}" loading="lazy" class="b-radio__img b-radio__img_mg-bt_20">
																<span class="b-radio__text b-radio__text_hide w-form-label" for="radio-5">
																	Radio 5
																</span>
																<div class="h-wrap h-wrap_mg-bt_10">
																	<div class="b-radio__text">
																		{{ item.name }}
																	</div>
																</div>
															</label>
														</div>
														{% endfor %}
													</div>
													<div class="b-slider__arrow-left quiz w-slider-arrow-left">
														<img src="{{ 'assets/images/arraows20(1).svg'|theme }}" loading="lazy" alt="" class="b-slider__icone mini">
													</div>
													<div class="b-slider__arrow-right quiz w-slider-arrow-right">
														<img src="{{ 'assets/images/arraows20(2).svg'|theme }}" loading="lazy" alt="" class="b-slider__icone mini">
													</div>
													<div class="b-slider__nav w-slider-nav w-round"></div>
												</div>
											</div>
											<div class="h-wrap h-wrap_mg-bt_60 tb_mg-bt_40 quiz-slider juicebox">
												<div data-delay="4000" data-animation="slide" class="b-slider b-slider_overflow_visible w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
													<div class="b-slider__mask b-slider__mask_23-4 w-slider-mask">
														{% for item in block.juicebox %}
														<div class="b-slider__slide b-slider__slide_auto w-slide">
															<label class="b-radio b-radio_box w-radio">
																<div class="w-form-formradioinput w-form-formradioinput--inputType-custom b-radio__check b-radio__check_box w-radio-input"></div>
																<input type="radio" id="radio-5" name="radio-5" value="Radio 5" data-name="Radio 5" style="opacity:0;position:absolute;z-index:-1">
																<div class="b-radio__border"></div>
																<img alt="" src="{{ item.image|media }}" loading="lazy" class="b-radio__img b-radio__img_mg-bt_20">
																<span class="b-radio__text b-radio__text_hide w-form-label" for="radio-5">
																	Radio 5
																</span>
																<div class="h-wrap h-wrap_mg-bt_10">
																	<div class="b-radio__text">
																		{{ item.name }}
																	</div>
																</div>
															</label>
														</div>
														{% endfor %}
													</div>
													<div class="b-slider__arrow-left quiz w-slider-arrow-left">
														<img src="{{ 'assets/images/arraows20(1).svg'|theme }}" loading="lazy" alt="" class="b-slider__icone mini">
													</div>
													<div class="b-slider__arrow-right quiz w-slider-arrow-right">
														<img src="{{ 'assets/images/arraows20(2).svg'|theme }}" loading="lazy" alt="" class="b-slider__icone mini">
													</div>
													<div class="b-slider__nav w-slider-nav w-round"></div>
												</div>
											</div>
											<div class="h-wrap h-wrap_mg-bt_60 tb_mg-bt_40 quiz-slider lectron">
												<div data-delay="4000" data-animation="slide" class="b-slider b-slider_overflow_visible w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
													<div class="b-slider__mask b-slider__mask_23-4 w-slider-mask">
														{% for item in block.lectron %}
														<div class="b-slider__slide b-slider__slide_auto w-slide">
															<label class="b-radio b-radio_box w-radio">
																<div class="w-form-formradioinput w-form-formradioinput--inputType-custom b-radio__check b-radio__check_box w-radio-input"></div>
																<input type="radio" id="radio-5" name="radio-5" value="Radio 5" data-name="Radio 5" style="opacity:0;position:absolute;z-index:-1">
																<div class="b-radio__border"></div>
																<img alt="" src="{{ item.image|media }}" loading="lazy" class="b-radio__img b-radio__img_mg-bt_20">
																<span class="b-radio__text b-radio__text_hide w-form-label" for="radio-5">
																	Radio 5
																</span>
																<div class="h-wrap h-wrap_mg-bt_10">
																	<div class="b-radio__text">
																		{{ item.name }}
																	</div>
																</div>
															</label>
														</div>
														{% endfor %}
													</div>
													<div class="b-slider__arrow-left quiz w-slider-arrow-left">
														<img src="{{ 'assets/images/arraows20(1).svg'|theme }}" loading="lazy" alt="" class="b-slider__icone mini">
													</div>
													<div class="b-slider__arrow-right quiz w-slider-arrow-right">
														<img src="{{ 'assets/images/arraows20(2).svg'|theme }}" loading="lazy" alt="" class="b-slider__icone mini">
													</div>
													<div class="b-slider__nav w-slider-nav w-round"></div>
												</div>
											</div>
											<div class="h-wrap h-wrap_mg-bt_60 tb_mg-bt_40 quiz-slider stokevoltaics">
												<div data-delay="4000" data-animation="slide" class="b-slider b-slider_overflow_visible w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
													<div class="b-slider__mask b-slider__mask_23-4 w-slider-mask">
														{% for item in block.stokevoltaics %}
														<div class="b-slider__slide b-slider__slide_auto w-slide">
															<label class="b-radio b-radio_box w-radio">
																<div class="w-form-formradioinput w-form-formradioinput--inputType-custom b-radio__check b-radio__check_box w-radio-input"></div>
																<input type="radio" id="radio-5" name="radio-5" value="Radio 5" data-name="Radio 5" style="opacity:0;position:absolute;z-index:-1">
																<div class="b-radio__border"></div>
																<img alt="" src="{{ item.image|media }}" loading="lazy" class="b-radio__img b-radio__img_mg-bt_20">
																<span class="b-radio__text b-radio__text_hide w-form-label" for="radio-5">
																	Radio 5
																</span>
																<div class="h-wrap h-wrap_mg-bt_10">
																	<div class="b-radio__text">
																		{{ item.name }}
																	</div>
																</div>
															</label>
														</div>
														{% endfor %}
													</div>
													<div class="b-slider__arrow-left quiz w-slider-arrow-left">
														<img src="{{ 'assets/images/arraows20(1).svg'|theme }}" loading="lazy" alt="" class="b-slider__icone mini">
													</div>
													<div class="b-slider__arrow-right quiz w-slider-arrow-right">
														<img src="{{ 'assets/images/arraows20(2).svg'|theme }}" loading="lazy" alt="" class="b-slider__icone mini">
													</div>
													<div class="b-slider__nav w-slider-nav w-round"></div>
												</div>
											</div>
											<div class="h-wrap h-wrap_mg-bt_60 tb_mg-bt_40 quiz-slider wallbox">
												<div data-delay="4000" data-animation="slide" class="b-slider b-slider_overflow_visible w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
													<div class="b-slider__mask b-slider__mask_23-4 w-slider-mask">
														{% for item in block.wallbox %}
														<div class="b-slider__slide b-slider__slide_auto w-slide">
															<label class="b-radio b-radio_box w-radio">
																<div class="w-form-formradioinput w-form-formradioinput--inputType-custom b-radio__check b-radio__check_box w-radio-input"></div>
																<input type="radio" id="radio-5" name="radio-5" value="Radio 5" data-name="Radio 5" style="opacity:0;position:absolute;z-index:-1">
																<div class="b-radio__border"></div>
																<img alt="" src="{{ item.image|media }}" loading="lazy" class="b-radio__img b-radio__img_mg-bt_20">
																<span class="b-radio__text b-radio__text_hide w-form-label" for="radio-5">
																	Radio 5
																</span>
																<div class="h-wrap h-wrap_mg-bt_10">
																	<div class="b-radio__text">
																		{{ item.name }}
																	</div>
																</div>
															</label>
														</div>
														{% endfor %}
													</div>
													<div class="b-slider__arrow-left quiz w-slider-arrow-left">
														<img src="{{ 'assets/images/arraows20(1).svg'|theme }}" loading="lazy" alt="" class="b-slider__icone mini">
													</div>
													<div class="b-slider__arrow-right quiz w-slider-arrow-right">
														<img src="{{ 'assets/images/arraows20(2).svg'|theme }}" loading="lazy" alt="" class="b-slider__icone mini">
													</div>
													<div class="b-slider__nav w-slider-nav w-round"></div>
												</div>
											</div>
											<div class="b-numbers">
												<a href="#" class="b-button b-button_back w-button">
													Back
												</a>
												<a href="#" class="b-button b-button_next w-button">
													Next
												</a>
											</div>
										</div>
									</div>
								</div>
								{% endif %}
{% if block.type == "quiz_step_3" %}
								<div>
									<div class="b-block b-block_stat b-block_quiz">
										<img src="{{ 'assets/images/Appliance_.png'|theme }}" loading="lazy" alt="" class="b-image b-image_cert">
										<div class="b-columns b-columns_space-between">
											<div class="b-columns__col b-columns__col_50">
												<div class="b-text b-text_size_40 b-text_bold">
													{{ block.title }}
												</div>
												<div class="h-wrap h-wrap_mg-bt_10">
													<div class="b-text b-text_size_26 b-text_bold">
														{{ block.subtitle }}
													</div>
												</div>
												<div class="h-wrap h-wrap_mg-bt_20">
													<div class="b-text b-text_size_26">
														{{ block.desc }}
													</div>
												</div>
												<div class="b-module b-module_quiz">
													<div class="b-module__item">
														<div class="b-module__item-wrap">
															<img src="{{ 'assets/images/module20(1).jpg'|theme }}" loading="lazy" alt="" class="b-module__img">
															<div class="b-text b-text_size_14">
																Hub
															</div>
														</div>
														<div class="b-module__number">
															1
														</div>
													</div>
													<div class="b-module__item">
														<div class="b-module__item-wrap">
															<img src="{{ 'assets/images/module20(2).jpg'|theme }}" loading="lazy" alt="" class="b-module__img">
															<div class="b-text b-text_size_14">
																Module 1
															</div>
														</div>
														<div class="b-module__number">
															1
														</div>
													</div>
												</div>
												<a href="#" class="b-button b-button_blue b-button_maxw_210 b-button_height_45 w-button">
													{{ block.meet_help_text_btn }}
												</a>
											</div>
											<div class="b-columns__col b-columns__col_50">
												<img src="{{ 'assets/images/lumin-first.png'|theme }}" loading="lazy" alt="">
											</div>
										</div>
									</div>
									<div class="b-numbers b-numbers_mg-tp_40">
										<a href="#" class="b-button b-button_back b-button_none-mg w-button">
											Back
										</a>
									</div>
								</div>
								{% endif %}
{% endfor %}
							</div>
						</div>
						{% endfor %}
					</div>
					<div class="b-slider__arrow-left w-slider-arrow-left">
						<img alt="" loading="lazy" src="{{ 'assets/images/placeholder.60f9b1840c.svg'|theme }}" class="b-slider__icone">
					</div>
					<div class="b-slider__arrow-right w-slider-arrow-right">
						<img alt="" loading="lazy" src="{{ 'assets/images/placeholder.60f9b1840c.svg'|theme }}" class="b-slider__icone">
					</div>
					<div class="b-slider__nav w-slider-nav w-round"></div>
				</div>
			</form>
			<div class="b-form__success-mes w-form-done">
				<div>
					Спасибо за заявку!
					<br>
					В ближайшее время мы свяжемся с вами
				</div>
			</div>
			<div class="b-form__error-mes w-form-fail">
				<div>
					Ошибка! Что-то пошло не так.
				</div>
			</div>
		</div>
	</div>
</section>
