<section class="{{ section_s_section_100vh_s_section_pd_home_v_2 }}">
	<div class="{{ block.container_w_container }}">
		<div class="{{ block.h_wrap_h_wrap_mg_bt_50 }}">
			<div class="{{ block.b_title_b_title_mini_mob_30 }}">
				{{ block.electrification_works_title }}
			</div>
		</div>
		<div class="{{ block.h_wrap_h_wrap_mg_bt_30 }}">
			<div class="{{ block.b_text_b_text_size_30_b_text_bold_tb_20 }}">
				{{ block.electrification_works_title_lists|raw }}
			</div>
		</div>
		<div class="{{ block.h_wrap_h_wrap_width_300 }}">
			<div class="{{ block.b_text }}">
				{{ block.ectrification_works_text|raw }}
			</div>
		</div>
		<div class="{{ block.b_home_wrap_v_2 }}">
			<img src="{{ block.electrification_works_image|media }}" loading="lazy" alt="" class="{{ block.b_image_b_image_home }}">
			<div data-item="5" class="{{ block.plus_plus_2 }}">
				<img src="{{ 'assets/images/plus.svg'|theme }}" loading="lazy" alt="">
				<div class="{{ block.plus__circle }}"></div>
			</div>
			<div data-item="7" class="{{ block.plus_plus_7 }}">
				<img src="{{ 'assets/images/plus.svg'|theme }}" loading="lazy" alt="">
				<div class="{{ block.plus__circle }}"></div>
			</div>
			<div data-item="6" class="{{ block.plus_plus_3 }}">
				<img src="{{ 'assets/images/plus.svg'|theme }}" loading="lazy" alt="">
				<div class="{{ block.plus__circle }}"></div>
			</div>
			<div data-item="2" class="{{ block.plus_plus_4 }}">
				<img src="{{ 'assets/images/plus.svg'|theme }}" loading="lazy" alt="">
				<div class="{{ block.plus__circle }}"></div>
			</div>
			<div data-item="3" class="{{ block.plus_plus_6 }}">
				<img src="{{ 'assets/images/plus.svg'|theme }}" loading="lazy" alt="">
				<div class="{{ block.plus__circle }}"></div>
			</div>
			<div data-item="4" class="{{ block.plus_plus_1 }}">
				<img src="{{ 'assets/images/plus.svg'|theme }}" loading="lazy" alt="">
				<div class="{{ block.plus__circle }}"></div>
			</div>
			<div data-item="1" class="{{ block.plus_plus_5 }}">
				<img src="{{ 'assets/images/plus.svg'|theme }}" loading="lazy" alt="">
				<div class="{{ block.plus__circle }}"></div>
			</div>
		</div>
	</div>
	<div class="{{ block.b_modal_works }}">
		<div class="{{ block.b_block_bg_b_block_bg__modal }}">
			<a data-w-id="250fa197-5e41-9478-4a45-541c6bfc58cb" href="#" class="{{ block.b_modal__close_w_inline_block }}">
				<img src="{{ 'assets/images/Dot.svg'|theme }}" loading="lazy" alt="">
			</a>
			<div data-list="" class="{{ block.h_wrap_h_wrap_overflow_auto }}">
				{% for item in block.how_it_works_modal %}
				<div class="{{ item.h_wrap_h_wrap_maxw_320 }}">
					<img src="{{ item.image|media }}" loading="lazy" alt="" class="{{ item.b_image_b_image_devise_b_image_devise_modal }}">
					<div class="{{ item.h_wrap_h_wrap_mg_bt_40 }}">
						<div class="{{ item.b_text }}">
							{{ item.text_list }}
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
