<section class="s-section s-section_100vh s-section_pd_11-25">
	<div class="container container_align_center w-container">
		<div class="h-wrap h-wrap_mg-bt_60 tb_mg-bt_30">
			<div class="b-title b-title_mini mob_30">
				{{ block.electrification_quiz_title }}
			</div>
		</div>
		<div class="b-form w-form">
			<form data-name="Форма" id="email-form" name="email-form" method="get" class="b-form__form" data-wf-page-id="648baa95d29f649e7b12a40c" data-wf-element-id="6fa425aa-09bd-d410-9030-d498fd14a85c">
				<div data-delay="4000" data-animation="slide" class="b-slider w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
					<div class="b-slider__mask w-slider-mask">
						<div class="b-slider__slide w-slide">
							<div class="h-wrap">
								<div class="b-slider__content">
									<div class="b-step">
										<div class="b-text b-text_size_26 b-text_extra-bold tb_18">
											Step 1
										</div>
									</div>
									<div class="h-wrap h-wrap_mg-bt_60 tb_mg-bt_30">
										<div class="b-text b-text_size_26 tb_15">
											Choose company of your EV Charger
										</div>
									</div>
									<div class="h-wrap h-wrap_mg-bt_60 tb_mg-bt_40">
										<div class="b-flex">
											<label class="b-radio b-radio_company w-radio">
												<div class="w-form-formradioinput w-form-formradioinput--inputType-custom b-radio__check w-radio-input"></div>
												<input type="radio" id="Radio-1" name="radio-5" value="Radio 1" data-name="Radio 5" style="opacity:0;position:absolute;z-index:-1">
												<img loading="lazy" src="{{ 'assets/images/wallbox20color.png'|theme }}" alt="">
												<span class="b-radio__text b-radio__text_hide w-form-label" for="Radio-1">
													Radio 5
												</span>
											</label>
											<label class="b-radio b-radio_company w-radio">
												<div class="w-form-formradioinput w-form-formradioinput--inputType-custom b-radio__check w-radio-input"></div>
												<input type="radio" id="Radio-2" name="radio-5" value="Radio 2" data-name="Radio 5" style="opacity:0;position:absolute;z-index:-1">
												<img loading="lazy" src="{{ 'assets/images/wallbox20color.png'|theme }}" alt="">
												<span class="b-radio__text b-radio__text_hide w-form-label" for="Radio-2">
													Radio 5
												</span>
											</label>
											<label class="b-radio b-radio_company w-radio">
												<div class="w-form-formradioinput w-form-formradioinput--inputType-custom b-radio__check w-radio-input"></div>
												<input type="radio" id="Radio-3" name="radio-5" value="Radio 3" data-name="Radio 5" style="opacity:0;position:absolute;z-index:-1">
												<img loading="lazy" src="{{ 'assets/images/wallbox20color.png'|theme }}" alt="">
												<span class="b-radio__text b-radio__text_hide w-form-label" for="Radio-3">
													Radio 5
												</span>
											</label>
											<label class="b-radio b-radio_company w-radio">
												<div class="w-form-formradioinput w-form-formradioinput--inputType-custom b-radio__check w-radio-input"></div>
												<input type="radio" id="Radio-4-5" name="radio-5" value="Radio 4" data-name="Radio 5" style="opacity:0;position:absolute;z-index:-1">
												<img loading="lazy" src="{{ 'assets/images/wallbox20color.png'|theme }}" alt="">
												<span class="b-radio__text b-radio__text_hide w-form-label" for="Radio-4-5">
													Radio 5
												</span>
											</label>
											<label class="b-radio b-radio_company w-radio">
												<div class="w-form-formradioinput w-form-formradioinput--inputType-custom b-radio__check w-radio-input"></div>
												<input type="radio" id="radio-5" name="radio-5" value="Radio 5" data-name="Radio 5" style="opacity:0;position:absolute;z-index:-1">
												<img loading="lazy" src="{{ 'assets/images/wallbox20color.png'|theme }}" alt="">
												<span class="b-radio__text b-radio__text_hide w-form-label" for="radio-5">
													Radio 5
												</span>
											</label>
											<label class="b-radio b-radio_company w-radio">
												<div class="w-form-formradioinput w-form-formradioinput--inputType-custom b-radio__check w-radio-input"></div>
												<input type="radio" id="Radio-6" name="radio-5" value="Radio 6" data-name="Radio 5" style="opacity:0;position:absolute;z-index:-1">
												<img loading="lazy" src="{{ 'assets/images/wallbox20color.png'|theme }}" alt="">
												<span class="b-radio__text b-radio__text_hide w-form-label" for="Radio-6">
													Radio 5
												</span>
											</label>
											<label class="b-radio b-radio_company w-radio">
												<div class="w-form-formradioinput w-form-formradioinput--inputType-custom b-radio__check w-radio-input"></div>
												<input type="radio" id="Radio-7" name="radio-5" value="Radio 7" data-name="Radio 5" style="opacity:0;position:absolute;z-index:-1">
												<img loading="lazy" src="{{ 'assets/images/wallbox20color.png'|theme }}" alt="">
												<span class="b-radio__text b-radio__text_hide w-form-label" for="Radio-7">
													Radio 5
												</span>
											</label>
											<label class="b-radio b-radio_company w-radio">
												<div class="w-form-formradioinput w-form-formradioinput--inputType-custom b-radio__check w-radio-input"></div>
												<input type="radio" id="Radio-8" name="radio-5" value="Radio 8" data-name="Radio 5" style="opacity:0;position:absolute;z-index:-1">
												<img loading="lazy" src="{{ 'assets/images/wallbox20color.png'|theme }}" alt="">
												<span class="b-radio__text b-radio__text_hide w-form-label" for="Radio-8">
													Radio 5
												</span>
											</label>
											<label class="b-radio b-radio_company w-radio">
												<div class="w-form-formradioinput w-form-formradioinput--inputType-custom b-radio__check w-radio-input"></div>
												<input type="radio" id="Radio-9" name="Radio-5" value="Radio 9" data-name="Radio 5" style="opacity:0;position:absolute;z-index:-1">
												<img loading="lazy" src="{{ 'assets/images/wallbox20color.png'|theme }}" alt="">
												<span class="b-radio__text b-radio__text_hide w-form-label" for="Radio-9">
													Radio 5
												</span>
											</label>
										</div>
									</div>
									<div class="b-numbers">
										<a href="#" class="b-button b-button_back w-button">
											Back
										</a>
										<a href="#" class="b-button b-button_next w-button">
											Next
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="w-slide">
							<div class="h-wrap">
								<input type="email" class="b-input w-input" maxlength="256" name="email-3" data-name="Email 3" placeholder="" id="email-3" required="">
								<div class="b-phone-error">
									<div class="b-phone-error__text">
										Введите номер в формате
										<br>
										+7 (999) 999-99-99
									</div>
								</div>
							</div>
							<input type="submit" value="Submit" data-wait="Please wait..." class="b-button w-button">
							<label class="b-radio w-radio">
								<input type="radio" data-name="Radio 4" id="radio-4" name="radio-4" value="Radio 4" class="w-form-formradioinput b-radio__btn w-radio-input">
								<span class="b-radio__text w-form-label" for="radio-4">
									Radio 4
								</span>
							</label>
							<label class="w-checkbox b-checkbox">
								<input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" class="w-checkbox-input b-checkbox__check">
								<span class="b-checkbox__label w-form-label" for="checkbox-2">
									Checkbox
								</span>
							</label>
							<input type="email" class="b-input w-input" maxlength="256" name="email-4" data-name="Email 4" placeholder="" id="email-4" required="">
						</div>
					</div>
					<div class="b-slider__arrow-left w-slider-arrow-left">
						<img loading="lazy" src="{{ 'assets/images/placeholder.60f9b1840c.svg'|theme }}" alt="" class="b-slider__icone">
					</div>
					<div class="b-slider__arrow-right w-slider-arrow-right">
						<img loading="lazy" src="{{ 'assets/images/placeholder.60f9b1840c.svg'|theme }}" alt="" class="b-slider__icone">
					</div>
					<div class="b-slider__nav w-slider-nav w-round"></div>
				</div>
			</form>
			<div class="b-form__success-mes w-form-done">
				<div>
					Спасибо за заявку!
					<br>
					В ближайшее время мы свяжемся с вами
				</div>
			</div>
			<div class="b-form__error-mes w-form-fail">
				<div>
					Ошибка! Что-то пошло не так.
				</div>
			</div>
		</div>
	</div>
</section>
