<section class="{{ section_s_section_100vh_s_section_pd_11_25 }}">
	<div class="{{ block.container_container_align_center_w_container }}">
		<div class="{{ block.h_wrap_h_wrap_mg_bt_60_tb_mg_bt_30 }}">
			<div class="{{ block.b_title_b_title_mini_mob_30 }}">
				{{ block.electrification_quiz_title }}
			</div>
		</div>
		<div class="{{ block.b_form_w_form }}">
			<form data-name="Форма" id="email-form" name="email-form" method="get" data-wf-page-id="648baa95d29f649e7b12a413" data-wf-element-id="68e07702-c5fc-8759-bb9a-fdd3646be354" class="{{ block.b_form__form }}">
				<div data-delay="4000" data-animation="cross" data-autoplay="false" data-easing="ease" data-hide-arrows="true" data-disable-swipe="true" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true" class="{{ block.b_slider_b_slider_overflow_visible_w_slider }}">
					<div class="{{ block.b_slider__mask_w_slider_mask }}">
						{% for item in block.electrification_quiz_rep %}
						<div class="{{ item.b_slider__slide_w_slide }}">
							<div>
								{% for block in item.quiz %}
{% if block.type == "quiz_step_1" %}
								<div>
									<div class="{{ block.h_wrap }}">
										<div class="{{ block.b_slider__content }}">
											<div class="{{ block.b_step }}">
												<div class="{{ block.b_text_b_text_size_26_b_text_extra_bold_tb_18 }}">
													{{ block.step_text }}
												</div>
											</div>
											<div class="{{ block.h_wrap_h_wrap_mg_bt_60_tb_mg_bt_30 }}">
												<div class="{{ block.b_text_b_text_size_26_tb_15 }}">
													{{ block.desc }}
												</div>
											</div>
											<div class="{{ block.h_wrap_h_wrap_mg_bt_60_tb_mg_bt_40 }}">
												<div class="{{ block.b_flex }}">
													{% for item in block.list %}
													<label data-w-id="{{item.quiz_id}}" class="{{ item.b_radio_b_radio_company_w_radio }}">
														<div class="{{ item.w_form_formradioinput_w_form_formradioinput__inputtype_custom_b_radio__check_w_radio_input }}"></div>
														<input type="radio" id="Radio-1" name="radio-5" value="Radio 1" data-name="Radio 5" style="{{ item.opacity_0;position_absolute;z_index__1 }}">
														<img alt="" src="{{ item.image|media }}" loading="lazy" class="{{ item.image_2 }}">
														<span for="Radio-1" class="{{ item.b_radio__text_b_radio__text_hide_w_form_label }}">
															Radio 5
														</span>
													</label>
													{% endfor %}
												</div>
											</div>
											<div class="{{ block.b_numbers }}">
												<a href="#" class="{{ block.b_button_b_button_next_arrow_right_b_button_none_mg_w_button }}">
													Next
												</a>
											</div>
										</div>
									</div>
								</div>
								{% endif %}
{% if block.type == "quiz_step_2" %}
								<div>
									<div class="{{ block.h_wrap }}">
										<div class="{{ block.b_slider__content }}">
											<div class="{{ block.b_step }}">
												<div class="{{ block.b_text_b_text_size_26_b_text_extra_bold_tb_18 }}">
													{{ block.step_text }}
												</div>
											</div>
											<div class="{{ block.h_wrap_h_wrap_mg_bt_60_tb_mg_bt_30 }}">
												<div class="{{ block.b_text_b_text_size_26_tb_15 }}">
													{{ block.desc }}
												</div>
											</div>
											<div class="{{ block.h_wrap_h_wrap_mg_bt_60_tb_mg_bt_40_quiz_slider_autel }}">
												<div data-delay="4000" data-animation="slide" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true" class="{{ block.b_slider_b_slider_overflow_visible_w_slider }}">
													<div class="{{ block.b_slider__mask_b_slider__mask_23_4_w_slider_mask }}">
														{% for item in block.autel %}
														<div class="{{ item.b_slider__slide_b_slider__slide_auto_w_slide }}">
															<label class="{{ item.b_radio_b_radio_box_w_radio }}">
																<div class="{{ item.w_form_formradioinput_w_form_formradioinput__inputtype_custom_b_radio__check_b_radio__check_box_w_radio_input }}"></div>
																<input type="radio" id="radio-5" name="radio-5" value="Radio 5" data-name="Radio 5" style="{{ item.opacity_0;position_absolute;z_index__1 }}">
																<div class="{{ item.b_radio__border }}"></div>
																<img alt="" src="{{ item.image|media }}" loading="lazy" class="{{ item.b_radio__img_b_radio__img_mg_bt_20 }}">
																<span for="radio-5" class="{{ item.b_radio__text_b_radio__text_hide_w_form_label }}">
																	Radio 5
																</span>
																<div class="{{ item.h_wrap_h_wrap_mg_bt_10 }}">
																	<div class="{{ item.b_radio__text }}">
																		{{ item.name }}
																	</div>
																</div>
															</label>
														</div>
														{% endfor %}
													</div>
													<div class="{{ block.b_slider__arrow_left_quiz_w_slider_arrow_left }}">
														<img src="{{ 'assets/images/arraows20(1).svg'|theme }}" loading="lazy" alt="" class="{{ block.b_slider__icone_mini }}">
													</div>
													<div class="{{ block.b_slider__arrow_right_quiz_w_slider_arrow_right }}">
														<img src="{{ 'assets/images/arraows20(2).svg'|theme }}" loading="lazy" alt="" class="{{ block.b_slider__icone_mini }}">
													</div>
													<div class="{{ block.b_slider__nav_w_slider_nav_w_round }}"></div>
												</div>
											</div>
											<div class="{{ block.h_wrap_h_wrap_mg_bt_60_tb_mg_bt_40_quiz_slider_aiproad }}">
												<div data-delay="4000" data-animation="slide" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true" class="{{ block.b_slider_b_slider_overflow_visible_w_slider }}">
													<div class="{{ block.b_slider__mask_b_slider__mask_23_4_w_slider_mask }}">
														{% for item in block.aiproad %}
														<div class="{{ item.b_slider__slide_b_slider__slide_auto_w_slide }}">
															<label class="{{ item.b_radio_b_radio_box_w_radio }}">
																<div class="{{ item.w_form_formradioinput_w_form_formradioinput__inputtype_custom_b_radio__check_b_radio__check_box_w_radio_input }}"></div>
																<input type="radio" id="radio-5" name="radio-5" value="Radio 5" data-name="Radio 5" style="{{ item.opacity_0;position_absolute;z_index__1 }}">
																<div class="{{ item.b_radio__border }}"></div>
																<img alt="" src="{{ item.image|media }}" loading="lazy" class="{{ item.b_radio__img_b_radio__img_mg_bt_20 }}">
																<span for="radio-5" class="{{ item.b_radio__text_b_radio__text_hide_w_form_label }}">
																	Radio 5
																</span>
																<div class="{{ item.h_wrap_h_wrap_mg_bt_10 }}">
																	<div class="{{ item.b_radio__text }}">
																		{{ item.name }}
																	</div>
																</div>
															</label>
														</div>
														{% endfor %}
													</div>
													<div class="{{ block.b_slider__arrow_left_quiz_w_slider_arrow_left }}">
														<img src="{{ 'assets/images/arraows20(1).svg'|theme }}" loading="lazy" alt="" class="{{ block.b_slider__icone_mini }}">
													</div>
													<div class="{{ block.b_slider__arrow_right_quiz_w_slider_arrow_right }}">
														<img src="{{ 'assets/images/arraows20(2).svg'|theme }}" loading="lazy" alt="" class="{{ block.b_slider__icone_mini }}">
													</div>
													<div class="{{ block.b_slider__nav_w_slider_nav_w_round }}"></div>
												</div>
											</div>
											<div class="{{ block.h_wrap_h_wrap_mg_bt_60_tb_mg_bt_40_quiz_slider_chargepoint }}">
												<div data-delay="4000" data-animation="slide" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true" class="{{ block.b_slider_b_slider_overflow_visible_w_slider }}">
													<div class="{{ block.b_slider__mask_b_slider__mask_23_4_w_slider_mask }}">
														{% for item in block.chargepoint %}
														<div class="{{ item.b_slider__slide_b_slider__slide_auto_w_slide }}">
															<label class="{{ item.b_radio_b_radio_box_w_radio }}">
																<div class="{{ item.w_form_formradioinput_w_form_formradioinput__inputtype_custom_b_radio__check_b_radio__check_box_w_radio_input }}"></div>
																<input type="radio" id="radio-5" name="radio-5" value="Radio 5" data-name="Radio 5" style="{{ item.opacity_0;position_absolute;z_index__1 }}">
																<div class="{{ item.b_radio__border }}"></div>
																<img alt="" src="{{ item.image|media }}" loading="lazy" class="{{ item.b_radio__img_b_radio__img_mg_bt_20 }}">
																<span for="radio-5" class="{{ item.b_radio__text_b_radio__text_hide_w_form_label }}">
																	Radio 5
																</span>
																<div class="{{ item.h_wrap_h_wrap_mg_bt_10 }}">
																	<div class="{{ item.b_radio__text }}">
																		{{ item.name }}
																	</div>
																</div>
															</label>
														</div>
														{% endfor %}
													</div>
													<div class="{{ block.b_slider__arrow_left_quiz_w_slider_arrow_left }}">
														<img src="{{ 'assets/images/arraows20(1).svg'|theme }}" loading="lazy" alt="" class="{{ block.b_slider__icone_mini }}">
													</div>
													<div class="{{ block.b_slider__arrow_right_quiz_w_slider_arrow_right }}">
														<img src="{{ 'assets/images/arraows20(2).svg'|theme }}" loading="lazy" alt="" class="{{ block.b_slider__icone_mini }}">
													</div>
													<div class="{{ block.b_slider__nav_w_slider_nav_w_round }}"></div>
												</div>
											</div>
											<div class="{{ block.h_wrap_h_wrap_mg_bt_60_tb_mg_bt_40_quiz_slider_emporia }}">
												<div data-delay="4000" data-animation="slide" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true" class="{{ block.b_slider_b_slider_overflow_visible_w_slider }}">
													<div class="{{ block.b_slider__mask_b_slider__mask_23_4_w_slider_mask }}">
														{% for item in block.emporia %}
														<div class="{{ item.b_slider__slide_b_slider__slide_auto_w_slide }}">
															<label class="{{ item.b_radio_b_radio_box_w_radio }}">
																<div class="{{ item.w_form_formradioinput_w_form_formradioinput__inputtype_custom_b_radio__check_b_radio__check_box_w_radio_input }}"></div>
																<input type="radio" id="radio-5" name="radio-5" value="Radio 5" data-name="Radio 5" style="{{ item.opacity_0;position_absolute;z_index__1 }}">
																<div class="{{ item.b_radio__border }}"></div>
																<img alt="" src="{{ item.image|media }}" loading="lazy" class="{{ item.b_radio__img_b_radio__img_mg_bt_20 }}">
																<span for="radio-5" class="{{ item.b_radio__text_b_radio__text_hide_w_form_label }}">
																	Radio 5
																</span>
																<div class="{{ item.h_wrap_h_wrap_mg_bt_10 }}">
																	<div class="{{ item.b_radio__text }}">
																		{{ item.name }}
																	</div>
																</div>
															</label>
														</div>
														{% endfor %}
													</div>
													<div class="{{ block.b_slider__arrow_left_quiz_w_slider_arrow_left }}">
														<img src="{{ 'assets/images/arraows20(1).svg'|theme }}" loading="lazy" alt="" class="{{ block.b_slider__icone_mini }}">
													</div>
													<div class="{{ block.b_slider__arrow_right_quiz_w_slider_arrow_right }}">
														<img src="{{ 'assets/images/arraows20(2).svg'|theme }}" loading="lazy" alt="" class="{{ block.b_slider__icone_mini }}">
													</div>
													<div class="{{ block.b_slider__nav_w_slider_nav_w_round }}"></div>
												</div>
											</div>
											<div class="{{ block.h_wrap_h_wrap_mg_bt_60_tb_mg_bt_40_quiz_slider_grizzlie }}">
												<div data-delay="4000" data-animation="slide" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true" class="{{ block.b_slider_b_slider_overflow_visible_w_slider }}">
													<div class="{{ block.b_slider__mask_b_slider__mask_23_4_w_slider_mask }}">
														{% for item in block.grizzlie %}
														<div class="{{ item.b_slider__slide_b_slider__slide_auto_w_slide }}">
															<label class="{{ item.b_radio_b_radio_box_w_radio }}">
																<div class="{{ item.w_form_formradioinput_w_form_formradioinput__inputtype_custom_b_radio__check_b_radio__check_box_w_radio_input }}"></div>
																<input type="radio" id="radio-5" name="radio-5" value="Radio 5" data-name="Radio 5" style="{{ item.opacity_0;position_absolute;z_index__1 }}">
																<div class="{{ item.b_radio__border }}"></div>
																<img alt="" src="{{ item.image|media }}" loading="lazy" class="{{ item.b_radio__img_b_radio__img_mg_bt_20 }}">
																<span for="radio-5" class="{{ item.b_radio__text_b_radio__text_hide_w_form_label }}">
																	Radio 5
																</span>
																<div class="{{ item.h_wrap_h_wrap_mg_bt_10 }}">
																	<div class="{{ item.b_radio__text }}">
																		{{ item.name }}
																	</div>
																</div>
															</label>
														</div>
														{% endfor %}
													</div>
													<div class="{{ block.b_slider__arrow_left_quiz_w_slider_arrow_left }}">
														<img src="{{ 'assets/images/arraows20(1).svg'|theme }}" loading="lazy" alt="" class="{{ block.b_slider__icone_mini }}">
													</div>
													<div class="{{ block.b_slider__arrow_right_quiz_w_slider_arrow_right }}">
														<img src="{{ 'assets/images/arraows20(2).svg'|theme }}" loading="lazy" alt="" class="{{ block.b_slider__icone_mini }}">
													</div>
													<div class="{{ block.b_slider__nav_w_slider_nav_w_round }}"></div>
												</div>
											</div>
											<div class="{{ block.h_wrap_h_wrap_mg_bt_60_tb_mg_bt_40_quiz_slider_juicebox }}">
												<div data-delay="4000" data-animation="slide" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true" class="{{ block.b_slider_b_slider_overflow_visible_w_slider }}">
													<div class="{{ block.b_slider__mask_b_slider__mask_23_4_w_slider_mask }}">
														{% for item in block.juicebox %}
														<div class="{{ item.b_slider__slide_b_slider__slide_auto_w_slide }}">
															<label class="{{ item.b_radio_b_radio_box_w_radio }}">
																<div class="{{ item.w_form_formradioinput_w_form_formradioinput__inputtype_custom_b_radio__check_b_radio__check_box_w_radio_input }}"></div>
																<input type="radio" id="radio-5" name="radio-5" value="Radio 5" data-name="Radio 5" style="{{ item.opacity_0;position_absolute;z_index__1 }}">
																<div class="{{ item.b_radio__border }}"></div>
																<img alt="" src="{{ item.image|media }}" loading="lazy" class="{{ item.b_radio__img_b_radio__img_mg_bt_20 }}">
																<span for="radio-5" class="{{ item.b_radio__text_b_radio__text_hide_w_form_label }}">
																	Radio 5
																</span>
																<div class="{{ item.h_wrap_h_wrap_mg_bt_10 }}">
																	<div class="{{ item.b_radio__text }}">
																		{{ item.name }}
																	</div>
																</div>
															</label>
														</div>
														{% endfor %}
													</div>
													<div class="{{ block.b_slider__arrow_left_quiz_w_slider_arrow_left }}">
														<img src="{{ 'assets/images/arraows20(1).svg'|theme }}" loading="lazy" alt="" class="{{ block.b_slider__icone_mini }}">
													</div>
													<div class="{{ block.b_slider__arrow_right_quiz_w_slider_arrow_right }}">
														<img src="{{ 'assets/images/arraows20(2).svg'|theme }}" loading="lazy" alt="" class="{{ block.b_slider__icone_mini }}">
													</div>
													<div class="{{ block.b_slider__nav_w_slider_nav_w_round }}"></div>
												</div>
											</div>
											<div class="{{ block.h_wrap_h_wrap_mg_bt_60_tb_mg_bt_40_quiz_slider_lectron }}">
												<div data-delay="4000" data-animation="slide" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true" class="{{ block.b_slider_b_slider_overflow_visible_w_slider }}">
													<div class="{{ block.b_slider__mask_b_slider__mask_23_4_w_slider_mask }}">
														{% for item in block.lectron %}
														<div class="{{ item.b_slider__slide_b_slider__slide_auto_w_slide }}">
															<label class="{{ item.b_radio_b_radio_box_w_radio }}">
																<div class="{{ item.w_form_formradioinput_w_form_formradioinput__inputtype_custom_b_radio__check_b_radio__check_box_w_radio_input }}"></div>
																<input type="radio" id="radio-5" name="radio-5" value="Radio 5" data-name="Radio 5" style="{{ item.opacity_0;position_absolute;z_index__1 }}">
																<div class="{{ item.b_radio__border }}"></div>
																<img alt="" src="{{ item.image|media }}" loading="lazy" class="{{ item.b_radio__img_b_radio__img_mg_bt_20 }}">
																<span for="radio-5" class="{{ item.b_radio__text_b_radio__text_hide_w_form_label }}">
																	Radio 5
																</span>
																<div class="{{ item.h_wrap_h_wrap_mg_bt_10 }}">
																	<div class="{{ item.b_radio__text }}">
																		{{ item.name }}
																	</div>
																</div>
															</label>
														</div>
														{% endfor %}
													</div>
													<div class="{{ block.b_slider__arrow_left_quiz_w_slider_arrow_left }}">
														<img src="{{ 'assets/images/arraows20(1).svg'|theme }}" loading="lazy" alt="" class="{{ block.b_slider__icone_mini }}">
													</div>
													<div class="{{ block.b_slider__arrow_right_quiz_w_slider_arrow_right }}">
														<img src="{{ 'assets/images/arraows20(2).svg'|theme }}" loading="lazy" alt="" class="{{ block.b_slider__icone_mini }}">
													</div>
													<div class="{{ block.b_slider__nav_w_slider_nav_w_round }}"></div>
												</div>
											</div>
											<div class="{{ block.h_wrap_h_wrap_mg_bt_60_tb_mg_bt_40_quiz_slider_stokevoltaics }}">
												<div data-delay="4000" data-animation="slide" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true" class="{{ block.b_slider_b_slider_overflow_visible_w_slider }}">
													<div class="{{ block.b_slider__mask_b_slider__mask_23_4_w_slider_mask }}">
														{% for item in block.stokevoltaics %}
														<div class="{{ item.b_slider__slide_b_slider__slide_auto_w_slide }}">
															<label class="{{ item.b_radio_b_radio_box_w_radio }}">
																<div class="{{ item.w_form_formradioinput_w_form_formradioinput__inputtype_custom_b_radio__check_b_radio__check_box_w_radio_input }}"></div>
																<input type="radio" id="radio-5" name="radio-5" value="Radio 5" data-name="Radio 5" style="{{ item.opacity_0;position_absolute;z_index__1 }}">
																<div class="{{ item.b_radio__border }}"></div>
																<img alt="" src="{{ item.image|media }}" loading="lazy" class="{{ item.b_radio__img_b_radio__img_mg_bt_20 }}">
																<span for="radio-5" class="{{ item.b_radio__text_b_radio__text_hide_w_form_label }}">
																	Radio 5
																</span>
																<div class="{{ item.h_wrap_h_wrap_mg_bt_10 }}">
																	<div class="{{ item.b_radio__text }}">
																		{{ item.name }}
																	</div>
																</div>
															</label>
														</div>
														{% endfor %}
													</div>
													<div class="{{ block.b_slider__arrow_left_quiz_w_slider_arrow_left }}">
														<img src="{{ 'assets/images/arraows20(1).svg'|theme }}" loading="lazy" alt="" class="{{ block.b_slider__icone_mini }}">
													</div>
													<div class="{{ block.b_slider__arrow_right_quiz_w_slider_arrow_right }}">
														<img src="{{ 'assets/images/arraows20(2).svg'|theme }}" loading="lazy" alt="" class="{{ block.b_slider__icone_mini }}">
													</div>
													<div class="{{ block.b_slider__nav_w_slider_nav_w_round }}"></div>
												</div>
											</div>
											<div class="{{ block.h_wrap_h_wrap_mg_bt_60_tb_mg_bt_40_quiz_slider_wallbox }}">
												<div data-delay="4000" data-animation="slide" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true" class="{{ block.b_slider_b_slider_overflow_visible_w_slider }}">
													<div class="{{ block.b_slider__mask_b_slider__mask_23_4_w_slider_mask }}">
														{% for item in block.wallbox %}
														<div class="{{ item.b_slider__slide_b_slider__slide_auto_w_slide }}">
															<label class="{{ item.b_radio_b_radio_box_w_radio }}">
																<div class="{{ item.w_form_formradioinput_w_form_formradioinput__inputtype_custom_b_radio__check_b_radio__check_box_w_radio_input }}"></div>
																<input type="radio" id="radio-5" name="radio-5" value="Radio 5" data-name="Radio 5" style="{{ item.opacity_0;position_absolute;z_index__1 }}">
																<div class="{{ item.b_radio__border }}"></div>
																<img alt="" src="{{ item.image|media }}" loading="lazy" class="{{ item.b_radio__img_b_radio__img_mg_bt_20 }}">
																<span for="radio-5" class="{{ item.b_radio__text_b_radio__text_hide_w_form_label }}">
																	Radio 5
																</span>
																<div class="{{ item.h_wrap_h_wrap_mg_bt_10 }}">
																	<div class="{{ item.b_radio__text }}">
																		{{ item.name }}
																	</div>
																</div>
															</label>
														</div>
														{% endfor %}
													</div>
													<div class="{{ block.b_slider__arrow_left_quiz_w_slider_arrow_left }}">
														<img src="{{ 'assets/images/arraows20(1).svg'|theme }}" loading="lazy" alt="" class="{{ block.b_slider__icone_mini }}">
													</div>
													<div class="{{ block.b_slider__arrow_right_quiz_w_slider_arrow_right }}">
														<img src="{{ 'assets/images/arraows20(2).svg'|theme }}" loading="lazy" alt="" class="{{ block.b_slider__icone_mini }}">
													</div>
													<div class="{{ block.b_slider__nav_w_slider_nav_w_round }}"></div>
												</div>
											</div>
											<div class="{{ block.b_numbers }}">
												<a href="#" class="{{ block.b_button_b_button_back_arrow_left_w_button }}">
													Back
												</a>
												<a href="#" class="{{ block.b_button_b_button_next_arrow_right_w_button }}">
													Next
												</a>
											</div>
										</div>
									</div>
								</div>
								{% endif %}
{% if block.type == "quiz_step_3" %}
								<div>
									<div class="{{ block.b_block_b_block_stat_b_block_quiz }}">
										<img src="{{ 'assets/images/Appliance_.png'|theme }}" loading="lazy" alt="" class="{{ block.b_image_b_image_cert_mob_block }}">
										<div class="{{ block.b_columns_b_columns_space_between }}">
											<div class="{{ block.b_columns__col_b_columns__col_50_mob_100 }}">
												<div class="{{ block.b_text_b_text_size_40_b_text_bold }}">
													{{ block.title }}
												</div>
												<div class="{{ block.h_wrap_h_wrap_mg_bt_10 }}">
													<div class="{{ block.b_text_b_text_size_26_b_text_bold }}">
														{{ block.subtitle }}
													</div>
												</div>
												<div class="{{ block.h_wrap_h_wrap_mg_bt_20 }}">
													<div class="{{ block.b_text_b_text_size_26 }}">
														{{ block.desc }}
													</div>
												</div>
												<div class="{{ block.b_module_b_module_quiz }}">
													<div class="{{ block.b_module__item }}">
														<div class="{{ block.b_module__item_wrap }}">
															<img src="{{ 'assets/images/module20(1).jpg'|theme }}" loading="lazy" alt="" class="{{ block.b_module__img }}">
															<div class="{{ block.b_text_b_text_size_14 }}">
																Hub
															</div>
														</div>
														<div class="{{ block.b_module__number }}">
															1
														</div>
													</div>
													<div class="{{ block.b_module__item }}">
														<div class="{{ block.b_module__item_wrap }}">
															<img src="{{ 'assets/images/module20(2).jpg'|theme }}" loading="lazy" alt="" class="{{ block.b_module__img }}">
															<div class="{{ block.b_text_b_text_size_14 }}">
																Module 1
															</div>
														</div>
														<div class="{{ block.b_module__number }}">
															1
														</div>
													</div>
												</div>
												<a href="{{ block.btn_link }}" class="{{ block.b_button_b_button_blue_b_button_maxw_210_b_button_height_45_w_button }}">
													{{ block.btn }}
												</a>
											</div>
											<div class="{{ block.b_columns__col_b_columns__col_50_mob_100 }}">
												<img src="{{ block.image|media }}" alt="" loading="lazy">
											</div>
										</div>
									</div>
									<div class="{{ block.b_numbers_b_numbers_mg_tp_40 }}">
										<a href="#" class="{{ block.b_button_b_button_back_b_button_none_mg_arrow_left_mob_w_button }}">
											Back
										</a>
									</div>
								</div>
								{% endif %}
{% endfor %}
							</div>
						</div>
						{% endfor %}
					</div>
					<div class="{{ block.b_slider__arrow_left_w_slider_arrow_left }}"></div>
					<div class="{{ block.b_slider__arrow_right_quiz_w_slider_arrow_right }}"></div>
					<div class="{{ block.b_slider__nav_w_slider_nav_w_round }}"></div>
				</div>
			</form>
			<div class="{{ block.b_form__success_mes_w_form_done }}">
				<div>
					Спасибо за заявку!
					<br>
					В ближайшее время мы свяжемся с вами
				</div>
			</div>
			<div class="{{ block.b_form__error_mes_w_form_fail }}">
				<div>
					Ошибка! Что-то пошло не так.
				</div>
			</div>
		</div>
	</div>
</section>
