<section class="{{ section_s_section_black_v_2 }}">
	<div class="{{ block.container_container_align_center_w_container }}">
		<div class="{{ block.h_wrap_h_wrap_max_width_870 }}">
			<div class="{{ block.b_text_b_text_size_40_b_text_white_b_text_extrabold_tb_26 }}">
				{{ block.electrification_integrates_text }}
			</div>
		</div>
		<img src="{{ 'assets/images/E2809D.png'|theme }}" loading="lazy" alt="" class="{{ block.b_image_b_image__sep }}">
	</div>
	<img src="{{ block.electrification_integrates_image|media }}" alt="" loading="lazy" class="{{ block.b_image_b_image_yellow_fon_v_2 }}">
</section>
