<section class="{{ section_s_section_100vh_s_section_pd_11_25_s_section_yellow }}">
	<div class="{{ block.container_container_align_center_w_container }}">
		<div class="{{ block.h_wrap_h_wrap_mg_bt_40_mob_mg_bt_30 }}">
			<div class="{{ block.b_title_b_title_mini_mob_30 }}">
				{{ block.electrification_map_title }}
			</div>
		</div>
		<div class="{{ block.b_utility_rebates_v_2_tb_show }}">
			<img src="{{ 'assets/images/moln.svg'|theme }}" loading="lazy" alt="" class="{{ block.b_utility_rebates__icon }}">
			<div class="{{ block.b_text }}">
				Utility Rebates
			</div>
		</div>
		<div class="{{ block.h_wrap }}">
			<img src="{{ block.electrification_map_image_marker|media }}" loading="lazy" alt="" class="{{ block.b_image_b_image_absolute }}">
			<div class="{{ block.b_utility_rebates_v_2_tb_hide }}">
				<img src="{{ 'assets/images/moln.svg'|theme }}" loading="lazy" alt="" class="{{ block.b_utility_rebates__icon }}">
				<div class="{{ block.b_text }}">
					{{ block.electrification_map_die }}
				</div>
			</div>
			<img src="{{ block.electrification_map_image_map|media }}" loading="lazy" alt="" class="{{ block.b_image_b_image_map_lsp }}">
		</div>
		<div class="{{ block.h_wrap_h_wrap_mg_bt_40_h_wrap_max_width_970 }}"></div>
	</div>
</section>
