<section class="section">
	<div class="container w-container">
		<div class="b-columns">
			<div class="b-columns__col b-columns__col_80 b-columns__col_pd_120_0">
				<div class="b-grid b-grid_col_2">
					<div id="w-node-_25b19b96-9755-94b2-6d3f-260bd46ce03d-7b12a40c">
						<div class="h-wrap h-wrap_mg-bt_20">
							<div class="b-title b-title_mini mob_30">
								{{ block.electrification_find_title }}
							</div>
						</div>
						<div class="h-wrap h-wrap_mg-bt_20">
							<div class="b-text b-text_size_20">
								{{ block.electrification_find_subtitle }}
							</div>
						</div>
						<div class="b-form w-form">
							<form data-name="Форма" id="email-form" name="email-form" method="get" class="b-form__form" data-wf-page-id="648baa95d29f649e7b12a40c" data-wf-element-id="6651f0c5-366f-edf3-3325-9180011ab7e5">
								<div id="w-node-_6651f0c5-366f-edf3-3325-9180011ab7e6-7b12a40c" class="h-wrap">
									<input type="submit" value="" data-wait="Please wait..." id="w-node-_6651f0c5-366f-edf3-3325-9180011ab7e7-7b12a40c" class="b-form__btn-reset w-button">
									<input type="text" class="b-input b-input_search w-input" maxlength="256" name="text-2" data-name="Text 2" placeholder="Zip code or address" id="text-2">
								</div>
								<div class="b-text b-text_size_20 b-text_center">
									or
								</div>
								<div class="h-wrap h-wrap_mg-bt_20">
									<select id="field-3" name="field-3" data-name="Field 3" class="b-select v-2 w-node-_6651f0c5-366f-edf3-3325-9180011ab7e9-7b12a40c w-select">
										<option value="">
											State
										</option>
									</select>
								</div>
								<select id="field-3" name="field-3" data-name="Field 3" class="b-select v-2 w-node-_6651f0c5-366f-edf3-3325-9180011ab7ea-7b12a40c w-select">
									<option value="">
										City
									</option>
								</select>
							</form>
							<div class="b-form__success-mes w-form-done">
								<div>
									Спасибо за заявку!
									<br>
									В ближайшее время мы свяжемся с вами
								</div>
							</div>
							<div class="b-form__error-mes w-form-fail">
								<div>
									Ошибка! Что-то пошло не так.
								</div>
							</div>
						</div>
					</div>
					<div id="w-node-d43bde3c-0ef5-cd6c-a9ae-6a8de4f37e96-7b12a40c" class="b-grid__col-right"></div>
				</div>
			</div>
			<div class="b-columns__col b-columns__col_20">
				<img class="b-image b-image_meet-lumin" src="{{ block.electrification_find_image|media }}" alt="" loading="lazy">
			</div>
		</div>
	</div>
	<div class="container w-container"></div>
</section>
