<section class="{{ section }}">
	<div class="{{ block.container_w_container }}">
		<div class="{{ block.b_columns }}">
			<div class="{{ block.b_columns__col_b_columns__col_80_b_columns__col_pd_120_0 }}">
				<div class="{{ block.b_grid_b_grid_col_2 }}">
					<div id="w-node-_25b19b96-9755-94b2-6d3f-260bd46ce03d-7b12a40c">
						<div class="{{ block.h_wrap_h_wrap_mg_bt_20 }}">
							<div class="{{ block.b_title_b_title_mini_mob_30 }}">
								{{ block.electrification_find_title }}
							</div>
						</div>
						<div class="{{ block.h_wrap_h_wrap_mg_bt_20 }}">
							<div class="{{ block.b_text_b_text_size_20 }}">
								{{ block.electrification_find_subtitle }}
							</div>
						</div>
						<div class="{{ block.b_form_w_form }}">
							<form data-name="Форма" id="email-form" name="email-form" method="get" data-wf-page-id="648baa95d29f649e7b12a40c" data-wf-element-id="6651f0c5-366f-edf3-3325-9180011ab7e5" class="{{ block.b_form__form }}">
								<div id="w-node-_6651f0c5-366f-edf3-3325-9180011ab7e6-7b12a40c" class="{{ block.h_wrap }}">
									<input type="submit" value="" data-wait="Please wait..." id="w-node-_6651f0c5-366f-edf3-3325-9180011ab7e7-7b12a40c" class="{{ block.b_form__btn_reset_w_button }}">
									<input type="text" maxlength="256" name="text-2" data-name="Text 2" placeholder="Zip code or address" id="text-2" class="{{ block.b_input_b_input_search_w_input }}">
								</div>
								<div class="{{ block.b_text_b_text_size_20_b_text_center }}">
									or
								</div>
								<div class="{{ block.h_wrap_h_wrap_mg_bt_20 }}">
									<select id="field-3" name="field-3" data-name="Field 3" class="{{ block.b_select_v_2_w_node__6651f0c5_366f_edf3_3325_9180011ab7e9_7b12a40c_w_select }}">
										<option value="">
											State
										</option>
									</select>
								</div>
								<select id="field-3" name="field-3" data-name="Field 3" class="{{ block.b_select_v_2_w_node__6651f0c5_366f_edf3_3325_9180011ab7ea_7b12a40c_w_select }}">
									<option value="">
										City
									</option>
								</select>
							</form>
							<div class="{{ block.b_form__success_mes_w_form_done }}">
								<div>
									Спасибо за заявку!
									<br>
									В ближайшее время мы свяжемся с вами
								</div>
							</div>
							<div class="{{ block.b_form__error_mes_w_form_fail }}">
								<div>
									Ошибка! Что-то пошло не так.
								</div>
							</div>
						</div>
					</div>
					<div id="w-node-d43bde3c-0ef5-cd6c-a9ae-6a8de4f37e96-7b12a40c" class="{{ block.b_grid__col_right }}"></div>
				</div>
			</div>
			<div class="{{ block.b_columns__col_b_columns__col_20 }}">
				<img src="{{ block.electrification_find_image|media }}" alt="" loading="lazy" class="{{ block.b_image_b_image_meet_lumin }}">
			</div>
		</div>
	</div>
	<div class="{{ block.container_w_container }}"></div>
</section>
