<section class="{{ section_s_section_100vh_s_section_pd_11_25 }}">
	<div class="{{ block.container_container_align_center_w_container }}">
		<div class="{{ block.h_wrap_h_wrap_mg_bt_20 }}">
			<div class="{{ block.b_title_mob_30 }}">
				{{ sectionsglobal.estimator_title }}
			</div>
		</div>
		<div class="{{ block.h_wrap_h_wrap_mg_bt_40_h_wrap_max_width_970 }}">
			<div class="{{ block.b_text_b_text_size_26_tb_16 }}">
				{{ sectionsglobal.estimator_subtitle }}
			</div>
		</div>
		<div data-duration-in="300" data-duration-out="100" data-current="Tab 1" data-easing="ease" class="{{ block.b_tabs_w_tabs }}">
			<div class="{{ block.b_tabs__menu_b_tabs__menu_mg_bt_50_tb_overflow_w_tab_menu }}">
				<a data-w-tab="Tab 1" class="{{ block.b_tabs__link_tb_style_w_inline_block_w_tab_link_w__current }}">
					<div>
						Grid Services
					</div>
				</a>
				<a data-w-tab="Tab 2" class="{{ block.b_tabs__link_tb_style_w_inline_block_w_tab_link }}">
					<div>
						Solar + Storage
					</div>
				</a>
				<a data-w-tab="Tab 3" class="{{ block.b_tabs__link_tb_style_w_inline_block_w_tab_link }}">
					<div>
						EV Charging
					</div>
				</a>
				<a data-w-tab="Tab 4" class="{{ block.b_tabs__link_tb_style_w_inline_block_w_tab_link }}">
					<div>
						Choose any
					</div>
				</a>
			</div>
			<div class="{{ block.b_tabs__content_b_tabs__content_min_w_tab_content }}">
				<div data-w-tab="Tab 1" class="{{ block.b_tabs__pane_w_tab_pane_w__tab_active }}">
					<div class="{{ block.b_form_w_form }}">
						<form data-name="Форма" id="email-form" name="email-form" method="get" data-wf-page-id="648baa95d29f649e7b12a40a" data-wf-element-id="8aa18070-e098-fec1-45b0-a47b7b9f1407" class="{{ block.b_form__form }}">
							<div class="{{ block.b_columns }}">
								<div class="{{ block.b_columns__col_b_columns__col_50_mob_100 }}">
									<div class="{{ block.b_circle_tab }}">
										<label class="{{ block.w_checkbox_b_checkbox_b_checkbox_tab }}">
											<div class="{{ block.w_checkbox_input_w_checkbox_input__inputtype_custom_b_checkbox__check_tab }}"></div>
											<input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" style="{{ block.opacity_0;position_absolute;z_index__1 }}">
											<img alt="" loading="lazy" src="{{ 'assets/images/icon-tab20(10).svg'|theme }}" class="{{ block.b_checkbox_tab__image }}">
											<span for="checkbox-2" class="{{ block.b_checkbox__label_w_form_label }}">
												Checkbox
											</span>
										</label>
										<label class="{{ block.w_checkbox_b_checkbox_b_checkbox_tab }}">
											<div class="{{ block.w_checkbox_input_w_checkbox_input__inputtype_custom_b_checkbox__check_tab }}"></div>
											<input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" style="{{ block.opacity_0;position_absolute;z_index__1 }}">
											<img alt="" loading="lazy" src="{{ 'assets/images/icon-tab20(14).svg'|theme }}" class="{{ block.b_checkbox_tab__image }}">
											<span for="checkbox-2" class="{{ block.b_checkbox__label_w_form_label }}">
												Checkbox
											</span>
										</label>
										<label class="{{ block.w_checkbox_b_checkbox_b_checkbox_tab }}">
											<div class="{{ block.w_checkbox_input_w_checkbox_input__inputtype_custom_b_checkbox__check_tab }}"></div>
											<input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" style="{{ block.opacity_0;position_absolute;z_index__1 }}">
											<img alt="" loading="lazy" src="{{ 'assets/images/icon-tab20(2).svg'|theme }}" class="{{ block.b_checkbox_tab__image }}">
											<span for="checkbox-2" class="{{ block.b_checkbox__label_w_form_label }}">
												Checkbox
											</span>
										</label>
										<label class="{{ block.w_checkbox_b_checkbox_b_checkbox_tab }}">
											<div class="{{ block.w_checkbox_input_w_checkbox_input__inputtype_custom_b_checkbox__check_tab }}"></div>
											<input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" style="{{ block.opacity_0;position_absolute;z_index__1 }}">
											<img alt="" loading="lazy" src="{{ 'assets/images/icon-tab20(6).svg'|theme }}" class="{{ block.b_checkbox_tab__image }}">
											<span for="checkbox-2" class="{{ block.b_checkbox__label_w_form_label }}">
												Checkbox
											</span>
										</label>
										<label class="{{ block.w_checkbox_b_checkbox_b_checkbox_tab }}">
											<div class="{{ block.w_checkbox_input_w_checkbox_input__inputtype_custom_b_checkbox__check_tab }}"></div>
											<input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" style="{{ block.opacity_0;position_absolute;z_index__1 }}">
											<img alt="" loading="lazy" src="{{ 'assets/images/icon-tab20(9).svg'|theme }}" class="{{ block.b_checkbox_tab__image }}">
											<span for="checkbox-2" class="{{ block.b_checkbox__label_w_form_label }}">
												Checkbox
											</span>
										</label>
										<label class="{{ block.w_checkbox_b_checkbox_b_checkbox_tab }}">
											<div class="{{ block.w_checkbox_input_w_checkbox_input__inputtype_custom_b_checkbox__check_tab }}"></div>
											<input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" style="{{ block.opacity_0;position_absolute;z_index__1 }}">
											<img alt="" loading="lazy" src="{{ 'assets/images/icon-tab20(13).svg'|theme }}" class="{{ block.b_checkbox_tab__image }}">
											<span for="checkbox-2" class="{{ block.b_checkbox__label_w_form_label }}">
												Checkbox
											</span>
										</label>
										<label class="{{ block.w_checkbox_b_checkbox_b_checkbox_tab }}">
											<div class="{{ block.w_checkbox_input_w_checkbox_input__inputtype_custom_b_checkbox__check_tab }}"></div>
											<input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" style="{{ block.opacity_0;position_absolute;z_index__1 }}">
											<img alt="" loading="lazy" src="{{ 'assets/images/icon-tab20(1).svg'|theme }}" class="{{ block.b_checkbox_tab__image }}">
											<span for="checkbox-2" class="{{ block.b_checkbox__label_w_form_label }}">
												Checkbox
											</span>
										</label>
										<label class="{{ block.w_checkbox_b_checkbox_b_checkbox_tab }}">
											<div class="{{ block.w_checkbox_input_w_checkbox_input__inputtype_custom_b_checkbox__check_tab }}"></div>
											<input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" style="{{ block.opacity_0;position_absolute;z_index__1 }}">
											<img alt="" loading="lazy" src="{{ 'assets/images/icon-tab20(5).svg'|theme }}" class="{{ block.b_checkbox_tab__image }}">
											<span for="checkbox-2" class="{{ block.b_checkbox__label_w_form_label }}">
												Checkbox
											</span>
										</label>
										<label class="{{ block.w_checkbox_b_checkbox_b_checkbox_tab }}">
											<div class="{{ block.w_checkbox_input_w_checkbox_input__inputtype_custom_b_checkbox__check_tab }}"></div>
											<input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" style="{{ block.opacity_0;position_absolute;z_index__1 }}">
											<img alt="" loading="lazy" src="{{ 'assets/images/icon-tab20(11).svg'|theme }}" class="{{ block.b_checkbox_tab__image }}">
											<span for="checkbox-2" class="{{ block.b_checkbox__label_w_form_label }}">
												Checkbox
											</span>
										</label>
										<label class="{{ block.w_checkbox_b_checkbox_b_checkbox_tab }}">
											<div class="{{ block.w_checkbox_input_w_checkbox_input__inputtype_custom_b_checkbox__check_tab }}"></div>
											<input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" style="{{ block.opacity_0;position_absolute;z_index__1 }}">
											<img alt="" loading="lazy" src="{{ 'assets/images/icon-tab20(15).svg'|theme }}" class="{{ block.b_checkbox_tab__image }}">
											<span for="checkbox-2" class="{{ block.b_checkbox__label_w_form_label }}">
												Checkbox
											</span>
										</label>
										<label class="{{ block.w_checkbox_b_checkbox_b_checkbox_tab }}">
											<div class="{{ block.w_checkbox_input_w_checkbox_input__inputtype_custom_b_checkbox__check_tab }}"></div>
											<input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" style="{{ block.opacity_0;position_absolute;z_index__1 }}">
											<img alt="" loading="lazy" src="{{ 'assets/images/icon-tab20(3).svg'|theme }}" class="{{ block.b_checkbox_tab__image }}">
											<span for="checkbox-2" class="{{ block.b_checkbox__label_w_form_label }}">
												Checkbox
											</span>
										</label>
										<label class="{{ block.w_checkbox_b_checkbox_b_checkbox_tab }}">
											<div class="{{ block.w_checkbox_input_w_checkbox_input__inputtype_custom_b_checkbox__check_tab }}"></div>
											<input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" style="{{ block.opacity_0;position_absolute;z_index__1 }}">
											<img alt="" loading="lazy" src="{{ 'assets/images/icon-tab20(7).svg'|theme }}" class="{{ block.b_checkbox_tab__image }}">
											<span for="checkbox-2" class="{{ block.b_checkbox__label_w_form_label }}">
												Checkbox
											</span>
										</label>
										<label class="{{ block.w_checkbox_b_checkbox_b_checkbox_tab }}">
											<div class="{{ block.w_checkbox_input_w_checkbox_input__inputtype_custom_b_checkbox__check_tab }}"></div>
											<input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" style="{{ block.opacity_0;position_absolute;z_index__1 }}">
											<img alt="" loading="lazy" src="{{ 'assets/images/icon-tab20(8).svg'|theme }}" class="{{ block.b_checkbox_tab__image }}">
											<span for="checkbox-2" class="{{ block.b_checkbox__label_w_form_label }}">
												Checkbox
											</span>
										</label>
										<label class="{{ block.w_checkbox_b_checkbox_b_checkbox_tab }}">
											<div class="{{ block.w_checkbox_input_w_checkbox_input__inputtype_custom_b_checkbox__check_tab }}"></div>
											<input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" style="{{ block.opacity_0;position_absolute;z_index__1 }}">
											<img alt="" loading="lazy" src="{{ 'assets/images/icon-tab20(12).svg'|theme }}" class="{{ block.b_checkbox_tab__image }}">
											<span for="checkbox-2" class="{{ block.b_checkbox__label_w_form_label }}">
												Checkbox
											</span>
										</label>
										<label class="{{ block.w_checkbox_b_checkbox_b_checkbox_tab }}">
											<div class="{{ block.w_checkbox_input_w_checkbox_input__inputtype_custom_b_checkbox__check_tab }}"></div>
											<input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" style="{{ block.opacity_0;position_absolute;z_index__1 }}">
											<img alt="" loading="lazy" src="{{ 'assets/images/icon-tab20(16).svg'|theme }}" class="{{ block.b_checkbox_tab__image }}">
											<span for="checkbox-2" class="{{ block.b_checkbox__label_w_form_label }}">
												Checkbox
											</span>
										</label>
										<label class="{{ block.w_checkbox_b_checkbox_b_checkbox_tab }}">
											<div class="{{ block.w_checkbox_input_w_checkbox_input__inputtype_custom_b_checkbox__check_tab }}"></div>
											<input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" style="{{ block.opacity_0;position_absolute;z_index__1 }}">
											<img alt="" loading="lazy" src="{{ 'assets/images/icon-tab20(4).svg'|theme }}" class="{{ block.b_checkbox_tab__image }}">
											<span for="checkbox-2" class="{{ block.b_checkbox__label_w_form_label }}">
												Checkbox
											</span>
										</label>
										<div class="{{ block.b_circle_tab__img_wrap }}">
											<img alt="" loading="lazy" src="{{ 'assets/images/logo_house.svg'|theme }}">
											<a href="#" class="{{ block.b_circle_tab__btn }}">
												Refresh
											</a>
										</div>
									</div>
								</div>
								<div class="{{ block.b_columns__col_b_columns__col_50_b_columns__col_flex_center_tb_100 }}">
									<div class="{{ block.h_wrap_h_wrap_mg_bt_20 }}">
										<div class="{{ block.b_text_b_text_size_20_b_text_bold }}">
											We recommend you control 4 major appliance:
										</div>
									</div>
									<div class="{{ block.b_recomend_b_recomend_mg_bt_20 }}">
										<div class="{{ block.b_recomend__item }}">
											<div class="{{ block.b_recomend__img_cont }}">
												<img src="{{ 'assets/images/icon-tab20(3).svg'|theme }}" loading="lazy" alt="">
											</div>
											<div class="{{ block.b_text_b_text_size_14 }}">
												EV Charger
											</div>
										</div>
										<div class="{{ block.b_recomend__item }}">
											<div class="{{ block.b_recomend__img_cont }}">
												<img src="{{ 'assets/images/icon-tab20(3).svg'|theme }}" loading="lazy" alt="">
											</div>
											<div class="{{ block.b_text_b_text_size_14 }}">
												Water Heater
											</div>
										</div>
										<div class="{{ block.b_recomend__item }}">
											<div class="{{ block.b_recomend__img_cont }}">
												<img src="{{ 'assets/images/icon-tab20(3).svg'|theme }}" loading="lazy" alt="">
											</div>
											<div class="{{ block.b_text_b_text_size_14 }}">
												Pool Pump
											</div>
										</div>
										<div class="{{ block.b_recomend__item }}">
											<div class="{{ block.b_recomend__img_cont }}">
												<img src="{{ 'assets/images/icon-tab20(3).svg'|theme }}" loading="lazy" alt="">
											</div>
											<div class="{{ block.b_text_b_text_size_14 }}">
												HVAC
											</div>
										</div>
									</div>
									<div class="{{ block.b_module_b_module_mg_bt_20_mob_mg_bt_30 }}">
										<div class="{{ block.b_module__item }}">
											<div class="{{ block.b_module__item_wrap }}">
												<img src="{{ 'assets/images/module20(1).jpg'|theme }}" loading="lazy" alt="" class="{{ block.b_module__img }}">
												<div class="{{ block.b_text_b_text_size_14 }}">
													Hub
												</div>
											</div>
											<div class="{{ block.b_module__number }}">
												1
											</div>
										</div>
										<div class="{{ block.b_module__item }}">
											<div class="{{ block.b_module__item_wrap }}">
												<img src="{{ 'assets/images/module20(2).jpg'|theme }}" loading="lazy" alt="" class="{{ block.b_module__img }}">
												<div class="{{ block.b_text_b_text_size_14 }}">
													Module 1
												</div>
											</div>
											<div class="{{ block.b_module__number }}">
												1
											</div>
										</div>
										<div class="{{ block.b_module__item }}">
											<div class="{{ block.b_module__item_wrap }}">
												<img src="{{ 'assets/images/module20(2).jpg'|theme }}" loading="lazy" alt="" class="{{ block.b_module__img }}">
												<div class="{{ block.b_text_b_text_size_14 }}">
													Module 2
												</div>
											</div>
											<div class="{{ block.b_module__number }}">
												2
											</div>
										</div>
										<div class="{{ block.b_module__item }}">
											<div class="{{ block.b_module__item_wrap_deactive }}">
												<img src="{{ 'assets/images/module20(2).jpg'|theme }}" loading="lazy" alt="" class="{{ block.b_module__img }}">
												<div class="{{ block.b_text_b_text_size_14 }}">
													Module 3
												</div>
											</div>
											<div class="{{ block.b_module__number }}"></div>
										</div>
									</div>
									<input type="submit" value="Buy now" data-wait="Please wait..." class="{{ block.b_button_b_button_blue_b_button_height_56_b_button_max_width_200_mob_center_w_button }}">
								</div>
							</div>
						</form>
						<div class="{{ block.b_form__success_mes_w_form_done }}">
							<div>
								Спасибо за заявку!
								<br>
								В ближайшее время мы свяжемся с вами
							</div>
						</div>
						<div class="{{ block.b_form__error_mes_w_form_fail }}">
							<div>
								Ошибка! Что-то пошло не так.
							</div>
						</div>
					</div>
				</div>
				<div data-w-tab="Tab 2" class="{{ block.b_tabs__pane_w_tab_pane }}"></div>
				<div data-w-tab="Tab 3" class="{{ block.w_tab_pane }}"></div>
				<div data-w-tab="Tab 4" class="{{ block.w_tab_pane }}"></div>
			</div>
		</div>
	</div>
</section>
