<section class="section s-section_100vh s-section_pd_11-25">
	<div class="container container_align_center w-container">
		<div class="h-wrap h-wrap_mg-bt_20">
			<div class="b-title mob_30">
				{{ sectionsglobal.estimator_title }}
			</div>
		</div>
		<div class="h-wrap h-wrap_mg-bt_40 h-wrap_max-width_970">
			<div class="b-text b-text_size_26 tb_16">
				{{ sectionsglobal.estimator_subtitle }}
			</div>
		</div>
		<div data-duration-in="300" data-duration-out="100" data-current="Tab 1" data-easing="ease" class="b-tabs w-tabs">
			<div class="b-tabs__menu b-tabs__menu_mg-bt_50 tb_overflow w-tab-menu">
				<a data-w-tab="Tab 1" class="b-tabs__link tb_style w-inline-block w-tab-link w--current">
					<div>
						Grid Services
					</div>
				</a>
				<a data-w-tab="Tab 2" class="b-tabs__link tb_style w-inline-block w-tab-link">
					<div>
						Solar + Storage
					</div>
				</a>
				<a data-w-tab="Tab 3" class="b-tabs__link tb_style w-inline-block w-tab-link">
					<div>
						EV Charging
					</div>
				</a>
				<a data-w-tab="Tab 4" class="b-tabs__link tb_style w-inline-block w-tab-link">
					<div>
						Choose any
					</div>
				</a>
			</div>
			<div class="b-tabs__content b-tabs__content_min w-tab-content">
				<div data-w-tab="Tab 1" class="b-tabs__pane w-tab-pane w--tab-active">
					<div class="b-form w-form">
						<form data-name="Форма" id="email-form" name="email-form" method="get" class="b-form__form" data-wf-page-id="648baa95d29f649e7b12a40a" data-wf-element-id="8aa18070-e098-fec1-45b0-a47b7b9f1407">
							<div class="b-columns">
								<div class="b-columns__col b-columns__col_50 mob_100">
									<div class="b-circle-tab">
										<label class="w-checkbox b-checkbox b-checkbox_tab">
											<div class="w-checkbox-input w-checkbox-input--inputType-custom b-checkbox__check_tab"></div>
											<input id="checkbox-2" type="checkbox" name="checkbox-2" data-name="Checkbox 2" style="opacity:0;position:absolute;z-index:-1">
											<img alt="" loading="lazy" src="{{ 'assets/images/icon-tab20(10).svg'|theme }}" class="b-checkbox-tab__image">
											<span class="b-checkbox__label w-form-label" for="checkbox-2">
												Checkbox
											</span>
										</label>
										<label class="w-checkbox b-checkbox b-checkbox_tab">
											<div class="w-checkbox-input w-checkbox-input--inputType-custom b-checkbox__check_tab"></div>
											<input id="checkbox-2" type="checkbox" name="checkbox-2" data-name="Checkbox 2" style="opacity:0;position:absolute;z-index:-1">
											<img alt="" loading="lazy" src="{{ 'assets/images/icon-tab20(14).svg'|theme }}" class="b-checkbox-tab__image">
											<span class="b-checkbox__label w-form-label" for="checkbox-2">
												Checkbox
											</span>
										</label>
										<label class="w-checkbox b-checkbox b-checkbox_tab">
											<div class="w-checkbox-input w-checkbox-input--inputType-custom b-checkbox__check_tab"></div>
											<input id="checkbox-2" type="checkbox" name="checkbox-2" data-name="Checkbox 2" style="opacity:0;position:absolute;z-index:-1">
											<img alt="" loading="lazy" src="{{ 'assets/images/icon-tab20(2).svg'|theme }}" class="b-checkbox-tab__image">
											<span class="b-checkbox__label w-form-label" for="checkbox-2">
												Checkbox
											</span>
										</label>
										<label class="w-checkbox b-checkbox b-checkbox_tab">
											<div class="w-checkbox-input w-checkbox-input--inputType-custom b-checkbox__check_tab"></div>
											<input id="checkbox-2" type="checkbox" name="checkbox-2" data-name="Checkbox 2" style="opacity:0;position:absolute;z-index:-1">
											<img alt="" loading="lazy" src="{{ 'assets/images/icon-tab20(6).svg'|theme }}" class="b-checkbox-tab__image">
											<span class="b-checkbox__label w-form-label" for="checkbox-2">
												Checkbox
											</span>
										</label>
										<label class="w-checkbox b-checkbox b-checkbox_tab">
											<div class="w-checkbox-input w-checkbox-input--inputType-custom b-checkbox__check_tab"></div>
											<input id="checkbox-2" type="checkbox" name="checkbox-2" data-name="Checkbox 2" style="opacity:0;position:absolute;z-index:-1">
											<img alt="" loading="lazy" src="{{ 'assets/images/icon-tab20(9).svg'|theme }}" class="b-checkbox-tab__image">
											<span class="b-checkbox__label w-form-label" for="checkbox-2">
												Checkbox
											</span>
										</label>
										<label class="w-checkbox b-checkbox b-checkbox_tab">
											<div class="w-checkbox-input w-checkbox-input--inputType-custom b-checkbox__check_tab"></div>
											<input id="checkbox-2" type="checkbox" name="checkbox-2" data-name="Checkbox 2" style="opacity:0;position:absolute;z-index:-1">
											<img alt="" loading="lazy" src="{{ 'assets/images/icon-tab20(13).svg'|theme }}" class="b-checkbox-tab__image">
											<span class="b-checkbox__label w-form-label" for="checkbox-2">
												Checkbox
											</span>
										</label>
										<label class="w-checkbox b-checkbox b-checkbox_tab">
											<div class="w-checkbox-input w-checkbox-input--inputType-custom b-checkbox__check_tab"></div>
											<input id="checkbox-2" type="checkbox" name="checkbox-2" data-name="Checkbox 2" style="opacity:0;position:absolute;z-index:-1">
											<img alt="" loading="lazy" src="{{ 'assets/images/icon-tab20(1).svg'|theme }}" class="b-checkbox-tab__image">
											<span class="b-checkbox__label w-form-label" for="checkbox-2">
												Checkbox
											</span>
										</label>
										<label class="w-checkbox b-checkbox b-checkbox_tab">
											<div class="w-checkbox-input w-checkbox-input--inputType-custom b-checkbox__check_tab"></div>
											<input id="checkbox-2" type="checkbox" name="checkbox-2" data-name="Checkbox 2" style="opacity:0;position:absolute;z-index:-1">
											<img alt="" loading="lazy" src="{{ 'assets/images/icon-tab20(5).svg'|theme }}" class="b-checkbox-tab__image">
											<span class="b-checkbox__label w-form-label" for="checkbox-2">
												Checkbox
											</span>
										</label>
										<label class="w-checkbox b-checkbox b-checkbox_tab">
											<div class="w-checkbox-input w-checkbox-input--inputType-custom b-checkbox__check_tab"></div>
											<input id="checkbox-2" type="checkbox" name="checkbox-2" data-name="Checkbox 2" style="opacity:0;position:absolute;z-index:-1">
											<img alt="" loading="lazy" src="{{ 'assets/images/icon-tab20(11).svg'|theme }}" class="b-checkbox-tab__image">
											<span class="b-checkbox__label w-form-label" for="checkbox-2">
												Checkbox
											</span>
										</label>
										<label class="w-checkbox b-checkbox b-checkbox_tab">
											<div class="w-checkbox-input w-checkbox-input--inputType-custom b-checkbox__check_tab"></div>
											<input id="checkbox-2" type="checkbox" name="checkbox-2" data-name="Checkbox 2" style="opacity:0;position:absolute;z-index:-1">
											<img alt="" loading="lazy" src="{{ 'assets/images/icon-tab20(15).svg'|theme }}" class="b-checkbox-tab__image">
											<span class="b-checkbox__label w-form-label" for="checkbox-2">
												Checkbox
											</span>
										</label>
										<label class="w-checkbox b-checkbox b-checkbox_tab">
											<div class="w-checkbox-input w-checkbox-input--inputType-custom b-checkbox__check_tab"></div>
											<input id="checkbox-2" type="checkbox" name="checkbox-2" data-name="Checkbox 2" style="opacity:0;position:absolute;z-index:-1">
											<img alt="" loading="lazy" src="{{ 'assets/images/icon-tab20(3).svg'|theme }}" class="b-checkbox-tab__image">
											<span class="b-checkbox__label w-form-label" for="checkbox-2">
												Checkbox
											</span>
										</label>
										<label class="w-checkbox b-checkbox b-checkbox_tab">
											<div class="w-checkbox-input w-checkbox-input--inputType-custom b-checkbox__check_tab"></div>
											<input id="checkbox-2" type="checkbox" name="checkbox-2" data-name="Checkbox 2" style="opacity:0;position:absolute;z-index:-1">
											<img alt="" loading="lazy" src="{{ 'assets/images/icon-tab20(7).svg'|theme }}" class="b-checkbox-tab__image">
											<span class="b-checkbox__label w-form-label" for="checkbox-2">
												Checkbox
											</span>
										</label>
										<label class="w-checkbox b-checkbox b-checkbox_tab">
											<div class="w-checkbox-input w-checkbox-input--inputType-custom b-checkbox__check_tab"></div>
											<input id="checkbox-2" type="checkbox" name="checkbox-2" data-name="Checkbox 2" style="opacity:0;position:absolute;z-index:-1">
											<img alt="" loading="lazy" src="{{ 'assets/images/icon-tab20(8).svg'|theme }}" class="b-checkbox-tab__image">
											<span class="b-checkbox__label w-form-label" for="checkbox-2">
												Checkbox
											</span>
										</label>
										<label class="w-checkbox b-checkbox b-checkbox_tab">
											<div class="w-checkbox-input w-checkbox-input--inputType-custom b-checkbox__check_tab"></div>
											<input id="checkbox-2" type="checkbox" name="checkbox-2" data-name="Checkbox 2" style="opacity:0;position:absolute;z-index:-1">
											<img alt="" loading="lazy" src="{{ 'assets/images/icon-tab20(12).svg'|theme }}" class="b-checkbox-tab__image">
											<span class="b-checkbox__label w-form-label" for="checkbox-2">
												Checkbox
											</span>
										</label>
										<label class="w-checkbox b-checkbox b-checkbox_tab">
											<div class="w-checkbox-input w-checkbox-input--inputType-custom b-checkbox__check_tab"></div>
											<input id="checkbox-2" type="checkbox" name="checkbox-2" data-name="Checkbox 2" style="opacity:0;position:absolute;z-index:-1">
											<img alt="" loading="lazy" src="{{ 'assets/images/icon-tab20(16).svg'|theme }}" class="b-checkbox-tab__image">
											<span class="b-checkbox__label w-form-label" for="checkbox-2">
												Checkbox
											</span>
										</label>
										<label class="w-checkbox b-checkbox b-checkbox_tab">
											<div class="w-checkbox-input w-checkbox-input--inputType-custom b-checkbox__check_tab"></div>
											<input id="checkbox-2" type="checkbox" name="checkbox-2" data-name="Checkbox 2" style="opacity:0;position:absolute;z-index:-1">
											<img alt="" loading="lazy" src="{{ 'assets/images/icon-tab20(4).svg'|theme }}" class="b-checkbox-tab__image">
											<span class="b-checkbox__label w-form-label" for="checkbox-2">
												Checkbox
											</span>
										</label>
										<div class="b-circle-tab__img-wrap">
											<img alt="" loading="lazy" src="{{ 'assets/images/logo_house.svg'|theme }}">
											<a href="#" class="b-circle-tab__btn">
												Refresh
											</a>
										</div>
									</div>
								</div>
								<div class="b-columns__col b-columns__col_50 b-columns__col_flex_center tb_100">
									<div class="h-wrap h-wrap_mg-bt_20">
										<div class="b-text b-text_size_20 b-text_bold">
											We recommend you control 4 major appliance:
										</div>
									</div>
									<div class="b-recomend b-recomend_mg-bt_20">
										<div class="b-recomend__item">
											<div class="b-recomend__img-cont">
												<img src="{{ 'assets/images/icon-tab20(3).svg'|theme }}" loading="lazy" alt="">
											</div>
											<div class="b-text b-text_size_14">
												EV Charger
											</div>
										</div>
										<div class="b-recomend__item">
											<div class="b-recomend__img-cont">
												<img src="{{ 'assets/images/icon-tab20(3).svg'|theme }}" loading="lazy" alt="">
											</div>
											<div class="b-text b-text_size_14">
												Water Heater
											</div>
										</div>
										<div class="b-recomend__item">
											<div class="b-recomend__img-cont">
												<img src="{{ 'assets/images/icon-tab20(3).svg'|theme }}" loading="lazy" alt="">
											</div>
											<div class="b-text b-text_size_14">
												Pool Pump
											</div>
										</div>
										<div class="b-recomend__item">
											<div class="b-recomend__img-cont">
												<img src="{{ 'assets/images/icon-tab20(3).svg'|theme }}" loading="lazy" alt="">
											</div>
											<div class="b-text b-text_size_14">
												HVAC
											</div>
										</div>
									</div>
									<div class="b-module b-module_mg-bt_20 mob_mg-bt_30">
										<div class="b-module__item">
											<div class="b-module__item-wrap">
												<img src="{{ 'assets/images/module20(1).jpg'|theme }}" loading="lazy" alt="" class="b-module__img">
												<div class="b-text b-text_size_14">
													Hub
												</div>
											</div>
											<div class="b-module__number">
												1
											</div>
										</div>
										<div class="b-module__item">
											<div class="b-module__item-wrap">
												<img src="{{ 'assets/images/module20(2).jpg'|theme }}" loading="lazy" alt="" class="b-module__img">
												<div class="b-text b-text_size_14">
													Module 1
												</div>
											</div>
											<div class="b-module__number">
												1
											</div>
										</div>
										<div class="b-module__item">
											<div class="b-module__item-wrap">
												<img src="{{ 'assets/images/module20(2).jpg'|theme }}" loading="lazy" alt="" class="b-module__img">
												<div class="b-text b-text_size_14">
													Module 2
												</div>
											</div>
											<div class="b-module__number">
												2
											</div>
										</div>
										<div class="b-module__item">
											<div class="b-module__item-wrap deactive">
												<img src="{{ 'assets/images/module20(2).jpg'|theme }}" loading="lazy" alt="" class="b-module__img">
												<div class="b-text b-text_size_14">
													Module 3
												</div>
											</div>
											<div class="b-module__number"></div>
										</div>
									</div>
									<input type="submit" data-wait="Please wait..." class="b-button b-button_blue b-button_height_56 b-button_max-width_200 mob_center w-button" value="Buy now">
								</div>
							</div>
						</form>
						<div class="b-form__success-mes w-form-done">
							<div>
								Спасибо за заявку!
								<br>
								В ближайшее время мы свяжемся с вами
							</div>
						</div>
						<div class="b-form__error-mes w-form-fail">
							<div>
								Ошибка! Что-то пошло не так.
							</div>
						</div>
					</div>
				</div>
				<div data-w-tab="Tab 2" class="b-tabs__pane w-tab-pane"></div>
				<div data-w-tab="Tab 3" class="w-tab-pane"></div>
				<div data-w-tab="Tab 4" class="w-tab-pane"></div>
			</div>
		</div>
	</div>
</section>
