<section class="{{ section_s_section_100vh_s_section_gray_s_section_pd_11_25 }}">
	<div class="{{ block.h_wrap_h_wrap_width_100 }}">
		<div class="{{ block.container_container_align_center_w_container }}">
			<div class="{{ block.h_wrap_h_wrap_mg_bt_20 }}">
				<div class="{{ block.b_title_b_title_mini_mob_30 }}">
					{{ block.feedbacks_title }}
				</div>
			</div>
			<div class="{{ block.h_wrap_h_wrap_mg_bt_40_h_wrap_max_width_800 }}">
				<div class="{{ block.b_text_b_text_size_26_tb_16 }}">
					{{ block.feedbacks_subtitle }}
				</div>
			</div>
		</div>
		<div class="{{ block.h_wrap_h_wrap_mg_bt_40 }}">
			<div class="{{ block.container_container_100vw_w_container }}">
				<div class="{{ block.b_slider__mask_b_slider__mask_19_tb_45 }}"></div>
			</div>
			<div data-delay="4000" data-animation="slide" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true" class="{{ block.b_slider_b_slider_overflow_visible_w_slider }}">
				<div class="{{ block.b_slider__mask_b_slider__mask_19_tb_45_mob_85_w_slider_mask }}">
					{% for item in block.feedbacks_rep %}
					<div class="{{ item.b_slider__slide_b_slider__slide_auto_w_slide }}">
						<div class="{{ item.h_wrap_h_wrap_height_100 }}">
							{% for block in item.list %}
{% if block.type == "feedbacks_video" %}
							<div class="{{ b_slider__card }}">
								<img src="{{ block.image|media }}" loading="lazy" alt="" class="{{ block.b_slider__img_video }}">
								<a data-fancybox="Video-rewiev" href="{{ block.link }}" class="{{ block.b_slider__grad_w_inline_block }}">
									<div class="{{ block.b_text_b_text_size_20_b_text_white_b_text_bold }}">
										{{ block.name }}
									</div>
									<div class="{{ block.b_text_b_text_size_14_b_text_white }}">
										{{ block.video_rewiev }}
									</div>
								</a>
							</div>
							{% endif %}
{% if block.type == "feedbacks_text" %}
							<div class="{{ b_slider__card }}">
								<div class="{{ block.b_slider__white_content }}">
									<div class="{{ block.h_wrap_h_wrap_mg_bt_20_h_wrap_flex_h }}">
										<img src="{{ block.avatar|media }}" loading="lazy" alt="" class="{{ block.b_avatar }}">
										<div class="{{ block.b_text_b_text_size_20_b_text_bold }}">
											{{ block.name }}
										</div>
									</div>
									<div class="{{ block.b_text_b_text_size_14 }}">
										{{ block.text }}
									</div>
								</div>
							</div>
							{% endif %}
{% endfor %}
						</div>
					</div>
					{% endfor %}
				</div>
				<div class="{{ block.b_slider__arrow_left_w_slider_arrow_left }}">
					<img src="{{ 'assets/images/placeholder.60f9b1840c.svg'|theme }}" loading="lazy" alt="" class="{{ block.b_slider__icone }}">
				</div>
				<div class="{{ block.b_slider__arrow_right_w_slider_arrow_right }}">
					<img src="{{ 'assets/images/placeholder.60f9b1840c.svg'|theme }}" loading="lazy" alt="" class="{{ block.b_slider__icone }}">
				</div>
				<div class="{{ block.b_slider__nav_w_slider_nav_w_round }}"></div>
				<div class="{{ block.b_numbers_b_numbers_mg_tp_40 }}">
					<a href="#" class="{{ block.arrow_left_w_inline_block }}">
						<img src="{{ 'assets/images/_.svg'|theme }}" loading="lazy" alt="">
					</a>
					<img src="{{ 'assets/images/LOGO20Loading.svg'|theme }}" loading="lazy" alt="" class="{{ block.b_slider__icon }}">
					<a href="#" class="{{ block.arrow_right_w_inline_block }}">
						<img src="{{ 'assets/images/_20(1).svg'|theme }}" loading="lazy" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
