<section class="section s-section_pd_11-25 s-section_align_center">
	<div class="container container_align_center w-container">
		<div class="h-wrap h-wrap_mg-bt_20">
			<div class="b-title b-title_mini">
				{{ block.have_questions_title }}
			</div>
		</div>
		<div class="h-wrap h-wrap_mg-bt_40 h-wrap_max-width_900">
			<div class="b-text b-text_size_20">
				{{ block.have_questions_subtitle }}
			</div>
		</div>
		<a href="#" class="b-button b-button_blue b-button_maxw_210 w-button" data-w-id="{{ block.have_questions_btn_modal }}">
			{{ block.have_questions_text_btn }}
		</a>
	</div>
</section>
