<section class="section s-section_vertical s-section_pd_11-25">
	<div class="container container_maxw_1020 w-container">
		<div class="b-flex b-flex_space-around b-flex_gap_60">
			{% for item in block.icon_rep %}
			<div class="b-flex__card b-flex__card_20 mobh_50 mobv_100">
				<div class="h-wrap h-wrap_mg-bt_15">
					<img src="{{ item.icon|media }}" loading="lazy" alt="" class="b-icon b-icon_80">
				</div>
				<div class="b-text b-text_size_20">
					{{ item.text|raw }}
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
