<section class="section s-section_100vh s-section_pd_11-25">
	<div class="container container_align_center w-container">
		<div class="h-wrap h-wrap_mg-bt_60">
			<div class="b-title b-title_mini mob_30">
				{{ block.installers_map_title }}
			</div>
		</div>
		<div class="h-wrap">
  <style>
    .map-block * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    /***** Контейнер *****/
    .map-block {
      width: 100%;
      height: 630px;
      position: relative;
      border-radius: 12px;
      overflow: hidden;
      color: #0c1421;
    }

    /***** Карта *****/
    .map-block__map {
      width: 100%;
      height: 630px;
    }

    /***** Стили для Google-карты *****/

    .map-block__map img[role="presentation"] {
      filter: grayscale(1);
    }

    .map-block__map div[role="menubar"] {
      display: none;
    }

    .map-block__map .gm-svpc {
      display: none;
    }

    /***** Контролы карты (дистрибьюеторы, город, штат) *****/

    .map-block__controls {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      pointer-events: none;
    }

    /*** Фильтры (город, штат) ***/

    .map-block__filters {
      flex-grow: 1;
    }

    .map-block__filters-container {
      display: flex;
      gap: 20px;
      padding-left: 30px;
      padding-top: 30px;
    }

    .map-block__filter select {
      pointer-events: all;
      height: 50px;
      padding: 0 15px;
      border-radius: 12px;
      border: 2px solid #d9d9d9;
      min-width: 180px;
    }

    /*** Легенда (с дистрибьюторами) ***/

    .map-legend {
      width: 278px;
      padding: 30px;

      background: rgba(255, 255, 255, 0.8);
      box-shadow: 15px 0 20px rgba(49, 43, 42, 0.12);
      border: 1px solid #e9e9e9;
      border-right: none;
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
      pointer-events: all;
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow: hidden;
      transition: all 400ms ease-in-out;
    }

    .map-legend:not([data-shown]) {
      width: 80px;
      padding: 30px 10px;
    }


    .map-legend:not([data-shown]) .map-block__distributors,
    .map-legend:not([data-shown]) .map-legend__title {
      display: none;
    }

    .map-legend__title {
      font-size: 20px;
      font-weight: 800;
      margin-bottom: 20px;
    }

    .map-legend__content {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }

    .map-block__title {
      flex-shrink: 0;
    }

    .map-block__distributors {
      overflow: auto;
      flex-grow: 1;
    }

    .map-legend__control {
      cursor: pointer;
      background: transparent;
      border: none;
      outline: none;
      padding: 20px 10px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: #1967D2;
      white-space: nowrap;
    }

    .map-legend__control svg {
      fill: currentColor;
    }

    .map-legend-hide svg {
      margin-right: 10px;
    }

    .map-legend-show {
      display: none;
    }

    .map-legend-close {
      display: none;
    }

    .map-legend-show svg {
      transform: rotate(180deg);
    }

    .map-legend:not([data-shown]) .map-legend-hide {
      display: none;
    }

    .map-legend:not([data-shown]) .map-legend-show {
      display: block;
    }

    .map-block__distributors {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    .distributor__wrapper {
      display: flex;
      gap: 15px;
      cursor: pointer;
    }

    /***** Балун на карте *****/

    .balloon {
      width: 256px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      font-size: 15px;
    }

    .balloon__title {
      font-size: 18px;
      font-weight: 700;
    }

    .balloon__available {
      color: #888888;
      display: flex;
      align-items: center;
      gap: 5px;
    }

    .balloon__available:before {
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #14AE36;
    }

    .balloon__data {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .balloon__link {
      display: flex;
      width: 150px;
      height: 40px;
      align-items: center;
      justify-content: center;
      color: #1967D2;
      border: 2px solid currentColor;
      outline: none;
      text-decoration: none;
      border-radius: 12px;
      font-weight: 700;
    }

    /***** Переключатель легенды на МВ *****/
    .map-block-toggler {
      display: none;
    }

    @media screen and (max-width: 767.98px) {
      .map-legend:not([data-shown]) {
        display: none;
      }

      .map-legend[data-shown] {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        background-color: #fff;
        z-index: 100;
      }

      .map-legend[data-shown] .map-legend-hide {
        width: 100%;
        justify-content: center;
      }

      .map-legend-close {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        background-color: transparent;
        border: none;
        outline: none;
        padding: 0;
        width: 24px;
        height: 24px;
      }

      .map-block-toggler {
        width: 100%;
        border: none;
        background: transparent;
        font-size: 16px;
        font-weight: 700;
        color: #1967d2;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
      }

      .map-block-toggler svg {
        margin-left: 10px;
        transform: rotate(180deg);
        fill: currentColor;
      }

      .map-block__filters-container {
        padding: 10px 0;
        gap: 0;
        justify-content: center;
      }

      .map-block__filter select {
        max-width: 150px;
        min-width: 0;
        width: 150px;
      }

      .map-block__filter:first-child select {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      .map-block__filter:last-child select {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: none
      }

      .map-block__map .gm-fullscreen-control {
        bottom: 10px;
        right: 10px;
        top: auto !important;
      }

      .map-block__map .gm-bundled-control {
        left: 50%;
        transform: translateX(-40px);
        bottom: 123px !important;
      }

      .map-block__map .gm-bundled-control>div>div {
        display: flex;
        width: 80px !important;
        height: 40px !important;

      }

      .map-block__map .gm-bundled-control>div>div>*:not(button) {
        display: none;
      }
    }
  </style>

  <div class="map-block-wrapper">
    <div class="map-block">
      <template class="distributor-tmpl">
        <div class="distributor">
          <label class="distributor__wrapper">
            <input type="checkbox" name="distributors[]" />
            <div class="distributor__icon">
              <img src="" alt="" height="32" />
            </div>
          </label>
        </div>
      </template>

      <template class="balloon-tmpl">
        <div class="balloon">
          <div class="balloon__logo">
            <img src="" alt="" height="40" />
          </div>
          <div class="balloon__data">
            <div class="balloon__title"></div>
            <div class="balloon__description"></div>
            <div class="balloon__address"></div>
            <div class="balloon__phone"></div>
            <div class="balloon__available">
              In stock and ready to ship
            </div>
          </div>
          <div class="balloon__footer">
            <a href="" target="_blank" class="balloon__link">Learn more</a>
          </div>
        </div>
      </template>

      <div class="map-block__container">
        <div class="map-block__map"></div>
      </div>

      <form class="map-block__controls">
        <div class="map-block__legend map-legend">
          <button class="map-legend-close">
            <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2"
              viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path
                d="m12 10.93 5.719-5.72c.146-.146.339-.219.531-.219.404 0 .75.324.75.749 0 .193-.073.385-.219.532l-5.72 5.719 5.719 5.719c.147.147.22.339.22.531 0 .427-.349.75-.75.75-.192 0-.385-.073-.531-.219l-5.719-5.719-5.719 5.719c-.146.146-.339.219-.531.219-.401 0-.75-.323-.75-.75 0-.192.073-.384.22-.531l5.719-5.719-5.72-5.719c-.146-.147-.219-.339-.219-.532 0-.425.346-.749.75-.749.192 0 .385.073.531.219z" />
            </svg>
          </button>
          <div class="map-legend__content">
            <div class="map-legend__title">Distributors</div>
            <div class="map-block__distributors"></div>
          </div>
          <button type="button" class="map-legend__control map-legend-hide">
            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 24 24">
              <path d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z" />
            </svg>
            Hide legend
          </button>
          <button type="button" class="map-legend__control map-legend-show">
            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 24 24">
              <path d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z" />
            </svg>
          </button>
        </div>
        <div class="map-block__filters">
          <div class="map-block__filters-container">
            <div class="map-block__filter">
              <select class="map-block__state" name="state" id="" placeholder="State">
                <option value="">State</option>
              </select>
            </div>
            <div class="map-block__filter">
              <select class="map-block__city" name="city" id="" placeholder="City">
                <option value="">City</option>
              </select>
            </div>
          </div>
        </div>
      </form>
    </div>

    <button class="map-block-toggler map-legend-show">
      Show legend
      <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 24 24">
        <path d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z" />
      </svg>
    </button>
  </div>

  <script>
    /** НАСТРОЙКИ МОЖНО ИЗМЕНЯТЬ */

    /** Путь до изображений */
    var IMG_BASE =
      'https://new.luminsmart.com/themes/wto/assets/images/distributors/';

    /** Размер пина на карте */
    var MARKER_SIZE = 40;

    /** Начальный зум карты */
    var INITIAL_ZOOM = 7;

    /** Список дистрибьторов
     *
     * name - название (выводится в балуне на карте)
     * logo - длинный логотип, выводится в фильтрах
     * icon - иконка для пина на карте (40x40)
     * points - массив точек на карте
     * description - указать, если описание общее для всех точек
     * phone - указать, если телефон общий для всех точек
     * link - ссылка
     *
     * отдельная точка:
     * state - штат, будет выведен в фильтре по штату
     * city - город, будет выведен в фильтре по городу
     * coordinates - координаты на карте в формате [latitude, longitude]
     * address - адрес точки, выводится в балуне
     * phone - телефон точки, нигде не выводится, если телефон общий для всех точек, можно не указывать (будет взят из данных дистрибьютора)
     * description - описание точки, если описание общее для всех точек, можно не указывать (будет взять из данных дистрибьютора)
     * available - наличие
     */
    const DISTRIBUTORS = [
      {
        name: 'Greentech Renewables',
        logo: 'greentech-logo.png',
        icon: 'greentech-icon-bg.png',
        link: 'https://www.greentechrenewables.com/',
        points: [
          {
            state: 'NY',
            city: 'Albany',
            coordinates: [
              42.72357357065214, -73.85645593165326,
            ],
            address: '102 Karner Rd, Ste 2, Albany, NY 12205',
            phone: '(518) 608-4720',
            description:
              'Serving the Albany, Kingston, Lake Placid, Cooperstown, Utica, Poughkeepsie, and Binghamton areas, Greentech Renewables Albany is a trusted local resource for all of your solar equipment, product expertise, and sales support needs.',
            available: true,
          },
          {
            state: 'MA',
            city: 'Auburn',
            coordinates: [
              42.22139104210286, -71.82878255573206,
            ],
            address: '3 C StreetAuburn, MA 01501',
            phone: '(774) 243-9597',
            description:
              'Located in Auburn, MA and serving the Western MA, Central MA, Greater Boston, Cape & Islands, North Shore, South Shore, Greater Worcester, Greater Providence, Fall River, New Hampshire, and Rhode Island regions.',
            available: true,
          },
          {
            state: 'MT',
            city: 'Bozeman',
            coordinates: [
              45.700612392044974, -111.04461774502451,
            ],
            address: '467 West Griffin Drive Bozeman, MT 59715',
            phone: '(406) 404-2373',
            description:
              'Located in Bozeman, MT and serving the Helena, Billings, and Butte areas, Greentech Renewables Bozeman is a trusted local resource for all of your solar equipment, product expertise, and sales support needs.',
            available: true,
          },
          {
            state: 'CT',
            city: 'Danbury',
            coordinates: [41.4103911486855, -73.40776484519641],
            address: '15 Old Sherman Tpk Danbury, CT 06810',
            phone: '(203) 744-3605',
            description:
              'Located in Danbury, CT, Greentech Renewables Danbury is a trusted local resource for all of your solar equipment, product expertise, and sales support needs.',
            available: true,
          },
          {
            state: 'TX',
            city: 'Dallas',
            coordinates: [
              32.75836028211846, -97.04331236083706,
            ],
            address: '912 113th Street Arlington, TX 76011',
            phone: '(972) 972-4510',
            description:
              'Located in Arlington, TX, Greentech Renewables DFW is a trusted local resource for all of your solar equipment, product expertise, and sales support needs.',
            available: true,
          },
          {
            state: 'CO',
            city: 'Denver',
            coordinates: [
              39.722426509136014, -105.01717618943931,
            ],
            address: '2475 West 4th Avenue Denver, CO 80223',
            phone: '(720) 512-3200',
            description:
              'Located in Denver, CO and serving the Boulder, Fort Collins, Brighton, Aurora, Golden, Longmont, Loveland, Avon, Vail, and Silverthorne areas, Greentech Renewables Denver is a trusted local resource for all of your solar equipment, product expertise, and sales support needs.',
            available: true,
          },
          {
            state: 'MI',
            city: 'Detroit',
            coordinates: [
              42.34175695318505, -83.44674741632436,
            ],
            address: '41106 Koppernick Rd Canton, MI 48187',
            phone: '(734) 335-7510',
            description:
              'Located in Detroit, MI, Greentech Renewables Detroit is a trusted local resource for all of your solar equipment, product expertise, and sales support needs. Serving all of South, Central, and Northern Michigan.',
            available: true,
          },
          {
            state: 'TX',
            city: 'Houston',
            coordinates: [
              29.783469408256387, -95.84548324557908,
            ],
            address:
              '500 Morris Oliver Way STE 300 Katy, TX 77494',
            phone: '(281) 665-4310',
            description:
              'Located in Houston, TX, Greentech Renewables Houston is a trusted local resource for all of your solar equipment, product expertise, and sales support needs.',
            available: true,
          },
          {
            state: 'FL',
            city: 'Miami',
            coordinates: [26.230781381065114, -80.14629578985],
            address:
              '1742 West Atlantic Blvd Pompano Beach, FL 33069',
            phone: '(954) 973-9730',
            description:
              'Located in Pompano Beach, FL, Greentech Renewables Miami is a trusted local resource for all of your solar equipment, product expertise, and sales support needs.',
            available: true,
          },
          {
            state: 'FL',
            city: 'Orlando',
            coordinates: [
              28.454514099807582, -81.41403746095851,
            ],
            address: '7527 Exchange Dr. Orlando, FL 32809',
            phone: '(407) 412-5209',
            description:
              'Located in Orlando, FL and serving the Lake Buena Vista, Winter Park, Kissimmee, Sanford, and Titusville areas, Greentech Renewables Orlando is a trusted local resource for all of your solar equipment, product expertise, and sales support needs.',
            available: true,
          },
          {
            state: 'PA',
            city: 'Pittsburgh',
            coordinates: [40.4463636026286, -80.3127933298889],
            address:
              '340 South Campus Drive Imperial, PA 15126',
            phone: '(412) 472-7001',
            description:
              'Opening soon in Pittsburgh, PA. We aim to become a trusted local resource for all of your solar equipment, product expertise, and sales support needs.',
            available: true,
          },
          {
            state: 'VA',
            city: 'Richmond',
            coordinates: [37.59246629023895, -77.4095166453357],
            address: '4273 Carolina Ave Richmond, VA 23222',
            phone: '(804) 767-1360',
            description:
              'Located in Richmond, VA, Greentech Renewables Virginia is a trusted local resource for all of your solar equipment, product expertise, and sales support needs.',
            available: true,
          },
          {
            state: 'CA',
            city: 'Riverside',
            coordinates: [
              33.99717857143846, -117.3403053166191,
            ],
            address: '1601 Iowa Ave Riverside, CA 92507',
            phone: '(951) 684-7811',
            description:
              'Located in Riverside, CA, servicing Southern California. Greentech Renewables Riverside is a trusted local resource for all of your solar equipment, product expertise, and sales support needs.',
            available: true,
          },
          {
            state: 'TX',
            city: 'San Antonio',
            coordinates: [
              29.457503169953775, -98.41090855908014,
            ],
            address:
              '4210 N I-35 STE 201 San Antonio, TX 78218',
            phone: '(210) 988-2045',
            description:
              'Located in San Antonio, TX and serving the San Marcos, New Braunfels, Laredo, Corpus Christi, and Boerne areas, Greentech Renewables San Antonio is a trusted local resource for all of your solar equipment, product expertise, and sales support needs.',
            available: true,
          },
          {
            state: 'UT',
            city: 'Salt Lake City',
            coordinates: [
              40.721618271660056, -111.9839397163865,
            ],
            address:
              '2242 S Presidents Drive, Suite A&B West Valley City, UT 84120',
            phone: '(801) 456-6004',
            description:
              'Serving the West Valley City, Ogden, Provo, Twin Peaks, and Park City areas, Greentech Renewables Salt Lake City is a trusted local resource for all of your solar equipment, product expertise, and sales support needs.',
            available: true,
          },
          {
            state: 'PA',
            city: 'Stroudsburg',
            coordinates: [
              40.98763313722516, -75.23182593172028,
            ],
            address:
              '1332 North 9th Street Ste 101 Stroudsburg, PA 18360',
            phone: '(570) 424-0446',
            description:
              'Located in Stroudsburg, PA, Greentech Renewables Stroudsburg is a trusted local resource for all of your solar equipment, product expertise, and sales support needs.',
            available: true,
          },
          {
            state: 'FL',
            city: 'Tampa Bay',
            coordinates: [
              27.53500847985377, -82.51451965913039,
            ],
            address:
              '2511 51st Ave E Unit 100 Palmetto, FL 34221',
            phone: '(941) 413-0403',
            description:
              'Located in Palmetto, FL and serving the Bradenton, Sarasota, St. Petersburg, Lakewood Ranch, and Tampa areas, Greentech Renewables Tampa Bay is a trusted local resource for all of your solar equipment, product expertise, and sales support needs.',
            available: true,
          },
          {
            state: 'CT',
            city: 'Wallingford',
            coordinates: [
              41.430080085690555, -72.83800988937536,
            ],
            address:
              '2 Toelles Road Units 6, 7 & 8 Wallingford, CT 06492',
            phone: '(203) 269-8064',
            description:
              'Our team serves the New Haven, Hartford, Stamford, Norwalk, and New London areas in-state, along with Springfield and Holyoke in Massachusetts and Providence, Westerly, and Kingston in Rhode Island.',
            available: true,
          },
          {
            state: 'SC',
            city: 'West Columbia',
            coordinates: [
              33.91116214355987, -81.07147808778575,
            ],
            address:
              '423 Foster Brothers Drive, Suite 300 West Columbia, SC 29172',
            phone: '(803) 939-2840',
            description:
              'Located in West Columbia, SC, Greentech Renewables West Columbia serves the Columbia, Charleston, Greenville, and Myrtle Beach areas in-state, along with Charlotte and Asheville in North Carolina and Augusta and Savannah in Georgia.',
            available: true,
          },
        ],
      },
      {
        name: 'City Electric Supply',
        logo: 'ces-logo.png',
        icon: 'ces-icon-bg.png',
        link: 'https://www.cityelectricsupply.com/',
        points: [
          {
            state: 'TN',
            city: 'Manchester',
            coordinates: [
              35.46672917356218, -86.06915837424364,
            ],
            address:
              '1703 Hillsboro Blvd, Manchester, TN 37355',
            phone: '(931) 728-6040',
            description:
              'Since 1983, CES has been helping supply your residential, commercial, and industrial projects across the U.S.',
            available: true,
          },
        ],
      },
      {
        name: 'Rexel',
        logo: 'rexel-logo.png',
        icon: 'rexel-icon-bg.png',
        link: 'https://www.rexelusa.com/',
        points: [
          {
            state: 'TX',
            city: 'Carollton',
            coordinates: [
              32.99462694832696, -96.92981283199389,
            ],
            address: '2965 Commodore Dr Carrollton, TX 75007',
            phone: '(972) 389-5500',
            description:
              'The Rexel electrical supply branch in Carrollton, TX serves the needs of construction and industrial electricians, as well as a wide variety of other electrical and general contractor supply needs in the Dallas/Fort Worth (DFW) area.',
            available: true,
          },
          {
            state: 'TX',
            city: 'Austin',
            coordinates: [
              30.209956122551006, -97.71620807255157,
            ],
            address: '6110 Trade Center Dr, Austin, TX 78744',
            phone: '(737) 402-3500',
            description:
              'The Rexel electrical supply branch in Carrollton, TX serves the needs of construction and industrial electricians, as well as a wide variety of other electrical and general contractor supply needs in the Austin area.',
            available: true,
          },
          {
            state: 'TX',
            city: 'Houston',
            coordinates: [
              29.850520357516608, -95.49278080274122,
            ],
            address: '6901 W Tidwell Rd, Houston, TX 77092',
            phone: '(713) 939-5100',
            description:
              'The Rexel electrical supply branch in Carrollton, TX serves the needs of construction and industrial electricians, as well as a wide variety of other electrical and general contractor supply needs in the Houston area.',
            available: true,
          },
        ],
      },
      {
        name: 'NAZ Solar Electric',
        logo: 'naz-logo.png',
        icon: 'naz-icon-bg.png',
        link: 'https://www.solar-electric.com/',
        points: [
          {
            state: 'AZ',
            city: 'Flagstaff',
            coordinates: [
              35.21600737864186, -111.59264555890805,
            ],
            address:
              '3695 E Industrial Drive Flagstaff, AZ 86004',
            phone: '800-383-0195',
            description:
              "When you purchase equipment from NAZ Solar Electric, you're getting much more than just the equipment. You're getting full access to a team of professionals that's ready to help you get your system up and running.",
            available: true,
          },
        ],
      },
      {
        name: 'AltE',
        logo: 'alte-logo.png',
        icon: 'alte-icon.png',
        link: 'https://www.altestore.com/',
        points: [
          {
            state: 'MA',
            city: 'Boxborough',
            coordinates: [
              42.479499851277836, -71.55429144515496,
            ],
            address:
              '330 Codman Hill Road Boxborough, MA 01719',
            phone: '877-878-4060',
            description:
              'Our 15 years of providing industry-leading service and support to installers have taught us that you need a distributor you can trust',
            available: true,
          },
        ],
      },
      {
        name: 'Renvu',
        logo: 'renvu-logo.png',
        icon: 'renvu-icon-bg.png',
        link: 'https://www.renvu.com/',
        points: [
          {
            state: 'CA',
            city: 'Mountain View',
            coordinates: [
              37.39008128201608, -122.09505180116304,
            ],
            address:
              '1049 El Monte Avenue Ste C Mountain View, CA 94040',
            phone: '(855) 755-5855',
            description:
              'We are a leading international solar distributor headquartered in Mountain View, California  and serving U.S., Mexico, Central America, and the Caribbean. We have warehouses located across the United States in California, New Jersey, and Texas.',
            available: true,
          },
        ],
      },
      {
        name: 'US Renewables',
        description:
          'At U.S Renewable Solutions, we are here to service all of your PV installation needs. With over $5MM of solar material in stock in 4 distribution centers across the East Coast, we are uniquely positioned to provide the equipment that you need, exactly when you need it.',
        phone: '866-662-3939',
        logo: 'usr-logo.png',
        icon: 'usr-icon.png',
        link: 'https://www.usrenewablesolutions.com/',
        points: [
          {
            state: 'CT',
            city: 'PUTNAM',
            coordinates: [41.9231421909209, -71.90772088750468],
            address: '144 PROVIDENCE STREET, PUTNAM, CT 06260',
          },
          {
            state: 'RI',
            city: 'CRANSTON',
            coordinates: [
              41.76236472716241, -71.43076584518282,
            ],
            address:
              '970 WELLINGTON AVENUE, CRANSTON, RI 02895',
          },
          {
            state: 'MA',
            city: 'Worcest',
            coordinates: [
              42.26901863917562, -71.77784865865524,
            ],
            address:
              '333 SHREWSBURY STREET, WORCESTER, MA 01604',
          },
          {
            state: 'RI',
            city: 'Woonsocket',
            coordinates: [42.00445666692343, -71.5110097470251],
            address: '113 CLINTON STREET, WOONSOCKET, RI 02895',
          },
          {
            state: 'MA',
            city: 'Fall River',
            coordinates: [
              41.67496164915025, -71.14525142984232,
            ],
            address:
              '818 JEFFERSON STREET, FALL RIVER, MA 02721',
          },
          {
            state: 'MA',
            city: 'Franklin',
            coordinates: [
              42.08204412723991, -71.45129326051429,
            ],
            address:
              '1376 WEST CENTRAL STREET, FRANKLIN, MA 02038',
          },
          {
            state: 'MA',
            city: 'Leominster',
            coordinates: [
              42.51347173140169, -71.75625763351319,
            ],
            address: '345 CENTRAL STREET, LEOMINSTER, MA 01453',
          },
          {
            state: 'MA',
            city: 'New Bedford',
            coordinates: [
              41.658257375977676, -70.93410817587433,
            ],
            address:
              '419 SAWYER STREET - 1ST FLOOR, NEW BEDFORD, MA 02746',
          },
          {
            state: 'MA',
            city: 'Framingham',
            coordinates: [
              42.275461329043196, -71.4148267652707,
            ],
            address: '126 IRVING STREET, FRAMINGHAM, MA 01702',
          },
          {
            state: 'MA',
            city: 'Brockton',
            coordinates: [
              42.05289710159179, -71.06150512982764,
            ],
            address: '195 LIBERTY STREET, BROCKTON, MA 02301',
          },
          {
            state: 'MA',
            city: 'Stoughton',
            coordinates: [
              42.11342826618514, -71.06748367585688,
            ],
            address:
              '100 CAMPANELLI PARKWAY, STOUGHTON, MA 02072',
          },
          {
            state: 'MA',
            city: 'Plymouth',
            coordinates: [
              41.97990293459895, -70.69475768935416,
            ],
            address: '430-1 COURT ST, PLYMOUTH, MA 02360',
          },
          {
            state: 'NH',
            city: 'Newington',
            coordinates: [
              43.101254678562775, -70.80419503349007,
            ],
            address: '40 OLD DOVER ROAD, NEWINGTON, NH 03801',
          },
        ],
      },
    ];

    /** КОНЕЦ НАСТРОЕК */

    function initMap() {
      const selectors = {
        root: '.map-block-wrapper',
        map: '.map-block__map',
        controls: '.map-block__controls',
        legend: '.map-legend',
        legendHideControl: '.map-legend-hide, .map-legend-close',
        legendShowControl: '.map-legend-show',
        distributors: '.map-block__distributors',
        distributorTemplate: '.distributor-tmpl',
        distributor: '.distributor',
        cityFilter: '.map-block__city',
        stateFilter: '.map-block__state',
        balloonTemplate: '.balloon-tmpl',
        balloon: '.balloon',
        balloonLogo: '.balloon__logo',
        balloonTitle: '.balloon__title',
        balloonDescription: '.balloon__description',
        balloonAddress: '.balloon__address',
        balloonPhone: '.balloon__phone',
        balloonAvailable: '.balloon__available',
        balloonLink: '.balloon__link'
      };

      var markerSize = new google.maps.Size(MARKER_SIZE, MARKER_SIZE);
      var activeBalloon = null;
      var isMobile = false;

      var $root = document.querySelector(selectors.root);
      var $controls = $root.querySelector(selectors.controls);
      var $map = $root.querySelector(selectors.map);
      var $legend = $root.querySelector(selectors.legend);

      /** Отдельные точки в формате
       * state
       * city
       * coordinates
       * address
       * phone
       * description
       * available
       * distributor
       * icon
       * logo
       */
      var points = [];
      var states = [];
      var cities = [];
      var citiesByState = {};

      DISTRIBUTORS.forEach(function (distributor) {
        distributor.points.forEach(function (point) {
          point.distributor = distributor.name;
          point.icon = IMG_BASE + distributor.icon;
          point.logo = IMG_BASE + distributor.logo;
          if (!('description' in point))
            point.description = distributor.description;
          if (!('phone' in point))
            point.phone = distributor.phone;
          points.push(point);

          var city = point.city;
          var state = point.state;

          if (!states.includes(state)) states.push(state);
          if (!cities.includes(city)) cities.push(city);

          if (!citiesByState[state]) citiesByState[state] = [];
          var stateCities = citiesByState[state];
          if (!stateCities.includes[city]) stateCities.push(city);
        });
      });

      cities.sort(function (a, b) {
        return a > b ? 1 : -1;
      });

      states.sort(function (a, b) {
        return a > b ? 1 : -1;
      });

      const medianPosition = (function getMedianPosition() {
        const lats = [];
        const langs = [];

        points.forEach(function (point) {
          lats.push(point.coordinates[0]);
          langs.push(point.coordinates[1]);
        });

        lats.sort(function (a, b) {
          return a - b;
        });
        langs.sort(function (a, b) {
          return a - b;
        });

        const center = Math.floor(points.length / 2);

        return [lats[center], langs[center]];
      })();

      var renderMap = function renderMap() {
        var map = new google.maps.Map($map, {
          center: {
            lat: medianPosition[0],
            lng: medianPosition[1],
          },
          zoom: INITIAL_ZOOM,
        });
        return map;
      };

      var renderLegend = function renderLegend() {
        var $container = $controls.querySelector(
          selectors.distributors
        );
        var $template = $root.querySelector(
          selectors.distributorTemplate
        );
        var $legendShow = $root.querySelectorAll(selectors.legendShowControl)
        var $legendHide = $root.querySelectorAll(selectors.legendHideControl)

        DISTRIBUTORS.forEach(function (distributor) {
          var $distributor = $template.content.cloneNode(true);
          var $input = $distributor.querySelector('input');
          $input.value = distributor.name;
          $input.checked = true;
          var $img = $distributor.querySelector('img');
          $img.src = IMG_BASE + distributor.logo;
          $img.alt = distributor.name;
          $container.appendChild($distributor);
        });

        Array.from($legendShow).forEach(function ($control) {
          $control.addEventListener('click', function () {
            $legend.setAttribute('data-shown', 'true')
          })
        })

        Array.from($legendHide).forEach(function ($control) {
          $control.addEventListener('click', function () {
            $legend.removeAttribute('data-shown')
          })
        })


      };

      var renderFilters = function renderFilters() {
        var $cityFilter = $controls.querySelector(
          selectors.cityFilter
        );
        var $stateFilter = $controls.querySelector(
          selectors.stateFilter
        );

        points.forEach(function (point) {
          if (!cities.includes(point.city))
            cities.push(point.city);
          if (!states.includes(point.state))
            states.push(point.state);
        });

        function renderOption(value) {
          var element = document.createElement('option');
          element.value = value;
          element.textContent = value;
          return element;
        }

        cities.forEach((city) => {
          var $option = renderOption(city);
          $cityFilter.appendChild($option);
        });

        states.forEach((state) => {
          var $option = renderOption(state);
          $stateFilter.appendChild($option);
        });
      };

      var renderBalloon = function renderBalloon(point) {
        var $balloonTemplate = $root.querySelector(
          selectors.balloonTemplate
        );
        var $balloonClone = $balloonTemplate.content.cloneNode(true);
        var $balloon = $balloonClone.querySelector(selectors.balloon);
        var $logo = $balloon.querySelector(selectors.balloonLogo).querySelector('img');
        var $title = $balloon.querySelector(selectors.balloonTitle);
        var $description = $balloon.querySelector(selectors.balloonDescription);
        var $address = $balloon.querySelector(selectors.balloonAddress);
        var $phone = $balloon.querySelector(selectors.balloonPhone);
        var $available = $balloon.querySelector(selectors.balloonAvailable);
        var $link = $balloon.querySelector(selectors.balloonLink);

        $logo.src = point.logo;
        $logo.alt = point.distributor;
        $title.textContent = point.distributor;
        $description.textContent = point.description;
        $address.textContent = point.address;
        $phone.textContent = point.phone;
        $available.hidden = !point.available;
        $link.href = point.link;

        return $balloon.outerHTML;
      };

      var renderMarker = function renderMarker(point, map) {
        var marker = new google.maps.Marker({
          position: new google.maps.LatLng(
            point.coordinates[0],
            point.coordinates[1]
          ),
          icon: {
            url: point.icon,
            size: markerSize,
            scaledSize: markerSize,
          },
        });

        var smallMarker = new google.maps.Marker({
          position: new google.maps.LatLng(
            point.coordinates[0],
            point.coordinates[1]
          ),
        })

        var balloon = new google.maps.InfoWindow({
          content: renderBalloon(point),
        });

        var onClick = function (anchor) {
          if (activeBalloon) activeBalloon.close();
          activeBalloon = balloon;
          balloon.open({
            anchor,
            map,
          });
        }

        marker.addListener('click', function () { onClick(marker) });
        smallMarker.addListener('click', function () { onClick(smallMarker) });

        point.marker = marker;
        point.smallMarker = smallMarker;
        point.balloon = balloon;
      };

      var renderPoints = function renderPoints(map) {
        if (!map) return;

        points.forEach(function (point) {
          renderMarker(point, map);
        });
      };

      var updatePoints = function updatePoints(map) {
        var fd = new FormData($controls);
        var distributors = fd.getAll('distributors[]');
        var city = fd.get('city');
        var state = fd.get('state');

        var $citySelect = $controls.elements.city;
        var $options = Array.from($citySelect.options);

        if (state) {
          var stateCities = citiesByState[state];
          $options.forEach(function ($option) {
            var isActive = stateCities.includes($option.value);
            $option.hidden = !isActive;
            if (!isActive) $options.selected = false;
          })

          if (city && !stateCities.includes(city)) {
            city = null;
            $citySelect.value = ''
          }
        } else {
          $options.forEach(function ($option) {
            $option.hidden = false;
          })
        }

        points.forEach(function (point) {
          var isVisible = true;
          if (!distributors.includes(point.distributor))
            isVisible = false;
          if (city && point.city !== city) isVisible = false;
          if (state && point.state !== state) isVisible = false;

          if (isMobile) {
            point.marker.setMap(null)
            point.smallMarker.setMap(isVisible ? map : null);
          } else {
            point.smallMarker.setMap(null)
            point.marker.setMap(isVisible ? map : null);
          }

          if (!isVisible) {
            point.balloon.close();
          }
        });
      };

      var handleResize = function handleResize(mql) {
        isMobile = !mql.matches;
        if (isMobile) $legend.removeAttribute('data-shown');
        else $legend.setAttribute('data-shown', 'true');
        updatePoints(map);
      }

      var map = renderMap();
      renderLegend();
      renderFilters();
      renderPoints(map);

      var mq = window.matchMedia('screen and (min-width: 768px)');
      handleResize(mq)
      mq.addEventListener("change", handleResize)

      updatePoints(map);

      $controls.addEventListener('change', () => {
        updatePoints(map);
      });
    }
  </script>

  <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCF1VSWGp1q9MdN_OsfocvCdTJGTLPpsWY&callback=initMap"></script>

		</div>
	</div>
</section>
