<section class="section s-section_100vh s-section_pd_11-25">
	<div class="container container_align_center w-container">
		<div class="h-wrap h-wrap_mg-bt_60 tb_mg-bt_30">
			<div class="b-title b-title_mini mob_30">
				{{ block.installers_why_lumin_title }}
			</div>
		</div>
		<div class="h-wrap h-wrap_mg-bt_120 mob_160">
			<div class="b-columns b-columns_space-between mob_gap">
				{% for item in block.installers_why_lumin_rep %}
				<div class="b-columns__col b-columns__col_30 b-columns__col_align_center b-columns__col_flex-v">
					<div class="h-wrap h-wrap_mg-bt_15 mob_mg-rt_15 mob_width_auto">
						<img src="{{ item.image|media }}" loading="lazy" alt="" class="b-icon b-icon_60">
					</div>
					<div class="h-wrap mob_left">
						<div class="h-wrap h-wrap_mg-bt_15 mob_mg-bt_5">
							<div class="b-text b-text_size_24 b-text_extra-bold">
								{{ item.title }}
							</div>
						</div>
						<div class="b-text">
							{{ item.text }}
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="b-block b-block_certified">
			<img class="b-image b-image_cert" src="{{ block.installers_home_image_fon_cert|media }}" alt="" loading="lazy">
			<img src="{{ 'assets/images/bg20(1).jpg'|theme }}" loading="lazy" alt="" class="b-image b-image_cert mob_show">
			<div class="b-columns b-columns_space-between">
				<div class="b-columns__col b-columns__col_60 tb_100 tb_center">
					<div class="h-wrap h-wrap_mg-bt_20">
						<div class="b-text b-text_size_36 b-text_extra-bold">
							{{ block.installers_why_lumin_title_cert }}
						</div>
					</div>
					<div class="h-wrap h-wrap_mg-bt_20">
						<div class="b-text b-text_size_20">
							{{ block.installers_why_lumin_subtitle_cert }}
						</div>
					</div>
					<a data-w-id="{{ block.installers_why_lumin_btn_modal }}" href="#" class="b-button b-button_blue b-button_maxw_210 b-button_height_45 overflow w-button">
						{{ block.installers_why_lumin_text_btn }}
					</a>
				</div>
				<div class="b-columns__col b-columns__col_30 b-columns__col_align_center tb_100">
					<img src="{{ block.installers_home_image_cert|media }}" loading="lazy" alt="" class="b-image b-image_lumin-cert">
				</div>
			</div>
		</div>
	</div>
</section>
