<section class="{{ section_s_section_100vh_s_section_pd_11_25 }}">
	<div class="{{ block.container_container_align_center_w_container }}">
		<div class="{{ block.h_wrap_h_wrap_mg_bt_60_tb_mg_bt_30 }}">
			<div class="{{ block.b_title_b_title_mini_mob_30 }}">
				{{ block.installers_why_lumin_title }}
			</div>
		</div>
		<div class="{{ block.h_wrap_h_wrap_mg_bt_120_mob_160 }}">
			<div class="{{ block.b_columns_b_columns_space_between_mob_gap }}">
				{% for item in block.installers_why_lumin_rep %}
				<div class="{{ item.b_columns__col_b_columns__col_30_b_columns__col_align_center_b_columns__col_flex_v }}">
					<div class="{{ item.h_wrap_h_wrap_mg_bt_15_mob_mg_rt_15_mob_width_auto }}">
						<img src="{{ item.image|media }}" loading="lazy" alt="" class="{{ item.b_icon_b_icon_60 }}">
					</div>
					<div class="{{ item.h_wrap_mob_left }}">
						<div class="{{ item.h_wrap_h_wrap_mg_bt_15_mob_mg_bt_5 }}">
							<div class="{{ item.b_text_b_text_size_24_b_text_extra_bold }}">
								{{ item.title }}
							</div>
						</div>
						<div class="{{ item.b_text }}">
							{{ item.text }}
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="{{ block.b_block_b_block_certified }}">
			<img src="{{ block.installers_home_image_fon_cert|media }}" alt="" loading="lazy" class="{{ block.b_image_b_image_cert }}">
			<img src="{{ 'assets/images/bg20(1).jpg'|theme }}" loading="lazy" alt="" class="{{ block.b_image_b_image_cert_mob_show }}">
			<div class="{{ block.b_columns_b_columns_space_between }}">
				<div class="{{ block.b_columns__col_b_columns__col_60_tb_100_tb_center }}">
					<div class="{{ block.h_wrap_h_wrap_mg_bt_20 }}">
						<div class="{{ block.b_text_b_text_size_36_b_text_extra_bold }}">
							{{ block.installers_why_lumin_title_cert }}
						</div>
					</div>
					<div class="{{ block.h_wrap_h_wrap_mg_bt_20 }}">
						<div class="{{ block.b_text_b_text_size_20 }}">
							{{ block.installers_why_lumin_subtitle_cert }}
						</div>
					</div>
					<a data-w-id="c383f88d-6c6f-8e58-432e-03c0fbcd972e" href="#" class="{{ block.b_button_b_button_blue_b_button_maxw_210_b_button_height_45_w_button }}">
						{{ block.installers_why_lumin_text_btn }}
					</a>
				</div>
				<div class="{{ block.b_columns__col_b_columns__col_30_b_columns__col_align_center_tb_100 }}">
					<img src="{{ block.installers_home_image_cert|media }}" loading="lazy" alt="" class="{{ block.b_image_b_image_lumin_cert }}">
				</div>
			</div>
		</div>
	</div>
</section>
