<section class="section s-section_100vh s-section_pd_11-25">
	<div class="container container_align_center w-container">
		<div class="h-wrap h-wrap_mg-bt_60">
			<div class="b-title b-title_mini mob_30">
				{{ block.installers_map_title }}
			</div>
		</div>
		<div class="h-wrap"><div class="map-block-wrapper">
    <div class="map-block">
      <template class="distributor-tmpl">
        <div class="distributor">
          <label class="distributor__wrapper">
            <input type="checkbox" name="distributors[]" />
            <div class="distributor__icon">
              <img src="" alt="" height="32" />
            </div>
          </label>
        </div>
      </template>

      <template class="balloon-tmpl">
        <div class="balloon">
          <div class="balloon__logo">
            <img src="" alt="" height="40" />
          </div>
          <div class="balloon__data">
            <div class="balloon__title"></div>
            <div class="balloon__description"></div>
            <div class="balloon__address"></div>
            <div class="balloon__phone"></div>
            <div class="balloon__available">
              In stock and ready to ship
            </div>
          </div>
          <div class="balloon__footer">
            <a href="" target="_blank" class="balloon__link">Learn more</a>
          </div>
        </div>
      </template>

      <div class="map-block__container">
        <div class="map-block__map"></div>
      </div>

      <form class="map-block__controls">
        <div class="map-block__legend map-legend">
          <button class="map-legend-close">
            <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2"
              viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path
                d="m12 10.93 5.719-5.72c.146-.146.339-.219.531-.219.404 0 .75.324.75.749 0 .193-.073.385-.219.532l-5.72 5.719 5.719 5.719c.147.147.22.339.22.531 0 .427-.349.75-.75.75-.192 0-.385-.073-.531-.219l-5.719-5.719-5.719 5.719c-.146.146-.339.219-.531.219-.401 0-.75-.323-.75-.75 0-.192.073-.384.22-.531l5.719-5.719-5.72-5.719c-.146-.147-.219-.339-.219-.532 0-.425.346-.749.75-.749.192 0 .385.073.531.219z" />
            </svg>
          </button>
          <div class="map-legend__content">
            <div class="map-legend__title">Distributors</div>
            <div class="map-block__distributors"></div>
          </div>
          <button type="button" class="map-legend__control map-legend-hide">
            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 24 24">
              <path d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z" />
            </svg>
            Hide legend
          </button>
          <button type="button" class="map-legend__control map-legend-show">
            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 24 24">
              <path d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z" />
            </svg>
          </button>
        </div>
        <div class="map-block__filters">
          <div class="map-block__filters-container">
            <div class="map-block__filter">
              <select class="map-block__state" name="state" id="" placeholder="State">
                <option value="">State</option>
              </select>
            </div>
            <div class="map-block__filter">
              <select class="map-block__city" name="city" id="" placeholder="City">
                <option value="">City</option>
              </select>
            </div>
          </div>
        </div>
      </form>
    </div>

    <button class="map-block-toggler map-legend-show">
      Show legend
      <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 24 24">
        <path d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z" />
      </svg>
    </button>
  </div></div>
	</div>
</section>
