<section class="section s-section_100vh s-section_pd_11-25">
	<div class="container container_align_center w-container">
		<div class="h-wrap h-wrap_mg-bt_20">
			<div class="b-title b-title_mini mob_30">
				{{ block.learning_center_tip_title }}
			</div>
		</div>
		<div class="h-wrap h-wrap_mg-bt_30 h-wrap_max-width_970">
			<div class="b-text b-text_size_20">
				{{ block.learning_center_tip_subtitle }}
			</div>
		</div>
		<div data-duration-in="300" data-duration-out="100" data-current="Tab 1" data-easing="ease" class="b-tabs w-tabs">
			<div class="b-tabs__menu b-tabs__menu_mg-bt_40 b-tabs__menu_align_center w-tab-menu">
				<a data-w-tab="Tab 1" class="b-tabs__link b-tabs__link_tips w-inline-block w-tab-link w--current">
					<div>
						Lumin Smart Panel
					</div>
				</a>
				<a data-w-tab="Tab 4" class="b-tabs__link b-tabs__link_tips w-inline-block w-tab-link">
					<div>
						Lumin Edge
					</div>
				</a>
			</div>
			<div class="b-tabs__content w-tab-content">
				<div data-w-tab="Tab 1" class="b-tabs__pane w-tab-pane w--tab-active">
					<div class="h-wrap h-wrap_mg-bt_40 mob_mg-bt_20 hide">
						<div class="b-form w-form">
							<form id="email-form" name="email-form" data-name="Форма" method="get" class="b-form__form b-form__form_grid tb_style mob_style" data-wf-page-id="648baa95d29f649e7b12a40e" data-wf-element-id="bf349b91-9ec5-dadd-f58f-3fc557df9375">
								<div id="w-node-_28a9aca5-ac6f-dcdb-89d3-24a61bcb8a1c-7b12a40e" class="h-wrap">
									<input type="submit" data-wait="Please wait..." id="w-node-e8be5773-4099-5fa1-e42a-9527e7fe5ee4-7b12a40e" class="b-form__btn-reset w-button" value="">
									<input class="b-input b-input_search w-input" maxlength="256" name="text" data-name="text" placeholder="Search" type="text" id="text">
								</div>
								<select id="field-3" name="field-3" data-name="Field 3" class="b-select v-2 w-node-_0af77ae2-f75f-36bd-9cbf-b3313fbf788e-7b12a40e w-select">
									<option value="">
										Category
									</option>
								</select>
								<select id="field-3" name="field-3" data-name="Field 3" class="b-select v-2 w-node-_18a73e0f-d31d-6ed5-a9ee-11ea82f265f2-7b12a40e w-select">
									<option value="">
										Sort
									</option>
								</select>
							</form>
							<div class="b-form__success-mes w-form-done">
								<div>
									Спасибо за заявку!
									<br>
									В ближайшее время мы свяжемся с вами
								</div>
							</div>
							<div class="b-form__error-mes w-form-fail">
								<div>
									Ошибка! Что-то пошло не так.
								</div>
							</div>
						</div>
					</div>
					<div>
						{% set posts = postsVideo.paginate(9) %}
					</div>
					{% ajaxPartial "records/posts-video" %}
				</div>
				<div data-w-tab="Tab 4" class="b-tabs__pane w-tab-pane">
					<div class="h-wrap h-wrap_mg-bt_40 mob_mg-bt_20">
						<div class="b-form w-form">
							<form id="email-form" name="email-form" data-name="Форма" method="get" class="b-form__form b-form__form_grid tb_style mob_style" data-wf-page-id="648baa95d29f649e7b12a40e" data-wf-element-id="ede7a9a5-fa82-c06b-b535-c5ec7a148d83">
								<div id="w-node-ede7a9a5-fa82-c06b-b535-c5ec7a148d84-7b12a40e" class="h-wrap">
									<input type="submit" data-wait="Please wait..." id="w-node-ede7a9a5-fa82-c06b-b535-c5ec7a148d85-7b12a40e" class="b-form__btn-reset w-button" value="">
									<input class="b-input b-input_search w-input" maxlength="256" name="text-3" data-name="Text 3" placeholder="Search" type="text" id="text-3">
								</div>
								<select id="field-3" name="field-3" data-name="Field 3" class="b-select v-2 w-node-ede7a9a5-fa82-c06b-b535-c5ec7a148d87-7b12a40e w-select">
									<option value="">
										Category
									</option>
								</select>
								<select id="field-3" name="field-3" data-name="Field 3" class="b-select v-2 w-node-ede7a9a5-fa82-c06b-b535-c5ec7a148d88-7b12a40e w-select">
									<option value="">
										Sort
									</option>
								</select>
							</form>
							<div class="b-form__success-mes w-form-done">
								<div>
									Спасибо за заявку!
									<br>
									В ближайшее время мы свяжемся с вами
								</div>
							</div>
							<div class="b-form__error-mes w-form-fail">
								<div>
									Ошибка! Что-то пошло не так.
								</div>
							</div>
						</div>
					</div>
					<div class="h-wrap h-wrap_mg-bt_60 tb_mg-bt_40">
						<div class="b-grid b-grid_col_3 tb_2-col mob_1-col-ar">
							<div id="w-node-_09cc65a7-0901-b6b2-20f4-b8ef7783484f-7b12a40e" class="b-card-post">
								<div class="b-card-post__head">
									<img loading="lazy" src="{{ 'assets/images/img_post20(2).jpg'|theme }}" alt="" class="b-card-post__i">
									<a href="#" class="b-card-post__link w-inline-block"></a>
								</div>
								<div class="h-wrap h-wrap_mg-bt_5">
									<div class="b-text b-text_size_14 b-text_gray b-text_bold">
										May 18, 2021
									</div>
								</div>
								<div class="h-wrap h-wrap_mg-bt_5">
									<div class="b-text b-text_size_20 b-text_bold mob_20">
										Lumin Smart Power Mode
									</div>
								</div>
								<div class="h-wrap h-wrap_mg-bt_30 h-wrap_max-width_970">
									<div class="b-text">
										Lumin Smart Power Mode Lumin Smart Power Mode Lumin Smart Power Mode
									</div>
								</div>
							</div>
							<div id="w-node-_09cc65a7-0901-b6b2-20f4-b8ef7783485c-7b12a40e" class="b-card-post">
								<div class="b-card-post__head">
									<img loading="lazy" src="{{ 'assets/images/img_post20(3).jpg'|theme }}" alt="" class="b-card-post__i">
									<a href="#" class="b-card-post__link w-inline-block"></a>
								</div>
								<div class="h-wrap h-wrap_mg-bt_5">
									<div class="b-text b-text_size_14 b-text_gray b-text_bold">
										May 18, 2021
									</div>
								</div>
								<div class="h-wrap h-wrap_mg-bt_5">
									<div class="b-text b-text_size_20 b-text_bold mob_20">
										Lumin Named Top 2020 Product by Solar Power World.
									</div>
								</div>
								<div class="h-wrap h-wrap_mg-bt_30 h-wrap_max-width_970">
									<div class="b-text">
										Lumin Smart Power Mode Lumin Smart Power Mode 2020 Product by Solar Power World.
									</div>
								</div>
							</div>
							<div id="w-node-_09cc65a7-0901-b6b2-20f4-b8ef77834869-7b12a40e" class="b-card-post">
								<div class="b-card-post__head">
									<img loading="lazy" src="{{ 'assets/images/img_post20(1).jpg'|theme }}" alt="">
									<a href="#" class="b-card-post__link w-inline-block"></a>
								</div>
								<div class="h-wrap h-wrap_mg-bt_5">
									<div class="b-text b-text_size_14 b-text_gray b-text_bold">
										May 18, 2021
									</div>
								</div>
								<div class="h-wrap h-wrap_mg-bt_5">
									<div class="b-text b-text_size_20 b-text_bold mob_20">
										Dominion Energy Innovation Center Launches DEIC Accelerate
									</div>
								</div>
								<div class="h-wrap h-wrap_mg-bt_30 h-wrap_max-width_970">
									<div class="b-text">
										Lumin Smart Power Mode Innovation Center Launches DEIC Accelerate
									</div>
								</div>
							</div>
							<div id="w-node-_09cc65a7-0901-b6b2-20f4-b8ef77834876-7b12a40e" class="b-card-post">
								<div class="b-card-post__head">
									<img loading="lazy" src="{{ 'assets/images/img_post20(2).jpg'|theme }}" alt="">
									<a href="#" class="b-card-post__link w-inline-block"></a>
								</div>
								<div class="h-wrap h-wrap_mg-bt_5">
									<div class="b-text b-text_size_14 b-text_gray b-text_bold">
										May 18, 2021
									</div>
								</div>
								<div class="h-wrap h-wrap_mg-bt_5">
									<div class="b-text b-text_size_20 b-text_bold mob_20">
										Lumin Smart Power Mode
									</div>
								</div>
								<div class="h-wrap h-wrap_mg-bt_30 h-wrap_max-width_970">
									<div class="b-text">
										Lumin Smart Power Mode Lumin Smart Power Mode Lumin Smart Power Mode
									</div>
								</div>
							</div>
							<div id="w-node-_09cc65a7-0901-b6b2-20f4-b8ef77834883-7b12a40e" class="b-card-post">
								<div class="b-card-post__head">
									<img loading="lazy" src="{{ 'assets/images/img_post20(3).jpg'|theme }}" alt="">
									<a href="#" class="b-card-post__link w-inline-block"></a>
								</div>
								<div class="h-wrap h-wrap_mg-bt_5">
									<div class="b-text b-text_size_14 b-text_gray b-text_bold">
										May 18, 2021
									</div>
								</div>
								<div class="h-wrap h-wrap_mg-bt_5">
									<div class="b-text b-text_size_20 b-text_bold mob_20">
										Lumin Named Top 2020 Product by Solar Power World.
									</div>
								</div>
								<div class="h-wrap h-wrap_mg-bt_30 h-wrap_max-width_970">
									<div class="b-text">
										Lumin Smart Power Mode Lumin Smart Power Mode 2020 Product by Solar Power World.
									</div>
								</div>
							</div>
							<div id="w-node-_09cc65a7-0901-b6b2-20f4-b8ef77834890-7b12a40e" class="b-card-post">
								<div class="b-card-post__head">
									<img loading="lazy" src="{{ 'assets/images/img_post20(1).jpg'|theme }}" alt="">
									<a href="#" class="b-card-post__link w-inline-block"></a>
								</div>
								<div class="h-wrap h-wrap_mg-bt_5">
									<div class="b-text b-text_size_14 b-text_gray b-text_bold">
										May 18, 2021
									</div>
								</div>
								<div class="h-wrap h-wrap_mg-bt_5">
									<div class="b-text b-text_size_20 b-text_bold mob_20">
										Dominion Energy Innovation Center Launches DEIC Accelerate
									</div>
								</div>
								<div class="h-wrap h-wrap_mg-bt_30 h-wrap_max-width_970">
									<div class="b-text">
										Lumin Smart Power Mode Innovation Center Launches DEIC Accelerate
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
