<section class="section s-section_100vh s-section_pd_11-25 s-section_gray">
	<div class="container container_align_center w-container">
		<div class="h-wrap h-wrap_mg-bt_30">
			<div class="b-title b-title_mini mob_30">
				{{ block.learning_center_freshdesk_title }}
			</div>
		</div>
		<div class="h-wrap h-wrap_mg-bt_40 mob_mg-bt_20 hide">
			<div class="b-form w-form">
				<form data-name="Форма" id="email-form" name="email-form" method="get" class="b-form__form b-form__form_grid tb_style mob_style" data-wf-page-id="648baa95d29f649e7b12a40e" data-wf-element-id="8327a6b9-f8ed-5b30-ec34-e670cc7072e4">
					<div id="w-node-_8327a6b9-f8ed-5b30-ec34-e670cc7072e5-7b12a40e" class="h-wrap">
						<input type="submit" value="" data-wait="Please wait..." id="w-node-_8327a6b9-f8ed-5b30-ec34-e670cc7072e6-7b12a40e" class="b-form__btn-reset w-button">
						<input type="text" class="b-input b-input_search w-input" maxlength="256" name="text-2" data-name="Text 2" placeholder="Search" id="text-2">
					</div>
					<select id="field-3" name="field-3" data-name="Field 3" class="b-select v-2 w-node-_8327a6b9-f8ed-5b30-ec34-e670cc7072e8-7b12a40e w-select">
						<option value="">
							Category
						</option>
					</select>
					<select id="field-3" name="field-3" data-name="Field 3" class="b-select v-2 w-node-_8327a6b9-f8ed-5b30-ec34-e670cc7072e9-7b12a40e w-select">
						<option value="">
							Sort
						</option>
					</select>
				</form>
				<div class="b-form__success-mes w-form-done">
					<div>
						Спасибо за заявку!
						<br>
						В ближайшее время мы свяжемся с вами
					</div>
				</div>
				<div class="b-form__error-mes w-form-fail">
					<div>
						Ошибка! Что-то пошло не так.
					</div>
				</div>
			</div>
		</div>
		<div class="h-wrap h-wrap_mg-bt_60">
			<div class="b-grid b-grid_col_3 tb_2-col mob_1-col">
				<div id="w-node-_8327a6b9-f8ed-5b30-ec34-e670cc7072f3-7b12a40e" class="b-card-post b-card-post_pd_30 b-card-post_shadow">
					<div class="h-wrap h-wrap_mg-bt_5">
						<div class="b-text b-text_size_20 b-text_bold">
							CT Configuration Options
						</div>
					</div>
					<div class="b-text">
						A Lumin Smart Panel ships standard with one pair of 200-amp CTs. Most Lumin installations use these as the Main CTs and clamp them between the MID/ATS and the protected-loads panel.
					</div>
					<a href="#" class="b-card-post__links">
						Read more
					</a>
				</div>
				<div id="w-node-f3a8d216-1eb3-c39c-4084-4a9f6169b18a-7b12a40e" class="b-card-post b-card-post_pd_30 b-card-post_shadow">
					<div class="h-wrap h-wrap_mg-bt_5">
						<div class="b-text b-text_size_20 b-text_bold">
							Smart Power Mode (Improves Upon Legacy Off-Grid Mode)
						</div>
					</div>
					<div class="b-text">
						The key takeaway: Existing Lumin users who used Off-Grid Mode prior to mid-2022 do not have to make any adjustments to their settings. If you do nothing, Smart Power
					</div>
					<a href="#" class="b-card-post__links">
						Read more
					</a>
				</div>
				<div id="w-node-e6b7deb9-9952-c250-521b-649932ec12d7-7b12a40e" class="b-card-post b-card-post_pd_30 b-card-post_shadow">
					<div class="h-wrap h-wrap_mg-bt_5">
						<div class="b-text b-text_size_20 b-text_bold">
							Smart Energy Management - Enphase Integration
						</div>
					</div>
					<div class="b-text">
						Lumin's energy management feature prolongs the runtime of your home's battery in a grid outage by shedding circuits at certain stages as your battery discharges and re-enabling
					</div>
					<a href="#" class="b-card-post__links">
						Read more
					</a>
				</div>
			</div>
		</div>
		<div class="pagination">
			<div class="page-item">
				<img src="{{ 'assets/images/pagination_arrow20(1).png'|theme }}" loading="lazy" alt="" class="pagination__arrow">
			</div>
			<div class="page-item">
				<div>
					1
				</div>
			</div>
			<div class="page-item active">
				<div>
					2
				</div>
			</div>
			<div class="page-item">
				<div>
					3
				</div>
			</div>
			<div class="pagination__dots">
				<div class="dots">
					...
				</div>
			</div>
			<div class="page-item number">
				<div>
					20
				</div>
			</div>
			<div class="page-item">
				<img src="{{ 'assets/images/pagination_arrow20(2).png'|theme }}" loading="lazy" alt="" class="pagination__arrow">
			</div>
		</div>
	</div>
</section>
