<section class="section s-section_gray s-section_pd_11-25">
	<div class="container container_align_center w-container">
		<div class="h-wrap h-wrap_mg-bt_50 h-wrap_max-width_800">
			<div class="b-title b-title_mini mob_30">
				Learn more about Lumin Edgeor contact sales
			</div>
		</div>
		<div class="b-block b-block_white">
			<div class="b-columns">
				<div class="b-columns__col b-columns__col_50 b-columns__col_pd-lt_60 tb_70 mob_100">
					<div class="h-wrap tb_mg-bt_40">
						<a href="#" class="b-arrow__swiper-prev w-inline-block">
							<div class="b-slider__arrow b-slider__left-arrow galery">
								<img src="{{ 'assets/images/sviper20arrow20(1).svg'|theme }}" loading="lazy" alt="">
							</div>
						</a>
						<a href="#" class="b-arrow__swiper-next w-inline-block">
							<div class="b-slider__arrow b-slider__right-arrow galery">
								<img src="{{ 'assets/images/sviper20arrow20(2).svg'|theme }}" loading="lazy" alt="">
							</div>
						</a>
						<div class="swiper-container gallery-top">
							<div o_loop="Добавить фото в галерею" class="swiper-wrapper">
								<div class="swiper-slide">
									<img src="{{ 'assets/images/D0A4D0BED182D0BE20(1).png'|theme }}" o_image="Изображение галереи" alt="">
								</div>
							</div>
						</div>
						<div class="swiper-container gallery-thumbs">
							<div o_loop="Добавить фото в галерею" class="swiper-wrapper bottom">
								<div class="swiper-slide">
									<img src="{{ 'assets/images/1.png'|theme }}" o_image="Изображение галереи" alt="">
								</div>
								<div class="swiper-slide">
									<img src="{{ 'assets/images/2.png'|theme }}" o_image="Изображение галереи" alt="">
								</div>
								<div class="swiper-slide">
									<img src="{{ 'assets/images/3.png'|theme }}" o_image="Изображение галереи" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="b-columns__col b-columns__col_50 b-columns__col_flex_center tb_100">
					<div class="h-wrap h-wrap_mg-bt_10">
						<div class="b-columns">
							<div class="b-columns__col b-columns__col_35 mob_100">
								<div class="b-text b-text_bold">
									Type:
								</div>
							</div>
							<div class="b-columns__col b-columns__col_30 mob_100">
								<div class="b-text">
									Surface-Mount; Outdoor
								</div>
							</div>
						</div>
					</div>
					<div class="h-wrap h-wrap_mg-bt_10">
						<div class="b-columns">
							<div class="b-columns__col b-columns__col_35 mob_100">
								<div class="b-text b-text_bold">
									Temperature:
								</div>
							</div>
							<div class="b-columns__col b-columns__col_35 mob_100">
								<div class="b-text">
									-30°C to 70°C (-22°F to 158°F)
								</div>
							</div>
						</div>
					</div>
					<div class="h-wrap h-wrap_mg-bt_10">
						<div class="b-columns">
							<div class="b-columns__col b-columns__col_35 mob_100">
								<div class="b-text b-text_bold">
									Weight:
								</div>
							</div>
							<div class="b-columns__col b-columns__col_35 mob_100">
								<div class="b-text">
									Surface-Mount; Outdoor
								</div>
							</div>
						</div>
					</div>
					<div class="h-wrap h-wrap_mg-bt_10">
						<div class="b-columns">
							<div class="b-columns__col b-columns__col_35 mob_100">
								<div class="b-text b-text_bold">
									AC Voltage:
								</div>
							</div>
							<div class="b-columns__col b-columns__col_35 mob_100">
								<div class="b-text">
									Surface-Mount; Outdoor
								</div>
							</div>
						</div>
					</div>
					<div class="h-wrap h-wrap_mg-bt_10">
						<div class="b-columns">
							<div class="b-columns__col b-columns__col_35 mob_100">
								<div class="b-text b-text_bold">
									Connection Options:
								</div>
							</div>
							<div class="b-columns__col b-columns__col_35 mob_100">
								<div class="b-text">
									Surface-Mount; Outdoor
								</div>
							</div>
						</div>
					</div>
					<div class="b-recomend b-recomend_mg-bt_35_40">
						<div class="b-recomend__item v-2">
							<div class="b-recomend__img-cont v-2">
								<img src="{{ 'assets/images/icon-b20(4).svg'|theme }}" loading="lazy" alt="">
							</div>
							<div class="b-text b-text_size_14">
								Warranty 1 year
							</div>
						</div>
						<div class="b-recomend__item v-2">
							<div class="b-recomend__img-cont v-2">
								<img src="{{ 'assets/images/icon-b20(3).svg'|theme }}" loading="lazy" alt="">
							</div>
							<div class="b-text b-text_size_14">
								Online payment
							</div>
						</div>
						<div class="b-recomend__item v-2">
							<div class="b-recomend__img-cont v-2">
								<img src="{{ 'assets/images/icon-b20(5).svg'|theme }}" loading="lazy" alt="">
							</div>
							<div class="b-text b-text_size_14">
								Deliveryin the USA
							</div>
						</div>
						<div class="b-recomend__item v-2">
							<div class="b-recomend__img-cont v-2">
								<img src="{{ 'assets/images/icon-b20(1).svg'|theme }}" loading="lazy" alt="">
							</div>
							<div class="b-text b-text_size_14">
								In stock
							</div>
						</div>
						<div class="b-recomend__item v-2">
							<div class="b-recomend__img-cont v-2">
								<img src="{{ 'assets/images/icon-b20(2).svg'|theme }}" loading="lazy" alt="">
							</div>
							<div class="b-text b-text_size_14">
								Out of stock
							</div>
						</div>
					</div>
					<div class="h-wrap h-wrap_flex_h h-wrap_align_center mob_flex_v">
						<a href="#" class="b-button b-button_blue b-button_max-w_200 w-button">
							Buy now
						</a>
						<a href="#" class="b-learn-more b-learn-more_mg-lt_30">
							Learn more
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<img src="{{ 'assets/images/placeholder.svg'|theme }}" loading="lazy" alt="">
</section>
