<section class="{{ section_s_section_100vh_s_section_pd_11_25 }}">
	<div class="{{ block.container_container_align_center_w_container }}">
		<div class="{{ block.h_wrap_h_wrap_mg_bt_30_mob_mg_bt_10 }}">
			<div class="{{ block.b_title_b_title_mini_mob_30 }}">
				{{ block.learning_center_community_title }}
			</div>
		</div>
		<div class="{{ block.h_wrap_h_wrap_mg_bt_30 }}">
			<div class="{{ block.b_text_b_text_size_26_b_text_gray }}">
				{{ block.learning_center_community_subtitle }}
			</div>
		</div>
	</div>
</section>
