<section class="section s-section_100vh s-section_pd_11-25 s-section_gray">
	<div class="container container_align_center w-container">
		<div class="h-wrap h-wrap_mg-bt_60">
			<div class="b-title b-title_mini mob_30">
				{{ block.learning_center_freshdesk_title }}
			</div>
		</div>
		<div class="b-block b-block_white v-2">
			<div class="h-wrap h-wrap_mg-bt_30">
				<div class="b-text b-text_size_30 b-text_extra-bold">
					{{ block.learning_center_freshdesk_title }}
				</div>
			</div>
			<div data-duration-in="300" data-duration-out="100" data-current="Tab 1" data-easing="ease" class="b-tabs w-tabs">
				<div class="b-tabs__menu b-tabs__menu_mg-bt_40 v-2 w-tab-menu">
					<a data-w-tab="Tab 1" class="b-tabs__link b-tabs__link_form v-2 w-inline-block w-tab-link w--current">
						<div>
							Installation
						</div>
						<div class="b-tabs__col">
							(10)
						</div>
					</a>
					<a data-w-tab="Tab 2" class="b-tabs__link b-tabs__link_form v-2 w-inline-block w-tab-link">
						<div>
							Setup
						</div>
					</a>
					<a data-w-tab="Tab 3" class="b-tabs__link b-tabs__link_form v-2 w-inline-block w-tab-link">
						<div>
							Troubleshooting
						</div>
					</a>
					<a data-w-tab="Tab 4" class="b-tabs__link b-tabs__link_form v-2 w-inline-block w-tab-link">
						<div>
							Account Recovery
						</div>
					</a>
				</div>
				<div class="b-tabs__content w-tab-content">
					<div data-w-tab="Tab 1" class="b-tabs__pane w-tab-pane w--tab-active">
						<div class="h-wrap h-wrap_mg-bt_30">
							{% for category in categories %}
    							{% for post in category.freshdesk_posts %}
        							{{post.title}}
    							{%endfor %}
							{% endfor %}
							<ul role="list" class="b-grid b-grid_col_2 b-grid_gap_40">
								<li class="b-card-post">
									<a href="#" class="b-text b-text_size_18 b-text_bold b-text_icon">
										Text Link
									</a>
								</li>
								<li class="b-card-post">
									<a href="#" class="b-text b-text_size_18 b-text_bold">
										Text Link
									</a>
								</li>
								<li class="b-card-post">
									<a href="#" class="b-text b-text_size_18 b-text_bold">
										Text Link
									</a>
								</li>
								<li class="b-card-post">
									<a href="#" class="b-text b-text_size_18 b-text_bold">
										Text Link
									</a>
								</li>
							</ul>
						</div>
						<a href="#" class="b-link b-link_blue">
							View all 11
						</a>
					</div>
					<div data-w-tab="Tab 2" class="b-tabs__pane w-tab-pane"></div>
					<div data-w-tab="Tab 3" class="b-tabs__pane w-tab-pane"></div>
					<div data-w-tab="Tab 4" class="b-tabs__pane w-tab-pane"></div>
				</div>
			</div>
		</div>
	</div>
</section>
