<section class="section s-section_gray s-section_pd_11-25">
	<img src="{{ 'assets/images/placeholder.svg'|theme }}" loading="lazy" alt="">
	<div class="container container_align_center w-container">
		<div class="h-wrap h-wrap_mg-bt_50 h-wrap_max-width_800">
			<div class="b-title b-title_mini mob_30">
				{{ block.learn_more_title }}
			</div>
		</div>
		<div class="b-block b-block_white">
			<div class="b-columns">
				<div class="b-columns__col b-columns__col_50 b-columns__col_pd-lt_60 tb_70 mob_100">
					<div class="h-wrap tb_mg-bt_40">
						<a href="#" class="b-arrow__swiper-prev w-inline-block">
							<div class="b-slider__arrow b-slider__left-arrow galery">
								<img src="{{ 'assets/images/sviper20arrow20(1).svg'|theme }}" loading="lazy" alt="">
							</div>
						</a>
						<a href="#" class="b-arrow__swiper-next w-inline-block">
							<div class="b-slider__arrow b-slider__right-arrow galery">
								<img src="{{ 'assets/images/sviper20arrow20(2).svg'|theme }}" loading="lazy" alt="">
							</div>
						</a>
						<div class="swiper-container gallery-top">
							<div class="swiper-wrapper">
								{% for item in block.learn_more_slider %}
								<div class="swiper-slide">
									<img src="{{ item.image|media }}" alt="">
								</div>
								{% endfor %}
							</div>
						</div>
						<div class="swiper-container gallery-thumbs">
							<div class="swiper-wrapper bottom">
								{% for item in block.learn_more_slider %}
								<div class="swiper-slide">
									<img src="{{ item.image|media }}" alt="">
								</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
				<div class="b-columns__col b-columns__col_50 b-columns__col_flex_center tb_100">
					<div>
						{% for item in block.learn_more_characteristics %}
						<div class="h-wrap h-wrap_mg-bt_10">
							<div class="b-columns">
								<div class="b-columns__col b-columns__col_35 mob_100">
									<div class="b-text b-text_bold">
										{{ item.characteristics_name }}
									</div>
								</div>
								<div class="b-columns__col b-columns__col_35 mob_100">
									<div class="b-text">
										{{ item.characteristics_text }}
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
					<div class="b-recomend b-recomend_mg-bt_35_40">
						{% for item in block.learn_more_recomend %}
						<div class="b-recomend__item v-2">
							<div class="b-recomend__img-cont v-2">
								<img src="{{ item.icon|media }}" loading="lazy" alt="">
							</div>
							<div class="b-text b-text_size_14">
								{{ item.text }}
							</div>
						</div>
						{% endfor %}
					</div>
					<div class="h-wrap h-wrap_flex_h h-wrap_align_center-left mob_flex_v">
						<a href="#" class="b-button b-button_blue b-button_max-w_200 w-button">
							Buy now
						</a>
						<a href="{{ block.learn_more_link_btn }}" class="b-learn-more b-learn-more_mg-lt_30">
							Learn more
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
