<section class="section s-section_100vh s-section_pd_11-25 s-section_gray">
	<div class="container container_align_center w-container">
		<div class="h-wrap h-wrap_mg-bt_20">
			<div class="b-title b-title_mini mob_30">
				{{ block.lsp_landscape_title }}
			</div>
		</div>
		<div class="h-wrap h-wrap_mg-bt_50 h-wrap_max-width_800">
			<div class="b-text b-text_size_26 tb_16">
				{{ block.lsp_landscape_subtitle }}
			</div>
		</div>
		<div class="b-table">
			{% for item in block.lsp_landscape_rep %}
			<div id="w-node-_928eefb6-1a3f-bc93-24e2-2823a795e956-7b12a40f" class="b-table__tr b-table__tr_pd-rt_60">
				{{ item.row_|_raw }}
			</div>
			{% endfor %}
		</div>
	</div>
</section>
