<section class="{{ section_s_section_100vh_s_section_pd_11_25_s_section_gray }}">
	<div class="{{ block.container_container_align_center_w_container }}">
		<div class="{{ block.h_wrap_h_wrap_mg_bt_20 }}">
			<div class="{{ block.b_title_b_title_mini_mob_30 }}">
				{{ block.lsp_landscape_title }}
			</div>
		</div>
		<div class="{{ block.h_wrap_h_wrap_mg_bt_50_h_wrap_max_width_800 }}">
			<div class="{{ block.b_text_b_text_size_26_tb_16 }}">
				{{ block.lsp_landscape_subtitle }}
			</div>
		</div>
		<div class="{{ block.b_table }}">
			{% for item in block.lsp_landscape_rep %}
			<div id="w-node-_928eefb6-1a3f-bc93-24e2-2823a795e956-7b12a40f" class="{{ item.b_table__tr_b_table__tr_pd_rt_60 }}">
				{{ item.row|raw }}
			</div>
			{% endfor %}
		</div>
	</div>
</section>
