<section class="{{ section_s_section_100vh_s_section_pd_11_25_s_section_grad }}">
	<div class="{{ block.container_w_container }}">
		<div class="{{ block.h_wrap_h_wrap_mg_bt_30 }}">
			<div class="{{ block.b_columns }}">
				<div class="{{ block.b_columns__col_b_columns__col_73_tb_100 }}">
					<div class="{{ block.h_wrap_h_wrap_max_width_560_mob_center_mob_mg_bt_30 }}">
						<div class="{{ block.b_title_b_title_mini_mob_30 }}">
							{{ block.lsp_map_title }}
						</div>
					</div>
				</div>
				<div class="{{ block.b_columns__col_b_columns__col_27 }}"></div>
			</div>
		</div>
		<div class="{{ block.h_wrap_h_wrap_align_center }}">
			<img src="{{ block.lsp_map_image_mushroom|media }}" loading="lazy" alt="" class="{{ block.b_image_b_image_absolute }}">
			<img src="{{ block.lsp_map_image_marker|media }}" loading="lazy" alt="" class="{{ block.b_image_b_image_absolute }}">
			<img src="{{ block.lsp_map_image_map|media }}" loading="lazy" alt="" class="{{ block.b_image_b_image_map_lsp }}">
		</div>
	</div>
</section>
