<section class="s-section s-section_100vh s-section_pd_11-25 s-section_grad">
	<div class="container w-container">
		<div class="h-wrap h-wrap_mg-bt_30">
			<div class="b-columns">
				<div class="b-columns__col b-columns__col_73 tb_100">
					<div class="h-wrap h-wrap_max-width_560 mob_center mob_mg-bt_30">
						<div class="b-title b-title_mini mob_30">
							{{ block.lsp_map_title }}
						</div>
					</div>
				</div>
				<div class="b-columns__col b-columns__col_27"></div>
			</div>
		</div>
		<div class="h-wrap h-wrap_align_center">
			<img src="{{ block.lsp_map_image_mushroom|media }}" loading="lazy" alt="" class="b-image b-image_absolute">
			<img src="{{ block.lsp_map_image_marker|media }}" loading="lazy" alt="" class="b-image b-image_absolute">
			<img src="{{ block.lsp_map_image_map|media }}" loading="lazy" alt="" class="b-image b-image_map_lsp">
		</div>
	</div>
</section>
