<section class="{{ section_tb_pd_0_5 }}">
	<div class="{{ block.b_columns }}">
		<div class="{{ block.b_columns__col_b_columns__col_50_mob_100_mob_bg_bt_30 }}">
			<img src="{{ block.lsp_installer_image|media }}" loading="lazy" alt="" class="{{ block.b_image_b_image_height_100 }}">
		</div>
		<div class="{{ block.b_columns__col_b_columns__col_50_b_columns__col_align_center_b_columns__col_pd_lt_100 }}">
			<div class="{{ block.h_wrap_h_wrap_mg_bt_20_h_wrap_max_width_400 }}">
				<div class="{{ block.b_title_b_title_mini_mob_30 }}">
					{{ block.lsp_installer_title }}
				</div>
			</div>
			<div class="{{ block.h_wrap_h_wrap_mg_bt_20_h_wrap_max_width_300 }}"></div>
			<div class="{{ block.h_wrap_h_wrap_mg_bt_30 }}">
				<div class="{{ block.b_text_b_text_size_26_tb_16 }}">
					{{ block.lsp_installer_text }}
				</div>
			</div>
			<div class="{{ block.b_form_b_form_max_width_300_w_form }}">
				<form data-name="Форма" id="email-form" name="email-form" method="get" data-wf-page-id="648baa95d29f649e7b12a413" data-wf-element-id="48f796bf-213d-9792-a21d-a833a55185f1" class="{{ block.b_form__form }}">
					<div class="{{ block.h_wrap_h_wrap_mg_bt_30 }}"></div>
					<input type="submit" value="Submit" data-wait="Please wait..." class="{{ block.b_button_hide_w_button }}">
					<a data-w-id="{{ block.btn_modal }}" href="#" class="{{ block.b_button_b_button_blue_w_button }}">
						{{ block.lsp_installer_text_btn }}
					</a>
				</form>
				<div class="{{ block.b_form__success_mes_w_form_done }}">
					<div>
						Спасибо за заявку!
						<br>
						В ближайшее время мы свяжемся с вами
					</div>
				</div>
				<div class="{{ block.b_form__error_mes_w_form_fail }}">
					<div>
						Ошибка! Что-то пошло не так.
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
