<section data-w-id="c766e01c-8f68-3f9b-d67a-0082c8c22160" class="{{ section_section_tb_5 }}">
	<div class="{{ block.container_container_align_center_w_container }}">
		<div class="{{ block.h_wrap_h_wrap_mg_bt_30 }}">
			<img src="{{ block.lumin_charging_image|media }}" loading="lazy" alt="" class="{{ block.b_image_b_image_char }}">
		</div>
		<div class="{{ block.h_wrap_h_wrap_mg_bt_30 }}">
			<div data-w-id="0df46568-4e50-dae4-02fa-be927f296fdc" style="{{ block._webkit_transform_translate3d_0,_30px,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;_moz_transform_translate3d_0,_30px,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;_ms_transform_translate3d_0,_30px,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;transform_translate3d_0,_30px,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;opacity_0 }}" class="{{ block.b_text_b_text_size_36_b_text_gray_b_text_extra_bold_tb_26 }}">
				{{ block.lumin_charging_subtitle }}
			</div>
		</div>
		<div class="{{ block.h_wrap_h_wrap_mg_bt_60_tb_mg_bt_30 }}">
			<div data-w-id="c766e01c-8f68-3f9b-d67a-0082c8c2216b" style="{{ block._webkit_transform_translate3d_0,__30px,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;_moz_transform_translate3d_0,__30px,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;_ms_transform_translate3d_0,__30px,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;transform_translate3d_0,__30px,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;opacity_0 }}" class="{{ block.b_title_tb_40 }}">
				{{ block.lumin_charging_title|raw }}
			</div>
		</div>
		<a href="{{ block.link }}" class="{{ block.b_block_button_w_inline_block }}">
			<div data-w-id="c766e01c-8f68-3f9b-d67a-0082c8c2216e" style="{{ block._webkit_transform_translate3d__244px,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;_moz_transform_translate3d__244px,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;_ms_transform_translate3d__244px,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;transform_translate3d__244px,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0 }}" class="{{ block.b_text_b_text_size_20 }}">
				{{ block.lumin_charging_text_btn|raw }}
			</div>
			<img src="{{ 'assets/images/Arrow_btn.svg'|theme }}" loading="lazy" data-w-id="c766e01c-8f68-3f9b-d67a-0082c8c22170" alt="" style="{{ block._webkit_transform_translate3d__244px,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;_moz_transform_translate3d__244px,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;_ms_transform_translate3d__244px,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;transform_translate3d__244px,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0 }}" class="{{ block.b_block_button__arrow }}">
		</a>
	</div>
</section>
