<section class="{{ section_s_section_70vh }}">
	<div class="{{ block.container_container_align_center_w_container }}">
		<div class="{{ block.h_wrap_h_wrap_mg_bt_20 }}">
			<div class="{{ block.b_title_tb_40 }}">
				{{ block.updates_title|raw }}
			</div>
		</div>
		<div class="{{ block.h_wrap_h_wrap_mg_bt_40_h_wrap_max_width_900_tb_mg_bt_20 }}">
			<div class="{{ block.b_text_b_text_size_26 }}">
				{{ block.updates_subtitle|raw }}
			</div>
		</div>
		<div class="{{ block.b_form_b_form_width_100_w_form }}">
			<form data-name="Форма" id="email-form" name="email-form" method="get" data-wf-page-id="648baa95d29f649e7b12a392" data-wf-element-id="1c8dcb46-2ebd-4936-8d68-999105643a38" class="{{ block.b_form__form_b_form__form_flex_h_mob_flex_v }}">
				<input type="email" maxlength="256" name="Email" data-name="Email" placeholder="Enter your email address..." id="Email-5" required="" class="{{ block.b_input_b_input_mg_rt_20_mob_mg_bt_20_w_input }}">
				<input type="submit" value="Subscribe" data-wait="Please wait..." class="{{ block.b_button_b_button_blue_b_button_height_56_b_button_max_width_180_w_button }}">
			</form>
			<div class="{{ block.b_form__success_mes_w_form_done }}">
				<div>
					Спасибо за заявку!
					<br>
					В ближайшее время мы свяжемся с вами
				</div>
			</div>
			<div class="{{ block.b_form__error_mes_w_form_fail }}">
				<div>
					Ошибка! Что-то пошло не так.
				</div>
			</div>
		</div>
	</div>
</section>
