<section data-w-id="c766e01c-8f68-3f9b-d67a-0082c8c22160" class="section section_tb_5">
	<div class="container container_align_center w-container">
		<div class="h-wrap h-wrap_mg-bt_30">
			<img src="{{ block.lumin_charging_image|media }}" loading="lazy" alt="" class="b-image b-image_char">
		</div>
		<div class="h-wrap h-wrap_mg-bt_30">
			<div data-w-id="0df46568-4e50-dae4-02fa-be927f296fdc" style="-webkit-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="b-text b-text_size_36 b-text_gray b-text_extra-bold tb_26">
				{{ block.lumin_charging_subtitle }}
			</div>
		</div>
		<div class="h-wrap h-wrap_mg-bt_60 tb_mg-bt_30">
			<div data-w-id="c766e01c-8f68-3f9b-d67a-0082c8c2216b" style="-webkit-transform:translate3d(0, -30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, -30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, -30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, -30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="b-title tb_40">
				{{ block.lumin_charging_title|raw }}
			</div>
		</div>
		<a href="{{ block.link }}" class="b-block-button w-inline-block">
			<div data-w-id="c766e01c-8f68-3f9b-d67a-0082c8c2216e" style="-webkit-transform:translate3d(-244px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-244px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-244px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-244px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="b-text b-text_size_20">
				{{ block.lumin_charging_text_btn|raw }}
			</div>
			<img src="{{ 'assets/images/Arrow_btn.svg'|theme }}" loading="lazy" style="-webkit-transform:translate3d(-244px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-244px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-244px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-244px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" data-w-id="c766e01c-8f68-3f9b-d67a-0082c8c22170" alt="" class="b-block-button__arrow">
		</a>
	</div>
</section>
