<section class="section s-section_70vh">
	<div class="container container_align_center w-container">
		<div class="h-wrap h-wrap_mg-bt_20">
			<div class="b-title tb_40">
				{{ block.updates_title|raw }}
			</div>
		</div>
		<div class="h-wrap h-wrap_mg-bt_40 h-wrap_max-width_900 tb_mg-bt_20">
			<div class="b-text b-text_size_26">
				{{ block.updates_subtitle_|_raw }}
			</div>
		</div>
		<div class="b-form b-form_width_100 w-form">
			<form data-name="Форма" id="email-form" name="email-form" method="get" class="b-form__form b-form__form_flex-h mob_flex-v" data-wf-page-id="648baa95d29f649e7b12a392" data-wf-element-id="1c8dcb46-2ebd-4936-8d68-999105643a38">
				<input type="email" class="b-input b-input_mg-rt_20 mob_mg-bt_20 w-input" maxlength="256" name="Email" data-name="Email" placeholder="Enter your email address..." id="Email-5" required="">
				<input type="submit" value="Subscribe" data-wait="Please wait..." class="b-button b-button_blue b-button_height_56 b-button_max-width_180 w-button">
			</form>
			<div class="b-form__success-mes w-form-done">
				<div>
					Спасибо за заявку!
					<br>
					В ближайшее время мы свяжемся с вами
				</div>
			</div>
			<div class="b-form__error-mes w-form-fail">
				<div>
					Ошибка! Что-то пошло не так.
				</div>
			</div>
		</div>
	</div>
</section>
