<section data-section="one-edge" data-w-id="ca965526-1a68-a570-bb8d-b87b2a03b88a" class="{{ section_s_section_black_section_tb_5__15 }}">
	<div class="{{ block.b_block_circle }}">
		<div data-w-id="e68e7572-feb2-2a54-9af2-838e0eeca711" style="{{ block._webkit_transform_translate3d_0,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0deg__skew_0,_0_;_moz_transform_translate3d_0,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0deg__skew_0,_0_;_ms_transform_translate3d_0,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0deg__skew_0,_0_;transform_translate3d_0,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0deg__skew_0,_0 }}" class="{{ block.b_block_circle__circle }}">
			<img src="{{ 'assets/images/Demand20Responce20ICO.svg'|theme }}" loading="lazy" alt="" style="{{ block._webkit_transform_translate3d_0,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0deg__skew_0,_0_;_moz_transform_translate3d_0,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0deg__skew_0,_0_;_ms_transform_translate3d_0,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0deg__skew_0,_0_;transform_translate3d_0,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0deg__skew_0,_0 }}" class="{{ block.b_block_circle__img }}">
		</div>
		<div style="{{ block._webkit_transform_translate3d_0,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0deg__skew_0,_0_;_moz_transform_translate3d_0,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0deg__skew_0,_0_;_ms_transform_translate3d_0,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0deg__skew_0,_0_;transform_translate3d_0,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0deg__skew_0,_0 }}" class="{{ block.b_block_circle__circle_b_block_circle__circle_two }}">
			<img src="{{ 'assets/images/Solar202B20Storage20ICO.svg'|theme }}" loading="lazy" alt="" style="{{ block._webkit_transform_translate3d_0,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0deg__skew_0,_0_;_moz_transform_translate3d_0,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0deg__skew_0,_0_;_ms_transform_translate3d_0,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0deg__skew_0,_0_;transform_translate3d_0,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0deg__skew_0,_0 }}" class="{{ block.b_block_circle__img_v_2 }}">
		</div>
		<div style="{{ block._webkit_transform_translate3d_0,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0deg__skew_0,_0_;_moz_transform_translate3d_0,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0deg__skew_0,_0_;_ms_transform_translate3d_0,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0deg__skew_0,_0_;transform_translate3d_0,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0deg__skew_0,_0 }}" class="{{ block.b_block_circle__circle_b_block_circle__circle_three }}">
			<img src="{{ 'assets/images/Electrification20ICO.svg'|theme }}" loading="lazy" alt="" style="{{ block._webkit_transform_translate3d_0,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0deg__skew_0,_0_;_moz_transform_translate3d_0,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0deg__skew_0,_0_;_ms_transform_translate3d_0,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0deg__skew_0,_0_;transform_translate3d_0,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0deg__skew_0,_0 }}" class="{{ block.b_block_circle__img_v_3 }}">
		</div>
		<img src="{{ 'assets/images/Logo20House20(1).svg'|theme }}" loading="lazy" alt="" class="{{ block.b_block_circle__home }}">
		<div class="{{ block.point }}"></div>
	</div>
	<div class="{{ block.container_container_100vh_w_container }}">
		<div class="{{ block.b_columns }}">
			<div class="{{ block.b_columns__col_b_columns__col_40_tb_100 }}"></div>
			<div class="{{ block.b_columns__col_b_columns__col_60_tb_100 }}">
				<div class="{{ block.h_wrap_h_wrap_mg_bt_50_pb_mg_bt_30 }}">
					<div style="{{ block.opacity_0;_webkit_transform_translate3d_0,__100px,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;_moz_transform_translate3d_0,__100px,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;_ms_transform_translate3d_0,__100px,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;transform_translate3d_0,__100px,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0 }}" class="{{ block.b_title_b_title_white_tb_40 }}">
						{{ block.lumin_one_edge_title|raw }}
					</div>
				</div>
				<div class="{{ block.b_columns_b_columns_pd_left_120 }}">
					{% for item in block.lumin_one_edge_lists %}
					<div class="{{ item.b_columns__col_b_columns__col_100_b_columns__col_flex_h_b_columns__col_mg_bt_50 }}">
						<div style="{{ item._webkit_transform_translate3d__100px,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;_moz_transform_translate3d__100px,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;_ms_transform_translate3d__100px,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;transform_translate3d__100px,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;opacity_0 }}" class="{{ item.b_block_b_block_icon }}">
							<img src="{{ item.icon|media }}" loading="lazy" alt="" class="{{ item.b_icon }}">
						</div>
						<div style="{{ item.opacity_1;_webkit_transform_translate3d_100px,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;_moz_transform_translate3d_100px,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;_ms_transform_translate3d_100px,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;transform_translate3d_100px,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0 }}" class="{{ item.b_text_b_text_size_36_b_text_white_tb_16 }}">
							{{ item.text }}
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<img src="{{ 'assets/images/fon_edge.png'|theme }}" loading="lazy" alt="" class="{{ block.b_image_b_image_edge }}">
</section>
