<section data-w-id="66414509-3495-d4eb-e0f8-0fb0ff874ea4" class="s-section section">
	<div class="container container_max-width_1100 w-container">
		<div class="b-columns b-columns_center">
			<div class="b-columns__col b-columns__col_27 tb_100 tb_center">
				<div data-w-id="66414509-3495-d4eb-e0f8-0fb0ff874eb3" style="-webkit-transform:translate3d(100%, null, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(100%, null, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(100%, null, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(100%, null, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="b-block pb_mg-bt_40 b-block_overflow_h">
					<img src="{{ block.lumin_backup_image|media }}" loading="lazy" alt="" class="b-image">
					<img src="{{ block.lumin_backup_image|media }}" loading="lazy" style="-webkit-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" data-w-id="5c42be5e-9a67-e6e9-03f4-3318df048602" alt="" class="b-image b-image_bt">
				</div>
			</div>
			<div class="b-columns__col b-columns__col_73 b-columns__col_align_center tb_100">
				<div data-w-id="b7979bbc-9846-787f-bdbe-9d4ffe44df4e" style="-webkit-transform:translate3d(-20%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-20%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-20%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-20%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
					<div class="h-wrap h-wrap_mg-bt_30">
						<div class="b-text b-text_size_36 b-text_gray b-text_extra-bold tb_26">
							{{ block.lumin_backup_subtitle }}
						</div>
					</div>
					<div class="h-wrap h-wrap_mg-bt_60 tb_mg-bt_30">
						<div class="b-title tb_40">
							{{ block.lumin_backup_title }}
						</div>
					</div>
					<a href="#" class="b-block-button w-inline-block">
						<div data-w-id="66414509-3495-d4eb-e0f8-0fb0ff874eaf" style="-webkit-transform:translate3d(-244px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-244px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-244px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-244px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="b-text b-text_size_20">
							{{ block.lumin_backup_text_btn | raw }}
						</div>
						<img src="{{ 'assets/images/Arrow_btn.svg'|theme }}" loading="lazy" style="-webkit-transform:translate3d(-244px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-244px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-244px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-244px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" data-w-id="66414509-3495-d4eb-e0f8-0fb0ff874eb1" alt="" class="b-block-button__arrow">
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
