<section class="section s-section_100vh s-section_sticky">
	<div class="container w-container">
		<div class="b-columns">
			<div data-w-id="06dec4d9-bd08-6dde-43c7-207ade5b83a0" style="width:100%" class="b-columns__col b-columns__col_50 b-columns__col_align_center tb_100">
				<div class="h-wrap h-wrap_mg-bt_15">
					<h1 data-w-id="1d35dd18-5ff2-a3dc-c76e-d5a15ec4435a" style="-webkit-transform:translate3d(86%, 0, 0) scale3d(2.7, 2.7, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(86%, 0, 0) scale3d(2.7, 2.7, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(86%, 0, 0) scale3d(2.7, 2.7, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(86%, 0, 0) scale3d(2.7, 2.7, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="b-title tb_40">
						{{ block.lumin_home_title }}
					</h1>
				</div>
				<div class="h-wrap h-wrap_maxh_135">
					<div data-w-id="cdc8d104-2143-ee68-4b94-923eb5c9246a" style="opacity:1;-webkit-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);display:block" class="b-title b-title_mini b-title_yellow mob_26">
						{{ block.lumin_home_subtitle_one }}
					</div>
					<div data-w-id="a83d877f-dc3c-5c1f-538c-ced94f010e45" style="opacity:0" class="b-title b-title_mini b-title_yellow mob_26">
						{{ block.lumin_home_subtitle_two }}
					</div>
					<div data-w-id="381622d6-7a66-f261-08b0-818d1df9977f" style="opacity:0" class="b-title b-title_mini b-title_yellow mob_26">
						{{ block.lumin_home_subtitle_three }}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div data-w-id="c81a9966-fdf8-7a88-c61d-9936a1852eb5" style="opacity:0" class="container container_absolute w-container">
		<div class="b-columns b-columns_space-between">
			<div class="b-columns__col b-columns__col_50 b-columns__col_align_center"></div>
			<div data-w-id="c81a9966-fdf8-7a88-c61d-9936a1852ebd" style="width:0%" class="b-columns__col b-columns__col_50">
				<div class="b-block b-block_image b-block_mg-bt_6">
					<div data-w-id="9e8bb6ad-1bf1-a038-cc19-7c536d088a30" data-is-ix2-target="1" class="b-image b-image_first" data-animation-type="lottie" data-src="https://uploads-ssl.webflow.com/64227e51ac84205a1ce228fa/64dc8b723ec6291b901e6755_lumin.json" data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg" data-default-duration="240.00666356433507" data-duration="0" data-ix2-initial-state="0"></div>
					<img src="{{ 'assets/images/element20(3).svg'|theme }}" loading="lazy" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" data-w-id="4c7cae05-dbcf-d531-e15b-5a5cc76add3a" alt="" class="b-image b-image_element">
					<img src="{{ 'assets/images/Vector202.svg'|theme }}" loading="lazy" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.65, 0.65, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.65, 0.65, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.65, 0.65, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.65, 0.65, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:1" data-w-id="d44c3ca7-033d-eb6d-b340-dfbc50588da1" alt="" class="b-image b-image_element v-3">
				</div>
			</div>
		</div>
	</div>
</section>
