<section data-w-id="6c53025d-e1e5-d700-584a-431f43237ea9" class="{{ section_section_tb_5 }}">
	<div class="{{ block.container_container_100vh_w_container }}">
		<div class="{{ block.b_columns_tb_revers }}">
			<div class="{{ block.b_columns__col_b_columns__col_51_tb_100_tb_center }}">
				<div class="{{ block.h_wrap_h_wrap_mg_bt_30_mob_mg_bt_20 }}">
					<div data-w-id="5519a6b1-397e-9953-3bfb-e229b620c9e7" style="{{ block._webkit_transform_translate3d_100px,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;_moz_transform_translate3d_100px,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;_ms_transform_translate3d_100px,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;transform_translate3d_100px,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;opacity_0 }}" class="{{ block.b_text_b_text_size_36_b_text_gray_b_text_extra_bold_tb_26 }}">
						{{ block.lumin_help_subtitle }}
					</div>
				</div>
				<div class="{{ block.h_wrap_h_wrap_mg_bt_60_tb_mg_bt_30 }}">
					<div data-w-id="6c53025d-e1e5-d700-584a-431f43237eaf" style="{{ block._webkit_transform_translate3d__100px,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;_moz_transform_translate3d__100px,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;_ms_transform_translate3d__100px,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;transform_translate3d__100px,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;opacity_0 }}" class="{{ block.b_title_tb_40 }}">
						{{ block.lumin_help_title|raw }}
					</div>
				</div>
				<a href="{{ block.link }}" class="{{ block.b_block_button_w_inline_block }}">
					<div data-w-id="830deb84-bf9a-de19-6ee2-ede7c1f95ec6" style="{{ block._webkit_transform_translate3d__244px,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;_moz_transform_translate3d__244px,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;_ms_transform_translate3d__244px,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;transform_translate3d__244px,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0 }}" class="{{ block.b_text_b_text_size_20_b_text_animation }}">
						{{ block.lumin_help_text_btn|raw }}
					</div>
					<img src="{{ 'assets/images/Arrow_btn.svg'|theme }}" loading="lazy" data-w-id="d227bf9f-5548-421a-39c8-57a958e47feb" alt="" style="{{ block._webkit_transform_translate3d__244px,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;_moz_transform_translate3d__244px,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;_ms_transform_translate3d__244px,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;transform_translate3d__244px,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0 }}" class="{{ block.b_block_button__arrow }}">
				</a>
			</div>
			<div class="{{ block.b_columns__col_b_columns__col_49_tb_100 }}">
				<div data-w-id="1d7e8f20-fd8d-c0f4-0e55-781b6f83a70a" style="{{ block._webkit_transform_translate3d_0,_100px,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;_moz_transform_translate3d_0,_100px,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;_ms_transform_translate3d_0,_100px,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;transform_translate3d_0,_100px,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;opacity_0 }}" class="{{ block.b_block_b_block_image_tb_mg_bt_30 }}">
					<img src="{{ block.lumin_help_image|media }}" loading="lazy" alt="" class="{{ block.image }}">
					<div data-w-id="d4358cb1-098d-bd25-917b-77a41bd93f01" style="{{ block.display_block;opacity_1 }}" class="{{ block.b_block__circle }}"></div>
					<div data-w-id="8ff0e82f-7c5a-1da2-b7d5-337fd9278288" style="{{ block.display_block }}" class="{{ block.b_block__circle }}"></div>
					<div data-w-id="85786a59-d9b2-b044-4042-9e88c6f6edf5" style="{{ block.opacity_1;display_block }}" class="{{ block.b_block__circle }}"></div>
				</div>
			</div>
		</div>
	</div>
</section>
