<section data-w-id="6c53025d-e1e5-d700-584a-431f43237ea9" class="section section_tb_5">
	<div class="container container_100vh w-container">
		<div class="b-columns tb_revers">
			<div class="b-columns__col b-columns__col_51 tb_100 tb_center">
				<div class="h-wrap h-wrap_mg-bt_30 mob_mg-bt_20">
					<div data-w-id="5519a6b1-397e-9953-3bfb-e229b620c9e7" style="-webkit-transform:translate3d(100px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(100px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(100px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(100px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="b-text b-text_size_36 b-text_gray b-text_extra-bold tb_26">
						{{ block.lumin_help_subtitle }}
					</div>
				</div>
				<div class="h-wrap h-wrap_mg-bt_60 tb_mg-bt_30">
					<div data-w-id="6c53025d-e1e5-d700-584a-431f43237eaf" style="-webkit-transform:translate3d(-100px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-100px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-100px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-100px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="b-title tb_40">
						{{ block.lumin_help_title|raw }}
					</div>
				</div>
				<a href="{{ block.link }}" class="b-block-button w-inline-block">
					<div data-w-id="830deb84-bf9a-de19-6ee2-ede7c1f95ec6" style="-webkit-transform:translate3d(-244px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-244px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-244px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-244px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="b-text b-text_size_20 b-text_animation">
						{{ block.lumin_help_text_btn|raw }}
					</div>
					<img src="{{ 'assets/images/Arrow_btn.svg'|theme }}" loading="lazy" style="-webkit-transform:translate3d(-218px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-218px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-218px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-218px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" data-w-id="d227bf9f-5548-421a-39c8-57a958e47feb" alt="" class="b-block-button__arrow">
				</a>
			</div>
			<div class="b-columns__col b-columns__col_49 tb_100">
				<div data-w-id="1d7e8f20-fd8d-c0f4-0e55-781b6f83a70a" style="-webkit-transform:translate3d(0, 100px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 100px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 100px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 100px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="b-block b-block_image tb_mg-bt_30">
					<img src="{{ block.lumin_help_image|media }}" loading="lazy" alt="" class="image">
					<div data-w-id="d4358cb1-098d-bd25-917b-77a41bd93f01" style="display:block;opacity:1" class="b-block__circle"></div>
					<div data-w-id="8ff0e82f-7c5a-1da2-b7d5-337fd9278288" style="display:block" class="b-block__circle"></div>
					<div data-w-id="85786a59-d9b2-b044-4042-9e88c6f6edf5" style="opacity:1;display:block" class="b-block__circle"></div>
				</div>
			</div>
		</div>
	</div>
</section>
