<section data-w-id="4eff922b-5af9-10a4-7221-30d82536a820" class="section video-galery">
	<div class="container container_align_center w-container">
		<div class="h-wrap h-wrap_mg-bt_20">
			<div data-w-id="4eff922b-5af9-10a4-7221-30d82536a828" style="-webkit-transform:translate3d(-80px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-80px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-80px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-80px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="b-title tb_40">
				{{ sectionsGlobal.estimator_title }}
			</div>
		</div>
		<div class="h-wrap h-wrap_mg-bt_40 h-wrap_max-width_970">
			<div data-w-id="4eff922b-5af9-10a4-7221-30d82536a825" style="-webkit-transform:translate3d(80px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(80px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(80px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(80px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="b-text b-text_size_26 tb_16">
				{{ sectionsGlobal.estimator_subtitle }}
			</div>
		</div>
		<div data-duration-in="300" data-duration-out="100" data-current="Tab 1" data-easing="ease" class="b-tabs w-tabs">
			<div data-w-id="007d3c61-3015-a605-83c0-e8be471462d3" style="opacity:0;-webkit-transform:translate3d(0, 80px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 80px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 80px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 80px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="b-tabs__menu b-tabs__menu_mg-bt_50 w-tab-menu">
				<a data-w-tab="Tab 1" class="b-tabs__link w-inline-block w-tab-link w--current">
					<div>
						Grid Services
					</div>
				</a>
				<a data-w-tab="Tab 2" class="b-tabs__link w-inline-block w-tab-link">
					<div>
						Solar + Storage
					</div>
				</a>
				<a data-w-tab="Tab 3" class="b-tabs__link w-inline-block w-tab-link">
					<div>
						EV Charging
					</div>
				</a>
				<a data-w-tab="Tab 4" class="b-tabs__link w-inline-block w-tab-link">
					<div>
						Choose any
					</div>
				</a>
			</div>
			<div class="b-tabs__content b-tabs__content_min w-tab-content">
				<div data-w-tab="Tab 1" class="b-tabs__pane w-tab-pane w--tab-active">
					<div class="b-form w-form">
						<form data-name="Форма" id="email-form" name="email-form" method="get" class="b-form__form" data-wf-page-id="648baa95d29f649e7b12a392" data-wf-element-id="621fcafd-bfa6-15f5-948f-594199b2f467">
							<div class="b-columns">
								<div class="b-columns__col b-columns__col_50 mob_100">
									<div class="b-circle-tab">
										<label data-w-id="621fcafd-bfa6-15f5-948f-594199b2f475" style="opacity:0" class="w-checkbox b-checkbox b-checkbox_tab">
											<div class="w-checkbox-input w-checkbox-input--inputType-custom b-checkbox__check_tab"></div>
											<input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" style="opacity:0;position:absolute;z-index:-1">
											<img src="{{ 'assets/images/icon-tab20(10).svg'|theme }}" loading="lazy" alt="" class="b-checkbox-tab__image">
											<span class="b-checkbox__label w-form-label" for="checkbox-2">
												Checkbox
											</span>
										</label>
										<label data-w-id="55c5232a-2a35-4274-8e41-6fdb8d95ebbb" style="opacity:0" class="w-checkbox b-checkbox b-checkbox_tab">
											<div class="w-checkbox-input w-checkbox-input--inputType-custom b-checkbox__check_tab"></div>
											<input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" style="opacity:0;position:absolute;z-index:-1">
											<img src="{{ 'assets/images/icon-tab20(14).svg'|theme }}" loading="lazy" alt="" class="b-checkbox-tab__image">
											<span class="b-checkbox__label w-form-label" for="checkbox-2">
												Checkbox
											</span>
										</label>
										<label data-w-id="db7d398f-44f8-1261-1626-cd52d7559b2c" style="opacity:0" class="w-checkbox b-checkbox b-checkbox_tab">
											<div class="w-checkbox-input w-checkbox-input--inputType-custom b-checkbox__check_tab"></div>
											<input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" style="opacity:0;position:absolute;z-index:-1">
											<img src="{{ 'assets/images/icon-tab20(2).svg'|theme }}" loading="lazy" alt="" class="b-checkbox-tab__image">
											<span class="b-checkbox__label w-form-label" for="checkbox-2">
												Checkbox
											</span>
										</label>
										<label data-w-id="4f9e70d9-356b-cb85-6b96-54bec954271d" style="opacity:0" class="w-checkbox b-checkbox b-checkbox_tab">
											<div class="w-checkbox-input w-checkbox-input--inputType-custom b-checkbox__check_tab"></div>
											<input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" style="opacity:0;position:absolute;z-index:-1">
											<img src="{{ 'assets/images/icon-tab20(6).svg'|theme }}" loading="lazy" alt="" class="b-checkbox-tab__image">
											<span class="b-checkbox__label w-form-label" for="checkbox-2">
												Checkbox
											</span>
										</label>
										<label data-w-id="fee39d14-652c-bfa7-e793-aa7d7bd64fb0" style="opacity:0" class="w-checkbox b-checkbox b-checkbox_tab">
											<div class="w-checkbox-input w-checkbox-input--inputType-custom b-checkbox__check_tab"></div>
											<input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" style="opacity:0;position:absolute;z-index:-1">
											<img src="{{ 'assets/images/icon-tab20(9).svg'|theme }}" loading="lazy" alt="" class="b-checkbox-tab__image">
											<span class="b-checkbox__label w-form-label" for="checkbox-2">
												Checkbox
											</span>
										</label>
										<label data-w-id="f16281f4-99bb-1ef2-f93f-f49d2e048684" style="opacity:0" class="w-checkbox b-checkbox b-checkbox_tab">
											<div class="w-checkbox-input w-checkbox-input--inputType-custom b-checkbox__check_tab"></div>
											<input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" style="opacity:0;position:absolute;z-index:-1">
											<img src="{{ 'assets/images/icon-tab20(13).svg'|theme }}" loading="lazy" alt="" class="b-checkbox-tab__image">
											<span class="b-checkbox__label w-form-label" for="checkbox-2">
												Checkbox
											</span>
										</label>
										<label data-w-id="ee324f95-276d-654f-a02f-1ba8b2009e01" style="opacity:0" class="w-checkbox b-checkbox b-checkbox_tab">
											<div class="w-checkbox-input w-checkbox-input--inputType-custom b-checkbox__check_tab"></div>
											<input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" style="opacity:0;position:absolute;z-index:-1">
											<img src="{{ 'assets/images/icon-tab20(1).svg'|theme }}" loading="lazy" alt="" class="b-checkbox-tab__image">
											<span class="b-checkbox__label w-form-label" for="checkbox-2">
												Checkbox
											</span>
										</label>
										<label data-w-id="efe99b76-9d91-9fd9-7c09-bcd51b7eb913" style="opacity:0" class="w-checkbox b-checkbox b-checkbox_tab">
											<div class="w-checkbox-input w-checkbox-input--inputType-custom b-checkbox__check_tab"></div>
											<input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" style="opacity:0;position:absolute;z-index:-1">
											<img src="{{ 'assets/images/icon-tab20(5).svg'|theme }}" loading="lazy" alt="" class="b-checkbox-tab__image">
											<span class="b-checkbox__label w-form-label" for="checkbox-2">
												Checkbox
											</span>
										</label>
										<label data-w-id="64491c0c-2535-611d-a2ca-6616e0673848" style="opacity:0" class="w-checkbox b-checkbox b-checkbox_tab">
											<div class="w-checkbox-input w-checkbox-input--inputType-custom b-checkbox__check_tab"></div>
											<input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" style="opacity:0;position:absolute;z-index:-1">
											<img src="{{ 'assets/images/icon-tab20(11).svg'|theme }}" loading="lazy" alt="" class="b-checkbox-tab__image">
											<span class="b-checkbox__label w-form-label" for="checkbox-2">
												Checkbox
											</span>
										</label>
										<label data-w-id="c9abb99e-4963-dca2-26ac-9283102bba90" style="opacity:0" class="w-checkbox b-checkbox b-checkbox_tab">
											<div class="w-checkbox-input w-checkbox-input--inputType-custom b-checkbox__check_tab"></div>
											<input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" style="opacity:0;position:absolute;z-index:-1">
											<img src="{{ 'assets/images/icon-tab20(15).svg'|theme }}" loading="lazy" alt="" class="b-checkbox-tab__image">
											<span class="b-checkbox__label w-form-label" for="checkbox-2">
												Checkbox
											</span>
										</label>
										<label data-w-id="c9539a34-b09a-bbab-47cc-4da4fdab0b4a" style="opacity:0" class="w-checkbox b-checkbox b-checkbox_tab">
											<div class="w-checkbox-input w-checkbox-input--inputType-custom b-checkbox__check_tab"></div>
											<input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" style="opacity:0;position:absolute;z-index:-1">
											<img src="{{ 'assets/images/icon-tab20(3).svg'|theme }}" loading="lazy" alt="" class="b-checkbox-tab__image">
											<span class="b-checkbox__label w-form-label" for="checkbox-2">
												Checkbox
											</span>
										</label>
										<label data-w-id="0559a455-cb4e-2d6a-ff46-00406639ebf5" style="opacity:0" class="w-checkbox b-checkbox b-checkbox_tab">
											<div class="w-checkbox-input w-checkbox-input--inputType-custom b-checkbox__check_tab"></div>
											<input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" style="opacity:0;position:absolute;z-index:-1">
											<img src="{{ 'assets/images/icon-tab20(7).svg'|theme }}" loading="lazy" alt="" class="b-checkbox-tab__image">
											<span class="b-checkbox__label w-form-label" for="checkbox-2">
												Checkbox
											</span>
										</label>
										<label data-w-id="8c33ebe1-0747-9bb4-96db-3c180e53be06" style="opacity:0" class="w-checkbox b-checkbox b-checkbox_tab">
											<div class="w-checkbox-input w-checkbox-input--inputType-custom b-checkbox__check_tab"></div>
											<input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" style="opacity:0;position:absolute;z-index:-1">
											<img src="{{ 'assets/images/icon-tab20(8).svg'|theme }}" loading="lazy" alt="" class="b-checkbox-tab__image">
											<span class="b-checkbox__label w-form-label" for="checkbox-2">
												Checkbox
											</span>
										</label>
										<label data-w-id="c0a1b668-23e4-1a94-34ee-ab9c0f4f2878" style="opacity:0" class="w-checkbox b-checkbox b-checkbox_tab">
											<div class="w-checkbox-input w-checkbox-input--inputType-custom b-checkbox__check_tab"></div>
											<input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" style="opacity:0;position:absolute;z-index:-1">
											<img src="{{ 'assets/images/icon-tab20(12).svg'|theme }}" loading="lazy" alt="" class="b-checkbox-tab__image">
											<span class="b-checkbox__label w-form-label" for="checkbox-2">
												Checkbox
											</span>
										</label>
										<label data-w-id="9c101493-0402-bc05-69d1-ae207a49a665" style="opacity:0" class="w-checkbox b-checkbox b-checkbox_tab">
											<div class="w-checkbox-input w-checkbox-input--inputType-custom b-checkbox__check_tab"></div>
											<input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" style="opacity:0;position:absolute;z-index:-1">
											<img src="{{ 'assets/images/icon-tab20(16).svg'|theme }}" loading="lazy" alt="" class="b-checkbox-tab__image">
											<span class="b-checkbox__label w-form-label" for="checkbox-2">
												Checkbox
											</span>
										</label>
										<label data-w-id="80a0d5a3-8fbc-07fb-1cab-b6441a414615" style="opacity:0" class="w-checkbox b-checkbox b-checkbox_tab">
											<div class="w-checkbox-input w-checkbox-input--inputType-custom b-checkbox__check_tab"></div>
											<input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" style="opacity:0;position:absolute;z-index:-1">
											<img src="{{ 'assets/images/icon-tab20(4).svg'|theme }}" loading="lazy" alt="" class="b-checkbox-tab__image">
											<span class="b-checkbox__label w-form-label" for="checkbox-2">
												Checkbox
											</span>
										</label>
										<div data-w-id="8eba021b-002b-a1f7-5c58-8d4e68f07351" style="opacity:0;-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(-90deg) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(-90deg) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(-90deg) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(-90deg) rotateZ(0) skew(0, 0);transform-style:preserve-3d" class="b-circle-tab__img-wrap">
											<img src="{{ 'assets/images/logo_house.svg'|theme }}" loading="lazy" alt="">
											<a href="#" class="b-circle-tab__btn">
												Refresh
											</a>
										</div>
									</div>
								</div>
								<div class="b-columns__col b-columns__col_50 b-columns__col_flex_center mob_100">
									<div class="h-wrap h-wrap_mg-bt_20">
										<div data-w-id="a9b2e1be-1659-d743-5129-44e5bdf5e980" style="-webkit-transform:translate3d(50px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(50px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(50px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(50px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="b-text b-text_size_20 b-text_bold">
											We recommend you control 4 major appliance:
										</div>
									</div>
									<div data-w-id="53956a6c-aa3d-7497-7f22-f0db039f5e23" style="-webkit-transform:translate3d(50px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(50px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(50px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(50px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="b-recomend b-recomend_mg-bt_20">
										<div class="b-recomend__item">
											<div class="b-recomend__img-cont">
												<img src="{{ 'assets/images/icon-tab20(3).svg'|theme }}" loading="lazy" alt="">
											</div>
											<div class="b-text b-text_size_14">
												EV Charger
											</div>
										</div>
										<div class="b-recomend__item">
											<div class="b-recomend__img-cont">
												<img src="{{ 'assets/images/icon-tab20(3).svg'|theme }}" loading="lazy" alt="">
											</div>
											<div class="b-text b-text_size_14">
												Water Heater
											</div>
										</div>
										<div class="b-recomend__item">
											<div class="b-recomend__img-cont">
												<img src="{{ 'assets/images/icon-tab20(3).svg'|theme }}" loading="lazy" alt="">
											</div>
											<div class="b-text b-text_size_14">
												Pool Pump
											</div>
										</div>
										<div class="b-recomend__item">
											<div class="b-recomend__img-cont">
												<img src="{{ 'assets/images/icon-tab20(3).svg'|theme }}" loading="lazy" alt="">
											</div>
											<div class="b-text b-text_size_14">
												HVAC
											</div>
										</div>
									</div>
									<div data-w-id="3d239d64-b6b4-fa4e-8db0-01c0eb666aeb" style="-webkit-transform:translate3d(50px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(50px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(50px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(50px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="b-module b-module_mg-bt_20">
										<div class="b-module__item">
											<div class="b-module__item-wrap">
												<img src="{{ 'assets/images/module20(1).jpg'|theme }}" loading="lazy" alt="" class="b-module__img">
												<div class="b-text b-text_size_14">
													Hub
												</div>
											</div>
											<div class="b-module__number">
												1
											</div>
										</div>
										<div class="b-module__item">
											<div class="b-module__item-wrap">
												<img src="{{ 'assets/images/module20(2).jpg'|theme }}" loading="lazy" alt="" class="b-module__img">
												<div class="b-text b-text_size_14">
													Module 1
												</div>
											</div>
											<div class="b-module__number">
												1
											</div>
										</div>
										<div class="b-module__item">
											<div class="b-module__item-wrap">
												<img src="{{ 'assets/images/module20(2).jpg'|theme }}" loading="lazy" alt="" class="b-module__img">
												<div class="b-text b-text_size_14">
													Module 2
												</div>
											</div>
											<div class="b-module__number">
												2
											</div>
										</div>
										<div class="b-module__item">
											<div class="b-module__item-wrap deactive">
												<img src="{{ 'assets/images/module20(2).jpg'|theme }}" loading="lazy" alt="" class="b-module__img">
												<div class="b-text b-text_size_14">
													Module 3
												</div>
											</div>
											<div class="b-module__number"></div>
										</div>
									</div>
									<input type="submit" value="Buy now" data-wait="Please wait..." data-w-id="bb187b15-34e9-4e20-04e4-2def5d301240" style="-webkit-transform:translate3d(50px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(50px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(50px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(50px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="b-button b-button_blue b-button_height_56 b-button_max-width_200 w-button">
								</div>
							</div>
						</form>
						<div class="b-form__success-mes w-form-done">
							<div>
								Спасибо за заявку!
								<br>
								В ближайшее время мы свяжемся с вами
							</div>
						</div>
						<div class="b-form__error-mes w-form-fail">
							<div>
								Ошибка! Что-то пошло не так.
							</div>
						</div>
					</div>
				</div>
				<div data-w-tab="Tab 2" class="b-tabs__pane w-tab-pane"></div>
				<div data-w-tab="Tab 3" class="w-tab-pane"></div>
				<div data-w-tab="Tab 4" class="w-tab-pane"></div>
			</div>
		</div>
	</div>
</section>
