<section data-w-id="66414509-3495-d4eb-e0f8-0fb0ff874ea4" class="{{ section_section_tb_5 }}">
	<div class="{{ block.container_container_max_width_1100_w_container }}">
		<div class="{{ block.b_columns_b_columns_center }}">
			<div class="{{ block.b_columns__col_b_columns__col_27_tb_100_tb_center }}">
				<div data-w-id="66414509-3495-d4eb-e0f8-0fb0ff874eb3" style="{{ block._webkit_transform_translate3d_100_,_null,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;_moz_transform_translate3d_100_,_null,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;_ms_transform_translate3d_100_,_null,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;transform_translate3d_100_,_null,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;opacity_0 }}" class="{{ block.b_block_pb_mg_bt_40_b_block_overflow_h }}">
					<img src="{{ block.lumin_backup_image|media }}" loading="lazy" alt="" class="{{ block.b_image_b_image_bat }}">
					<img src="{{ 'assets/images/Battery_fon.svg'|theme }}" loading="lazy" data-w-id="5c42be5e-9a67-e6e9-03f4-3318df048602" alt="" style="{{ block._webkit_transform_translate3d_0,_0_,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;_moz_transform_translate3d_0,_0_,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;_ms_transform_translate3d_0,_0_,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;transform_translate3d_0,_0_,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0 }}" class="{{ block.b_image_b_image_bt }}">
				</div>
			</div>
			<div class="{{ block.b_columns__col_b_columns__col_73_b_columns__col_align_center_tb_100 }}">
				<div data-w-id="b7979bbc-9846-787f-bdbe-9d4ffe44df4e" style="{{ block._webkit_transform_translate3d__20_,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;_moz_transform_translate3d__20_,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;_ms_transform_translate3d__20_,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;transform_translate3d__20_,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;opacity_0 }}">
					<div class="{{ block.h_wrap_h_wrap_mg_bt_30 }}">
						<div class="{{ block.b_text_b_text_size_36_b_text_gray_b_text_extra_bold_tb_26 }}">
							{{ block.lumin_backup_subtitle }}
						</div>
					</div>
					<div class="{{ block.h_wrap_h_wrap_mg_bt_60_tb_mg_bt_30 }}">
						<div class="{{ block.b_title_tb_40 }}">
							{{ block.lumin_backup_title }}
						</div>
					</div>
					<a href="{{ block.link }}" class="{{ block.b_block_button_w_inline_block }}">
						<div data-w-id="66414509-3495-d4eb-e0f8-0fb0ff874eaf" style="{{ block._webkit_transform_translate3d__244px,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;_moz_transform_translate3d__244px,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;_ms_transform_translate3d__244px,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;transform_translate3d__244px,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0 }}" class="{{ block.b_text_b_text_size_20 }}">
							{{ block.lumin_backup_text_btn|raw }}
						</div>
						<img src="{{ 'assets/images/Arrow_btn.svg'|theme }}" loading="lazy" data-w-id="66414509-3495-d4eb-e0f8-0fb0ff874eb1" alt="" style="{{ block._webkit_transform_translate3d__244px,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;_moz_transform_translate3d__244px,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;_ms_transform_translate3d__244px,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0_;transform_translate3d__244px,_0,_0__scale3d_1,_1,_1__rotatex_0__rotatey_0__rotatez_0__skew_0,_0 }}" class="{{ block.b_block_button__arrow }}">
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
