<section class="{{ section_s_section_pd_11_25 }}">
	<div class="{{ block.container_container_1300_container_align_center_w_container }}">
		<img src="{{ block.meet_help_image|media }}" loading="lazy" alt="" class="{{ block.b_image_b_image_stat_mob_stat }}">
		<div class="{{ block.b_block_b_block_stat_mob_pd }}">
			<img src="{{ 'assets/images/mask_stat.png'|theme }}" loading="lazy" alt="" class="{{ block.b_image_b_image_cert_show }}">
			<div class="{{ block.b_columns_b_columns_space_between }}">
				<div class="{{ block.b_columns__col_b_columns__col_73_mob_100_mob_center }}">
					<div class="{{ block.h_wrap_h_wrap_mg_bt_20 }}">
						<div class="{{ block.b_title_b_title_mini_b_title_white_mob_30 }}">
							{{ block.meet_help_title }}
						</div>
					</div>
					<div class="{{ block.h_wrap_h_wrap_mg_bt_20 }}">
						<div class="{{ block.b_text_b_text_size_26_b_text_white }}">
							{{ block.meet_help_text }}
						</div>
					</div>
					<a href="#" class="{{ block.b_button_b_button_blue_b_button_maxw_210_mob_center_w_button }}">
						{{ block.meet_help_text_btn }}
					</a>
				</div>
				<div class="{{ block.b_columns__col_b_columns__col_30_b_columns__col_align_center_mob_100 }}"></div>
			</div>
		</div>
	</div>
</section>
