<section class="section s-section_100vh s-section_pd_11-25">
	<div class="container container_align_center pd_none w-container">
		<div class="h-wrap h-wrap_mg-bt_60">
			<div class="b-grid b-grid_col_4 tb_flex">
				<div id="w-node-_07fac535-c825-333a-0740-5844fd7bc180-7b12a417" class="b-comand b-comand_no-style">
					<img src="{{ 'assets/images/logo202.svg'|theme }}" loading="lazy" alt="">
				</div>
				<div id="w-node-b25210c2-da1d-103b-f95d-8504ab2bd092-7b12a417" class="b-comand">
					<div class="b-comand__head">
						<img src="{{ 'assets/images/image2052.png'|theme }}" loading="lazy" alt="">
					</div>
					<div class="b-comand__down">
						<div class="b-text b-text_bold">
							Kelly Warner
						</div>
						<div class="b-text b-text_size_14 b-text_gray b-text_bold">
							CEO
						</div>
					</div>
				</div>
				<div id="w-node-cb41e2f8-972c-a688-988e-2fe99aa2a94f-7b12a417" class="b-comand">
					<div class="b-comand__head">
						<img src="{{ 'assets/images/image205220(1).png'|theme }}" loading="lazy" alt="">
					</div>
					<div class="b-comand__down">
						<div class="b-text b-text_bold">
							Kelly Warner
						</div>
						<div class="b-text b-text_size_14 b-text_gray b-text_bold">
							President & COO
						</div>
					</div>
				</div>
				<div id="w-node-d034a4cb-31e6-63d9-2269-84c822d6c006-7b12a417" class="b-comand">
					<div class="b-comand__head">
						<img src="{{ 'assets/images/image205220(2).png'|theme }}" loading="lazy" alt="">
					</div>
					<div class="b-comand__down">
						<div class="b-text b-text_bold">
							Kelly Warner
						</div>
						<div class="b-text b-text_size_14 b-text_gray b-text_bold">
							Head of Hardware Engineering and Manufacturing
						</div>
					</div>
				</div>
				<div id="w-node-_78c10323-062e-3e7c-7065-359d4e6500b0-7b12a417" class="b-comand">
					<div class="b-comand__head">
						<img src="{{ 'assets/images/image2052-4.png'|theme }}" loading="lazy" alt="">
					</div>
					<div class="b-comand__down">
						<div class="b-text b-text_bold">
							Kelly Warner
						</div>
						<div class="b-text b-text_size_14 b-text_gray b-text_bold">
							Head of Marketing
						</div>
					</div>
				</div>
				<div id="w-node-b0c7b980-081a-e598-ad9b-f7dc7fbc76dc-7b12a417" class="b-comand b-comand_no-style">
					<div class="b-title b-title_mini mob_30">
						Our leadership creates a vision
					</div>
					<div class="b-text b-text_size_40 b-text_line-h_1 mob_20">
						for advancing the adoption of green energy
					</div>
				</div>
				<div id="w-node-_3497dba6-f728-58af-fb45-844325055df5-7b12a417" class="b-comand">
					<div class="b-comand__head">
						<img src="{{ 'assets/images/1234.png'|theme }}" loading="lazy" alt="">
					</div>
					<div class="b-comand__down">
						<div class="b-text b-text_bold">
							Kelly Warner
						</div>
						<div class="b-text b-text_size_14 b-text_gray b-text_bold">
							Director of Sales, Solar + Storage
						</div>
					</div>
				</div>
				<div id="w-node-_88d7d4e4-c07f-9c24-2514-c11db4841cc9-7b12a417" class="b-comand">
					<div class="b-comand__head">
						<img src="{{ 'assets/images/image2052-3.png'|theme }}" loading="lazy" alt="">
					</div>
					<div class="b-comand__down">
						<div class="b-text b-text_bold">
							Kelly Warner
						</div>
						<div class="b-text b-text_size_14 b-text_gray b-text_bold">
							Head of Foundation Engineering
						</div>
					</div>
				</div>
				<div id="w-node-_2c03199e-8f06-fafa-cb3f-eae0a373fc2f-7b12a417" class="b-comand">
					<div class="b-comand__head">
						<img src="{{ 'assets/images/logo_house.svg'|theme }}" loading="lazy" alt="">
					</div>
					<div class="b-comand__down">
						<div class="b-text b-text_bold">
							Kelly Warner
						</div>
						<div class="b-text b-text_size_14 b-text_gray b-text_bold">
							Head of Customer Support
						</div>
					</div>
				</div>
				<div id="w-node-f5579d47-b225-0f22-2675-a0e12ed1c14c-7b12a417" class="b-comand">
					<div class="b-comand__head">
						<img src="{{ 'assets/images/image2052-2.png'|theme }}" loading="lazy" alt="">
					</div>
					<div class="b-comand__down">
						<div class="b-text b-text_bold">
							Kelly Warner
						</div>
						<div class="b-text b-text_size_14 b-text_gray b-text_bold">
							Head of Product Software Engineering
						</div>
					</div>
				</div>
				<div id="w-node-aac399cb-68c8-6953-7ca5-04eec80173dd-7b12a417" class="b-comand">
					<div class="b-comand__head">
						<img src="{{ 'assets/images/image2052-1.png'|theme }}" loading="lazy" alt="">
					</div>
					<div class="b-comand__down">
						<div class="b-text b-text_bold">
							Betsy Ferronato
						</div>
						<div class="b-text b-text_size_14 b-text_gray b-text_bold">
							Head of Human Resources and Recruiting
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
