<style>
    :root {
        --gallery-animation-duration: 2s;

        --container-width: calc(100vw - 30px); /* ширина превью равна ширине контейнера */
        --gallery-gap: 10px; /* промежуток между элементами галереи */
        --gallery-columns: 2; /* количество колонок в галерее */
        --gallery-rows: 5; /* количество рядов в галерее */
        --gallery-item-columns: 1; /* сколько колонок занимает элемент */
        --gallery-item-rows: 1; /* сколько рядов занимает элемент */

        --gallery-x-gap-count: calc(var(--gallery-columns) - 1); /* кол-во гориз. отступов в галерее */
        --gallery-y-gap-count: calc(var(--gallery-rows) - 1); /* кол-во верт. отступов в галерее */
        --gallery-items-width: calc(100% - var(--gallery-x-gap-count) * var(--gallery-gap)); /* общая ширина элементов галереи без оступов */
        --gallery-items-height: calc(100% - var(--gallery-y-gap-count) * var(--gallery-gap)); /* общая высота элементов галереи без оступов */
        --gallery-cell-width: calc(var(--gallery-items-width) / var(--gallery-columns)); /* ширина одной ячейки галереи */
        --gallery-cell-height: calc(var(--gallery-items-height) / var(--gallery-rows)); /* высота одной ячейки галереи */
        --gallery-item-x-gaps-count: calc(var(--gallery-item-columns) - 1); /* кол-во гориз. отступов внутри элемента */
        --gallery-item-y-gaps-count: calc(var(--gallery-item-rows) - 1); /* кол-во верт. отступов внутри элемента */
        --gallery-item-x-gaps: calc(var(--gallery-item-x-gaps-count) * var(--gallery-gap)); /* общая ширина отступов внутри элемента */
        --gallery-item-y-gaps: calc(var(--gallery-item-y-gaps-count) * var(--gallery-gap)); /* общая высота отступов внутри элемента */

        --gallery-preview-width: var(--container-width);
        --gallery-preview-height: calc(var(--container-width) / 1.375);
        --gallery-preview-left: calc((100% - var(--gallery-preview-width)) / 2);
        --gallery-item-width: calc(var(--gallery-cell-width) * var(--gallery-item-columns) + var(--gallery-item-x-gaps));
        --gallery-item-height: calc(var(--gallery-cell-height) * var(--gallery-item-rows) + var(--gallery-item-y-gaps));
        --gallery-item-left: 0;
    }

    @media (min-width: 768px) {
        :root {
            --container-width: 678px;
            --gallery-gap: 20px;
            --gallery-columns: 5; 
            --gallery-rows: 3;
            --gallery-item-columns: 2;
            --gallery-item-rows: 2;

            --gallery-preview-height: 100%;
        }
    }


    @media (min-width: 950px) {
        :root {
            --container-width: 870px;
        }
    }

    @media (min-width: 1280px) {
        :root {
            --container-width: 1170px;
        }
    }

    [data-gallery] {
        position: relative;
    }

    [data-gallery] [data-gallery-item]:not(:first-child) {
        opacity: 0;
        transition: opacity var(--gallery-animation-duration) ease-in-out;
    }

    [data-gallery] [data-gallery-item]:first-child img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        
        left: var(--gallery-preview-left)!important;
        width: var(--gallery-preview-width)!important;
        height: var(--gallery-preview-height)!important;

        transition: all var(--gallery-animation-duration) ease-in-out;
    }

    [data-gallery].active [data-gallery-item]:not(:first-child) {
        opacity: 1;
    }

    [data-gallery].active [data-gallery-item]:first-child img {
        width: var(--gallery-item-width)!important;
        height: var(--gallery-item-height)!important;
        left: var(--gallery-item-left)!important;
    }
</style>

<section class="section s-section_100vh s-section_pd_11-25" >
	<div class="container container_align_center w-container">
		<div class="h-wrap h-wrap_mg-bt_60 h-wrap_max-width_970 mob_mg-bt_30">
			<div class="b-title b-title_mini mob_30">
				{{ block.meet_galery_title }}
			</div>
		</div>
		<div class="h-wrap h-wrap_mg-bt_60 mob_mg-bt_10">
			<img class="b-image b-image_border-rad_12" src="{{ block.meet_galery_image|media }}" alt="" loading="lazy">
		</div>
	</div>
	<div class="container container_100vw w-container" >
		<div class="b-grid b-grid_galery" data-gallery>
			{% for item in block.meet_galery_rep %}
			<div id="{{ item.data_id }}" data-gallery-item>
				<img class="b-image b-image_border-rad_12" src="{{ item.image|media }}" alt="" id="w-node-dceacf73-8df8-7239-a3ec-5c0c6a587317-7b12a417" loading="lazy">
			</div>
			{% endfor %}
		</div>

        <div id="gallery-edge"></div>
	</div>
</section>

<script>
    (function() {
        var inited = false;
        var edge = document.getElementById('gallery-edge');
        var gallery = document.querySelector('[data-gallery]');
        var observer = new IntersectionObserver(function(entries) {
            var entry = entries[0]
            if (!inited && entry.isIntersecting) {
                gallery.classList.toggle('active');
                inited = true;
                observer.disconnect();
            }
        }, { rootMargin: '0px 0px 100px'});
        observer.observe(edge);
    })()

</script>