<section class="section s-section_pd_11-25">
	<div class="container container_1300 container_align_center w-container">
		<img src="{{ block.meet_help_image|media }}" loading="lazy" alt="" class="b-image b-image_stat">
		<div class="b-block b-block_stat">
			<img src="{{ 'assets/images/mask_stat.png'|theme }}" loading="lazy" alt="" class="b-image b-image_cert">
			<div class="b-columns b-columns_space-between">
				<div class="b-columns__col b-columns__col_73">
					<div class="h-wrap h-wrap_mg-bt_20">
						<div class="b-title b-title_mini b-title_white">
							{{ block.meet_help_title }}
						</div>
					</div>
					<div class="h-wrap h-wrap_mg-bt_20">
						<div class="b-text b-text_size_26 b-text_white">
							{{ block.meet_help_text }}
						</div>
					</div>
					<a href="#" class="b-button b-button_blue b-button_maxw_210 w-button">
						{{ block.meet_help_text_btn }}
					</a>
				</div>
				<div class="b-columns__col b-columns__col_30 b-columns__col_align_center"></div>
			</div>
		</div>
	</div>
</section>
