<section class="{{ section_s_section_100vh_s_section_pd_11_25 }}">
	<div class="{{ block.container_container_align_center_w_container }}">
		<div class="{{ block.h_wrap_h_wrap_mg_bt_60_h_wrap_max_width_970_mob_mg_bt_30 }}">
			<div class="{{ block.b_title_b_title_mini_mob_30 }}">
				{{ block.meet_galery_title }}
			</div>
		</div>
		<div class="{{ block.h_wrap_h_wrap_mg_bt_60_mob_mg_bt_10 }}">
			<img src="{{ block.meet_galery_image|media }}" alt="" loading="lazy" class="{{ block.b_image_b_image_border_rad_12 }}">
		</div>
	</div>
	<div class="{{ block.container_container_100vw_w_container }}">
		<div class="{{ block.b_grid_b_grid_galery }}">
			{% for item in block.meet_galery_rep %}
			<div id="{{ item.data_id }}">
				<img src="{{ item.image|media }}" alt="" id="w-node-dceacf73-8df8-7239-a3ec-5c0c6a587317-7b12a417" loading="lazy" class="{{ item.b_image_b_image_border_rad_12 }}">
			</div>
			{% endfor %}
		</div>
	</div>
</section>
