<section class="{{ section }}">
	<div class="{{ block.container_w_container }}">
		<div class="{{ block.b_columns }}">
			<div class="{{ block.b_columns__col_b_columns__col_30_b_columns__col_justify_end_tb_100 }}">
				<img src="{{ block.meet_meet_image|media }}" alt="" loading="lazy" class="{{ block.b_image_b_image_meet_lumin }}">
			</div>
			<div class="{{ block.b_columns__col_b_columns__col_70_b_columns__col_align_center_b_columns__col_pd_lt_100_tb_100 }}">
				<div class="{{ block.h_wrap_h_wrap_mg_bt_20 }}">
					<div class="{{ block.b_title_b_title_mini_mob_30 }}">
						{{ block.meet_meet_title }}
					</div>
				</div>
				<div class="{{ block.h_wrap_h_wrap_mg_bt_40 }}">
					<div class="{{ block.b_text_b_text_size_18_b_text_line_h_1_8 }}">
						{{ block.meet_meet_text|raw }}
					</div>
				</div>
				<div class="{{ block.b_block_quote }}">
					<div class="{{ block.h_wrap_h_wrap_mg_bt_20 }}">
						<div class="{{ block.b_text_b_text_bold_mob_15 }}">
							{{ block.meet_meet_text_ceo }}
						</div>
					</div>
					<div class="{{ block.h_wrap_h_wrap_flex_h_h_wrap_align_center_left_mob_left }}">
						<img src="{{ block.meet_meet_image_ceo|media }}" loading="lazy" alt="" class="{{ block.b_avatar_b_avatar_mg_rt_25 }}">
						<div>
							<div class="{{ block.b_text_b_text_bold }}">
								{{ block.meet_meet_name_ceo }}
							</div>
							<div class="{{ block.b_text_b_text_gray_b_text_bold }}">
								{{ block.meet_meet_job_ceo }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="{{ block.container_w_container }}"></div>
</section>
