<section class="section">
	<div class="container w-container">
		<div class="b-columns">
			<div class="b-columns__col b-columns__col_30 b-columns__col_justify_end tb_100">
				<img class="b-image b-image_meet-lumin" src="{{ block.meet_meet_image|media }}" alt="" loading="lazy">
			</div>
			<div class="b-columns__col b-columns__col_70 b-columns__col_align_center b-columns__col_pd-lt_100 tb_100">
				<div class="h-wrap h-wrap_mg-bt_20">
					<div class="b-title b-title_mini mob_30">
						{{ block.meet_meet_title }}
					</div>
				</div>
				<div class="h-wrap h-wrap_mg-bt_40">
					<div class="b-text b-text_size_18 b-text_line-h_1-8">
						{{ block.meet_meet_text_|_raw }}
					</div>
				</div>
				<div class="b-block-quote">
					<div class="h-wrap h-wrap_mg-bt_20">
						<div class="b-text b-text_bold mob_15">
							{{ block.meet_meet_text_ceo }}
						</div>
					</div>
					<div class="h-wrap h-wrap_flex_h h-wrap_align_center-left mob_left">
						<img src="{{ block.meet_meet_image_ceo|media }}" loading="lazy" alt="" class="b-avatar b-avatar_mg-rt_25">
						<div>
							<div class="b-text b-text_bold">
								{{ block.meet_meet_name_ceo }}
							</div>
							<div class="b-text b-text_gray b-text_bold">
								{{ block.meet_meet_job_ceo }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container w-container"></div>
</section>
