<div class="h-wrap h-wrap_menu">
	<div data-hover="true" data-delay="0" class="b-menu__dropdown w-dropdown">
		<div class="b-menu__dropdown-toggle w-dropdown-toggle">
			<div>
				{{ block.main_menu_title }}
			</div>
			<img src="{{ 'assets/images/drop_arrow.svg'|theme }}" loading="lazy" alt="" class="b-dropdown__icon">
		</div>
		<nav class="b-menu__dropdown-lists w-dropdown-list">
			<div class="b-dropdown__content">
				<a href="{{ block.menu_dropdown_name }}" class="b-dropdown__link w-dropdown-link">
					{{ block.menu_dropdown_link }}
				</a>
			</div>
		</nav>
	</div>
</div>
