<div class="{{ b_modal_installer }}">
	<div class="{{ block.b_block_bg_b_block_bg__modal }}">
		<a data-w-id="c95f497b-97de-7c70-8549-7f9c0254a720" href="#" class="{{ block.b_modal__close_w_inline_block }}">
			<img src="{{ 'assets/images/Dot.svg'|theme }}" loading="lazy" alt="" class="{{ block.b_modal__close_img_mob_hide }}">
			<img src="{{ 'assets/images/X.svg'|theme }}" loading="lazy" alt="" class="{{ block.b_modal__close_img_mob_show }}">
		</a>
		<div class="{{ block.h_wrap_h_wrap_overflow_auto_mob_width_auto }}">
			<div class="{{ block.h_wrap_h_wrap_maxw_320_h_wrap_align_center }}">
				<div class="{{ block.h_wrap_h_wrap_mg_bt_10 }}">
					<div class="{{ block.b_title_b_title_mini_b_title_modal }}">
						{{ block.modal_installer_title }}
					</div>
				</div>
				<div class="{{ block.h_wrap_h_wrap_mg_bt_20 }}">
					<div class="{{ block.b_text }}">
						{{ block.modal_installer_subtitle }}
					</div>
				</div>
				<div class="{{ block.b_form_w_form }}">
					<form data-name="Become certified installer" id="become-certified-installer" name="wf-form-Become-certified-installer" method="get" data-wf-page-id="648baa95d29f649e7b12a40a" data-wf-element-id="c95f497b-97de-7c70-8549-7f9c0254a72b" class="{{ block.b_form__form }}">
						<div class="{{ block.h_wrap_h_wrap_mg_bt_20 }}">
							<input type="text" maxlength="256" name="Name-6" data-name="Name 6" placeholder="Name*" id="Name-6" required="" class="{{ block.b_input_w_input }}">
						</div>
						<div class="{{ block.h_wrap_h_wrap_mg_bt_20 }}">
							<input type="text" maxlength="256" name="Company-5" data-name="Company 5" placeholder="Company*" id="Company-5" required="" class="{{ block.b_input_w_input }}">
						</div>
						<div class="{{ block.h_wrap_h_wrap_mg_bt_20 }}">
							<input type="email" maxlength="256" name="Email-6" data-name="Email 6" placeholder="Email*" id="Email-6" required="" class="{{ block.b_input_w_input }}">
						</div>
						<div class="{{ block.h_wrap_h_wrap_mg_bt_20 }}">
							<input type="tel" maxlength="256" name="Phone-6" data-name="Phone 6" placeholder="Phone*" id="Phone-6" required="" class="{{ block.b_input_w_input }}">
						</div>
						<input type="submit" value="Submit" data-wait="Please wait..." class="{{ block.b_button_b_button_blue_b_button_maxw_100_w_button }}">
					</form>
					<div class="{{ block.b_form__success_mes_w_form_done }}">
						<div>
							Спасибо за заявку!
							<br>
							В ближайшее время мы свяжемся с вами
						</div>
					</div>
					<div class="{{ block.b_form__error_mes_w_form_fail }}">
						<div>
							Ошибка! Что-то пошло не так.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
