<div class="b-modal looking">
	<div class="b-block-bg b-block-bg__modal b-block-bg_no-pd">
		<a data-w-id="1370c753-0f59-beed-602b-237d69ad7d7d" href="#" class="b-modal__close w-inline-block">
			<img src="{{ 'assets/images/Dot.svg'|theme }}" loading="lazy" alt="" class="b-modal__close-img mob_hide">
			<img src="{{ 'assets/images/X.svg'|theme }}" loading="lazy" alt="" class="b-modal__close-img mob_show">
		</a>
		<div class="h-wrap h-wrap_overflow_auto mob_width_auto">
			<div class="h-wrap h-wrap_maxw_320 h-wrap_align_center">
				<div class="h-wrap h-wrap_mg-bt_10">
					<div class="b-title b-title_mini b-title_modal">
						{{ block.modal_looking_title }}
					</div>
				</div>
				<div class="h-wrap h-wrap_mg-bt_20">
					<div class="b-text">
						{{ block.modal_looking_subtitle }}
					</div>
				</div>
				<div class="b-form w-form">
					<form id="wf-form-Looking-for-an-installer" name="wf-form-Looking-for-an-installer" data-name="Looking for an installer" method="get" class="b-form__form" data-wf-page-id="648baa95d29f649e7b12a413" data-wf-element-id="1370c753-0f59-beed-602b-237d69ad7d88">
						<div class="h-wrap h-wrap_mg-bt_20">
							<input type="text" class="b-input w-input" maxlength="256" name="Name-7" data-name="Name 7" placeholder="Name*" id="Name-7" required="">
						</div>
						<div class="h-wrap h-wrap_mg-bt_20">
							<input type="text" class="b-input w-input" maxlength="256" name="Address-Street-2" data-name="Address Street 2" placeholder="Address (Street)*" id="Address-Street-2" required="">
						</div>
						<div class="h-wrap h-wrap_mg-bt_20">
							<input type="text" class="b-input w-input" maxlength="256" name="City-2" data-name="City 2" placeholder="City*" id="City-2" required="">
						</div>
						<div class="h-wrap h-wrap_mg-bt_20">
							<input type="text" class="b-input w-input" maxlength="256" name="State-2" data-name="State 2" placeholder="State*" id="State-2" required="">
						</div>
						<div class="h-wrap h-wrap_mg-bt_20">
							<input type="text" class="b-input w-input" maxlength="256" name="Zip-code-2" data-name="Zip Code 2" placeholder="Zip code*" id="Zip-code-2" required="">
						</div>
						<div class="h-wrap h-wrap_mg-bt_20">
							<input type="email" class="b-input w-input" maxlength="256" name="Email-7" data-name="Email 7" placeholder="Email*" id="Email-7" required="">
						</div>
						<div class="h-wrap h-wrap_mg-bt_20">
							<input type="tel" class="b-input w-input" maxlength="256" name="Phone-7" data-name="Phone 7" placeholder="Phone*" id="Phone-7" required="">
						</div>
						<input type="submit" value="Submit" data-wait="Please wait..." class="b-button b-button_blue b-button_maxw_100 w-button">
					</form>
					<div class="b-form__success-mes w-form-done">
						<div>
							Спасибо за заявку!
							<br>
							В ближайшее время мы свяжемся с вами
						</div>
					</div>
					<div class="b-form__error-mes w-form-fail">
						<div>
							Ошибка! Что-то пошло не так.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div data-w-id="86d27f8c-9a8f-d856-5a88-6d915cd6c486" class="b-modal__bg-close"></div>
</div>
