<div class="b-modal installer">
	<div class="b-block-bg b-block-bg__modal">
		<a data-w-id="c95f497b-97de-7c70-8549-7f9c0254a720" href="#" class="b-modal__close w-inline-block">
			<img src="{{ 'assets/images/Dot.svg'|theme }}" loading="lazy" alt="">
		</a>
		<div class="h-wrap h-wrap_overflow_auto">
			<div class="h-wrap h-wrap_maxw_320 h-wrap_align_center">
				<div class="h-wrap h-wrap_mg-bt_10">
					<div class="b-title b-title_mini b-title_modal">
						{{ block.modal_installer_title }}
					</div>
				</div>
				<div class="h-wrap h-wrap_mg-bt_20">
					<div class="b-text">
						{{ block.modal_installer_subtitle }}
					</div>
				</div>
				<div class="b-form w-form">
					<form data-name="Become certified installer" id="become-certified-installer" name="wf-form-Become-certified-installer" method="get" class="b-form__form" data-wf-page-id="648baa95d29f649e7b12a40a" data-wf-element-id="c95f497b-97de-7c70-8549-7f9c0254a72b">
						<div class="h-wrap h-wrap_mg-bt_20">
							<input type="text" class="b-input w-input" maxlength="256" name="Name-6" data-name="Name 6" placeholder="Name*" id="Name-6" required="">
						</div>
						<div class="h-wrap h-wrap_mg-bt_20">
							<input type="text" class="b-input w-input" maxlength="256" name="Company-5" data-name="Company 5" placeholder="Company*" id="Company-5" required="">
						</div>
						<div class="h-wrap h-wrap_mg-bt_20">
							<input type="email" class="b-input w-input" maxlength="256" name="Email-6" data-name="Email 6" placeholder="Email*" id="Email-6" required="">
						</div>
						<div class="h-wrap h-wrap_mg-bt_20">
							<input type="tel" class="b-input w-input" maxlength="256" name="Phone-6" data-name="Phone 6" placeholder="Phone*" id="Phone-6" required="">
						</div>
						<input type="submit" value="Submit" data-wait="Please wait..." class="b-button b-button_blue b-button_maxw_100 w-button">
					</form>
					<div class="b-form__success-mes w-form-done">
						<div>
							Спасибо за заявку!
							<br>
							В ближайшее время мы свяжемся с вами
						</div>
					</div>
					<div class="b-form__error-mes w-form-fail">
						<div>
							Ошибка! Что-то пошло не так.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
