<div class="b-modal utilities">
	<div class="b-block-bg b-block-bg__modal b-block-bg_no-pd">
		<a data-w-id="df8047aa-e518-d096-163e-e387bb908dbc" href="#" class="b-modal__close w-inline-block">
			<img src="{{ 'assets/images/Dot.svg'|theme }}" loading="lazy" alt="">
		</a>
		<div class="h-wrap h-wrap_overflow_auto">
			<div class="h-wrap h-wrap_maxw_320 h-wrap_align_center">
				<div class="h-wrap h-wrap_mg-bt_10">
					<div class="b-title b-title_mini b-title_modal">
						{{ block.modal_utilities_title }}
					</div>
				</div>
				<div class="h-wrap h-wrap_mg-bt_20">
					<div class="b-text">
						Learn more about our industry and our products with articles from news outlets, thought leadership from our experts, and other resources by Lumin
					</div>
				</div>
				<div class="b-form w-form">
					<form data-name="utilities partnership" id="utilities-partnership" name="wf-form-utilities-partnership" method="get" class="b-form__form" data-wf-page-id="648baa95d29f649e7b12a40a" data-wf-element-id="df8047aa-e518-d096-163e-e387bb908dc7">
						<div class="h-wrap h-wrap_mg-bt_20">
							<input type="text" class="b-input w-input" maxlength="256" name="Name-8" data-name="Name 8" placeholder="Name*" id="Name-8" required="">
						</div>
						<div class="h-wrap h-wrap_mg-bt_20">
							<input type="text" class="b-input w-input" maxlength="256" name="Company-6" data-name="Company 6" placeholder="Company*" id="Company-6" required="">
						</div>
						<div class="h-wrap h-wrap_mg-bt_20">
							<input type="email" class="b-input w-input" maxlength="256" name="Email-8" data-name="Email 8" placeholder="Email*" id="Email-8" required="">
						</div>
						<div class="h-wrap h-wrap_mg-bt_20">
							<input type="tel" class="b-input w-input" maxlength="256" name="Phone-8" data-name="Phone 8" placeholder="Phone*" id="Phone-8" required="">
						</div>
						<div class="h-wrap h-wrap_mg-bt_20">
							<textarea id="Comments-2" name="Comments-2" maxlength="5000" data-name="Comments 2" placeholder="Comments..." class="b-input b-input_textarea w-input"></textarea>
						</div>
						<input type="submit" value="Submit" data-wait="Please wait..." class="b-button b-button_blue b-button_maxw_100 w-button">
					</form>
					<div class="b-form__success-mes w-form-done">
						<div>
							Спасибо за заявку!
							<br>
							В ближайшее время мы свяжемся с вами
						</div>
					</div>
					<div class="b-form__error-mes w-form-fail">
						<div>
							Ошибка! Что-то пошло не так.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div data-w-id="3148119b-cb88-bd65-de60-fa80b7e2ba5b" class="b-modal__bg-close"></div>
</div>
