<div class="{{ b_modal_utilities }}">
	<div class="{{ block.b_block_bg_b_block_bg__modal_b_block_bg_no_pd }}">
		<a data-w-id="df8047aa-e518-d096-163e-e387bb908dbc" href="#" class="{{ block.b_modal__close_w_inline_block }}">
			<img src="{{ 'assets/images/Dot.svg'|theme }}" loading="lazy" alt="" class="{{ block.b_modal__close_img_mob_hide }}">
			<img src="{{ 'assets/images/X.svg'|theme }}" loading="lazy" alt="" class="{{ block.b_modal__close_img_mob_show }}">
		</a>
		<div class="{{ block.h_wrap_h_wrap_overflow_auto_mob_width_auto }}">
			<div class="{{ block.h_wrap_h_wrap_maxw_320_h_wrap_align_center }}">
				<div class="{{ block.h_wrap_h_wrap_mg_bt_10 }}">
					<div class="{{ block.b_title_b_title_mini_b_title_modal }}">
						{{ block.modal_utilities_title }}
					</div>
				</div>
				<div class="{{ block.h_wrap_h_wrap_mg_bt_20 }}">
					<div class="{{ block.b_text }}">
						Learn more about our industry and our products with articles from news outlets, thought leadership from our experts, and other resources by Lumin
					</div>
				</div>
				<div class="{{ block.b_form_w_form }}">
					<form data-name="utilities partnership" id="utilities-partnership" name="wf-form-utilities-partnership" method="get" data-wf-page-id="648baa95d29f649e7b12a40a" data-wf-element-id="df8047aa-e518-d096-163e-e387bb908dc7" class="{{ block.b_form__form }}">
						<div class="{{ block.h_wrap_h_wrap_mg_bt_20 }}">
							<input type="text" maxlength="256" name="Name-8" data-name="Name 8" placeholder="Name*" id="Name-8" required="" class="{{ block.b_input_w_input }}">
						</div>
						<div class="{{ block.h_wrap_h_wrap_mg_bt_20 }}">
							<input type="text" maxlength="256" name="Company-6" data-name="Company 6" placeholder="Company*" id="Company-6" required="" class="{{ block.b_input_w_input }}">
						</div>
						<div class="{{ block.h_wrap_h_wrap_mg_bt_20 }}">
							<input type="email" maxlength="256" name="Email-8" data-name="Email 8" placeholder="Email*" id="Email-8" required="" class="{{ block.b_input_w_input }}">
						</div>
						<div class="{{ block.h_wrap_h_wrap_mg_bt_20 }}">
							<input type="tel" maxlength="256" name="Phone-8" data-name="Phone 8" placeholder="Phone*" id="Phone-8" required="" class="{{ block.b_input_w_input }}">
						</div>
						<div class="{{ block.h_wrap_h_wrap_mg_bt_20 }}">
							<textarea id="Comments-2" name="Comments-2" maxlength="5000" data-name="Comments 2" placeholder="Comments..." class="{{ block.b_input_b_input_textarea_w_input }}"></textarea>
						</div>
						<input type="submit" value="Submit" data-wait="Please wait..." class="{{ block.b_button_b_button_blue_b_button_maxw_100_w_button }}">
					</form>
					<div class="{{ block.b_form__success_mes_w_form_done }}">
						<div>
							Спасибо за заявку!
							<br>
							В ближайшее время мы свяжемся с вами
						</div>
					</div>
					<div class="{{ block.b_form__error_mes_w_form_fail }}">
						<div>
							Ошибка! Что-то пошло не так.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div data-w-id="3148119b-cb88-bd65-de60-fa80b7e2ba5b" class="{{ block.b_modal__bg_close }}"></div>
</div>
