<section class="section s-section_100vh s-section_pd_11-25">
	<div class="container container_align_center w-container">
		<div class="h-wrap h-wrap_mg-bt_20">
			<div class="b-title b-title_mini">
				{{ block.our_blog_posts_title }}
			</div>
		</div>
		<div class="h-wrap h-wrap_mg-bt_30 h-wrap_max-width_770">
			<div class="b-text b-text_size_20">
				{{ block.our_blog_posts_subtitle }}
			</div>
		</div>
		<div class="h-wrap h-wrap_mg-bt_40 hide">
			<div class="b-form w-form">
				<form data-name="Форма" id="email-form" name="email-form" method="get" class="b-form__form b-form__form_grid" data-wf-page-id="648baa95d29f649e7b12a410" data-wf-element-id="bf349b91-9ec5-dadd-f58f-3fc557df9375">
					<div id="w-node-_28a9aca5-ac6f-dcdb-89d3-24a61bcb8a1c-7b12a410" class="h-wrap">
						<input type="submit" data-wait="Please wait..." id="w-node-e8be5773-4099-5fa1-e42a-9527e7fe5ee4-7b12a410" class="b-form__btn-reset w-button" value="">
						<input class="b-input b-input_search w-input" maxlength="256" name="text" data-name="text" placeholder="Search" type="text" id="text">
					</div>
					<select id="field-3" name="field-3" data-name="Field 3" class="b-select v-2 w-node-_0af77ae2-f75f-36bd-9cbf-b3313fbf788e-7b12a410 w-select">
						<option value="">
							Category
						</option>
					</select>
					<select id="field-3" name="field-3" data-name="Field 3" class="b-select v-2 w-node-_18a73e0f-d31d-6ed5-a9ee-11ea82f265f2-7b12a410 w-select">
						<option value="">
							Sort
						</option>
					</select>
				</form>
				<div class="b-form__success-mes w-form-done">
					<div>
						Спасибо за заявку!
						<br>
						В ближайшее время мы свяжемся с вами
					</div>
				</div>
				<div class="b-form__error-mes w-form-fail">
					<div>
						Ошибка! Что-то пошло не так.
					</div>
				</div>
			</div>
		</div>
		<div class="h-wrap h-wrap_mg-bt_60">
			<div class="b-grid b-grid_blog hide">
				<div id="w-node-_884abb05-a6a6-62a6-4de2-6be46ea8fd0b-7b12a410" class="b-card-post">
					<img src="{{ 'assets/images/image2057.png'|theme }}" loading="lazy" alt="" class="b-card-post__img">
					<div class="b-card-post__cont">
						<div class="b-text b-text_size_14 b-text_white b-text_semibold">
							May 18, 2021
						</div>
						<div class="b-text b-text_size_20 b-text_white b-text_bold">
							Asymmetric Net Metering: your complete guide in 2022.
						</div>
					</div>
				</div>
				<div id="w-node-ef28fd5f-7973-ccba-4ab4-1665f26c452c-7b12a410" class="b-card-post">
					<div class="b-card-post__head">
						<img src="{{ 'assets/images/image2054.jpg'|theme }}" loading="lazy" alt="">
						<div class="b-card-post__btn-cont">
							<div class="b-button b-button_blue b-button_height_45">
								Reed more
							</div>
						</div>
					</div>
					<div class="h-wrap h-wrap_mg-bt_5">
						<div class="b-text b-text_size_14 b-text_gray b-text_semibold">
							May 18, 2021
						</div>
					</div>
					<div class="b-text b-text_size_20 b-text_bold">
						How Microgrid Solar Systems Deliver Energy Independence
					</div>
				</div>
				<div id="w-node-_001afd2a-a5ec-d02d-878b-edaba5cec986-7b12a410" class="b-card-post">
					<div class="b-card-post__head">
						<img src="{{ 'assets/images/news__img.jpg'|theme }}" loading="lazy" alt="">
						<div class="b-card-post__btn-cont">
							<div class="b-button b-button_blue b-button_height_45">
								Reed more
							</div>
						</div>
					</div>
					<div class="h-wrap h-wrap_mg-bt_5">
						<div class="b-text b-text_size_14 b-text_gray">
							May 18, 2021
						</div>
					</div>
					<div class="b-text b-text_size_20 b-text_bold">
						How Microgrid Solar Systems Deliver Energy Independence
					</div>
				</div>
			</div>
			<div>
				{% set posts = postsList.orderBy('created_at', 'desc').paginate(9) %}
			</div>
			{% ajaxPartial "records/posts-list" %}{% partial "site/pagination" %}
		</div>
	</div>
</section>