<section class="{{ section_s_section_100vh_s_section_pd_11_25 }}">
	<div class="{{ block.container_container_align_center_w_container }}">
		<div class="{{ block.h_wrap_h_wrap_mg_bt_20 }}">
			<div class="{{ block.b_title_b_title_mini }}">
				{{ block.our_blog_posts_title }}
			</div>
		</div>
		<div class="{{ block.h_wrap_h_wrap_mg_bt_30_h_wrap_max_width_770 }}">
			<div class="{{ block.b_text_b_text_size_20 }}">
				{{ block.our_blog_posts_subtitle }}
			</div>
		</div>
		<div class="{{ block.h_wrap_h_wrap_mg_bt_40 }}">
			<div class="{{ block.b_form_w_form }}">
				<form data-name="Форма" id="email-form" name="email-form" method="get" data-wf-page-id="648baa95d29f649e7b12a410" data-wf-element-id="bf349b91-9ec5-dadd-f58f-3fc557df9375" class="{{ block.b_form__form_b_form__form_grid }}">
					<div id="w-node-_28a9aca5-ac6f-dcdb-89d3-24a61bcb8a1c-7b12a410" class="{{ block.h_wrap }}">
						<input type="submit" value="" data-wait="Please wait..." id="w-node-e8be5773-4099-5fa1-e42a-9527e7fe5ee4-7b12a410" class="{{ block.b_form__btn_reset_w_button }}">
						<input type="text" maxlength="256" name="text" data-name="text" placeholder="Search" id="text" class="{{ block.b_input_b_input_search_w_input }}">
					</div>
					<select id="field-3" name="field-3" data-name="Field 3" class="{{ block.b_select_v_2_w_node__0af77ae2_f75f_36bd_9cbf_b3313fbf788e_7b12a410_w_select }}">
						<option value="">
							Category
						</option>
					</select>
					<select id="field-3" name="field-3" data-name="Field 3" class="{{ block.b_select_v_2_w_node__18a73e0f_d31d_6ed5_a9ee_11ea82f265f2_7b12a410_w_select }}">
						<option value="">
							Sort
						</option>
					</select>
				</form>
				<div class="{{ block.b_form__success_mes_w_form_done }}">
					<div>
						Спасибо за заявку!
						<br>
						В ближайшее время мы свяжемся с вами
					</div>
				</div>
				<div class="{{ block.b_form__error_mes_w_form_fail }}">
					<div>
						Ошибка! Что-то пошло не так.
					</div>
				</div>
			</div>
		</div>
		<div class="{{ block.h_wrap_h_wrap_mg_bt_60 }}">
			<div class="{{ block.b_grid_b_grid_blog }}">
				<div id="w-node-_884abb05-a6a6-62a6-4de2-6be46ea8fd0b-7b12a410" class="{{ block.b_card_post }}">
					<img src="{{ 'assets/images/image2057.png'|theme }}" loading="lazy" alt="" class="{{ block.b_card_post__img }}">
					<div class="{{ block.b_card_post__cont }}">
						<div class="{{ block.b_text_b_text_size_14_b_text_white_b_text_semibold }}">
							May 18, 2021
						</div>
						<div class="{{ block.b_text_b_text_size_20_b_text_white_b_text_bold }}">
							Asymmetric Net Metering: your complete guide in 2022.
						</div>
					</div>
				</div>
				<div id="w-node-ef28fd5f-7973-ccba-4ab4-1665f26c452c-7b12a410" class="{{ block.b_card_post }}">
					<div class="{{ block.b_card_post__head }}">
						<img src="{{ 'assets/images/image2054.jpg'|theme }}" loading="lazy" alt="">
						<div class="{{ block.b_card_post__btn_cont }}">
							<div class="{{ block.b_button_b_button_blue_b_button_height_45 }}">
								Reed more
							</div>
						</div>
					</div>
					<div class="{{ block.h_wrap_h_wrap_mg_bt_5 }}">
						<div class="{{ block.b_text_b_text_size_14_b_text_gray_b_text_semibold }}">
							May 18, 2021
						</div>
					</div>
					<div class="{{ block.b_text_b_text_size_20_b_text_bold }}">
						How Microgrid Solar Systems Deliver Energy Independence
					</div>
				</div>
				<div id="w-node-_001afd2a-a5ec-d02d-878b-edaba5cec986-7b12a410" class="{{ block.b_card_post }}">
					<div class="{{ block.b_card_post__head }}">
						<img src="{{ 'assets/images/news__img.jpg'|theme }}" loading="lazy" alt="">
						<div class="{{ block.b_card_post__btn_cont }}">
							<div class="{{ block.b_button_b_button_blue_b_button_height_45 }}">
								Reed more
							</div>
						</div>
					</div>
					<div class="{{ block.h_wrap_h_wrap_mg_bt_5 }}">
						<div class="{{ block.b_text_b_text_size_14_b_text_gray }}">
							May 18, 2021
						</div>
					</div>
					<div class="{{ block.b_text_b_text_size_20_b_text_bold }}">
						How Microgrid Solar Systems Deliver Energy Independence
					</div>
				</div>
			</div>
			<div>
				{% set posts = postsList.paginate(1) %}
			</div>
			{% ajaxPartial "records/posts-list" %}
		</div>
	</div>
</section>
