<section class="section s-section_pd_12-5_0">
	<div data-w-id="c81a9966-fdf8-7a88-c61d-9936a1852eb5" class="container w-container">
		<div class="h-wrap h-wrap_mg-bt_20">
			<h1 data-w-id="1d35dd18-5ff2-a3dc-c76e-d5a15ec4435a" class="b-title b-title_mini">
				{{ block.press_room_posts_title }}
			</h1>
		</div>
		<div class="h-wrap h-wrap_mg-bt_50 h-wrap_max-width_800">
			<div data-w-id="381622d6-7a66-f261-08b0-818d1df9977f" class="b-text b-text_size_20">
				{{ block.press_room_posts_subtitle }}
			</div>
		</div>
		<div class="h-wrap h-wrap_mg-bt_60">
			<div id="cardContainer" class="b-grid b-grid_col_5 pl_flex">
				{% for item in block.arhive_press_room %}
				<a rel="nofollow" href="{{ item.link }}" target="_blank" class="b-card-post b-card-post_flex-v tp_width_220 w-inline-block">
					<div class="b-card-post__head v-2">
						<div class="h-wrap h-wrap_mg-bt_10">
							<div class="b-tag">
								{{ item.tag }}
							</div>
						</div>
						<div class="h-wrap h-wrap_mg-bt_5">
							<div class="b-text b-text_size_14 b-text_gray b-text_semibold">
								{{ item.date }}
							</div>
						</div>
						<div class="b-text b-text_size_15 b-text_bold">
							{{ item.excerpt }}
						</div>
					</div>
					<img src="{{ item.image|media }}" loading="lazy" alt="" class="b-card-post__img b-card-post__img_news">
				</a>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="container container_align_center w-container">
		<a id="seeMoreBtn" href="#" class="b-button b-button_width_210 b-button_icon-arrow w-button">
			See more
		</a>
	</div>
</section>
