<section class="s-section s-section_70vh">
	<div class="container container_align_center w-container">
		<div class="h-wrap h-wrap_mg-bt_20">
			<div class="b-title b-title_mini">
				{{ block.press_room_pr_title }}
			</div>
		</div>
		<div class="h-wrap h-wrap_mg-bt_40 h-wrap_max-width_900">
			<div class="b-text b-text_size_26">
				{{ block.press_room_pr_subtitle }}
			</div>
		</div>
		<a href="#" class="b-button b-button_blue b-button_maxw_210 w-button">
			{{ block.press_room_pr_text_btn }}
		</a>
	</div>
</section>
