<section class="{{ section_s_section_70vh }}">
	<div class="{{ block.container_container_align_center_w_container }}">
		<div class="{{ block.h_wrap_h_wrap_mg_bt_20 }}">
			<div class="{{ block.b_title_b_title_mini }}">
				{{ block.press_room_pr_title }}
			</div>
		</div>
		<div class="{{ block.h_wrap_h_wrap_mg_bt_40_h_wrap_max_width_900 }}">
			<div class="{{ block.b_text_b_text_size_26 }}">
				{{ block.press_room_pr_subtitle }}
			</div>
		</div>
		<a href="#" class="{{ block.b_button_b_button_blue_b_button_maxw_210_w_button }}">
			{{ block.press_room_pr_text_btn }}
		</a>
	</div>
</section>
