<section class="section s-section_pd_11-25">
	<div class="container w-container">
		<div class="h-wrap h-wrap_mg-bt_60 mob_mg-bt_40">
			<div class="b-title b-title_mini mob_30">
				{{ block.title }}
			</div>
		</div>
		<div data-delay="4000" data-animation="slide" class="b-slider b-slider_overflow_visible w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
			<div class="b-slider__mask b-slider__mask_47 tb_70 mob_100 w-slider-mask">
				{% for item in block.slider %}
				<div class="b-slider__slide b-slider__slide_mg-rt_30 w-slide">
					<div class="h-wrap h-wrap_height_100 slide-card">
						<div class="b-slider__card card v-2">
							<img src="{{ item.image|media }}" loading="lazy" alt="" class="b-slider__image mobp_hide">
							<img src="{{ item.image_mob|media }}" loading="lazy" alt="" class="b-slider__image mobp_show">
							<div class="b-slider__white-content b-slider__white-content_sep">
								<div class="h-wrap h-wrap_mg-bt_20 h-wrap_flex-h">
									<img src="{{ item.avatar|media }}" loading="lazy" alt="" class="b-avatar">
									<div>
										<div class="b-text b-text_size_14 b-text_gray">
											{{ item.date }}
										</div>
										<div class="b-text b-text_size_20 b-text_bold">
											{{ item.name }}
										</div>
									</div>
								</div>
								<div class="b-text">
									{{ item.text }}
								</div>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="b-slider__arrow-left w-slider-arrow-left">
				<img src="{{ 'assets/images/placeholder.60f9b1840c.svg'|theme }}" loading="lazy" alt="" class="b-slider__icone">
			</div>
			<div class="b-slider__arrow-right w-slider-arrow-right">
				<img src="{{ 'assets/images/placeholder.60f9b1840c.svg'|theme }}" loading="lazy" alt="" class="b-slider__icone">
			</div>
			<div class="b-slider__nav w-slider-nav w-round"></div>
			<div class="b-numbers b-numbers_mg-tp_40">
				<a href="#" class="arrow-left w-inline-block">
					<img src="{{ 'assets/images/_.svg'|theme }}" loading="lazy" alt="">
				</a>
				<img src="{{ 'assets/images/LOGO20Loading.svg'|theme }}" loading="lazy" alt="" class="b-slider__icon">
				<a href="#" class="arrow-right w-inline-block">
					<img src="{{ 'assets/images/_20(1).svg'|theme }}" loading="lazy" alt="">
				</a>
			</div>
		</div>
	</div>
</section>
