<section class="section section_maxh_920">
	<div class="container w-container">
		<div class="b-columns mob_revers">
			<div class="b-columns__col b-columns__col_51 b-columns__col_align_center tb_100">
				<div class="h-wrap h-wrap_mg-bt_30 mob_mg-bt_20">
					<h1 class="b-title b-title_mini tb_36">
						{{ block.title|raw }}
					</h1>
				</div>
				<div class="h-wrap h-wrap_mg-bt_40 h-wrap_max-width_400 mob_w_none">
					<div class="b-text b-text_size_18 tb_16">
						{{ block.subtitle|raw }}
					</div>
				</div>
			</div>
			<div class="b-columns__col b-columns__col_49 tb_100">
				<img class="b-image b-image_prod" src="{{ block.image|media }}" alt="" loading="lazy">
			</div>
		</div>
	</div>
</section>
