<section class="{{ section_s_section_100vh_s_section_pd_11_25 }}">
	<div class="{{ block.container_container_align_center_w_container }}">
		<div class="{{ block.h_wrap_h_wrap_mg_bt_60_tb_mg_bt_30 }}">
			<div class="{{ block.b_title_b_title_mini_mob_30 }}">
				{{ block.project_title }}
			</div>
		</div>
		<div class="{{ block.h_wrap_h_wrap_mg_bt_40 }}">
			<div data-delay="4000" data-animation="slide" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true" class="{{ block.b_slider_w_slider }}">
				<div class="{{ block.b_slider__mask_b_slider__mask_30_tb_50_mob_100_w_slider_mask }}">
					<div class="{{ block.b_slider__slide_w_slide }}">
						<div class="{{ block.b_card_project }}">
							<div class="{{ block.b_card_project__head }}">
								<img src="{{ 'assets/images/D0A4D0BED182D0BE.jpg'|theme }}" loading="lazy" alt="">
							</div>
							<div class="{{ block.b_card_project__down }}">
								<div class="{{ block.h_wrap_h_wrap_mg_bt_20 }}">
									<div class="{{ block.b_text_b_text_size_24_b_text_extra_bold_tb_18 }}">
										Bolstering Resilience in Rural Virginia
									</div>
								</div>
								<ul role="list" class="{{ block.b_list }}">
									<li class="{{ block.b_list__item_b_list__item_mg_bt_20_b_list__item_align_center }}">
										<div class="{{ block.b_list__circle_v_3 }}">
											<img src="{{ 'assets/images/card20(3).svg'|theme }}" loading="lazy" alt="">
										</div>
										<div class="{{ block.b_text_b_text_size_18 }}">
											Silfab SLA-M 310 solar panels
										</div>
									</li>
									<li class="{{ block.b_list__item_b_list__item_mg_bt_20_b_list__item_align_center }}">
										<div class="{{ block.b_list__circle_v_3 }}">
											<img src="{{ 'assets/images/card20(3).svg'|theme }}" loading="lazy" alt="">
										</div>
										<div class="{{ block.b_text_b_text_size_18 }}">
											SolarEdge SE7600H-US wave inverter
										</div>
									</li>
									<li class="{{ block.b_list__item_b_list__item_mg_bt_20_b_list__item_align_center }}">
										<div class="{{ block.b_list__circle_v_3 }}">
											<img src="{{ 'assets/images/card20(3).svg'|theme }}" loading="lazy" alt="">
										</div>
										<div class="{{ block.b_text_b_text_size_18 }}">
											SunPower 350w AC Panels
										</div>
									</li>
								</ul>
								<div class="{{ block.h_wrap_h_wrap_mg_bt_20 }}">
									<div class="{{ block.b_text_b_text_size_18_b_text_gray }}">
										Homeowner, Stephen
										<br>
										K.San-Francisco, CA
									</div>
								</div>
								<a href="#" class="{{ block.b_card_project__link }}">
									Learn more
								</a>
							</div>
						</div>
					</div>
					<div class="{{ block.b_slider__slide_w_slide }}">
						<div class="{{ block.b_card_project }}">
							<div class="{{ block.b_card_project__head }}">
								<img src="{{ 'assets/images/D0A4D0BED182D0BE.jpg'|theme }}" loading="lazy" alt="">
							</div>
							<div class="{{ block.b_card_project__down }}">
								<div class="{{ block.h_wrap_h_wrap_mg_bt_20 }}">
									<div class="{{ block.b_text_b_text_size_24_b_text_extra_bold }}">
										Bolstering Resilience in Rural Virginia
									</div>
								</div>
								<ul role="list" class="{{ block.b_list }}">
									<li class="{{ block.b_list__item_b_list__item_mg_bt_20_b_list__item_align_center }}">
										<div class="{{ block.b_list__circle_v_3 }}">
											<img src="{{ 'assets/images/card20(3).svg'|theme }}" loading="lazy" alt="">
										</div>
										<div class="{{ block.b_text_b_text_size_18 }}">
											Silfab SLA-M 310 solar panels
										</div>
									</li>
									<li class="{{ block.b_list__item_b_list__item_mg_bt_20_b_list__item_align_center }}">
										<div class="{{ block.b_list__circle_v_3 }}">
											<img src="{{ 'assets/images/card20(3).svg'|theme }}" loading="lazy" alt="">
										</div>
										<div class="{{ block.b_text_b_text_size_18 }}">
											SolarEdge SE7600H-US wave inverter
										</div>
									</li>
									<li class="{{ block.b_list__item_b_list__item_mg_bt_20_b_list__item_align_center }}">
										<div class="{{ block.b_list__circle_v_3 }}">
											<img src="{{ 'assets/images/card20(3).svg'|theme }}" loading="lazy" alt="">
										</div>
										<div class="{{ block.b_text_b_text_size_18 }}">
											SunPower 350w AC Panels
										</div>
									</li>
								</ul>
								<div class="{{ block.h_wrap_h_wrap_mg_bt_20 }}">
									<div class="{{ block.b_text_b_text_size_18_b_text_gray }}">
										Homeowner, Stephen
										<br>
										K.San-Francisco, CA
									</div>
								</div>
								<a href="#" class="{{ block.b_card_project__link }}">
									Learn more
								</a>
							</div>
						</div>
					</div>
					<div class="{{ block.b_slider__slide_w_slide }}">
						<div class="{{ block.b_card_project }}">
							<div class="{{ block.b_card_project__head }}">
								<img src="{{ 'assets/images/D0A4D0BED182D0BE.jpg'|theme }}" loading="lazy" alt="">
							</div>
							<div class="{{ block.b_card_project__down }}">
								<div class="{{ block.h_wrap_h_wrap_mg_bt_20 }}">
									<div class="{{ block.b_text_b_text_size_24_b_text_extra_bold }}">
										Bolstering Resilience in Rural Virginia
									</div>
								</div>
								<ul role="list" class="{{ block.b_list }}">
									<li class="{{ block.b_list__item_b_list__item_mg_bt_20_b_list__item_align_center }}">
										<div class="{{ block.b_list__circle_v_3 }}">
											<img src="{{ 'assets/images/card20(3).svg'|theme }}" loading="lazy" alt="">
										</div>
										<div class="{{ block.b_text_b_text_size_18 }}">
											Silfab SLA-M 310 solar panels
										</div>
									</li>
									<li class="{{ block.b_list__item_b_list__item_mg_bt_20_b_list__item_align_center }}">
										<div class="{{ block.b_list__circle_v_3 }}">
											<img src="{{ 'assets/images/card20(3).svg'|theme }}" loading="lazy" alt="">
										</div>
										<div class="{{ block.b_text_b_text_size_18 }}">
											SolarEdge SE7600H-US wave inverter
										</div>
									</li>
									<li class="{{ block.b_list__item_b_list__item_mg_bt_20_b_list__item_align_center }}">
										<div class="{{ block.b_list__circle_v_3 }}">
											<img src="{{ 'assets/images/card20(3).svg'|theme }}" loading="lazy" alt="">
										</div>
										<div class="{{ block.b_text_b_text_size_18 }}">
											SunPower 350w AC Panels
										</div>
									</li>
								</ul>
								<div class="{{ block.h_wrap_h_wrap_mg_bt_20 }}">
									<div class="{{ block.b_text_b_text_size_18_b_text_gray }}">
										Homeowner, Stephen
										<br>
										K.San-Francisco, CA
									</div>
								</div>
								<a href="#" class="{{ block.b_card_project__link }}">
									Learn more
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="{{ block.b_slider__arrow_left_w_slider_arrow_left }}">
					<img src="{{ 'assets/images/placeholder.60f9b1840c.svg'|theme }}" loading="lazy" alt="" class="{{ block.b_slider__icone }}">
				</div>
				<div class="{{ block.b_slider__arrow_right_w_slider_arrow_right }}">
					<img src="{{ 'assets/images/placeholder.60f9b1840c.svg'|theme }}" loading="lazy" alt="" class="{{ block.b_slider__icone }}">
				</div>
				<div class="{{ block.b_slider__nav_w_slider_nav_w_round }}"></div>
			</div>
		</div>
		<div class="{{ block.b_numbers }}">
			<div class="{{ block.b_numbers__arrow_arrow_left }}">
				<img src="{{ 'assets/images/arraows20(1).svg'|theme }}" loading="lazy" alt="">
			</div>
			<div class="{{ block.b_numbers__text_b_numbers__text_mg_0_16 }}">
				<span class="{{ block.b_numbers__text_active }}">
					01
				</span>
				/
				<span class="{{ block.b_numbers__text_num }}">
					03
				</span>
			</div>
			<div class="{{ block.b_numbers__arrow_arrow_right }}">
				<img src="{{ 'assets/images/arraows20(2).svg'|theme }}" loading="lazy" alt="">
			</div>
		</div>
	</div>
</section>
