<section class="section s-section_100vh s-section_pd_11-25">
	<div class="container container_align_center w-container">
		<div class="h-wrap h-wrap_mg-bt_60 tb_mg-bt_30">
			<div class="b-title b-title_mini mob_30">
				{{ block.project_title }}
			</div>
		</div>
		<div class="h-wrap h-wrap_mg-bt_40">
			<div data-delay="4000" data-animation="slide" class="b-slider w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
				<div class="b-slider__mask b-slider__mask_30 tb_50 mob_100 w-slider-mask">
					{% for item in block.slider %}
					<div class="b-slider__slide w-slide">
						<div class="b-card-project">
							<div class="b-card-project__head">
								<img src="{{ item.image|media }}" loading="lazy" alt="">
							</div>
							<div class="b-card-project__down">
								<div class="h-wrap h-wrap_mg-bt_20">
									<div class="b-text b-text_size_24 b-text_extra-bold tb_18">
										{{ item.title_list }}
									</div>
								</div>
								<ul role="list" class="b-list">
									{% for item in item.list %}
									<li class="b-list__item b-list__item_mg-bt_20 b-list__item_align_center">
										<div class="b-list__circle v-3">
											<img src="{{ item.icon|media }}" loading="lazy" alt="">
										</div>
										<div class="b-text b-text_size_18">
											{{ item.text_list }}
										</div>
									</li>
									{% endfor %}
								</ul>
								<div class="h-wrap h-wrap_mg-bt_20">
									<div class="b-text b-text_size_18 b-text_gray">
										{{ item.geo }}
									</div>
								</div>
								<a href="#" class="b-card-project__link">
									Learn more
								</a>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
				<div class="b-slider__arrow-left w-slider-arrow-left">
					<img src="{{ 'assets/images/placeholder.60f9b1840c.svg'|theme }}" loading="lazy" alt="" class="b-slider__icone">
				</div>
				<div class="b-slider__arrow-right w-slider-arrow-right">
					<img src="{{ 'assets/images/placeholder.60f9b1840c.svg'|theme }}" loading="lazy" alt="" class="b-slider__icone">
				</div>
				<div class="b-slider__nav w-slider-nav w-round"></div>
			</div>
		</div>
		<div class="b-numbers">
			<div class="b-numbers__arrow arrow_left">
				<img src="{{ 'assets/images/arraows20(1).svg'|theme }}" loading="lazy" alt="">
			</div>
			<div class="b-numbers__text b-numbers__text_mg_0_16">
				<span class="b-numbers__text-active">
					01
				</span>
				/
				<span class="b-numbers__text-num">
					03
				</span>
			</div>
			<div class="b-numbers__arrow arrow_right">
				<img src="{{ 'assets/images/arraows20(2).svg'|theme }}" loading="lazy" alt="">
			</div>
		</div>
	</div>
</section>
