<section class="section s-section_100vh s-section_pd_11-25">
	<div class="container container_align_center w-container">
		<div class="h-wrap h-wrap_mg-bt_60 tb_mg-bt_30">
			<div class="b-title b-title_mini mob_30">
				{{ sectionsGlobal.project_title }}
			</div>
		</div>
		<div class="h-wrap h-wrap_mg-bt_40">
			<div data-delay="4000" data-animation="slide" class="b-slider w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
				<div class="b-slider__mask b-slider__mask_30 tb_50 mob_100 w-slider-mask">
					<div class="b-slider__slide w-slide">
						<div class="b-card-project">
							<div class="b-card-project__head">
								<img src="{{ 'assets/images/D0A4D0BED182D0BE.jpg'|theme }}" loading="lazy" alt="">
							</div>
							<div class="b-card-project__down">
								<div class="h-wrap h-wrap_mg-bt_20">
									<div class="b-text b-text_size_24 b-text_extra-bold tb_18">
										Bolstering Resilience in Rural Virginia
									</div>
								</div>
								<ul role="list" class="b-list">
									<li class="b-list__item b-list__item_mg-bt_20 b-list__item_align_center">
										<div class="b-list__circle v-3">
											<img src="{{ 'assets/images/card20(3).svg'|theme }}" loading="lazy" alt="">
										</div>
										<div class="b-text b-text_size_18">
											Silfab SLA-M 310 solar panels
										</div>
									</li>
									<li class="b-list__item b-list__item_mg-bt_20 b-list__item_align_center">
										<div class="b-list__circle v-3">
											<img src="{{ 'assets/images/card20(3).svg'|theme }}" loading="lazy" alt="">
										</div>
										<div class="b-text b-text_size_18">
											SolarEdge SE7600H-US wave inverter
										</div>
									</li>
									<li class="b-list__item b-list__item_mg-bt_20 b-list__item_align_center">
										<div class="b-list__circle v-3">
											<img src="{{ 'assets/images/card20(3).svg'|theme }}" loading="lazy" alt="">
										</div>
										<div class="b-text b-text_size_18">
											SunPower 350w AC Panels
										</div>
									</li>
								</ul>
								<div class="h-wrap h-wrap_mg-bt_20">
									<div class="b-text b-text_size_18 b-text_gray">
										Homeowner, Stephen
										<br>
										K.San-Francisco, CA
									</div>
								</div>
								<a href="#" class="b-card-project__link">
									Learn more
								</a>
							</div>
						</div>
					</div>
					<div class="b-slider__slide w-slide">
						<div class="b-card-project">
							<div class="b-card-project__head">
								<img src="{{ 'assets/images/D0A4D0BED182D0BE.jpg'|theme }}" loading="lazy" alt="">
							</div>
							<div class="b-card-project__down">
								<div class="h-wrap h-wrap_mg-bt_20">
									<div class="b-text b-text_size_24 b-text_extra-bold">
										Bolstering Resilience in Rural Virginia
									</div>
								</div>
								<ul role="list" class="b-list">
									<li class="b-list__item b-list__item_mg-bt_20 b-list__item_align_center">
										<div class="b-list__circle v-3">
											<img src="{{ 'assets/images/card20(3).svg'|theme }}" loading="lazy" alt="">
										</div>
										<div class="b-text b-text_size_18">
											Silfab SLA-M 310 solar panels
										</div>
									</li>
									<li class="b-list__item b-list__item_mg-bt_20 b-list__item_align_center">
										<div class="b-list__circle v-3">
											<img src="{{ 'assets/images/card20(3).svg'|theme }}" loading="lazy" alt="">
										</div>
										<div class="b-text b-text_size_18">
											SolarEdge SE7600H-US wave inverter
										</div>
									</li>
									<li class="b-list__item b-list__item_mg-bt_20 b-list__item_align_center">
										<div class="b-list__circle v-3">
											<img src="{{ 'assets/images/card20(3).svg'|theme }}" loading="lazy" alt="">
										</div>
										<div class="b-text b-text_size_18">
											SunPower 350w AC Panels
										</div>
									</li>
								</ul>
								<div class="h-wrap h-wrap_mg-bt_20">
									<div class="b-text b-text_size_18 b-text_gray">
										Homeowner, Stephen
										<br>
										K.San-Francisco, CA
									</div>
								</div>
								<a href="#" class="b-card-project__link">
									Learn more
								</a>
							</div>
						</div>
					</div>
					<div class="b-slider__slide w-slide">
						<div class="b-card-project">
							<div class="b-card-project__head">
								<img src="{{ 'assets/images/D0A4D0BED182D0BE.jpg'|theme }}" loading="lazy" alt="">
							</div>
							<div class="b-card-project__down">
								<div class="h-wrap h-wrap_mg-bt_20">
									<div class="b-text b-text_size_24 b-text_extra-bold">
										Bolstering Resilience in Rural Virginia
									</div>
								</div>
								<ul role="list" class="b-list">
									<li class="b-list__item b-list__item_mg-bt_20 b-list__item_align_center">
										<div class="b-list__circle v-3">
											<img src="{{ 'assets/images/card20(3).svg'|theme }}" loading="lazy" alt="">
										</div>
										<div class="b-text b-text_size_18">
											Silfab SLA-M 310 solar panels
										</div>
									</li>
									<li class="b-list__item b-list__item_mg-bt_20 b-list__item_align_center">
										<div class="b-list__circle v-3">
											<img src="{{ 'assets/images/card20(3).svg'|theme }}" loading="lazy" alt="">
										</div>
										<div class="b-text b-text_size_18">
											SolarEdge SE7600H-US wave inverter
										</div>
									</li>
									<li class="b-list__item b-list__item_mg-bt_20 b-list__item_align_center">
										<div class="b-list__circle v-3">
											<img src="{{ 'assets/images/card20(3).svg'|theme }}" loading="lazy" alt="">
										</div>
										<div class="b-text b-text_size_18">
											SunPower 350w AC Panels
										</div>
									</li>
								</ul>
								<div class="h-wrap h-wrap_mg-bt_20">
									<div class="b-text b-text_size_18 b-text_gray">
										Homeowner, Stephen
										<br>
										K.San-Francisco, CA
									</div>
								</div>
								<a href="#" class="b-card-project__link">
									Learn more
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="b-slider__arrow-left w-slider-arrow-left">
					<img src="{{ 'assets/images/placeholder.60f9b1840c.svg'|theme }}" loading="lazy" alt="" class="b-slider__icone">
				</div>
				<div class="b-slider__arrow-right w-slider-arrow-right">
					<img src="{{ 'assets/images/placeholder.60f9b1840c.svg'|theme }}" loading="lazy" alt="" class="b-slider__icone">
				</div>
				<div class="b-slider__nav w-slider-nav w-round"></div>
			</div>
		</div>
		<div class="b-numbers">
			<div class="b-numbers__arrow arrow_left">
				<img src="{{ 'assets/images/arraows20(1).svg'|theme }}" loading="lazy" alt="">
			</div>
			<div class="b-numbers__text b-numbers__text_mg_0_16">
				<span class="b-numbers__text-active">
					01
				</span>
				/
				<span class="b-numbers__text-num">
					03
				</span>
			</div>
			<div class="b-numbers__arrow arrow_right">
				<img src="{{ 'assets/images/arraows20(2).svg'|theme }}" loading="lazy" alt="">
			</div>
		</div>
	</div>
</section>
