<section class="section s-section_pd_11-25">
	<div class="container container_align_center w-container">
		<div class="b-columns">
			<div class="b-columns__col b-columns__col_40 b-columns__col_pd_rt_20 tb_100">
				<div class="h-wrap h-wrap_mg-bt_20">
					<div class="b-title b-title_mini mob_30">
						FAQs
					</div>
				</div>
				<div class="h-wrap h-wrap_mg-bt_40 h-wrap_max-width_900">
					<div class="b-text b-text_size_20">
						Feel free to poke around — we’ve got answers for common questions about Lumin products, installation, compatibility, and more.
					</div>
				</div>
			</div>
		</div>
		<div data-duration-in="300" data-duration-out="100" data-current="Tab 1" data-easing="ease" class="b-tabs b-tabs_faq w-tabs">
			<div class="b-tabs__menu b-tabs__menu_faq w-tab-menu">
				<a data-w-tab="Tab 1" class="b-tabs__link b-tabs__link_faq w-inline-block w-tab-link w--current">
					<div>
						About Lumin
					</div>
				</a>
				<a data-w-tab="Tab 2" class="b-tabs__link b-tabs__link_faq w-inline-block w-tab-link">
					<div>
						Lumin Edge
					</div>
				</a>
				<a data-w-tab="Tab 3" class="b-tabs__link b-tabs__link_faq w-inline-block w-tab-link">
					<div>
						Lumin Smart Panel
					</div>
				</a>
				<a data-w-tab="Tab 4" class="b-tabs__link b-tabs__link_faq w-inline-block w-tab-link">
					<div>
						Partners
					</div>
				</a>
			</div>
			<div class="b-tabs__content b-tabs__content_faq w-tab-content">
				<div data-w-tab="Tab 1" class="b-tabs__pane w-tab-pane w--tab-active">
					<div>
						<div data-hover="false" data-delay="0" class="b-dropdown b-dropdown_border w-dropdown">
							<div class="b-dropdown__toggle w-dropdown-toggle">
								<div>
									What is the Lumin Edge?
								</div>
								<div class="b-dropdown__icon-cont">
									<div class="b-dropdown__line line-h"></div>
									<div class="b-dropdown__line line-v"></div>
								</div>
							</div>
							<nav class="b-dropdown__lists w-dropdown-list">
								<div class="b-dropdown__content">
									<div class="b-text">
										Lumin Edge is initially targeted for demand response applications, but will also be available for solar + storage additional audiences later this year.
									</div>
								</div>
							</nav>
						</div>
						<div data-hover="false" data-delay="0" class="b-dropdown b-dropdown_border w-dropdown">
							<div class="b-dropdown__toggle w-dropdown-toggle">
								<div>
									Who should get a Lumin Edge?
								</div>
								<div class="b-dropdown__icon-cont">
									<div class="b-dropdown__line line-h"></div>
									<div class="b-dropdown__line line-v"></div>
								</div>
							</div>
							<nav class="b-dropdown__lists w-dropdown-list">
								<div class="b-dropdown__content">
									<div class="b-text">
										Lumin Edge is initially targeted for demand response applications, but will also be available for solar + storage additional audiences later this year.
									</div>
								</div>
							</nav>
						</div>
						<div data-hover="false" data-delay="0" class="b-dropdown b-dropdown_border w-dropdown">
							<div class="b-dropdown__toggle w-dropdown-toggle">
								<div>
									What are the components of the Lumin Edge?
								</div>
								<div class="b-dropdown__icon-cont">
									<div class="b-dropdown__line line-h"></div>
									<div class="b-dropdown__line line-v"></div>
								</div>
							</div>
							<nav class="b-dropdown__lists w-dropdown-list">
								<div class="b-dropdown__content">
									<div class="b-text">
										Lumin Edge is initially targeted for demand response applications, but will also be available for solar + storage additional audiences later this year.
									</div>
								</div>
							</nav>
						</div>
						<div data-hover="false" data-delay="0" class="b-dropdown b-dropdown_border w-dropdown">
							<div class="b-dropdown__toggle w-dropdown-toggle">
								<div>
									Is Lumin Edge safe?
								</div>
								<div class="b-dropdown__icon-cont">
									<div class="b-dropdown__line line-h"></div>
									<div class="b-dropdown__line line-v"></div>
								</div>
							</div>
							<nav class="b-dropdown__lists w-dropdown-list">
								<div class="b-dropdown__content">
									<div class="b-text">
										Lumin Edge is initially targeted for demand response applications, but will also be available for solar + storage additional audiences later this year.
									</div>
								</div>
							</nav>
						</div>
						<div data-hover="false" data-delay="0" class="b-dropdown b-dropdown_border w-dropdown">
							<div class="b-dropdown__toggle w-dropdown-toggle">
								<div>
									Does Lumin Edge come with a warranty?
								</div>
								<div class="b-dropdown__icon-cont">
									<div class="b-dropdown__line line-h"></div>
									<div class="b-dropdown__line line-v"></div>
								</div>
							</div>
							<nav class="b-dropdown__lists w-dropdown-list">
								<div class="b-dropdown__content">
									<div class="b-text">
										Lumin Edge is initially targeted for demand response applications, but will also be available for solar + storage additional audiences later this year.
									</div>
								</div>
							</nav>
						</div>
					</div>
				</div>
				<div data-w-tab="Tab 2" class="b-tabs__pane w-tab-pane">
					<div>
						<div data-hover="false" data-delay="0" class="b-dropdown b-dropdown_border w-dropdown">
							<div class="b-dropdown__toggle w-dropdown-toggle">
								<div>
									What is the Lumin Edge?
								</div>
								<div class="b-dropdown__icon-cont">
									<div class="b-dropdown__line line-h"></div>
									<div class="b-dropdown__line line-v"></div>
								</div>
							</div>
							<nav class="b-dropdown__lists w-dropdown-list">
								<div class="b-dropdown__content">
									<div class="b-text">
										Lumin Edge is initially targeted for demand response applications, but will also be available for solar + storage additional audiences later this year.
									</div>
								</div>
							</nav>
						</div>
						<div data-hover="false" data-delay="0" class="b-dropdown b-dropdown_border w-dropdown">
							<div class="b-dropdown__toggle w-dropdown-toggle">
								<div>
									Who should get a Lumin Edge?
								</div>
								<div class="b-dropdown__icon-cont">
									<div class="b-dropdown__line line-h"></div>
									<div class="b-dropdown__line line-v"></div>
								</div>
							</div>
							<nav class="b-dropdown__lists w-dropdown-list">
								<div class="b-dropdown__content">
									<div class="b-text">
										Lumin Edge is initially targeted for demand response applications, but will also be available for solar + storage additional audiences later this year.
									</div>
								</div>
							</nav>
						</div>
						<div data-hover="false" data-delay="0" class="b-dropdown b-dropdown_border w-dropdown">
							<div class="b-dropdown__toggle w-dropdown-toggle">
								<div>
									What are the components of the Lumin Edge?
								</div>
								<div class="b-dropdown__icon-cont">
									<div class="b-dropdown__line line-h"></div>
									<div class="b-dropdown__line line-v"></div>
								</div>
							</div>
							<nav class="b-dropdown__lists w-dropdown-list">
								<div class="b-dropdown__content">
									<div class="b-text">
										Lumin Edge is initially targeted for demand response applications, but will also be available for solar + storage additional audiences later this year.
									</div>
								</div>
							</nav>
						</div>
						<div data-hover="false" data-delay="0" class="b-dropdown b-dropdown_border w-dropdown">
							<div class="b-dropdown__toggle w-dropdown-toggle">
								<div>
									Is Lumin Edge safe?
								</div>
								<div class="b-dropdown__icon-cont">
									<div class="b-dropdown__line line-h"></div>
									<div class="b-dropdown__line line-v"></div>
								</div>
							</div>
							<nav class="b-dropdown__lists w-dropdown-list">
								<div class="b-dropdown__content">
									<div class="b-text">
										Lumin Edge is initially targeted for demand response applications, but will also be available for solar + storage additional audiences later this year.
									</div>
								</div>
							</nav>
						</div>
						<div data-hover="false" data-delay="0" class="b-dropdown b-dropdown_border w-dropdown">
							<div class="b-dropdown__toggle w-dropdown-toggle">
								<div>
									Does Lumin Edge come with a warranty?
								</div>
								<div class="b-dropdown__icon-cont">
									<div class="b-dropdown__line line-h"></div>
									<div class="b-dropdown__line line-v"></div>
								</div>
							</div>
							<nav class="b-dropdown__lists w-dropdown-list">
								<div class="b-dropdown__content">
									<div class="b-text">
										Lumin Edge is initially targeted for demand response applications, but will also be available for solar + storage additional audiences later this year.
									</div>
								</div>
							</nav>
						</div>
					</div>
				</div>
				<div data-w-tab="Tab 3" class="b-tabs__pane w-tab-pane">
					<div>
						<div data-hover="false" data-delay="0" class="b-dropdown b-dropdown_border w-dropdown">
							<div class="b-dropdown__toggle w-dropdown-toggle">
								<div>
									What is the Lumin Edge?
								</div>
								<div class="b-dropdown__icon-cont">
									<div class="b-dropdown__line line-h"></div>
									<div class="b-dropdown__line line-v"></div>
								</div>
							</div>
							<nav class="b-dropdown__lists w-dropdown-list">
								<div class="b-dropdown__content">
									<div class="b-text">
										Lumin Edge is initially targeted for demand response applications, but will also be available for solar + storage additional audiences later this year.
									</div>
								</div>
							</nav>
						</div>
						<div data-hover="false" data-delay="0" class="b-dropdown b-dropdown_border w-dropdown">
							<div class="b-dropdown__toggle w-dropdown-toggle">
								<div>
									Who should get a Lumin Edge?
								</div>
								<div class="b-dropdown__icon-cont">
									<div class="b-dropdown__line line-h"></div>
									<div class="b-dropdown__line line-v"></div>
								</div>
							</div>
							<nav class="b-dropdown__lists w-dropdown-list">
								<div class="b-dropdown__content">
									<div class="b-text">
										Lumin Edge is initially targeted for demand response applications, but will also be available for solar + storage additional audiences later this year.
									</div>
								</div>
							</nav>
						</div>
						<div data-hover="false" data-delay="0" class="b-dropdown b-dropdown_border w-dropdown">
							<div class="b-dropdown__toggle w-dropdown-toggle">
								<div>
									What are the components of the Lumin Edge?
								</div>
								<div class="b-dropdown__icon-cont">
									<div class="b-dropdown__line line-h"></div>
									<div class="b-dropdown__line line-v"></div>
								</div>
							</div>
							<nav class="b-dropdown__lists w-dropdown-list">
								<div class="b-dropdown__content">
									<div class="b-text">
										Lumin Edge is initially targeted for demand response applications, but will also be available for solar + storage additional audiences later this year.
									</div>
								</div>
							</nav>
						</div>
						<div data-hover="false" data-delay="0" class="b-dropdown b-dropdown_border w-dropdown">
							<div class="b-dropdown__toggle w-dropdown-toggle">
								<div>
									Is Lumin Edge safe?
								</div>
								<div class="b-dropdown__icon-cont">
									<div class="b-dropdown__line line-h"></div>
									<div class="b-dropdown__line line-v"></div>
								</div>
							</div>
							<nav class="b-dropdown__lists w-dropdown-list">
								<div class="b-dropdown__content">
									<div class="b-text">
										Lumin Edge is initially targeted for demand response applications, but will also be available for solar + storage additional audiences later this year.
									</div>
								</div>
							</nav>
						</div>
						<div data-hover="false" data-delay="0" class="b-dropdown b-dropdown_border w-dropdown">
							<div class="b-dropdown__toggle w-dropdown-toggle">
								<div>
									Does Lumin Edge come with a warranty?
								</div>
								<div class="b-dropdown__icon-cont">
									<div class="b-dropdown__line line-h"></div>
									<div class="b-dropdown__line line-v"></div>
								</div>
							</div>
							<nav class="b-dropdown__lists w-dropdown-list">
								<div class="b-dropdown__content">
									<div class="b-text">
										Lumin Edge is initially targeted for demand response applications, but will also be available for solar + storage additional audiences later this year.
									</div>
								</div>
							</nav>
						</div>
					</div>
				</div>
				<div data-w-tab="Tab 4" class="b-tabs__pane w-tab-pane">
					<div>
						<div data-hover="false" data-delay="0" class="b-dropdown b-dropdown_border w-dropdown">
							<div class="b-dropdown__toggle w-dropdown-toggle">
								<div>
									What is the Lumin Edge?
								</div>
								<div class="b-dropdown__icon-cont">
									<div class="b-dropdown__line line-h"></div>
									<div class="b-dropdown__line line-v"></div>
								</div>
							</div>
							<nav class="b-dropdown__lists w-dropdown-list">
								<div class="b-dropdown__content">
									<div class="b-text">
										Lumin Edge is initially targeted for demand response applications, but will also be available for solar + storage additional audiences later this year.
									</div>
								</div>
							</nav>
						</div>
						<div data-hover="false" data-delay="0" class="b-dropdown b-dropdown_border w-dropdown">
							<div class="b-dropdown__toggle w-dropdown-toggle">
								<div>
									Who should get a Lumin Edge?
								</div>
								<div class="b-dropdown__icon-cont">
									<div class="b-dropdown__line line-h"></div>
									<div class="b-dropdown__line line-v"></div>
								</div>
							</div>
							<nav class="b-dropdown__lists w-dropdown-list">
								<div class="b-dropdown__content">
									<div class="b-text">
										Lumin Edge is initially targeted for demand response applications, but will also be available for solar + storage additional audiences later this year.
									</div>
								</div>
							</nav>
						</div>
						<div data-hover="false" data-delay="0" class="b-dropdown b-dropdown_border w-dropdown">
							<div class="b-dropdown__toggle w-dropdown-toggle">
								<div>
									What are the components of the Lumin Edge?
								</div>
								<div class="b-dropdown__icon-cont">
									<div class="b-dropdown__line line-h"></div>
									<div class="b-dropdown__line line-v"></div>
								</div>
							</div>
							<nav class="b-dropdown__lists w-dropdown-list">
								<div class="b-dropdown__content">
									<div class="b-text">
										Lumin Edge is initially targeted for demand response applications, but will also be available for solar + storage additional audiences later this year.
									</div>
								</div>
							</nav>
						</div>
						<div data-hover="false" data-delay="0" class="b-dropdown b-dropdown_border w-dropdown">
							<div class="b-dropdown__toggle w-dropdown-toggle">
								<div>
									Is Lumin Edge safe?
								</div>
								<div class="b-dropdown__icon-cont">
									<div class="b-dropdown__line line-h"></div>
									<div class="b-dropdown__line line-v"></div>
								</div>
							</div>
							<nav class="b-dropdown__lists w-dropdown-list">
								<div class="b-dropdown__content">
									<div class="b-text">
										Lumin Edge is initially targeted for demand response applications, but will also be available for solar + storage additional audiences later this year.
									</div>
								</div>
							</nav>
						</div>
						<div data-hover="false" data-delay="0" class="b-dropdown b-dropdown_border w-dropdown">
							<div class="b-dropdown__toggle w-dropdown-toggle">
								<div>
									Does Lumin Edge come with a warranty?
								</div>
								<div class="b-dropdown__icon-cont">
									<div class="b-dropdown__line line-h"></div>
									<div class="b-dropdown__line line-v"></div>
								</div>
							</div>
							<nav class="b-dropdown__lists w-dropdown-list">
								<div class="b-dropdown__content">
									<div class="b-text">
										Lumin Edge is initially targeted for demand response applications, but will also be available for solar + storage additional audiences later this year.
									</div>
								</div>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
