<section class="{{ section_s_section_pd_11_25 }}">
	<div class="{{ block.container_container_align_center_w_container }}">
		<div class="{{ block.b_columns }}">
			<div class="{{ block.b_columns__col_b_columns__col_40_b_columns__col_pd_rt_20_tb_100 }}">
				<div class="{{ block.h_wrap_h_wrap_mg_bt_20 }}">
					<div class="{{ block.b_title_b_title_mini_mob_30 }}">
						FAQs
					</div>
				</div>
				<div class="{{ block.h_wrap_h_wrap_mg_bt_40_h_wrap_max_width_900 }}">
					<div class="{{ block.b_text_b_text_size_20 }}">
						Feel free to poke around — we’ve got answers for common questions about Lumin products, installation, compatibility, and more.
					</div>
				</div>
			</div>
		</div>
		<div data-duration-in="300" data-duration-out="100" data-current="Tab 1" data-easing="ease" class="{{ block.b_tabs_b_tabs_faq_w_tabs }}">
			<div class="{{ block.b_tabs__menu_b_tabs__menu_faq_w_tab_menu }}">
				<a data-w-tab="Tab 1" class="{{ block.b_tabs__link_b_tabs__link_faq_w_inline_block_w_tab_link_w__current }}">
					<div>
						About Lumin
					</div>
				</a>
				<a data-w-tab="Tab 2" class="{{ block.b_tabs__link_b_tabs__link_faq_w_inline_block_w_tab_link }}">
					<div>
						Lumin Edge
					</div>
				</a>
				<a data-w-tab="Tab 3" class="{{ block.b_tabs__link_b_tabs__link_faq_w_inline_block_w_tab_link }}">
					<div>
						Lumin Smart Panel
					</div>
				</a>
				<a data-w-tab="Tab 4" class="{{ block.b_tabs__link_b_tabs__link_faq_w_inline_block_w_tab_link }}">
					<div>
						Partners
					</div>
				</a>
			</div>
			<div class="{{ block.b_tabs__content_b_tabs__content_faq_w_tab_content }}">
				<div data-w-tab="Tab 1" class="{{ block.b_tabs__pane_w_tab_pane_w__tab_active }}">
					<div>
						<div data-hover="false" data-delay="0" class="{{ block.b_dropdown_b_dropdown_border_w_dropdown }}">
							<div class="{{ block.b_dropdown__toggle_w_dropdown_toggle }}">
								<div>
									What is the Lumin Edge?
								</div>
								<div class="{{ block.b_dropdown__icon_cont }}">
									<div class="{{ block.b_dropdown__line_line_h }}"></div>
									<div class="{{ block.b_dropdown__line_line_v }}"></div>
								</div>
							</div>
							<nav class="{{ block.b_dropdown__lists_w_dropdown_list }}">
								<div class="{{ block.b_dropdown__content }}">
									<div class="{{ block.b_text }}">
										Lumin Edge is initially targeted for demand response applications, but will also be available for solar + storage additional audiences later this year.
									</div>
								</div>
							</nav>
						</div>
						<div data-hover="false" data-delay="0" class="{{ block.b_dropdown_b_dropdown_border_w_dropdown }}">
							<div class="{{ block.b_dropdown__toggle_w_dropdown_toggle }}">
								<div>
									Who should get a Lumin Edge?
								</div>
								<div class="{{ block.b_dropdown__icon_cont }}">
									<div class="{{ block.b_dropdown__line_line_h }}"></div>
									<div class="{{ block.b_dropdown__line_line_v }}"></div>
								</div>
							</div>
							<nav class="{{ block.b_dropdown__lists_w_dropdown_list }}">
								<div class="{{ block.b_dropdown__content }}">
									<div class="{{ block.b_text }}">
										Lumin Edge is initially targeted for demand response applications, but will also be available for solar + storage additional audiences later this year.
									</div>
								</div>
							</nav>
						</div>
						<div data-hover="false" data-delay="0" class="{{ block.b_dropdown_b_dropdown_border_w_dropdown }}">
							<div class="{{ block.b_dropdown__toggle_w_dropdown_toggle }}">
								<div>
									What are the components of the Lumin Edge?
								</div>
								<div class="{{ block.b_dropdown__icon_cont }}">
									<div class="{{ block.b_dropdown__line_line_h }}"></div>
									<div class="{{ block.b_dropdown__line_line_v }}"></div>
								</div>
							</div>
							<nav class="{{ block.b_dropdown__lists_w_dropdown_list }}">
								<div class="{{ block.b_dropdown__content }}">
									<div class="{{ block.b_text }}">
										Lumin Edge is initially targeted for demand response applications, but will also be available for solar + storage additional audiences later this year.
									</div>
								</div>
							</nav>
						</div>
						<div data-hover="false" data-delay="0" class="{{ block.b_dropdown_b_dropdown_border_w_dropdown }}">
							<div class="{{ block.b_dropdown__toggle_w_dropdown_toggle }}">
								<div>
									Is Lumin Edge safe?
								</div>
								<div class="{{ block.b_dropdown__icon_cont }}">
									<div class="{{ block.b_dropdown__line_line_h }}"></div>
									<div class="{{ block.b_dropdown__line_line_v }}"></div>
								</div>
							</div>
							<nav class="{{ block.b_dropdown__lists_w_dropdown_list }}">
								<div class="{{ block.b_dropdown__content }}">
									<div class="{{ block.b_text }}">
										Lumin Edge is initially targeted for demand response applications, but will also be available for solar + storage additional audiences later this year.
									</div>
								</div>
							</nav>
						</div>
						<div data-hover="false" data-delay="0" class="{{ block.b_dropdown_b_dropdown_border_w_dropdown }}">
							<div class="{{ block.b_dropdown__toggle_w_dropdown_toggle }}">
								<div>
									Does Lumin Edge come with a warranty?
								</div>
								<div class="{{ block.b_dropdown__icon_cont }}">
									<div class="{{ block.b_dropdown__line_line_h }}"></div>
									<div class="{{ block.b_dropdown__line_line_v }}"></div>
								</div>
							</div>
							<nav class="{{ block.b_dropdown__lists_w_dropdown_list }}">
								<div class="{{ block.b_dropdown__content }}">
									<div class="{{ block.b_text }}">
										Lumin Edge is initially targeted for demand response applications, but will also be available for solar + storage additional audiences later this year.
									</div>
								</div>
							</nav>
						</div>
					</div>
				</div>
				<div data-w-tab="Tab 2" class="{{ block.b_tabs__pane_w_tab_pane }}">
					<div>
						<div data-hover="false" data-delay="0" class="{{ block.b_dropdown_b_dropdown_border_w_dropdown }}">
							<div class="{{ block.b_dropdown__toggle_w_dropdown_toggle }}">
								<div>
									What is the Lumin Edge?
								</div>
								<div class="{{ block.b_dropdown__icon_cont }}">
									<div class="{{ block.b_dropdown__line_line_h }}"></div>
									<div class="{{ block.b_dropdown__line_line_v }}"></div>
								</div>
							</div>
							<nav class="{{ block.b_dropdown__lists_w_dropdown_list }}">
								<div class="{{ block.b_dropdown__content }}">
									<div class="{{ block.b_text }}">
										Lumin Edge is initially targeted for demand response applications, but will also be available for solar + storage additional audiences later this year.
									</div>
								</div>
							</nav>
						</div>
						<div data-hover="false" data-delay="0" class="{{ block.b_dropdown_b_dropdown_border_w_dropdown }}">
							<div class="{{ block.b_dropdown__toggle_w_dropdown_toggle }}">
								<div>
									Who should get a Lumin Edge?
								</div>
								<div class="{{ block.b_dropdown__icon_cont }}">
									<div class="{{ block.b_dropdown__line_line_h }}"></div>
									<div class="{{ block.b_dropdown__line_line_v }}"></div>
								</div>
							</div>
							<nav class="{{ block.b_dropdown__lists_w_dropdown_list }}">
								<div class="{{ block.b_dropdown__content }}">
									<div class="{{ block.b_text }}">
										Lumin Edge is initially targeted for demand response applications, but will also be available for solar + storage additional audiences later this year.
									</div>
								</div>
							</nav>
						</div>
						<div data-hover="false" data-delay="0" class="{{ block.b_dropdown_b_dropdown_border_w_dropdown }}">
							<div class="{{ block.b_dropdown__toggle_w_dropdown_toggle }}">
								<div>
									What are the components of the Lumin Edge?
								</div>
								<div class="{{ block.b_dropdown__icon_cont }}">
									<div class="{{ block.b_dropdown__line_line_h }}"></div>
									<div class="{{ block.b_dropdown__line_line_v }}"></div>
								</div>
							</div>
							<nav class="{{ block.b_dropdown__lists_w_dropdown_list }}">
								<div class="{{ block.b_dropdown__content }}">
									<div class="{{ block.b_text }}">
										Lumin Edge is initially targeted for demand response applications, but will also be available for solar + storage additional audiences later this year.
									</div>
								</div>
							</nav>
						</div>
						<div data-hover="false" data-delay="0" class="{{ block.b_dropdown_b_dropdown_border_w_dropdown }}">
							<div class="{{ block.b_dropdown__toggle_w_dropdown_toggle }}">
								<div>
									Is Lumin Edge safe?
								</div>
								<div class="{{ block.b_dropdown__icon_cont }}">
									<div class="{{ block.b_dropdown__line_line_h }}"></div>
									<div class="{{ block.b_dropdown__line_line_v }}"></div>
								</div>
							</div>
							<nav class="{{ block.b_dropdown__lists_w_dropdown_list }}">
								<div class="{{ block.b_dropdown__content }}">
									<div class="{{ block.b_text }}">
										Lumin Edge is initially targeted for demand response applications, but will also be available for solar + storage additional audiences later this year.
									</div>
								</div>
							</nav>
						</div>
						<div data-hover="false" data-delay="0" class="{{ block.b_dropdown_b_dropdown_border_w_dropdown }}">
							<div class="{{ block.b_dropdown__toggle_w_dropdown_toggle }}">
								<div>
									Does Lumin Edge come with a warranty?
								</div>
								<div class="{{ block.b_dropdown__icon_cont }}">
									<div class="{{ block.b_dropdown__line_line_h }}"></div>
									<div class="{{ block.b_dropdown__line_line_v }}"></div>
								</div>
							</div>
							<nav class="{{ block.b_dropdown__lists_w_dropdown_list }}">
								<div class="{{ block.b_dropdown__content }}">
									<div class="{{ block.b_text }}">
										Lumin Edge is initially targeted for demand response applications, but will also be available for solar + storage additional audiences later this year.
									</div>
								</div>
							</nav>
						</div>
					</div>
				</div>
				<div data-w-tab="Tab 3" class="{{ block.b_tabs__pane_w_tab_pane }}">
					<div>
						<div data-hover="false" data-delay="0" class="{{ block.b_dropdown_b_dropdown_border_w_dropdown }}">
							<div class="{{ block.b_dropdown__toggle_w_dropdown_toggle }}">
								<div>
									What is the Lumin Edge?
								</div>
								<div class="{{ block.b_dropdown__icon_cont }}">
									<div class="{{ block.b_dropdown__line_line_h }}"></div>
									<div class="{{ block.b_dropdown__line_line_v }}"></div>
								</div>
							</div>
							<nav class="{{ block.b_dropdown__lists_w_dropdown_list }}">
								<div class="{{ block.b_dropdown__content }}">
									<div class="{{ block.b_text }}">
										Lumin Edge is initially targeted for demand response applications, but will also be available for solar + storage additional audiences later this year.
									</div>
								</div>
							</nav>
						</div>
						<div data-hover="false" data-delay="0" class="{{ block.b_dropdown_b_dropdown_border_w_dropdown }}">
							<div class="{{ block.b_dropdown__toggle_w_dropdown_toggle }}">
								<div>
									Who should get a Lumin Edge?
								</div>
								<div class="{{ block.b_dropdown__icon_cont }}">
									<div class="{{ block.b_dropdown__line_line_h }}"></div>
									<div class="{{ block.b_dropdown__line_line_v }}"></div>
								</div>
							</div>
							<nav class="{{ block.b_dropdown__lists_w_dropdown_list }}">
								<div class="{{ block.b_dropdown__content }}">
									<div class="{{ block.b_text }}">
										Lumin Edge is initially targeted for demand response applications, but will also be available for solar + storage additional audiences later this year.
									</div>
								</div>
							</nav>
						</div>
						<div data-hover="false" data-delay="0" class="{{ block.b_dropdown_b_dropdown_border_w_dropdown }}">
							<div class="{{ block.b_dropdown__toggle_w_dropdown_toggle }}">
								<div>
									What are the components of the Lumin Edge?
								</div>
								<div class="{{ block.b_dropdown__icon_cont }}">
									<div class="{{ block.b_dropdown__line_line_h }}"></div>
									<div class="{{ block.b_dropdown__line_line_v }}"></div>
								</div>
							</div>
							<nav class="{{ block.b_dropdown__lists_w_dropdown_list }}">
								<div class="{{ block.b_dropdown__content }}">
									<div class="{{ block.b_text }}">
										Lumin Edge is initially targeted for demand response applications, but will also be available for solar + storage additional audiences later this year.
									</div>
								</div>
							</nav>
						</div>
						<div data-hover="false" data-delay="0" class="{{ block.b_dropdown_b_dropdown_border_w_dropdown }}">
							<div class="{{ block.b_dropdown__toggle_w_dropdown_toggle }}">
								<div>
									Is Lumin Edge safe?
								</div>
								<div class="{{ block.b_dropdown__icon_cont }}">
									<div class="{{ block.b_dropdown__line_line_h }}"></div>
									<div class="{{ block.b_dropdown__line_line_v }}"></div>
								</div>
							</div>
							<nav class="{{ block.b_dropdown__lists_w_dropdown_list }}">
								<div class="{{ block.b_dropdown__content }}">
									<div class="{{ block.b_text }}">
										Lumin Edge is initially targeted for demand response applications, but will also be available for solar + storage additional audiences later this year.
									</div>
								</div>
							</nav>
						</div>
						<div data-hover="false" data-delay="0" class="{{ block.b_dropdown_b_dropdown_border_w_dropdown }}">
							<div class="{{ block.b_dropdown__toggle_w_dropdown_toggle }}">
								<div>
									Does Lumin Edge come with a warranty?
								</div>
								<div class="{{ block.b_dropdown__icon_cont }}">
									<div class="{{ block.b_dropdown__line_line_h }}"></div>
									<div class="{{ block.b_dropdown__line_line_v }}"></div>
								</div>
							</div>
							<nav class="{{ block.b_dropdown__lists_w_dropdown_list }}">
								<div class="{{ block.b_dropdown__content }}">
									<div class="{{ block.b_text }}">
										Lumin Edge is initially targeted for demand response applications, but will also be available for solar + storage additional audiences later this year.
									</div>
								</div>
							</nav>
						</div>
					</div>
				</div>
				<div data-w-tab="Tab 4" class="{{ block.b_tabs__pane_w_tab_pane }}">
					<div>
						<div data-hover="false" data-delay="0" class="{{ block.b_dropdown_b_dropdown_border_w_dropdown }}">
							<div class="{{ block.b_dropdown__toggle_w_dropdown_toggle }}">
								<div>
									What is the Lumin Edge?
								</div>
								<div class="{{ block.b_dropdown__icon_cont }}">
									<div class="{{ block.b_dropdown__line_line_h }}"></div>
									<div class="{{ block.b_dropdown__line_line_v }}"></div>
								</div>
							</div>
							<nav class="{{ block.b_dropdown__lists_w_dropdown_list }}">
								<div class="{{ block.b_dropdown__content }}">
									<div class="{{ block.b_text }}">
										Lumin Edge is initially targeted for demand response applications, but will also be available for solar + storage additional audiences later this year.
									</div>
								</div>
							</nav>
						</div>
						<div data-hover="false" data-delay="0" class="{{ block.b_dropdown_b_dropdown_border_w_dropdown }}">
							<div class="{{ block.b_dropdown__toggle_w_dropdown_toggle }}">
								<div>
									Who should get a Lumin Edge?
								</div>
								<div class="{{ block.b_dropdown__icon_cont }}">
									<div class="{{ block.b_dropdown__line_line_h }}"></div>
									<div class="{{ block.b_dropdown__line_line_v }}"></div>
								</div>
							</div>
							<nav class="{{ block.b_dropdown__lists_w_dropdown_list }}">
								<div class="{{ block.b_dropdown__content }}">
									<div class="{{ block.b_text }}">
										Lumin Edge is initially targeted for demand response applications, but will also be available for solar + storage additional audiences later this year.
									</div>
								</div>
							</nav>
						</div>
						<div data-hover="false" data-delay="0" class="{{ block.b_dropdown_b_dropdown_border_w_dropdown }}">
							<div class="{{ block.b_dropdown__toggle_w_dropdown_toggle }}">
								<div>
									What are the components of the Lumin Edge?
								</div>
								<div class="{{ block.b_dropdown__icon_cont }}">
									<div class="{{ block.b_dropdown__line_line_h }}"></div>
									<div class="{{ block.b_dropdown__line_line_v }}"></div>
								</div>
							</div>
							<nav class="{{ block.b_dropdown__lists_w_dropdown_list }}">
								<div class="{{ block.b_dropdown__content }}">
									<div class="{{ block.b_text }}">
										Lumin Edge is initially targeted for demand response applications, but will also be available for solar + storage additional audiences later this year.
									</div>
								</div>
							</nav>
						</div>
						<div data-hover="false" data-delay="0" class="{{ block.b_dropdown_b_dropdown_border_w_dropdown }}">
							<div class="{{ block.b_dropdown__toggle_w_dropdown_toggle }}">
								<div>
									Is Lumin Edge safe?
								</div>
								<div class="{{ block.b_dropdown__icon_cont }}">
									<div class="{{ block.b_dropdown__line_line_h }}"></div>
									<div class="{{ block.b_dropdown__line_line_v }}"></div>
								</div>
							</div>
							<nav class="{{ block.b_dropdown__lists_w_dropdown_list }}">
								<div class="{{ block.b_dropdown__content }}">
									<div class="{{ block.b_text }}">
										Lumin Edge is initially targeted for demand response applications, but will also be available for solar + storage additional audiences later this year.
									</div>
								</div>
							</nav>
						</div>
						<div data-hover="false" data-delay="0" class="{{ block.b_dropdown_b_dropdown_border_w_dropdown }}">
							<div class="{{ block.b_dropdown__toggle_w_dropdown_toggle }}">
								<div>
									Does Lumin Edge come with a warranty?
								</div>
								<div class="{{ block.b_dropdown__icon_cont }}">
									<div class="{{ block.b_dropdown__line_line_h }}"></div>
									<div class="{{ block.b_dropdown__line_line_v }}"></div>
								</div>
							</div>
							<nav class="{{ block.b_dropdown__lists_w_dropdown_list }}">
								<div class="{{ block.b_dropdown__content }}">
									<div class="{{ block.b_text }}">
										Lumin Edge is initially targeted for demand response applications, but will also be available for solar + storage additional audiences later this year.
									</div>
								</div>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
