<section class="{{ section_s_section_pd_11_25 }}">
	<div class="{{ block.container_container_align_center_w_container }}">
		<div class="{{ block.b_columns }}">
			<div class="{{ block.b_columns__col_b_columns__col_40_b_columns__col_pd_rt_20_tb_100 }}">
				<div class="{{ block.h_wrap_h_wrap_mg_bt_20 }}">
					<div class="{{ block.b_title_b_title_mini_mob_30 }}">
						{{ block.question_title }}
					</div>
				</div>
				<div class="{{ block.h_wrap_h_wrap_mg_bt_40_h_wrap_max_width_900 }}">
					<div class="{{ block.b_text_b_text_size_20 }}">
						{{ block.question_subtitle|raw }}
					</div>
				</div>
				<a href="{{ block.question_link_btn }}" class="{{ block.b_button_b_button_width_210_tb_hide_w_button }}">
					More answers
				</a>
			</div>
			<div class="{{ block.b_columns__col_b_columns__col_60_tb_100_tb_border_top }}">
				{% for item in block.question_lists %}
				<div data-hover="false" data-delay="0" class="{{ item.b_dropdown_b_dropdown_border_w_dropdown }}">
					<div class="{{ item.b_dropdown__toggle_w_dropdown_toggle }}">
						<div>
							{{ item.title_list }}
						</div>
						<div class="{{ item.b_dropdown__icon_cont }}">
							<div class="{{ item.b_dropdown__line_line_h }}"></div>
							<div class="{{ item.b_dropdown__line_line_v }}"></div>
						</div>
					</div>
					<nav class="{{ item.b_dropdown__lists_w_dropdown_list }}">
						<div class="{{ item.b_dropdown__content }}">
							<div class="{{ item.b_text }}">
								{{ item.text_list|raw }}
							</div>
						</div>
					</nav>
				</div>
				{% endfor %}
			</div>
		</div>
		<a href="#" class="{{ block.b_button_b_button_width_210_tb_show_tb_bt_tp_30_w_button }}">
			More answers
		</a>
	</div>
</section>
