<div>
	<div class="h-wrap">
		<div class="b-slider__content">
			<div class="b-step">
				<div class="b-text b-text_size_26 b-text_extra-bold tb_18">
					Step 1
				</div>
			</div>
			<div class="h-wrap h-wrap_mg-bt_60 tb_mg-bt_30">
				<div class="b-text b-text_size_26 tb_15">
					Choose company of your EV Charger
				</div>
			</div>
			<div class="h-wrap h-wrap_mg-bt_60 tb_mg-bt_40">
				<div class="b-flex">
					<label class="b-radio b-radio_company w-radio">
						<div class="w-form-formradioinput w-form-formradioinput--inputType-custom b-radio__check w-radio-input"></div>
						<input type="radio" id="Radio-1" name="radio-5" value="Radio 1" data-name="Radio 5" style="opacity:0;position:absolute;z-index:-1">
						<img alt="" loading="lazy" src="{{ 'assets/images/wallbox20color.png'|theme }}">
						<span class="b-radio__text b-radio__text_hide w-form-label" for="Radio-1">
							Radio 5
						</span>
					</label>
					<label class="b-radio b-radio_company w-radio">
						<div class="w-form-formradioinput w-form-formradioinput--inputType-custom b-radio__check w-radio-input"></div>
						<input type="radio" id="Radio-2" name="radio-5" value="Radio 2" data-name="Radio 5" style="opacity:0;position:absolute;z-index:-1">
						<img alt="" loading="lazy" src="{{ 'assets/images/wallbox20color.png'|theme }}">
						<span class="b-radio__text b-radio__text_hide w-form-label" for="Radio-2">
							Radio 5
						</span>
					</label>
					<label class="b-radio b-radio_company w-radio">
						<div class="w-form-formradioinput w-form-formradioinput--inputType-custom b-radio__check w-radio-input"></div>
						<input type="radio" id="Radio-3" name="radio-5" value="Radio 3" data-name="Radio 5" style="opacity:0;position:absolute;z-index:-1">
						<img alt="" loading="lazy" src="{{ 'assets/images/wallbox20color.png'|theme }}">
						<span class="b-radio__text b-radio__text_hide w-form-label" for="Radio-3">
							Radio 5
						</span>
					</label>
					<label class="b-radio b-radio_company w-radio">
						<div class="w-form-formradioinput w-form-formradioinput--inputType-custom b-radio__check w-radio-input"></div>
						<input type="radio" id="Radio-4-5" name="radio-5" value="Radio 4" data-name="Radio 5" style="opacity:0;position:absolute;z-index:-1">
						<img alt="" loading="lazy" src="{{ 'assets/images/wallbox20color.png'|theme }}">
						<span class="b-radio__text b-radio__text_hide w-form-label" for="Radio-4-5">
							Radio 5
						</span>
					</label>
					<label class="b-radio b-radio_company w-radio">
						<div class="w-form-formradioinput w-form-formradioinput--inputType-custom b-radio__check w-radio-input"></div>
						<input type="radio" id="radio-5" name="radio-5" value="Radio 5" data-name="Radio 5" style="opacity:0;position:absolute;z-index:-1">
						<img alt="" loading="lazy" src="{{ 'assets/images/wallbox20color.png'|theme }}">
						<span class="b-radio__text b-radio__text_hide w-form-label" for="radio-5">
							Radio 5
						</span>
					</label>
					<label class="b-radio b-radio_company w-radio">
						<div class="w-form-formradioinput w-form-formradioinput--inputType-custom b-radio__check w-radio-input"></div>
						<input type="radio" id="Radio-6" name="radio-5" value="Radio 6" data-name="Radio 5" style="opacity:0;position:absolute;z-index:-1">
						<img alt="" loading="lazy" src="{{ 'assets/images/wallbox20color.png'|theme }}">
						<span class="b-radio__text b-radio__text_hide w-form-label" for="Radio-6">
							Radio 5
						</span>
					</label>
					<label class="b-radio b-radio_company w-radio">
						<div class="w-form-formradioinput w-form-formradioinput--inputType-custom b-radio__check w-radio-input"></div>
						<input type="radio" id="Radio-7" name="radio-5" value="Radio 7" data-name="Radio 5" style="opacity:0;position:absolute;z-index:-1">
						<img alt="" loading="lazy" src="{{ 'assets/images/wallbox20color.png'|theme }}">
						<span class="b-radio__text b-radio__text_hide w-form-label" for="Radio-7">
							Radio 5
						</span>
					</label>
					<label class="b-radio b-radio_company w-radio">
						<div class="w-form-formradioinput w-form-formradioinput--inputType-custom b-radio__check w-radio-input"></div>
						<input type="radio" id="Radio-8" name="radio-5" value="Radio 8" data-name="Radio 5" style="opacity:0;position:absolute;z-index:-1">
						<img alt="" loading="lazy" src="{{ 'assets/images/wallbox20color.png'|theme }}">
						<span class="b-radio__text b-radio__text_hide w-form-label" for="Radio-8">
							Radio 5
						</span>
					</label>
					<label class="b-radio b-radio_company w-radio">
						<div class="w-form-formradioinput w-form-formradioinput--inputType-custom b-radio__check w-radio-input"></div>
						<input type="radio" id="Radio-9" name="Radio-5" value="Radio 9" data-name="Radio 5" style="opacity:0;position:absolute;z-index:-1">
						<img alt="" loading="lazy" src="{{ 'assets/images/wallbox20color.png'|theme }}">
						<span class="b-radio__text b-radio__text_hide w-form-label" for="Radio-9">
							Radio 5
						</span>
					</label>
				</div>
			</div>
			<div class="b-numbers">
				<a href="#" class="b-button b-button_back w-button">
					Back
				</a>
				<a href="#" class="b-button b-button_next w-button">
					Next
				</a>
			</div>
		</div>
	</div>
</div>
