<section class="section s-section_100vh s-section_pd_11-25 s-section_gray">
	<div class="container container_align_center pd_none w-container">
		<div class="h-wrap h-wrap_mg-bt_60 tb_mg-bt_30">
			<div class="b-title b-title_mini mob_30">
				{{ block.rebates_products_title }}
			</div>
		</div>
		<div class="b-grid b-grid_col_3 mob_scroll">
			<div id="w-node-_3ca0dc3b-e502-4fbc-b2a2-8937d93f8708-7b12a412" class="b-card b-card_product">
				<div class="b-card__head b-card__head_product">
					<img src="{{ 'assets/images/Photo.png'|theme }}" loading="lazy" alt="">
				</div>
				<div class="h-wrap h-wrap_mg-bt_10">
					<div class="b-text b-text_size_20 b-text_bold">
						Lumin Edge
					</div>
				</div>
				<div class="h-wrap h-wrap_mg-bt_20">
					<div class="b-text b-text_size_15">
						A few words about this product of about two lines as an example.
					</div>
				</div>
				<a href="#" class="b-button b-button_blue b-button_maxw_210 w-button">
					Buy now
				</a>
			</div>
			<div id="w-node-c95a436e-1ba3-3b8e-6410-56c29a3627fd-7b12a412" class="b-card b-card_product">
				<div class="b-card__head b-card__head_product">
					<img src="{{ 'assets/images/Photo-1.png'|theme }}" loading="lazy" alt="">
				</div>
				<div class="h-wrap h-wrap_mg-bt_10">
					<div class="b-text b-text_size_20 b-text_bold">
						Lumin Smart Panel Indoor
					</div>
				</div>
				<div class="h-wrap h-wrap_mg-bt_20">
					<div class="b-text b-text_size_15">
						A few words about this product of about two lines as an example.
					</div>
				</div>
				<a href="#" class="b-button b-button_blue b-button_maxw_210 w-button">
					Buy now
				</a>
			</div>
			<div id="w-node-b2c3403e-6a79-3889-0c3b-6afbc9a6aec7-7b12a412" class="b-card b-card_product">
				<div class="b-card__head b-card__head_product">
					<img src="{{ 'assets/images/Photo-1.png'|theme }}" loading="lazy" alt="">
				</div>
				<div class="h-wrap h-wrap_mg-bt_10">
					<div class="b-text b-text_size_20 b-text_bold">
						Lumin Smart Panel Indoor
					</div>
				</div>
				<div class="h-wrap h-wrap_mg-bt_20">
					<div class="b-text b-text_size_15">
						A few words about this product of about two lines as an example.
					</div>
				</div>
				<a href="#" class="b-button b-button_blue b-button_maxw_210 w-button">
					Buy now
				</a>
			</div>
		</div>
	</div>
</section>
