<section class="section s-section_100vh mob_first">
	<img src="{{ block.rebates_main_image|media }}" loading="lazy" alt="" class="b-image b-image_installers">
	<div class="container w-container">
		<div class="b-columns">
			<div class="b-columns__col b-columns__col_50 mob_100 mob_center">
				<div class="h-wrap h-wrap_mg-bt_30">
					<h1 class="b-title b-title_mini b-title_white tb_36">
						{{ block.rebates_main_title }}
					</h1>
				</div>
				<div class="h-wrap h-wrap_mg-bt_60 h-wrap_max-width_330">
					<div class="b-text b-text_size_20 b-text_white">
						{{ block.rebates_main_subtitle }}
					</div>
				</div>
				<a href="#" class="b-button b-button_blue b-button_maxw_210 w-button">
					{{ block.rebates_main_text_btn }}
				</a>
			</div>
			<div class="b-columns__col b-columns__col_50 b-columns__col_align_center mob_100"></div>
		</div>
	</div>
</section>
