<section class="{{ section_s_section_100vh_s_section_pd_11_25_s_section_gray }}">
	<div class="{{ block.container_container_align_center_pd_none_w_container }}">
		<div class="{{ block.h_wrap_h_wrap_mg_bt_60_tb_mg_bt_30 }}">
			<div class="{{ block.b_title_b_title_mini_mob_30 }}">
				{{ block.rebates_products_title }}
			</div>
		</div>
		<div class="{{ block.b_grid_b_grid_col_3_mob_scroll }}">
			<div id="w-node-_3ca0dc3b-e502-4fbc-b2a2-8937d93f8708-7b12a412" class="{{ block.b_card_b_card_product }}">
				<div class="{{ block.b_card__head_b_card__head_product }}">
					<img src="{{ 'assets/images/Photo.png'|theme }}" loading="lazy" alt="">
				</div>
				<div class="{{ block.h_wrap_h_wrap_mg_bt_10 }}">
					<div class="{{ block.b_text_b_text_size_20_b_text_bold }}">
						Lumin Edge
					</div>
				</div>
				<div class="{{ block.h_wrap_h_wrap_mg_bt_20 }}">
					<div class="{{ block.b_text_b_text_size_15 }}">
						A few words about this product of about two lines as an example.
					</div>
				</div>
				<a href="#" class="{{ block.b_button_b_button_blue_b_button_maxw_210_w_button }}">
					Buy now
				</a>
			</div>
			<div id="w-node-c95a436e-1ba3-3b8e-6410-56c29a3627fd-7b12a412" class="{{ block.b_card_b_card_product }}">
				<div class="{{ block.b_card__head_b_card__head_product }}">
					<img src="{{ 'assets/images/Photo-1.png'|theme }}" loading="lazy" alt="">
				</div>
				<div class="{{ block.h_wrap_h_wrap_mg_bt_10 }}">
					<div class="{{ block.b_text_b_text_size_20_b_text_bold }}">
						Lumin Smart Panel Indoor
					</div>
				</div>
				<div class="{{ block.h_wrap_h_wrap_mg_bt_20 }}">
					<div class="{{ block.b_text_b_text_size_15 }}">
						A few words about this product of about two lines as an example.
					</div>
				</div>
				<a href="#" class="{{ block.b_button_b_button_blue_b_button_maxw_210_w_button }}">
					Buy now
				</a>
			</div>
			<div id="w-node-b2c3403e-6a79-3889-0c3b-6afbc9a6aec7-7b12a412" class="{{ block.b_card_b_card_product }}">
				<div class="{{ block.b_card__head_b_card__head_product }}">
					<img src="{{ 'assets/images/Photo-1.png'|theme }}" loading="lazy" alt="">
				</div>
				<div class="{{ block.h_wrap_h_wrap_mg_bt_10 }}">
					<div class="{{ block.b_text_b_text_size_20_b_text_bold }}">
						Lumin Smart Panel Indoor
					</div>
				</div>
				<div class="{{ block.h_wrap_h_wrap_mg_bt_20 }}">
					<div class="{{ block.b_text_b_text_size_15 }}">
						A few words about this product of about two lines as an example.
					</div>
				</div>
				<a href="#" class="{{ block.b_button_b_button_blue_b_button_maxw_210_w_button }}">
					Buy now
				</a>
			</div>
		</div>
	</div>
</section>
