<section class="{{ section_s_section_100vh_s_section_pd_11_25 }}">
	<div class="{{ block.container_container_align_center_w_container }}">
		<div class="{{ block.h_wrap_h_wrap_mg_bt_10 }}">
			<div class="{{ block.b_title_b_title_mini_mob_30 }}">
				{{ block.solar_edge_map_title }}
			</div>
		</div>
		<div class="{{ block.h_wrap_h_wrap_mg_bt_10 }}">
			<div class="{{ block.b_text_b_text_size_26 }}">
				{{ block.solar_edge_map_subtitle }}
			</div>
		</div>
		<div class="{{ block.b_utility_rebates_v_4 }}">
			<div class="{{ block.b_block_b_block_gray_v_2 }}">
				<div data-w-id="d39a628a-dfa9-60b7-143a-c13ccc3f1dd3" class="{{ block.b_check }}">
					<img src="{{ 'assets/images/check.svg'|theme }}" loading="lazy" data-w-id="d39a628a-dfa9-60b7-143a-c13ccc3f1dd4" alt="" class="{{ block.map_check }}">
				</div>
				<img src="{{ 'assets/images/map-icon20(1).svg'|theme }}" loading="lazy" alt="" class="{{ block.b_utility_rebates__icon }}">
				<div class="{{ block.b_text }}">
					{{ block.solar_edge_map_die }}
				</div>
			</div>
			<div class="{{ block.b_text }}">
				{{ block.solar_edge_map_text|raw }}
			</div>
		</div>
		<div class="{{ block.h_wrap_h_wrap_align_center_h_wrap_mg_bt_90_mob_mg_bt_40 }}">
			<img src="{{ block.solar_edge_map_image_map|media }}" loading="lazy" alt="" class="{{ block.b_image_b_image_map_lsp }}">
			<img src="{{ block.solar_edge_map_image_state|media }}" loading="lazy" data-w-id="d39a628a-dfa9-60b7-143a-c13ccc3f1de0" alt="" class="{{ block.b_image_b_image_absolute_state }}">
			<img src="{{ block.solar_edge_map_image_marker|media }}" loading="lazy" alt="" class="{{ block.b_image_b_image_absolute }}">
		</div>
		<a href="{{ block.solar_edge_map_link_btn }}" data-w-id="{{ block.solar_edge_map_btn_modal }}" class="{{ block.b_button_b_button_blue_b_button_max_w_200_w_button }}">
			{{ block.solar_edge_map_text_btn }}
		</a>
	</div>
</section>
