<section class="s-section s-section_100vh s-section_pd_11-25 s-section_yellow">
	<div class="container w-container">
		<div class="h-wrap h-wrap_mg-bt_30">
			<div class="b-columns">
				<div class="b-columns__col b-columns__col_73 mob_100 mob_center">
					<div class="h-wrap mob_mg-bt_30">
						<div class="b-title b-title_mini mob_30">
							{{ block.solar_edge_map_title }}
						</div>
					</div>
				</div>
				<div class="b-columns__col b-columns__col_27 mob_100">
					<div class="b-utility-rebates mob_static">
						<img src="{{ 'assets/images/moln.svg'|theme }}" loading="lazy" alt="" class="b-utility-rebates__icon">
						<div class="b-text">
							{{ block.solar_edge_map_die }}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="h-wrap h-wrap_align_center">
			<img src="{{ block.solar_edge_map_image_marker|media }}" loading="lazy" alt="" class="b-image b-image_absolute">
			<img src="{{ block.solar_edge_map_image_map|media }}" loading="lazy" alt="" class="b-image b-image_map_lsp">
		</div>
	</div>
</section>
