<section class="section s-section_100vh mob_first">
	<img src="{{ block.solar_edge_main_image|media }}" loading="lazy" alt="" class="b-image b-image_installers">
	<div data-w-id="c81a9966-fdf8-7a88-c61d-9936a1852eb5" class="container w-container">
		<div class="b-columns">
			<div data-w-id="06dec4d9-bd08-6dde-43c7-207ade5b83a0" class="b-columns__col b-columns__col_50 mob_100 mob_center">
				<div class="h-wrap h-wrap_mg-bt_30 mob_mg-bt_20">
					<h1 data-w-id="1d35dd18-5ff2-a3dc-c76e-d5a15ec4435a" class="b-title b-title_mini b-title_white tb_36">
						{{ block.solar_edge_main_title|raw }}
					</h1>
				</div>
				<div class="h-wrap h-wrap_mg-bt_60 mob_mg-bt_40">
					<div class="b-text b-text_size_20 b-text_white">
						{{ block.solar_edge_main_subtitle|raw }}
					</div>
				</div>
				<a data-w-id="{{ block.solar_edge_main_btn_modal }}" href="{{ block.solar_edge_main_link_btn }}" class="b-button b-button_blue b-button_maxw_210 overflow w-button">
					{{ block.solar_edge_main_text_btn }}
				</a>
			</div>
			<div data-w-id="c81a9966-fdf8-7a88-c61d-9936a1852ebd" class="b-columns__col b-columns__col_50 b-columns__col_align_center mob_100">
			{% if not block.hide_video %}
				<a data-fancybox="" data-w-id="161a1b80-fbc6-95f7-ea7c-2da65602e3e7" href="{{ block.solar_edge_main_link }}" class="b-video b-video_respons w-inline-block">
					<div style="opacity:1;-webkit-transform:translate3d(0, 0, 0) scale3d(0.29, 0.29, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.29, 0.29, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.29, 0.29, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.29, 0.29, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="b-video__circle-2"></div>
					<div class="b-video__circle-1"></div>
					<div style="opacity:1;-webkit-transform:translate3d(0, 0, 0) scale3d(0.29, 0.29, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.29, 0.29, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.29, 0.29, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.29, 0.29, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="b-video__circle-3"></div>
					<div class="b-video__text">
						{{ block.solar_edge_main_text_video }}
					</div>
				</a>
			{% endif %}
			</div>
		</div>
	</div>
</section>
