<section class="section s-section_black v-2">
	<div class="container container_align_center w-container">
		<div class="h-wrap h-wrap_max-width_870">
			<div class="b-text b-text_size_40 b-text_white b-text_extrabold tb_26">
				{{ block.solar_edge_integrates_text }}
			</div>
		</div>
		<img src="{{ 'assets/images/E2809D.png'|theme }}" loading="lazy" alt="" class="b-image b-image__sep">
	</div>
	<img class="b-image b-image_yellow-fon v-2" src="{{ block.solar_edge_integrates_image|media }}" alt="" loading="lazy">
</section>
