<section class="{{ section_s_section_100vh_s_section_pd_home }}">
	<div class="{{ block.container_w_container }}">
		<div class="{{ block.h_wrap_h_wrap_mg_bt_50_h_wrap_align_center }}">
			<div class="{{ block.b_title_b_title_mini_mob_30 }}">
				{{ block.solar_edge_works_title }}
			</div>
		</div>
		<div class="{{ block.h_wrap_h_wrap_mg_bt_30 }}">
			<div class="{{ block.b_block_b_block_home }}">
				<div class="{{ block.b_block_home__wrap }}">
					<div class="{{ block.h_wrap_h_wrap_mg_bt_10 }}">
						<div class="{{ block.b_text_b_text_size_20_b_text_bold }}">
							Solar+Storage
						</div>
					</div>
					<div class="{{ block.h_wrap_h_wrap_flex_h }}">
						<div class="{{ block.b_block_home__icon_bg }}">
							<img src="{{ 'assets/images/2420On.svg'|theme }}" loading="lazy" alt="" class="{{ block.b_block_home__icon }}">
						</div>
						<div class="{{ block.b_block_home__icon_bg }}">
							<img src="{{ 'assets/images/2420On.svg'|theme }}" loading="lazy" alt="" class="{{ block.b_block_home__icon }}">
						</div>
						<div class="{{ block.b_block_home__icon_bg }}">
							<img src="{{ 'assets/images/2420On.svg'|theme }}" loading="lazy" alt="" class="{{ block.b_block_home__icon }}">
						</div>
						<div class="{{ block.b_block_home__icon_bg }}"></div>
					</div>
				</div>
				<div class="{{ block.b_block_home__line }}"></div>
				<div class="{{ block.b_block_home__wrap }}">
					<div class="{{ block.h_wrap_h_wrap_mg_bt_10 }}">
						<div class="{{ block.b_text_b_text_size_20_b_text_bold }}">
							With Lumin
						</div>
					</div>
					<div class="{{ block.h_wrap_h_wrap_flex_h }}">
						<div class="{{ block.b_block_home__icon_bg }}">
							<img src="{{ 'assets/images/2420On.svg'|theme }}" loading="lazy" alt="" class="{{ block.b_block_home__icon }}">
						</div>
						<div class="{{ block.b_block_home__icon_bg }}">
							<img src="{{ 'assets/images/2420On.svg'|theme }}" loading="lazy" alt="" class="{{ block.b_block_home__icon }}">
						</div>
						<div class="{{ block.b_block_home__icon_bg }}">
							<img src="{{ 'assets/images/2420On.svg'|theme }}" loading="lazy" alt="" class="{{ block.b_block_home__icon }}">
						</div>
						<div class="{{ block.b_block_home__icon_bg }}"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="{{ block.h_wrap_h_wrap_maxw_320 }}">
			<div class="{{ block.b_grid_b_grid_col_2_v_2 }}">
				<div id="w-node-b1874c80-1aea-97aa-3de0-516f5cae0090-7b12a413" class="{{ block.h_wrap_h_wrap_flex_h_h_wrap_align_center_left }}">
					<div class="{{ block.b_custom_check }}">
						<img src="{{ 'assets/images/Dot-check.svg'|theme }}" loading="lazy" alt="" class="{{ block.b_custom_check__img }}">
					</div>
					<div class="{{ block.b_text }}">
						Pool Pump
					</div>
				</div>
				<div id="w-node-_04f7630b-355c-2669-2b82-980c6ae690f7-7b12a413" class="{{ block.h_wrap_h_wrap_flex_h_h_wrap_align_center_left }}">
					<div class="{{ block.b_custom_check }}">
						<img src="{{ 'assets/images/Dot-check.svg'|theme }}" loading="lazy" alt="" class="{{ block.b_custom_check__img }}">
					</div>
					<div class="{{ block.b_text }}">
						Pool Pump
					</div>
				</div>
				<div id="w-node-_0dd392c4-2843-bef2-e566-90f30b499a82-7b12a413" class="{{ block.h_wrap_h_wrap_flex_h_h_wrap_align_center_left }}">
					<div class="{{ block.b_custom_check }}">
						<img src="{{ 'assets/images/Dot-check.svg'|theme }}" loading="lazy" alt="" class="{{ block.b_custom_check__img }}">
					</div>
					<div class="{{ block.b_text }}">
						EV charger
					</div>
				</div>
				<div id="w-node-_40939d02-5378-5960-8531-c39be7f4ebdd-7b12a413" class="{{ block.h_wrap_h_wrap_flex_h_h_wrap_align_center_left }}">
					<div class="{{ block.b_custom_check }}">
						<img src="{{ 'assets/images/Dot-check.svg'|theme }}" loading="lazy" alt="" class="{{ block.b_custom_check__img }}">
					</div>
					<div class="{{ block.b_text }}">
						EV charger
					</div>
				</div>
				<div id="w-node-_099d5af1-6ea4-4f37-b15d-91580904e924-7b12a413" class="{{ block.h_wrap_h_wrap_flex_h_h_wrap_align_center_left }}">
					<div class="{{ block.b_custom_check }}">
						<img src="{{ 'assets/images/Dot-check.svg'|theme }}" loading="lazy" alt="" class="{{ block.b_custom_check__img }}">
					</div>
					<div class="{{ block.b_text }}">
						Washing Machine
					</div>
				</div>
				<div id="w-node-d4f11adc-1f51-90a4-6411-364974a3e3d4-7b12a413" class="{{ block.h_wrap_h_wrap_flex_h_h_wrap_align_center_left }}">
					<div class="{{ block.b_custom_check }}">
						<img src="{{ 'assets/images/Dot-check.svg'|theme }}" loading="lazy" alt="" class="{{ block.b_custom_check__img }}">
					</div>
					<div class="{{ block.b_text }}">
						Washing Machine
					</div>
				</div>
				<div id="w-node-_2f880826-7b2c-5dc6-32d7-083f700f2b10-7b12a413" class="{{ block.h_wrap_h_wrap_flex_h_h_wrap_align_center_left }}">
					<div class="{{ block.b_custom_check }}">
						<img src="{{ 'assets/images/Dot-check.svg'|theme }}" loading="lazy" alt="" class="{{ block.b_custom_check__img }}">
					</div>
					<div class="{{ block.b_text }}">
						Pool Pump
					</div>
				</div>
				<div id="w-node-_19149687-eea4-c2c3-c3df-5941604ff58b-7b12a413" class="{{ block.h_wrap_h_wrap_flex_h_h_wrap_align_center_left }}">
					<div class="{{ block.b_custom_check }}">
						<img src="{{ 'assets/images/Dot-check.svg'|theme }}" loading="lazy" alt="" class="{{ block.b_custom_check__img }}">
					</div>
					<div class="{{ block.b_text }}">
						Pool Pump
					</div>
				</div>
				<div id="w-node-c7b709e7-3126-0c25-4fc0-22d3ce93ef58-7b12a413" class="{{ block.h_wrap_h_wrap_flex_h_h_wrap_align_center_left }}">
					<div class="{{ block.b_custom_check }}">
						<img src="{{ 'assets/images/Dot-check.svg'|theme }}" loading="lazy" alt="" class="{{ block.b_custom_check__img }}">
					</div>
					<div class="{{ block.b_text }}">
						Pool Pump
					</div>
				</div>
				<div id="w-node-e6a35e3d-559c-ef95-340c-8135c56fcabc-7b12a413" class="{{ block.h_wrap_h_wrap_flex_h_h_wrap_align_center_left }}">
					<div class="{{ block.b_custom_check }}">
						<img src="{{ 'assets/images/Dot-check.svg'|theme }}" loading="lazy" alt="" class="{{ block.b_custom_check__img }}">
					</div>
					<div class="{{ block.b_text }}">
						Pool Pump
					</div>
				</div>
			</div>
		</div>
		<a href="#" class="{{ block.b_button_discover_w_inline_block }}">
			<img src="{{ 'assets/images/btn_discover.svg'|theme }}" loading="lazy" alt="">
			<div>
				Discover more
			</div>
		</a>
		<div class="{{ block.b_home_wrap }}">
			<img src="{{ block.solar_edge_works_image|media }}" alt="" loading="lazy" class="{{ block.b_image_b_image_home }}">
			<img src="{{ block.electrification_works_off|media }}" alt="" loading="lazy" class="{{ block.b_image_b_image_home_b_image_home_abbsolute }}">
			<div class="{{ block.plus_plus_2 }}">
				<img src="{{ 'assets/images/plus.svg'|theme }}" loading="lazy" alt="">
				<div class="{{ block.plus__circle }}"></div>
			</div>
			<div class="{{ block.plus_plus_3 }}">
				<img src="{{ 'assets/images/plus.svg'|theme }}" loading="lazy" alt="">
				<div class="{{ block.plus__circle }}"></div>
			</div>
			<div class="{{ block.plus_plus_4 }}">
				<img src="{{ 'assets/images/plus.svg'|theme }}" loading="lazy" alt="">
				<div class="{{ block.plus__circle }}"></div>
			</div>
			<div class="{{ block.plus_plus_1 }}">
				<img src="{{ 'assets/images/plus.svg'|theme }}" loading="lazy" alt="">
				<div class="{{ block.plus__circle }}"></div>
			</div>
		</div>
	</div>
</section>
