<section class="section s-section_100vh s-section_pd_11-25">
	<div class="container container_align_center w-container">
		<div class="h-wrap h-wrap_mg-bt_10">
			<div class="b-title b-title_mini mob_30">
				{{ block.solar_edge_map_title }}
			</div>
		</div>
		<div class="h-wrap h-wrap_mg-bt_10">
			<div class="b-text b-text_size_26">
				{{ block.solar_edge_map_subtitle }}
			</div>
		</div>
		<div class="b-utility-rebates v-4">
			<div class="b-block b-block_gray v-2">
				<div data-w-id="d39a628a-dfa9-60b7-143a-c13ccc3f1dd3" class="b-check">
					<img src="{{ 'assets/images/check.svg'|theme }}" loading="lazy" data-w-id="d39a628a-dfa9-60b7-143a-c13ccc3f1dd4" alt="" class="map-check">
				</div>
				<img src="{{ 'assets/images/map-icon20(1).svg'|theme }}" loading="lazy" alt="" class="b-utility-rebates__icon">
				<div class="b-text">
					{{ block.solar_edge_map_die }}
				</div>
			</div>
			<div class="b-text">
				{{ block.solar_edge_map_text }}
			</div>
		</div>
		<div class="h-wrap h-wrap_align_center h-wrap_mg-bt_90 mob_mg-bt_40">
			<img src="{{ block.solar_edge_map_image_map|media }}" loading="lazy" alt="" class="b-image b-image_map_lsp">
			<img src="{{ block.solar_edge_map_image_state|media }}" loading="lazy" data-w-id="d39a628a-dfa9-60b7-143a-c13ccc3f1de0" alt="" class="b-image b-image_absolute state">
			<img src="{{ block.solar_edge_map_image_marker|media }}" loading="lazy" alt="" class="b-image b-image_absolute">
		</div>
		<a href="{{ block.solar_edge_map_link_btn }}" class="b-button b-button_blue b-button_max-w_200 w-button" data-w-id="{{ block.solar_edge_map_btn_modal }}">
			{{ block.solar_edge_map_text_btn }}
		</a>
	</div>
</section>
