<section class="s-section mob_hide">
	<div class="container hide w-container">
		<div class="h-wrap h-wrap_mg-bt_60 h-wrap_align_center">
			<div class="b-title b-title_mini">
				How it works with Lumin Edge
			</div>
		</div>
		<img src="{{ 'assets/images/Group2027438.png'|theme }}" loading="lazy" alt="" class="b-image">
		<img src="{{ 'assets/images/home.png'|theme }}" loading="lazy" alt="" class="b-image b-image_home v-2">
	</div>
	<img src="{{ 'assets/images/How20it20works20(1).png'|theme }}" loading="lazy" alt="">
	<div class="fon-bg"></div>
</section>
