<address class="section s-section_100vh s-section_pd_11-25">
	<div class="container container_align_center w-container">
		<div class="h-wrap h-wrap_mg-bt_60 tb_mg-bt_20">
			<div class="b-title mob_30">
				{{ sectionsGlobal.technical_spec_title }}
			</div>
		</div>
		<div data-duration-in="300" data-duration-out="100" data-current="Tab 1" data-easing="ease" class="b-tabs w-tabs">
			<div class="b-tabs__menu b-tabs__menu_mg-bt_50 b-tabs__menu_align_center mob_mg-bt_20 w-tab-menu">
				{% for item in block.technical_spec_tab %}
				<a data-w-tab="Tab {{ loop.index }}" class="b-tabs__link b-tabs__link_pd_0_10 w-inline-block w-tab-link w--current" data-tab-name="{{ item.tab_name }}">
					<div>
						{{ item.tab_name }}
					</div>
				</a>
				{% endfor %}
			</div>
			<div class="b-tabs__content b-tabs__content_min w-tab-content">
				{% for item in block.technical_spec_tab %}
				<div data-w-tab="Tab {{ loop.index }}" class="b-tabs__pane w-tab-pane w--tab-active" data-tab-name="{{ item.tab_name }}">
					<div class="b-columns">
						<div class="b-columns__col b-columns__col_60 tb_100 tb_mg-bt_30 v-2">
							<div class="b-image-wrapper">
								<div id="drag" class="drag">
									<div class="icon">
										<img loading="lazy" src="{{ 'assets/images/left-and-right-arrows.png'|theme }}" alt="">
									</div>
								</div>
								<div id="before" class="before" style="background-image: url('{{ item.image_before|media }}');">
									<div id="before" class="before_mobile"></div>
								</div>
								<div id="after" class="after" style="background-image: url('{{ item.image_after|media }}');">
									<div id="after" class="after_mobile"></div>
								</div>
							</div>
							<img loading="lazy" src="{{ 'assets/images/element2.svg'|theme }}" alt="" class="b-image b-image_element2">
						</div>
						<div class="b-columns__col b-columns__col_40 b-columns__col_pd-lt_60 tb_100">
							<div>
								{% for item in item.characteristics %}
								<div class="h-wrap h-wrap_mg-bt_30">
									<div class="h-wrap h-wrap_border_down">
										<div class="b-text b-text_size_20 b-text_bold">
											{{ item.characteristics_title }}
										</div>
									</div>
									<ul role="list" class="b-list">
										{% for item in item.list %}
										<li class="b-list__item b-list__item_mg-bt_15 b-list__item_flex_v">
											<div class="b-text b-text_bold">
												{{ item.characteristics_name }}
											</div>
											<div class="b-text b-text_gray b-text_semibold">
												{{ item.characteristics_text }}
											</div>
										</li>
										{% endfor %}
									</ul>
								</div>
								{% endfor %}
							</div>
							<div class="h-wrap h-wrap_mg-tp_20">
								<a href="#" class="b-button b-button_width_210 mob_center w-button">
									Full Tech Specs
								</a>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</address>
