<section class="section mob_pd_5">
	<div class="container w-container">
		<div class="b-columns">
			<div class="b-columns__col b-columns__col_30 b-columns__col_justify_end tb_100">
				<img class="b-image b-image_meet-lumin" src="{{ block.image|media }}" alt="" loading="lazy">
			</div>
			<div class="b-columns__col b-columns__col_70 b-columns__col_align_center b-columns__col_pd-lt_100 tb_100">
				<div class="h-wrap h-wrap_mg-bt_20">
					<div class="b-title b-title_mini mob_30">
						{{ block.title }}
					</div>
				</div>
				<ul id="itemList" role="list" class="b-list">
					{% for item in block.lists %}
					<li class="b-list__item b-list__item_mg-bt_20">
						<div class="b-list__circle"></div>
						<div class="b-text b-text_size_20">
							{{ item.text_list }}
						</div>
					</li>
					{% endfor %}
				</ul>
				<a id="showAllButton" href="#" class="b-button b-button_mini w-button">
					More items
				</a>
			</div>
		</div>
	</div>
	<div class="container w-container"></div>
</section>
