<section class="section s-section_70vh">
	<div class="container container_align_center w-container">
		<div class="h-wrap h-wrap_mg-bt_20">
			<div class="b-title b-title_mini">
				{{ sectionsGlobal.updates_title | raw }}
			</div>
		</div>
		<div class="h-wrap h-wrap_mg-bt_40 h-wrap_max-width_900">
			<div class="b-text b-text_size_26">
				{{ sectionsGlobal.updates_subtitle | raw }}
			</div>
		</div>
		<div class="h-wrap h-wrap_mg-bt_40 h-wrap_max-width_900">
			<div class="b-form w-form">
				<form data-name="Форма" id="email-form" name="email-form" method="get" class="b-form__form b-form__form_grid col_2" data-wf-page-id="648baa95d29f649e7b12a408" data-wf-element-id="9ebae1de-c39f-a704-3ff9-0742d5b4ea59">
					<input type="text" class="b-input w-node-_9ebae1de-c39f-a704-3ff9-0742d5b4ea5a-d5b4ea4d w-input" maxlength="256" name="Enter-your-email-address-2" data-name="Enter Your Email Address 2" placeholder="Enter your email address..." id="Enter-your-email-address-2">
					<input type="submit" value="Subscribe" data-wait="Please wait..." id="w-node-_9ebae1de-c39f-a704-3ff9-0742d5b4ea5b-d5b4ea4d" class="b-button b-button_blue b-button_height_56 w-button">
				</form>
				<div class="b-form__success-mes w-form-done">
					<div>
						Спасибо за заявку!
						<br>
						В ближайшее время мы свяжемся с вами
					</div>
				</div>
				<div class="b-form__error-mes w-form-fail">
					<div>
						Ошибка! Что-то пошло не так.
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
