<section class="section s-section_70vh">
	<div class="container container_align_center w-container">
		<div class="h-wrap h-wrap_mg-bt_20">
			<div class="b-title b-title_mini">
				{{ block.updates_title|raw }}
			</div>
		</div>
		<div class="h-wrap h-wrap_mg-bt_40 h-wrap_max-width_900">
			<div class="b-text b-text_size_26">
				{{ block.updates_subtitle|raw }}
			</div>
		</div>
		<div pat_in="{% component 'updatesForm' %}" class="h-wrap h-wrap_mg-bt_40 h-wrap_max-width_900">
			{% partial "updatesForm/default" %}
		</div>
	</div>
</section>
