<section class="{{ section_s_section_70vh }}">
	<div class="{{ block.container_container_align_center_w_container }}">
		<div class="{{ block.h_wrap_h_wrap_mg_bt_20 }}">
			<div class="{{ block.b_title_b_title_mini }}">
				{{ block.updates_title|raw }}
			</div>
		</div>
		<div class="{{ block.h_wrap_h_wrap_mg_bt_40_h_wrap_max_width_900 }}">
			<div class="{{ block.b_text_b_text_size_26 }}">
				{{ block.updates_subtitle|raw }}
			</div>
		</div>
		<div class="{{ block.h_wrap_h_wrap_mg_bt_40_h_wrap_max_width_900 }}">
			<div class="{{ block.b_form_w_form }}">
				<form data-name="Форма" id="email-form" name="email-form" method="get" data-wf-page-id="648baa95d29f649e7b12a408" data-wf-element-id="9ebae1de-c39f-a704-3ff9-0742d5b4ea59" class="{{ block.b_form__form_b_form__form_grid_col_2 }}">
					<input type="text" maxlength="256" name="Enter-your-email-address-2" data-name="Enter Your Email Address 2" placeholder="Enter your email address..." id="Enter-your-email-address-2" class="{{ block.b_input_w_node__9ebae1de_c39f_a704_3ff9_0742d5b4ea5a_d5b4ea4d_w_input }}">
					<input type="submit" value="Subscribe" data-wait="Please wait..." id="w-node-_9ebae1de-c39f-a704-3ff9-0742d5b4ea5b-d5b4ea4d" class="{{ block.b_button_b_button_blue_b_button_height_56_w_button }}">
				</form>
				<div class="{{ block.b_form__success_mes_w_form_done }}">
					<div>
						Спасибо за заявку!
						<br>
						В ближайшее время мы свяжемся с вами
					</div>
				</div>
				<div class="{{ block.b_form__error_mes_w_form_fail }}">
					<div>
						Ошибка! Что-то пошло не так.
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
