<section data-section="video-gallery" class="section section_tb_5">
	<div class="container container_100vw w-container">
		<div class="b-grid mob_1-col">
			{% for item in block.video_galery_rep %}
			<div id="w-node-_44709d47-431f-4a7b-6111-69689bcd7e8d-9bcd7e8a" class="b-grid__col">
				<img src="{{ item.image|media }}" alt="" loading="eager">
				<a data-fancybox="video" href="{{ item.link }}" class="b-video b-video_galery w-inline-block">
					<div class="b-width b-width_50">
						{{ item.title_block }}
					</div>
					<img src="{{ 'assets/images/Play20(3).svg'|theme }}" loading="lazy" alt="">
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
