<div class="h-wrap h-wrap_mg-bt_30">
	<div>
		<div class="swiper-container gallery-top">
			<div o_loop="Добавить фото в галерею" class="swiper-wrapper-2">
				<div class="swiper-slide">
					<img src="{{ 'assets/images/post20(2).jpg'|theme }}" o_image="Изображение галереи" alt="" class="b-image b-image_slider">
				</div>
			</div>
			<a href="#" class="b-arrow__swiper-next-2 w-inline-block">
				<div class="b-slider__arrow b-slider__right-arrow"></div>
			</a>
			<a href="#" class="b-arrow__swiper-prev-2 w-inline-block">
				<div class="b-slider__arrow b-slider__left-arrow"></div>
			</a>
		</div>
		<div class="swiper-container gallery-thumbs">
			<div o_loop="Добавить фото в галерею" class="swiper-wrapper">
				<div class="swiper-slide bottom">
					<img src="{{ 'assets/images/post20(1).jpg'|theme }}" o_image="Изображение галереи" alt="" class="b-image b-image_trumbs">
				</div>
				<div class="swiper-slide bottom">
					<img src="{{ 'assets/images/post20(1).jpg'|theme }}" o_image="Изображение галереи" alt="" class="b-image b-image_trumbs">
				</div>
				<div class="swiper-slide bottom">
					<img src="{{ 'assets/images/post20(1).jpg'|theme }}" o_image="Изображение галереи" alt="" class="b-image b-image_trumbs">
				</div>
				<div class="swiper-slide bottom">
					<img src="{{ 'assets/images/post20(1).jpg'|theme }}" o_image="Изображение галереи" alt="" class="b-image b-image_trumbs">
				</div>
				<div class="swiper-slide bottom">
					<img src="{{ 'assets/images/post20(1).jpg'|theme }}" o_image="Изображение галереи" alt="" class="b-image b-image_trumbs">
				</div>
			</div>
		</div>
	</div>
</div>
