<div class="{{ h_wrap_h_wrap_mg_bt_30 }}">
	<div>
		<div class="{{ swiper_container_gallery_top }}">
			<div o_loop="Добавить фото в галерею" class="{{ swiper_wrapper_2 }}">
				<div class="{{ swiper_slide }}">
					<img src="{{ 'assets/images/post20(2).jpg'|theme }}" alt="" o_image="Изображение галереи" class="{{ b_image_b_image_slider }}">
				</div>
			</div>
			<a href="#" class="{{ b_arrow__swiper_next_2_w_inline_block }}">
				<div class="{{ b_slider__arrow_b_slider__right_arrow }}"></div>
			</a>
			<a href="#" class="{{ b_arrow__swiper_prev_2_w_inline_block }}">
				<div class="{{ b_slider__arrow_b_slider__left_arrow }}"></div>
			</a>
		</div>
		<div class="{{ swiper_container_gallery_thumbs }}">
			<div o_loop="Добавить фото в галерею" class="{{ swiper_wrapper }}">
				<div class="{{ swiper_slide_bottom }}">
					<img src="{{ 'assets/images/post20(1).jpg'|theme }}" alt="" o_image="Изображение галереи" class="{{ b_image_b_image_trumbs }}">
				</div>
				<div class="{{ swiper_slide_bottom }}">
					<img src="{{ 'assets/images/post20(1).jpg'|theme }}" alt="" o_image="Изображение галереи" class="{{ b_image_b_image_trumbs }}">
				</div>
				<div class="{{ swiper_slide_bottom }}">
					<img src="{{ 'assets/images/post20(1).jpg'|theme }}" alt="" o_image="Изображение галереи" class="{{ b_image_b_image_trumbs }}">
				</div>
				<div class="{{ swiper_slide_bottom }}">
					<img src="{{ 'assets/images/post20(1).jpg'|theme }}" alt="" o_image="Изображение галереи" class="{{ b_image_b_image_trumbs }}">
				</div>
				<div class="{{ swiper_slide_bottom }}">
					<img src="{{ 'assets/images/post20(1).jpg'|theme }}" alt="" o_image="Изображение галереи" class="{{ b_image_b_image_trumbs }}">
				</div>
			</div>
		</div>
	</div>
</div>
