<div class="h-wrap h-wrap_mg-bt_30">
	<div class="b-text b-text_size_18">
		Coronavirus may have halted solar installations for a short time this year, but R&D and product development continued uninterrupted. With at-home and on-site power now more important than ever, many new products of 2020 aimed to make solar installations quicker and the user experience simpler for easier solar power consumption.
		<br>
		<br>
		There weren’t any in-person tradeshows for SPW editors to attend and see new products, but we kept an eye on everything happening in every corner of the market this year. These are our top choices for the most innovative products announced and coming available soon. We expect these products to transform the solar installation market — all for the better.
		<br>
		<br>
		Be sure to check out an even more extensive database of this year’s Top Products here.
	</div>
</div>
