<div class="h-wrap h-wrap_mg-bt_30 w-clearfix">
	<img src="{{ 'assets/images/image2057.png'|theme }}" loading="lazy" alt="" class="b-card-post__image b-card-post__image_border-r_12 b-card-post__image_mini">
	<div class="b-text b-text_size_18">
		When it comes to solar and energy storage, descriptive words can sometimes be confusing. A common misconception about battery backup is that the battery will actually back-up the entirety of a home’s loads. Most of the time, a battery has to be hooked up to its own protected loads panel that will support only a few circuits. But a handful of “smart circuit” products are coming to market to make whole-home backup actually mean what it says.
		<br>
		<br>
		For example, the software/hardware combo Lumin is a physical box that taps into the main electrical panel to make all circuits “smart.” Now instead of only being able For example, the software/hardware combo Lumin is a physical box that taps into the main electrical panel to make all circuits “smart.” Now instead of only being able. Smart panels and smart circuits give consumers the flexibility to back-up.
		<br>
		<br>
		Smart circuit setups can also monitor charging levels while providing load control. If a battery is low on power, fully charging an electric vehicle probably isn’t of the highest priority. Instead, apps like Lumin’s can monitor energy consumption and automatically shed large loads during an outage to protect the battery from draining. Smart panels and smart circuits give consumers the flexibility to back-up everything or just a few important loads — and on varying schedules. The whole house might not be humming at full power during an outage, but at least homeowners don’t have to settle for a few circuits every time a grid interruption occurs.
	</div>
</div>
