<div class="{{ h_wrap_h_wrap_mg_bt_30 }}">
	<div class="{{ b_block_b_block_gray_b_block_pd_30 }}">
		<div class="{{ h_wrap_h_wrap_mg_bt_10 }}">
			<div class="{{ b_text_b_text_size_26_b_text_bold }}">
				{{ block.title }}
			</div>
		</div>
		<ul role="list" class="{{ b_list }}">
			{% for item in block.list %}
			<li class="{{ item.b_list__item_b_list__item_mg_bt_5 }}">
				<div class="{{ item.b_list__circle_v_5 }}">
					<div>
						{{ item.number }}
					</div>
				</div>
				<div class="{{ item.b_text_b_text_size_18 }}">
					{{ item.text }}
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
