<div mode="ajax" class="{{ block.b_grid_b_grid_blog }}">
	<a for="item in posts" href="/blog/post/{{ item.slug }}" class="{{ block.b_card_post_w_inline_block }}">
		<div class="{{ block.b_card_post__head }}">
			<img src="{{ item.banner|media|media }}" loading="lazy" alt="" class="{{ block.b_card_post__image }}">
			<div class="{{ block.b_card_post__btn_cont }}">
				<div class="{{ block.b_button_b_button_blue_b_button_height_45 }}">
					Reed more
				</div>
			</div>
		</div>
		<div class="{{ block.h_wrap_h_wrap_mg_bt_5 }}">
			<div class="{{ block.b_text_b_text_size_14_b_text_gray_b_text_semibold }}">
				{{ item.published_at_date|date_j_m_y }}
			</div>
		</div>
		<div class="{{ block.h_wrap_h_wrap_mg_bt_5 }}">
			<div class="{{ block.b_text_b_text_size_20_b_text_bold }}">
				{{ item.title }}
			</div>
		</div>
	</a>
	<a href="#" class="{{ block.b_card_post_w_inline_block }}">
		<div class="{{ block.b_card_post__head }}">
			<img src="{{ 'assets/images/image2054-2.jpg'|theme }}" loading="lazy" alt="">
			<div class="{{ block.b_card_post__btn_cont }}">
				<div class="{{ block.b_button_b_button_blue_b_button_height_45 }}">
					Reed more
				</div>
			</div>
		</div>
		<div class="{{ block.h_wrap_h_wrap_mg_bt_5 }}">
			<div class="{{ block.b_text_b_text_size_14_b_text_gray_b_text_semibold }}">
				May 18, 2021
			</div>
		</div>
		<div class="{{ block.h_wrap_h_wrap_mg_bt_5 }}">
			<div class="{{ block.b_text_b_text_size_20_b_text_bold }}">
				Is an all solar energy future possible?
			</div>
		</div>
	</a>
	<a href="#" class="{{ block.b_card_post_w_inline_block }}">
		<div class="{{ block.b_card_post__head }}">
			<img src="{{ 'assets/images/news__img-1.jpg'|theme }}" loading="lazy" alt="">
			<div class="{{ block.b_card_post__btn_cont }}">
				<div class="{{ block.b_button_b_button_blue_b_button_height_45 }}">
					Reed more
				</div>
			</div>
		</div>
		<div class="{{ block.h_wrap_h_wrap_mg_bt_5 }}">
			<div class="{{ block.b_text_b_text_size_14_b_text_gray_b_text_semibold }}">
				May 18, 2021
			</div>
		</div>
		<div class="{{ block.h_wrap_h_wrap_mg_bt_5 }}">
			<div class="{{ block.b_text_b_text_size_20_b_text_bold }}">
				Why is my electric bill so high with solar panels?
			</div>
		</div>
	</a>
	<a href="#" class="{{ block.b_card_post_w_inline_block }}">
		<div class="{{ block.b_card_post__head }}">
			<img src="{{ 'assets/images/news__img-2.jpg'|theme }}" loading="lazy" alt="">
			<div class="{{ block.b_card_post__btn_cont }}">
				<div class="{{ block.b_button_b_button_blue_b_button_height_45 }}">
					Reed more
				</div>
			</div>
		</div>
		<div class="{{ block.h_wrap_h_wrap_mg_bt_5 }}">
			<div class="{{ block.b_text_b_text_size_14_b_text_gray_b_text_semibold }}">
				May 18, 2021
			</div>
		</div>
		<div class="{{ block.h_wrap_h_wrap_mg_bt_5 }}">
			<div class="{{ block.b_text_b_text_size_20_b_text_bold }}">
				Floating Neutrals
			</div>
		</div>
	</a>
	<a href="#" class="{{ block.b_card_post_w_inline_block }}">
		<div class="{{ block.b_card_post__head }}">
			<img src="{{ 'assets/images/image2054-3.jpg'|theme }}" loading="lazy" alt="">
			<div class="{{ block.b_card_post__btn_cont }}">
				<div class="{{ block.b_button_b_button_blue_b_button_height_45 }}">
					Reed more
				</div>
			</div>
		</div>
		<div class="{{ block.h_wrap_h_wrap_mg_bt_5 }}">
			<div class="{{ block.b_text_b_text_size_14_b_text_gray_b_text_semibold }}">
				May 18, 2021
			</div>
		</div>
		<div class="{{ block.h_wrap_h_wrap_mg_bt_5 }}">
			<div class="{{ block.b_text_b_text_size_20_b_text_bold }}">
				Is an all solar energy future possible?
			</div>
		</div>
	</a>
	<a href="#" class="{{ block.b_card_post_w_inline_block }}">
		<div class="{{ block.b_card_post__head }}">
			<img src="{{ 'assets/images/image2054-4.jpg'|theme }}" loading="lazy" alt="">
			<div class="{{ block.b_card_post__btn_cont }}">
				<div class="{{ block.b_button_b_button_blue_b_button_height_45 }}">
					Reed more
				</div>
			</div>
		</div>
		<div class="{{ block.h_wrap_h_wrap_mg_bt_5 }}">
			<div class="{{ block.b_text_b_text_size_14_b_text_gray_b_text_semibold }}">
				May 18, 2021
			</div>
		</div>
		<div class="{{ block.h_wrap_h_wrap_mg_bt_5 }}">
			<div class="{{ block.b_text_b_text_size_20_b_text_bold }}">
				Why is my electric bill so high with solar panels?
			</div>
		</div>
	</a>
	<a href="#" class="{{ block.b_card_post_w_inline_block }}">
		<div class="{{ block.b_card_post__head }}">
			<img src="{{ 'assets/images/image2054-5.jpg'|theme }}" loading="lazy" alt="">
			<div class="{{ block.b_card_post__btn_cont }}">
				<div class="{{ block.b_button_b_button_blue_b_button_height_45 }}">
					Reed more
				</div>
			</div>
		</div>
		<div class="{{ block.h_wrap_h_wrap_mg_bt_5 }}">
			<div class="{{ block.b_text_b_text_size_14_b_text_gray_b_text_semibold }}">
				May 18, 2021
			</div>
		</div>
		<div class="{{ block.h_wrap_h_wrap_mg_bt_5 }}">
			<div class="{{ block.b_text_b_text_size_20_b_text_bold }}">
				Floating Neutrals
			</div>
		</div>
	</a>
	<a href="#" class="{{ block.b_card_post_w_inline_block }}">
		<div class="{{ block.b_card_post__head }}">
			<img src="{{ 'assets/images/image2054-6.jpg'|theme }}" loading="lazy" alt="">
			<div class="{{ block.b_card_post__btn_cont }}">
				<div class="{{ block.b_button_b_button_blue_b_button_height_45 }}">
					Reed more
				</div>
			</div>
		</div>
		<div class="{{ block.h_wrap_h_wrap_mg_bt_5 }}">
			<div class="{{ block.b_text_b_text_size_14_b_text_gray_b_text_semibold }}">
				May 18, 2021
			</div>
		</div>
		<div class="{{ block.h_wrap_h_wrap_mg_bt_5 }}">
			<div class="{{ block.b_text_b_text_size_20_b_text_bold }}">
				Is an all solar energy future possible?
			</div>
		</div>
	</a>
	<a href="#" class="{{ block.b_card_post_w_inline_block }}">
		<div class="{{ block.b_card_post__head }}">
			<img src="{{ 'assets/images/news__img-3.jpg'|theme }}" loading="lazy" alt="">
			<div class="{{ block.b_card_post__btn_cont }}">
				<div class="{{ block.b_button_b_button_blue_b_button_height_45 }}">
					Reed more
				</div>
			</div>
		</div>
		<div class="{{ block.h_wrap_h_wrap_mg_bt_5 }}">
			<div class="{{ block.b_text_b_text_size_14_b_text_gray_b_text_semibold }}">
				May 18, 2021
			</div>
		</div>
		<div class="{{ block.h_wrap_h_wrap_mg_bt_5 }}">
			<div class="{{ block.b_text_b_text_size_20_b_text_bold }}">
				Why is my electric bill so high with solar panels?
			</div>
		</div>
	</a>
</div>
