<div class="b-grid b-grid_blog" id="postsList">
{% for item in posts %}
	<a href="/blog/post/{{ item.slug }}" class="b-card-post w-inline-block">
		<div class="b-card-post__head">
			<img src="{{ item.banner |media }}" loading="lazy" alt="">
			<div class="b-card-post__btn-cont">
				<div class="b-button b-button_blue b-button_height_45">
					Reed more
				</div>
			</div>
		</div>
		<div class="h-wrap h-wrap_mg-bt_5">
			<div class="b-text b-text_size_14 b-text_gray b-text_semibold">
				{{ item.published_at_date|date('j M Y') }}
			</div>
		</div>
		<div class="h-wrap h-wrap_mg-bt_5">
			<div class="b-text b-text_size_20 b-text_bold">
				{{ item.title }}
			</div>
		</div>
	</a>
{% endfor %}
</div>
<nav>
    {{ ajaxPager(posts) }}
</nav>