{% for category in categories %}
	{% if category.title == 'Setup' %}
		{% set categoryPosts = fresh.where('category_id_id', category.id).get() %}
			{% if categoryPosts is not empty %}
				<ul role="list" class="b-grid b-grid_col_2 b-grid_gap_40">
					{% for post in categoryPosts %}
						<li class="b-card-post">
							<a href="{{ 'freshdesk-post' | page({'id':post.id}) }}" class="b-text b-text_size_18 b-text_bold b-text_icon">{{ post.title }}</a>
						</li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endif %}
{% endfor %}