url = "/"
title = "Main"

[section page]
handle = "Pages\Index"

[global options]
handle = "global_options"

[section mainmenu]
handle = "Site\MainMenu"

[section footer]
handle = "Site\Footer"

[collection fresh]
handle="Blog\FreshdeskPost"

[collection categories]
handle="Blog\Category"
==
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<ul>
    {% for category in categories %}
        <li>
            {{ category.title }}
            {% set categoryPosts = fresh.where('category_id_id', category.id).get() %}
            {% if categoryPosts is not empty %}
            <ul>
                {% for post in categoryPosts %}
                    <li>{{ post.title }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>
</body>
</html>
