.s-section_pd_home [data-list] {
    display: flex;
    flex-direction: column;
}

.s-section_pd_home [data-list] > div {
    order: 2;
}

.s-section_pd_home [data-list] > div.active {
    order: 1;
}

.fp-watermark {
    display: none;
}