.s-section_pd_home [data-list] {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.s-section_pd_home [data-list] > div {
    order: 2;
}

.s-section_pd_home [data-list] > div.active {
    order: 1;
    display: block;
}

.fp-watermark {
    display: none !important;
}
@media screen and (max-width: 767px) {
.fp-is-overflow .fp-overflow.fp-auto-height-responsive, .fp-is-overflow .fp-overflow.fp-auto-height, .fp-is-overflow > .fp-overflow {
    display: block !important;
    }
}