<div class="b-form w-form">
	<form id="wf-form-Form-Sales" name="wf-form-Form-Sales" data-name="Form Sales" method="get" data-request="{{ __SELF__ }}::onFormSubmit" class="b-form__form" data-wf-page-id="648baa95d29f649e7b12a409" data-wf-element-id="314d7f5b-d095-dd46-ab73-1050401e398d">
		<div class="h-wrap h-wrap_mg-bt_15"></div>
		<div class="h-wrap h-wrap_grid h-wrap_2-col h-wrap_mg-bt_15">
			<input class="b-input b-input_height_50 w-input" maxlength="256" name="First-Name" data-name="First Name" placeholder="First Name*" type="text" id="First-Name-5" required="">
			<input class="b-input b-input_height_50 w-input" maxlength="256" name="Last-Name" data-name="Last Name" placeholder="Last Name" type="text" id="Last-Name-4" required="">
		</div>
		<div class="h-wrap h-wrap_mg-bt_15">
			<input class="b-input b-input_height_50 w-input" maxlength="256" name="Email" data-name="Email" placeholder="Email*" type="email" id="Email-7" required="">
		</div>
		<div class="h-wrap h-wrap_mg-bt_15">
			<input class="b-input b-input_height_50 w-input" maxlength="256" name="Phone" data-name="Phone" placeholder="Phone*" type="tel" id="Phone-4" required="">
		</div>
		<div class="h-wrap h-wrap_mg-bt_15">
			<input class="b-input b-input_height_50 w-input" maxlength="256" name="Company-Name" data-name="Company Name" placeholder="Company name*" type="text" id="Company-Name-4" required="">
		</div>
		<div class="h-wrap h-wrap_mg-bt_30">
			<textarea id="Message-4" name="Message" maxlength="5000" data-name="Message" placeholder="Message..." class="b-input b-input_height_150 w-input"></textarea>
		</div>
		<div class="h-wrap h-wrap_mg-bt_15">
			<label class="w-checkbox b-checkbox b-checkbox_pd-lt_35 b-checkbox_max-width_610">
				<div class="w-checkbox-input w-checkbox-input--inputType-custom b-checkbox__check b-checkbox__check_form"></div>
				<input type="checkbox" name="Policy" id="Policy" data-name="Policy" required="" style="opacity:0;position:absolute;z-index:-1">
				<span class="b-checkbox__label b-checkbox__label_form w-form-label" for="Policy">
					* I give consent to the processing of my personal data given in the contact form above under the terms and conditions of Lumin
					<a href="#" class="b-checkbox__link">
						Privacy Policy
					</a>
					.
				</span>
			</label>
		</div>
		<div class="h-wrap h-wrap_mg-bt_30">
			<label class="w-checkbox b-checkbox b-checkbox_pd-lt_35 b-checkbox_max-width_610">
				<div class="w-checkbox-input w-checkbox-input--inputType-custom b-checkbox__check b-checkbox__check_form"></div>
				<input type="checkbox" name="Information" id="Information" data-name="Information" style="opacity:0;position:absolute;z-index:-1">
				<span class="b-checkbox__label b-checkbox__label_form w-form-label" for="Information">
					I want to receive commercial communications and marketing information from Lumin by electronic means of communication (including telephone and e-mail).
				</span>
			</label>
		</div>
		<input type="submit" data-wait="Please wait..." class="b-button b-button_blue b-button_max-width_250 w-button" value="Send message">
	</form>
	<div class="b-form__success-mes w-form-done">
		<div>
			Спасибо за заявку!
			<br>
			В ближайшее время мы свяжемся с вами
		</div>
	</div>
	<div class="b-form__error-mes w-form-fail">
		<div>
			Ошибка! Что-то пошло не так.
		</div>
	</div>
</div>
