description = "Footer Code"

[viewBag]
==
<script src='//cdn.jsdelivr.net/npm/@fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.js'></script>
<script>
const selectors = {
    slider: ".b-slider.w-slider", // общий контейнер слайдов и кнопок
    originalPrev: ".w-slider-arrow-left", // кнопка Назад внутри контейнера
    originalNext: ".w-slider-arrow-right", // кнопка Вперед внутри контейнера

    prev: ".arrow-left",
    next: ".arrow-right",
  };

  function fakeClick($btn) {
    if ($btn) $btn.click();
  }

  function initSlider($slider) {
      if (!$slider) return;

      const $originalPrevs = Array.from($slider.querySelectorAll(selectors.originalPrev));
      const $originalNexts = Array.from($slider.querySelectorAll(selectors.originalNext));

      const $originalPrev = $originalPrevs.find(function($btn) {
          const $btnSlider = $btn.closest(selectors.slider)
          return $btnSlider === $slider;
      })

      const $originalNext = $originalNexts.find(function($btn) {
          const $btnSlider = $btn.closest(selectors.slider)
          return $btnSlider === $slider;
      })
      
      $slider.addEventListener('click', function(e) {
          if (e.target.closest(selectors.prev)) {
              fakeClick($originalPrev);
          } else if (e.target.closest(selectors.next)) {
              fakeClick($originalNext);
          }
      })
  }

  function init() {
    const $sliders = document.querySelectorAll(selectors.slider);
    $sliders.forEach(initSlider);
  }

  if (document.readyState === "loading") {
    document.addEventListener("DOMContentLoaded", init);
  } else {
    init();
  }
</script>
<script>
document.addEventListener("DOMContentLoaded", function() {
    // Получаем ссылку на кнопку "More items"
    var showAllButton = document.getElementById("showAllButton");

    // Получаем все элементы списка
    var itemList = document.getElementById("itemList").querySelectorAll(".b-list__item");

    // Проверяем количество элементов списка
    if (itemList.length <= 5) {
        // Если элементов меньше или равно 5, скрываем кнопку "More items"
        showAllButton.style.display = "none";
    }

    // Добавляем обработчик события на клик по кнопке
    showAllButton.addEventListener("click", function(e) {
        e.preventDefault();
        // Показываем все элементы списка
        for (var i = 0; i < itemList.length; i++) {
            itemList[i].style.display = "flex";
        }
        // Скрываем кнопку "More items"
        showAllButton.style.display = "none";
    });
});
</script>
<script defer src="https://cdn.jsdelivr.net/npm/@finsweet/attributes-scrolldisable@1/scrolldisable.js"></script>