description = "Head Code"

[viewBag]
==
<link href="{{'assets/css/fancybox.css'|theme}}" rel="stylesheet">
<link href="{{'assets/css/custom.css?ver=1.1'|theme}}" rel="stylesheet">
<link href="{{'assets/css/main.css?ver=1.20'|theme}}" rel="stylesheet">
<style>
    
.b-checkbox.b-checkbox_tab {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.b-checkbox.b-checkbox_tab:nth-child(1) {
    transform: rotate(0deg) translate(200px) rotate(0deg);
}

.b-checkbox.b-checkbox_tab:nth-child(2) {
    transform: rotate(22.5deg) translate(200px) rotate(-22.5deg);
}

.b-checkbox.b-checkbox_tab:nth-child(3) {
    transform: rotate(45deg) translate(200px) rotate(-45deg);
}

.b-checkbox.b-checkbox_tab:nth-child(4) {
    transform: rotate(67.5deg) translate(200px) rotate(-67.5deg);
}

.b-checkbox.b-checkbox_tab:nth-child(5) {
    transform: rotate(90deg) translate(200px) rotate(-90deg);
}

.b-checkbox.b-checkbox_tab:nth-child(6) {
    transform: rotate(112.5deg) translate(200px) rotate(-112.5deg);
}

.b-checkbox.b-checkbox_tab:nth-child(7) {
    transform: rotate(135deg) translate(200px) rotate(-135deg);
}

.b-checkbox.b-checkbox_tab:nth-child(8) {
    transform: rotate(157.5deg) translate(200px) rotate(-157.5deg);
}

.b-checkbox.b-checkbox_tab:nth-child(9) {
    transform: rotate(180deg) translate(200px) rotate(-180deg);
}

.b-checkbox.b-checkbox_tab:nth-child(10) {
    transform: rotate(202.5deg) translate(200px) rotate(-202.5deg);
}

.b-checkbox.b-checkbox_tab:nth-child(11) {
    transform: rotate(225deg) translate(200px) rotate(-225deg);
}

.b-checkbox.b-checkbox_tab:nth-child(12) {
    transform: rotate(247.5deg) translate(200px) rotate(-247.5deg);
}

.b-checkbox.b-checkbox_tab:nth-child(13) {
    transform: rotate(270deg) translate(200px) rotate(-270deg);
}

.b-checkbox.b-checkbox_tab:nth-child(14) {
    transform: rotate(292.5deg) translate(200px) rotate(-292.5deg);
}

.b-checkbox.b-checkbox_tab:nth-child(15) {
    transform: rotate(315deg) translate(200px) rotate(-315deg);
}

.b-checkbox.b-checkbox_tab:nth-child(16) {
    transform: rotate(337.5deg) translate(200px) rotate(-337.5deg);
}

.b-list__item:nth-child(n + 6) {
    display: none;
}

@media (max-width: 991px) {
.b-checkbox.b-checkbox_tab {
    transform: none; /* Удалить transform */
}
  }
.s-section_pd_home [data-list] {
    display: flex;
    flex-direction: column;
}

.s-section_pd_home [data-list] > div {
    order: 2;
}

.s-section_pd_home [data-list] > div.active {
    order: 1;
}
    </style>
    <meta name="google-site-verification" content="24c8yyXUU0XTFux2Y_a13Xw-CNGomeWSKHgQ7COuJwc" />
<meta name="msvalidate.01" content="64E99B947BEB786DF5D07881D42D50DF" />

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-K3FEZGMMFY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-K3FEZGMMFY');
</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-W8F9NZG');</script>
<!-- End Google Tag Manager -->