description = "Not Found"

[forms]

[cookiesBar]

default = 0
==
<!DOCTYPE html>
<!-- Last Published: Mon Feb 05 2024 13:32:24 GMT+0000 (Coordinated Universal Time) --><html data-wf-page="648baa95d29f649e7b12a3d0" data-wf-site="64227e51ac84205a1ce228fa">
	<head>
		<meta charset="utf-8">
		<title>{{ this.page.meta_title ?: placeholder('pageTitle') }}</title>
		<meta content="Not Found" property="og:title">
		<meta content="Not Found" property="twitter:title">
		<meta content="width=device-width, initial-scale=1" name="viewport">
		<link href="https://fonts.googleapis.com" rel="preconnect">
		<link href="https://fonts.gstatic.com" rel="preconnect" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
		<script type="text/javascript">WebFont.load({  google: {    families: ["Montserrat:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic","Nunito Sans:regular,600,700,800"]  }});</script>
		<script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
		<link href="https://assets-global.website-files.com/64227e51ac84205a1ce228fa/642cb71bfc53e9b68eb8fa56_favicon_mini.jpg" rel="shortcut icon" type="image/x-icon">
		<link href="https://assets-global.website-files.com/64227e51ac84205a1ce228fa/642cb7176731c473ff332acc_favicon_big.jpg" rel="apple-touch-icon">
		<meta name="description" content="{{ this.page.meta_description }}">{% partial "head" %}{% component "forms" %}
		<link href="{{'assets/css/main.css'|theme}}" rel="stylesheet">{% styles %}
		<style>
			.b-menu__link {
				color: #fff !important;
			}
			.b-menu__dropdown-toggle {
				color: #fff !important;
			}
		</style>
	</head>
	<body>{% partial "body" %}
		<header data-w-id="47685c31-67c0-b229-1bc4-0880b56f554a" class="header">
            {% partial "site/header" %}
		</header>
		<img class="b-image b-image_absolute v-2" src="{{ errorpage.image_fon|media }}" alt loading="lazy">
		<section class="section s-section_100vh s-section_tr">
			<div class="container container_align_center w-container"><img src="{{ errorpage.image|media }}" loading="lazy" alt class="b-image b-image_404">
				<div class="h-wrap h-wrap_mg-bt_20">
					<div class="b-text b-text_size_40 b-text_white b-text_extrabold">{{ errorpage.text|raw }}</div>
				</div>
				<div class="h-wrap h-wrap_mg-bt_20">
					<div class="b-text b-text_size_20 b-text_white">{{ errorpage.subtitle }}</div>
				</div><a href="/" class="b-button b-button_blue b-button_max-w_200 w-button">{{ errorpage.text_btn }}</a></div>
		</section>
		<script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=64227e51ac84205a1ce228fa" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
		<script id="main" src="{{['assets/js/main.js']|theme}}"></script>
		<script src="https://unpkg.com/vue@3"></script>
		<script id="main" src="{{['assets/js/front.js']|theme}}"></script>{% scripts %} {% framework extras %} {% partial "footer" %}</body>
</html>