<div class="{{ page.container_w_container }}">
	<div>
		<div class="{{ page.footer__head }}">
			<div class="{{ page.b_columns_b_columns_space_between }}">
				<div class="{{ page.b_columns__col_b_columns__col_35_mob_100_mob_center }}">
					<div class="{{ page.h_wrap_h_wrap_mg_bt_30 }}">
						<img src="{{ 'assets/images/logo202.svg'|theme }}" loading="lazy" alt="">
					</div>
					<div class="{{ page.h_wrap_h_wrap_mg_bt_10 }}">
						<div class="{{ page.b_text_b_text_size_14_b_text_gray_b_text_semibold }}">
							Lumin App
						</div>
					</div>
					<div class="{{ page.b_app_b_app_mg_bt_30 }}">
						<a href="#" class="{{ page.b_app__app_store_b_app__app_store_mg_rt_20_w_inline_block }}">
							<img src="{{ 'assets/images/app20store.png'|theme }}" loading="lazy" alt="">
						</a>
						<a href="#" class="{{ page.b_app__app_store_w_inline_block }}">
							<img src="{{ 'assets/images/google-play.png'|theme }}" loading="lazy" alt="">
						</a>
					</div>
					<div class="{{ page.h_wrap_h_wrap_mg_bt_10 }}">
						<div class="{{ page.b_text_b_text_size_14_b_text_gray_b_text_semibold }}">
							We are in social
						</div>
					</div>
					<div class="{{ page.b_social_mob_mg_bt_40 }}">
						<a href="#" class="{{ page.b_social__link_w_inline_block }}">
							<img src="{{ 'assets/images/linkedin-grey.svg'|theme }}" loading="lazy" alt="">
						</a>
						<a href="#" class="{{ page.b_social__link_w_inline_block }}">
							<img src="{{ 'assets/images/fb-grey.svg'|theme }}" loading="lazy" alt="">
						</a>
						<a href="#" class="{{ page.b_social__link_w_inline_block }}">
							<img src="{{ 'assets/images/yt.svg'|theme }}" loading="lazy" alt="">
						</a>
						<a href="#" class="{{ page.b_social__link_w_inline_block }}">
							<img src="{{ 'assets/images/inst.svg'|theme }}" loading="lazy" alt="">
						</a>
						<a href="#" class="{{ page.b_social__link_w_inline_block }}">
							<img src="{{ 'assets/images/twitter-grey.svg'|theme }}" loading="lazy" alt="">
						</a>
					</div>
				</div>
				<div class="{{ page.b_columns__col_b_columns__col_20_mob_50_mob_center }}">
					<div class="{{ page.h_wrap_h_wrap_mg_bt_10 }}">
						<div class="{{ page.b_text_b_text_size_20_b_text_bold }}">
							Product
						</div>
					</div>
					<ul role="list" class="{{ page.b_list }}">
						<li class="{{ page.b_list__item_b_list__item_mg_bt_10_mob_center }}">
							<a href="#" class="{{ page.b_link }}">
								Lumin Edge
							</a>
						</li>
						<li class="{{ page.b_list__item_b_list__item_mg_bt_10_mob_center }}">
							<a href="#" class="{{ page.b_link }}">
								Lumin Smart Panel
							</a>
						</li>
						<li class="{{ page.b_list__item_b_list__item_mg_bt_10_mob_center }}">
							<a href="#" class="{{ page.b_link }}">
								Support
							</a>
						</li>
						<li class="{{ page.b_list__item_b_list__item_mg_bt_10_mob_center }}">
							<a href="#" class="{{ page.b_link }}">
								Homeowners Log In
							</a>
						</li>
						<li class="{{ page.b_list__item_b_list__item_mg_bt_10_mob_center }}">
							<a href="#" class="{{ page.b_link }}">
								Lumin Edge
							</a>
						</li>
					</ul>
				</div>
				<div class="{{ page.b_columns__col_b_columns__col_15_mob_50_mob_center }}">
					<div class="{{ page.h_wrap_h_wrap_mg_bt_10 }}">
						<div class="{{ page.b_text_b_text_size_20_b_text_bold }}">
							Company
						</div>
					</div>
					<ul role="list" class="{{ page.b_list }}">
						<li class="{{ page.b_list__item_b_list__item_mg_bt_10_mob_center }}">
							<a href="#" class="{{ page.b_link }}">
								About Us
							</a>
						</li>
						<li class="{{ page.b_list__item_b_list__item_mg_bt_10_mob_center }}">
							<a href="#" class="{{ page.b_link }}">
								Careers
							</a>
						</li>
						<li class="{{ page.b_list__item_b_list__item_mg_bt_10_mob_center }}">
							<a href="#" class="{{ page.b_link }}">
								FAQs
							</a>
						</li>
						<li class="{{ page.b_list__item_b_list__item_mg_bt_10_mob_center }}">
							<a href="#" class="{{ page.b_link }}">
								Blog
							</a>
						</li>
						<li class="{{ page.b_list__item_b_list__item_mg_bt_10_mob_center }}">
							<a href="#" class="{{ page.b_link }}">
								Partners
							</a>
						</li>
						<li class="{{ page.b_list__item_b_list__item_mg_bt_10_mob_center }}">
							<a href="#" class="{{ page.b_link }}">
								Contact us
							</a>
						</li>
					</ul>
				</div>
				<div class="{{ page.b_columns__col_b_columns__col_25_mob_100_mob_center }}">
					<div class="{{ page.h_wrap_h_wrap_mg_bt_10 }}">
						<div class="{{ page.b_text_b_text_size_20_b_text_bold }}">
							Contacts
						</div>
					</div>
					<div class="{{ page.h_wrap_h_wrap_mg_bt_20 }}">
						<div class="{{ page.b_text }}">
							501 Locust Ave, Floor 1, Suite 2 Charlottesville, Virginia 22902
						</div>
					</div>
					<ul role="list" class="{{ page.b_list }}">
						<li class="{{ page.b_list__item_b_list__item_mg_bt_10 }}">
							<div class="{{ page.h_wrap_h_wrap_flex_h_h_wrap_align_center_left }}">
								<div class="{{ page.b_list__circle_v_4 }}">
									<img src="{{ 'assets/images/icon-contact20(2).svg'|theme }}" loading="lazy" alt="">
								</div>
								<div class="{{ page.b_text_b_text_size_20_b_text_bold }}">
									<a href="mailto:hello@luminsmart.com" class="{{ page.b_text__phone }}">
										hello@luminsmart.com
									</a>
								</div>
							</div>
						</li>
						<li class="{{ page.b_list__item_b_list__item_mg_bt_10_b_list__item_flex_v }}">
							<div class="{{ page.h_wrap_h_wrap_mg_bt_5 }}">
								<div class="{{ page.b_text_b_text_size_14_b_text_gray_b_text_semibold }}">
									Technical Support:
								</div>
							</div>
							<div class="{{ page.h_wrap_h_wrap_flex_h_h_wrap_align_center_left }}">
								<div class="{{ page.b_list__circle_v_4 }}">
									<img src="{{ 'assets/images/icon-contact20(3).svg'|theme }}" loading="lazy" alt="">
								</div>
								<div class="{{ page.b_text_b_text_size_20_b_text_bold }}">
									<a href="#" class="{{ page.b_text__phone }}">
										888.421.0616
									</a>
								</div>
							</div>
						</li>
						<li class="{{ page.b_list__item_b_list__item_mg_bt_10_b_list__item_flex_v }}">
							<div class="{{ page.h_wrap_h_wrap_mg_bt_5 }}">
								<div class="{{ page.b_text_b_text_size_14_b_text_gray_b_text_semibold }}">
									Sales and Business:
								</div>
							</div>
							<div class="{{ page.h_wrap_h_wrap_flex_h_h_wrap_align_center_left }}">
								<div class="{{ page.b_list__circle_v_4 }}">
									<img src="{{ 'assets/images/icon-contact20(3).svg'|theme }}" loading="lazy" alt="">
								</div>
								<div class="{{ page.b_text_b_text_size_20_b_text_bold }}">
									<a href="#" class="{{ page.b_text__phone }}">
										800.793.8013
									</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="{{ page.footer__bottom }}">
			<div class="{{ page.b_columns }}">
				<div class="{{ page.b_columns__col_b_columns__col_80_mob_100_mob_center_mob_mg_bt_20 }}">
					<div class="{{ page.b_text }}">
						© 2022 Lumin. All Rights Reserved
					</div>
				</div>
				<div class="{{ page.b_columns__col_b_columns__col_10_mob_50_mob_center }}">
					<a href="#" class="{{ page.b_link_b_link_black }}">
						Terms of Use
					</a>
				</div>
				<div class="{{ page.b_columns__col_b_columns__col_10_b_columns__col_align_right_mob_50 }}">
					<a href="#" class="{{ page.b_link_b_link_black }}">
						Privacy Policy
					</a>
				</div>
			</div>
		</div>
	</div>
	{% partial "site/scripts" %}
</div>
