<div class="container w-container">
	<div>
		<div class="footer__head">
			<div class="b-columns b-columns_space-between">
				<div class="b-columns__col b-columns__col_35 mob_100 mob_center">
					<div class="h-wrap h-wrap_mg-bt_30">
						<img src="{{ 'assets/images/logo202.svg'|theme }}" loading="lazy" alt="">
					</div>
					<div class="h-wrap h-wrap_mg-bt_10">
						<div class="b-text b-text_size_14 b-text_gray b-text_semibold">
							Lumin App
						</div>
					</div>
					<div class="b-app b-app_mg-bt_30">
						<a href="#" class="b-app__app-store b-app__app-store_mg-rt_20 w-inline-block">
							<img src="{{ 'assets/images/app20store.png'|theme }}" loading="lazy" alt="">
						</a>
						<a href="#" class="b-app__app-store w-inline-block">
							<img src="{{ 'assets/images/google-play.png'|theme }}" loading="lazy" alt="">
						</a>
					</div>
					<div class="h-wrap h-wrap_mg-bt_10">
						<div class="b-text b-text_size_14 b-text_gray b-text_semibold">
							We are in social
						</div>
					</div>
					<div class="b-social mob_mg-bt_40">
						<a href="#" class="b-social__link w-inline-block">
							<img src="{{ 'assets/images/linkedin-grey.svg'|theme }}" loading="lazy" alt="">
						</a>
						<a href="#" class="b-social__link w-inline-block">
							<img src="{{ 'assets/images/fb-grey.svg'|theme }}" loading="lazy" alt="">
						</a>
						<a href="#" class="b-social__link w-inline-block">
							<img src="{{ 'assets/images/yt.svg'|theme }}" loading="lazy" alt="">
						</a>
						<a href="#" class="b-social__link w-inline-block">
							<img src="{{ 'assets/images/inst.svg'|theme }}" loading="lazy" alt="">
						</a>
						<a href="#" class="b-social__link w-inline-block">
							<img src="{{ 'assets/images/twitter-grey.svg'|theme }}" loading="lazy" alt="">
						</a>
					</div>
				</div>
				<div class="b-columns__col b-columns__col_20 mob_50 mob_center">
					<div class="h-wrap h-wrap_mg-bt_10">
						<div class="b-text b-text_size_20 b-text_bold">
							Product
						</div>
					</div>
					<ul role="list" class="b-list">
						{% for item in footer.product_list %}
						<li class="b-list__item b-list__item_mg-bt_10 mob_center">
							<a href="{{ item.footer_product_link|link }}" class="b-link">
								{{ item.footer_product_text_link }}
							</a>
						</li>
						{% endfor %}
					</ul>
				</div>
				<div class="b-columns__col b-columns__col_15 mob_50 mob_center">
					<div class="h-wrap h-wrap_mg-bt_10">
						<div class="b-text b-text_size_20 b-text_bold">
							Company
						</div>
					</div>
					<ul role="list" class="b-list">
						<li class="b-list__item b-list__item_mg-bt_10 mob_center">
							<a href="#" class="b-link">
								About Us
							</a>
						</li>
						<li class="b-list__item b-list__item_mg-bt_10 mob_center">
							<a href="#" class="b-link">
								Careers
							</a>
						</li>
						<li class="b-list__item b-list__item_mg-bt_10 mob_center">
							<a href="#" class="b-link">
								FAQs
							</a>
						</li>
						<li class="b-list__item b-list__item_mg-bt_10 mob_center">
							<a href="#" class="b-link">
								Blog
							</a>
						</li>
						<li class="b-list__item b-list__item_mg-bt_10 mob_center">
							<a href="#" class="b-link">
								Partners
							</a>
						</li>
						<li class="b-list__item b-list__item_mg-bt_10 mob_center">
							<a href="#" class="b-link">
								Contact us
							</a>
						</li>
					</ul>
				</div>
				<div class="b-columns__col b-columns__col_25 mob_100 mob_center">
					<div class="h-wrap h-wrap_mg-bt_10">
						<div class="b-text b-text_size_20 b-text_bold">
							Contacts
						</div>
					</div>
					<div class="h-wrap h-wrap_mg-bt_20">
						<div class="b-text">
							501 Locust Ave, Floor 1, Suite 2 Charlottesville, Virginia 22902
						</div>
					</div>
					<ul role="list" class="b-list">
						<li class="b-list__item b-list__item_mg-bt_10">
							<div class="h-wrap h-wrap_flex_h h-wrap_align_center-left">
								<div class="b-list__circle v-4">
									<img src="{{ 'assets/images/icon-contact20(2).svg'|theme }}" loading="lazy" alt="">
								</div>
								<div class="b-text b-text_size_20 b-text_bold">
									<a href="mailto:hello@luminsmart.com" class="b-text__phone">
										hello@luminsmart.com
									</a>
								</div>
							</div>
						</li>
						<li class="b-list__item b-list__item_mg-bt_10 b-list__item_flex-v">
							<div class="h-wrap h-wrap_mg-bt_5">
								<div class="b-text b-text_size_14 b-text_gray b-text_semibold">
									Technical Support:
								</div>
							</div>
							<div class="h-wrap h-wrap_flex_h h-wrap_align_center-left">
								<div class="b-list__circle v-4">
									<img src="{{ 'assets/images/icon-contact20(3).svg'|theme }}" loading="lazy" alt="">
								</div>
								<div class="b-text b-text_size_20 b-text_bold">
									<a href="#" class="b-text__phone">
										888.421.0616
									</a>
								</div>
							</div>
						</li>
						<li class="b-list__item b-list__item_mg-bt_10 b-list__item_flex-v">
							<div class="h-wrap h-wrap_mg-bt_5">
								<div class="b-text b-text_size_14 b-text_gray b-text_semibold">
									Sales and Business:
								</div>
							</div>
							<div class="h-wrap h-wrap_flex_h h-wrap_align_center-left">
								<div class="b-list__circle v-4">
									<img src="{{ 'assets/images/icon-contact20(3).svg'|theme }}" loading="lazy" alt="">
								</div>
								<div class="b-text b-text_size_20 b-text_bold">
									<a href="#" class="b-text__phone">
										800.793.8013
									</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer__bottom">
			<div class="b-columns">
				<div class="b-columns__col b-columns__col_80 mob_100 mob_center mob_mg-bt_20">
					<div class="b-text">
						© 2023 Lumin. All Rights Reserved
					</div>
				</div>
				<div class="b-columns__col b-columns__col_10 mob_50 mob_center">
					<a href="#" class="b-link b-link_black">
						Terms of Use
					</a>
				</div>
				<div class="b-columns__col b-columns__col_10 b-columns__col_align-right mob_50">
					<a href="#" class="b-link b-link_black">
						Privacy Policy
					</a>
				</div>
			</div>
		</div>
	</div>
	{% partial "site/scripts" %}
</div>
