<div>
	<div class="footer__head">
		<div class="b-columns b-columns_space-between">
			<div class="b-columns__col b-columns__col_35 mob_100 mob_center">
				<div class="h-wrap h-wrap_mg-bt_30">
					<img src="{{ 'assets/images/logo202.svg'|theme }}" loading="lazy" alt="">
				</div>
				<div class="h-wrap h-wrap_mg-bt_10">
					<div ttext="footerSettings.text_app" class="b-text b-text_size_14 b-text_gray b-text_semibold">
						Lumin App
					</div>
				</div>
				<div class="b-app b-app_mg-bt_30">
					<a href="{{ footersettings.link_app_ios }}" class="b-app__app-store b-app__app-store_mg-rt_20 w-inline-block">
						<img src="{{ footersettings.image_app_ios|media }}" loading="lazy" alt="">
					</a>
					<a href="{{ footersettings.link_app_google }}" class="b-app__app-store w-inline-block">
						<img src="{{ footersettings.image_app_google|media }}" loading="lazy" alt="">
					</a>
				</div>
				<div class="h-wrap h-wrap_mg-bt_10">
					<div class="b-text b-text_size_14 b-text_gray b-text_semibold">
						{{ footersettings.text_social }}
					</div>
				</div>
				<div class="b-social mob_mg-bt_40">
					<a href="{{ footersettings.link_in }}" class="b-social__link w-inline-block">
						<img src="{{ 'assets/images/linkedin-grey.svg'|theme }}" loading="lazy" alt="">
					</a>
					<a href="{{ footersettings.link_facebook }}" class="b-social__link w-inline-block">
						<img src="{{ 'assets/images/fb-grey.svg'|theme }}" loading="lazy" alt="">
					</a>
					<a href="{{ footersettings.link_youtube }}" class="b-social__link w-inline-block">
						<img src="{{ 'assets/images/yt.svg'|theme }}" loading="lazy" alt="">
					</a>
					<a href="{{ footersettings.link_instagram }}" class="b-social__link w-inline-block">
						<img src="{{ 'assets/images/inst.svg'|theme }}" loading="lazy" alt="">
					</a>
					<a href="{{ footersettings.link_twitter }}" class="b-social__link w-inline-block">
						<img src="{{ 'assets/images/twitter-grey.svg'|theme }}" loading="lazy" alt="">
					</a>
				</div>
			</div>
			<div class="b-columns__col b-columns__col_20 mob_50 mob_center">
				<div class="h-wrap h-wrap_mg-bt_10">
					<div class="b-text b-text_size_20 b-text_bold">
						Product
					</div>
				</div>
				<ul role="list" class="b-list">
					{% for item in footer.product_list %}
					<li class="b-list__item b-list__item_mg-bt_10 mob_center">
						<a href="{{ item.footer_link|link }}" class="b-link">
							{{ item.footer_text_link }}
						</a>
					</li>
					{% endfor %}
				</ul>
			</div>
			<div class="b-columns__col b-columns__col_15 mob_50 mob_center">
				<div class="h-wrap h-wrap_mg-bt_10">
					<div class="b-text b-text_size_20 b-text_bold">
						Company
					</div>
				</div>
				<ul role="list" class="b-list">
					{% for item in footer.company_list %}
					<li class="b-list__item b-list__item_mg-bt_10 mob_center">
						<a href="{{ item.footer_link|link }}" class="b-link">
							{{ item.footer_text_link }}
						</a>
					</li>
					{% endfor %}
				</ul>
			</div>
			<div class="b-columns__col b-columns__col_25 mob_100 mob_center">
				<div class="h-wrap h-wrap_mg-bt_10">
					<div class="b-text b-text_size_20 b-text_bold">
						Contacts
					</div>
				</div>
				<div class="h-wrap h-wrap_mg-bt_20">
					<div class="b-text">
						{{ footersettings.adress }}
					</div>
				</div>
				<ul role="list" class="b-list">
					<li class="b-list__item b-list__item_mg-bt_10">
						<div class="h-wrap h-wrap_flex_h h-wrap_align_center-left mob_center">
							<div class="b-list__circle v-4">
								<img src="{{ 'assets/images/icon-contact20(2).svg'|theme }}" loading="lazy" alt="">
							</div>
							<div class="b-text b-text_size_20 b-text_bold">
								<a href="{{ footersettings.mail }}" class="b-text__phone">
									{{ footersettings.mail_text }}
								</a>
							</div>
						</div>
					</li>
					<li class="b-list__item b-list__item_mg-bt_10 b-list__item_flex-v">
						<div class="h-wrap h-wrap_mg-bt_5">
							<div class="b-text b-text_size_14 b-text_gray b-text_semibold">
								Technical Support:
							</div>
						</div>
						<div class="h-wrap h-wrap_flex_h h-wrap_align_center-left mob_center">
							<div class="b-list__circle v-4">
								<img src="{{ 'assets/images/icon-contact20(3).svg'|theme }}" loading="lazy" alt="">
							</div>
							<div class="b-text b-text_size_20 b-text_bold">
								<a href="{{ footersettings.technical_support_link }}" class="b-text__phone">
									{{ footersettings.technical_support }}
								</a>
							</div>
						</div>
					</li>
					<li class="b-list__item b-list__item_mg-bt_10 b-list__item_flex-v">
						<div class="h-wrap h-wrap_mg-bt_5">
							<div class="b-text b-text_size_14 b-text_gray b-text_semibold">
								Sales and Business:
							</div>
						</div>
						<div class="h-wrap h-wrap_flex_h h-wrap_align_center-left mob_center">
							<div class="b-list__circle v-4">
								<img src="{{ 'assets/images/icon-contact20(3).svg'|theme }}" loading="lazy" alt="">
							</div>
							<div class="b-text b-text_size_20 b-text_bold">
								<a href="{{ footersettings.sales_and_business_link }}" class="b-text__phone">
									{{ footersettings.sales_and_business }}
								</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer__bottom">
		<div class="b-columns">
			<div class="b-columns__col b-columns__col_80 mob_100 mob_center mob_mg-bt_20">
				<div class="b-text">
					{{ footersettings.copyright }}
				</div>
			</div>
			<div class="b-columns__col b-columns__col_10 mob_50 mob_center">
				<a href="{{ footersettings.terms_of_use_link }}" class="b-link b-link_black">
					{{ footersettings.terms_of_use_text }}
				</a>
			</div>
			<div class="b-columns__col b-columns__col_10 b-columns__col_align-right mob_50">
				<a href="{{ footersettings.privacy_policy_link }}" class="b-link b-link_black">
					{{ footersettings.privacy_policy }}
				</a>
			</div>
		</div>
	</div>
</div>
