<div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="b-menu b-menu_transparent w-nav">
    <div class="b-menu__container w-container"><a href="/" class="b-menu__logo-link w-nav-brand"><img src="{{ 'assets/images/logo201.svg'|theme }}" loading="lazy" alt class="b-menu__logo"></a>
        <nav role="navigation" class="b-menu__nav w-nav-menu">{% for item in mainmenu.main_menu %}
            <div class="h-wrap h-wrap_menu h-wrap_menu_center">{% for block in item.list %}{% partial 'blocks/' ~ str_slug(block.type) block=block %}{% endfor %}</div>{% endfor %}</nav><a href="https://nndvjzdqqmf.typeform.com/to/IK1v1FOH" target="_blank" class="b-button b-button_width_160 b-button_height_45 b-button_white w-button">Get Lumin</a>
        <div class="b-menu__button w-nav-button">
            <div class="w-icon-nav-menu"></div>
        </div>
    </div>
</div>