<header data-w-id="47685c31-67c0-b229-1bc4-0880b56f554a" class="header">
	<div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="b-menu w-nav">
		<div class="b-menu__container w-container">
			<div class="b-menu__button w-nav-button">
				<img src="{{ 'assets/images/burger.svg'|theme }}" loading="lazy" alt="">
			</div>
			<a href="/" class="b-menu__logo-link w-nav-brand">
				<img src="{{ 'assets/images/logo202.svg'|theme }}" loading="lazy" alt="" class="b-menu__logo">
			</a>
			<nav role="navigation" repeater="mainMenu.header_nav" class="b-menu__nav w-nav-menu">
				<div builder="item.list" class="h-wrap h-wrap_menu h-wrap_menu_center">
					<div block="menu-link" class="h-wrap h-wrap_menu">
						<a href="#" text="block.menu_link_name" link="block.menu_link_link" class="b-menu__link w-nav-link">
							Grid Services
						</a>
					</div>
					<div block="menu-dropdown" class="h-wrap h-wrap_menu">
						<div data-hover="true" data-delay="0" class="b-menu__dropdown w-dropdown">
							<div class="b-menu__dropdown-toggle w-dropdown-toggle">
								<div text="block.main_meni_title">
									Products
								</div>
								<img src="{{ 'assets/images/drop_arrow.svg'|theme }}" loading="lazy" alt="" class="b-dropdown__icon">
							</div>
							<nav class="b-menu__dropdown-lists w-dropdown-list">
								<div class="b-dropdown__content">
									<a href="#" link="block.menu_dropdown_name" text="block.menu_dropdown_link" class="b-dropdown__link w-dropdown-link">
										Link 1
									</a>
								</div>
							</nav>
						</div>
					</div>
				</div>
			</nav>
			<a href="#" class="b-button b-button_width_160 b-button_height_45 mob_hide w-button">
				Get Lumin
			</a>
		</div>
	</div>
</header>
