<header data-w-id="47685c31-67c0-b229-1bc4-0880b56f554a" class="header">
	<div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="b-menu w-nav">
		<div class="b-menu__container w-container">
			<div class="b-menu__button w-nav-button">
				<img src="{{ 'assets/images/burger.svg'|theme }}" loading="lazy" alt="">
			</div>
			<a href="#" class="b-menu__logo-link w-nav-brand">
				<img src="{{ 'assets/images/logo202.svg'|theme }}" loading="lazy" alt="" class="b-menu__logo">
			</a>
			<nav role="navigation" class="b-menu__nav w-nav-menu">
				<a href="#" class="b-menu__link w-nav-link">
					Grid Services
				</a>
				<a href="#" class="b-menu__link w-nav-link">
					Solar+Storage
				</a>
				<a href="#" class="b-menu__link w-nav-link">
					Electrification
				</a>
				<div data-hover="true" data-delay="0" class="b-menu__dropdown w-dropdown">
					<div class="b-menu__dropdown-toggle w-dropdown-toggle">
						<div>
							Products
						</div>
						<img src="{{ 'assets/images/drop_arrow.svg'|theme }}" loading="lazy" alt="" class="b-dropdown__icon">
					</div>
					<nav class="b-menu__dropdown-lists w-dropdown-list">
						<div class="b-dropdown__content"></div>
						<a href="#" class="b-dropdown__link w-dropdown-link">
							Link 1
						</a>
					</nav>
				</div>
				<div data-hover="true" data-delay="0" class="b-menu__dropdown w-dropdown">
					<div class="b-menu__dropdown-toggle w-dropdown-toggle">
						<div>
							About Us
						</div>
						<img src="{{ 'assets/images/drop_arrow.svg'|theme }}" loading="lazy" alt="" class="b-dropdown__icon">
					</div>
					<nav class="b-menu__dropdown-lists w-dropdown-list">
						<div class="b-dropdown__content"></div>
						<a href="#" class="b-dropdown__link w-dropdown-link">
							Link 1
						</a>
					</nav>
				</div>
				<a href="#" class="b-menu__link w-nav-link">
					Partners
				</a>
				<a href="#" class="b-menu__link w-nav-link">
					Contact Us
				</a>
			</nav>
			<a href="#" class="b-button b-button_width_160 b-button_height_45 mob_hide w-button">
				Get Lumin
			</a>
		</div>
	</div>
</header>
