<div class="header__info">
    <div class="b-text b-text_bold tb_hide">{{ mainmenu.text|raw }}</div>
    <div class="b-text b-text_bold tb_show">{{ mainmenu.text_mobile|raw }}</div>
</div>
<div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="b-menu w-nav">
    <div class="b-menu__container w-container">
        <div class="b-menu__button w-nav-button"><img src="{{ 'assets/images/burger.svg'|theme }}" loading="lazy" alt></div><a href="/" class="b-menu__logo-link w-nav-brand"><img src="{{ 'assets/images/logo201.svg'|theme }}" loading="lazy" alt class="b-menu__logo"></a>
        <nav role="navigation" class="b-menu__nav w-nav-menu">{% for item in mainmenu.main_menu %}
            <div class="h-wrap h-wrap_menu h-wrap_menu_center">{% for block in item.list %}{% partial 'blocks/' ~ str_slug(block.type) block=block %}{% endfor %}</div>{% endfor %}</nav><a href="#" class="b-menu__cart w-inline-block"><img src="{{ 'assets/images/cart.svg'|theme }}" loading="lazy" alt><div class="b-menu__cart-count">1</div></a><a href="https://nndvjzdqqmf.typeform.com/to/IK1v1FOH" class="b-button b-button_width_160 b-button_height_45 mob_hide w-button">Get Lumin</a></div>
</div>