<nav>
    <ul class="pagination">
        {% set totalPages = posts.lastPage %}
        {% set currentPage = posts.currentPage %}
        {% set pageLimit = 5 %} {# Желаемое количество отображаемых страниц #}

        {% set startPage = max(currentPage - (pageLimit / 2)|round, 1) %}
        {% set endPage = min(startPage + pageLimit - 1, totalPages) %}

        {# Добавляем ссылку на предыдущую страницу #}
        <li class="page-item first {{ currentPage == 1 ? 'disabled' }}">
            <a href="{{ posts.url(currentPage - 1) }}"></a>
        </li>

        {% for page in startPage..endPage %}
            <li class="page-item {{ page == currentPage ? 'active' }}">
                <a class="page-link" href="{{ posts.url(page) }}">{{ page }}</a>
            </li>
        {% endfor %}

        {# Добавляем ссылку на следующую страницу #}
        <li class="page-item last {{ currentPage == totalPages ? 'disabled' }}">
            <a class="page-link" href="{{ posts.url(currentPage + 1) }}"></a>
        </li>
    </ul>
</nav>